.THIS {
    font-family: 'Roboto';
}

.THIS table.layout {
    border-spacing: 10px;
    border-collapse: separate;
}

.THIS table.layout td {
    vertical-align: top;
    
}

.THIS div.box {
    /*border: 1px solid #888;
    border-radius: 4px;
    width: inherit;
    display: inline-block;*/
    
    border-top: 3px solid #3a3a3a;
    padding-top: 4px;
}

.THIS div.title {
    /*background-color: #888;
    padding: 4px;
    font-size: 1.2em;
    text-align: center;
    color: white;
            
    border-radius: 3px;*/
    
    font-family: 'Oswald';
    
    color: #3a3a3a;
    text-transform: uppercase;
    font-size: 1.4em;
    font-weight: bold;
}
        
.THIS div.content {
    padding: 10px;
    text-align: left;
    
    font-size: 1.4em;
}

.THIS table.photos {
    
}

.THIS table.photos td {
    padding: 4px;
}

.THIS .slds-icon_large {
    width: 4.5rem;
    height: 4.5rem;
}

.THIS lightning-tab-bar a {
    font-family: 'Oswald';
    
    font-size: 1.4em;
    font-weight: bold;
}

.THIS lightning-tab-bar .slds-tabs_scoped__link {
    font-weight: bold !important;
}