<!--
  @description       : 
  @author            : ChangeMeIn@UserSettingsUnder.SFDoc
  @group             : 
  @last modified on  : 12-15-2020
  @last modified by  : ChangeMeIn@UserSettingsUnder.SFDoc
  Modifications Log 
  Ver   Date         Author                               Modification
  1.0   12-15-2020   ChangeMeIn@UserSettingsUnder.SFDoc   Initial Version
-->
<template>
    <template if:true={loaded}>
        <div class={mode}>
            <template if:false={embedded}>
                <div style="float: right">
                    <template if:false={collapsed}>
                        <lightning-button label="Hide" onclick={hide}></lightning-button>
                    </template>
                    <template if:true={collapsed}>
                        <lightning-button label="Client Info" onclick={show}></lightning-button>
                    </template>
                </div>
            </template>
            <table>
                <thead>
                    <tr>
                        <td colspan="3">
                            <span class="bold-label">Nutrition Plan Start Date: {nutritionPlanStartDay}, {nutritionPlanStartDate}</span>
                        </td>
                        <td colspan="4">
                            <div style="display: flex;">
                                <span style="margin-left: 1rem;" class="bold-label">Nutrition Planning Mode: </span>
                                <span style="margin-left: 0.5rem;">
                                    <template if:true={readonlyPlanningMode}>
                                        <span class="bold-label">{_nutritionPlanningMode}</span>
                                    </template>
                                    <template if:false={readonlyPlanningMode}>
                                        <lightning-combobox label="Nutrition Planning Mode" variant="label-hidden" value={_nutritionPlanningMode} options={_nutritionPlanningModeOptions} onchange={onUpdatePlanningMode}></lightning-combobox>
                                    </template>
                                </span>
                            </div>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr class="header">
                        <td>
                            Name
                        </td>
                        <td class="fixedSize">
                            Height
                        </td>
                        <td class="fixedSize">
                            Weight
                        </td>
                        <td class="fixedSize">
                            How Active
                        </td>
                        <td class="fixedSize">
                            Training Time
                        </td>
                        <td class="fixedSize">
                            Family/Friends
                        </td>
                        <td class="fixedSize">
                            Relationship
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {info.checkIn.Account__r.Name}
                        </td>
                        <td class="fixedSize">
                            <lightning-formatted-number format-style="decimal" maximum-fraction-digits="0" value={info.checkIn.Height__c}></lightning-formatted-number> cm
                        </td>
                        <td class="fixedSize">
                            <lightning-formatted-number format-style="decimal" maximum-fraction-digits="0" value={info.checkIn.Weight__c}></lightning-formatted-number> kg
                        </td>
                        <td class="fixedSize">
                            {info.checkIn.Client_Program__r.How_active_are_you_most_days__c}
                        </td>
                        <td class="fixedSize">
                            {info.checkIn.Client_Program__r.What_Time_of_Day_You_Train__c}
                        </td>
                        <td class="fixedSize">
                            {info.checkIn.Names_of_Family_Friends_in_our_Program__c}
                        </td>
                        <td class="fixedSize">
                            {info.checkIn.What_is_your_Relationship_to_them__c}
                        </td>
                    </tr>
                    <template if:false={collapsed}>
                        <tr class="header">
                            <td>
                                Nutrition Targets
                            </td>
                            <td class="fixedSize">
                                Protein
                            </td>
                            <td class="fixedSize">
                                Carbs
                            </td>
                            <td class="fixedSize">
                                Fat
                            </td>
                            <td class="fixedSize">
                                Calories
                            </td>
                        </tr>
                        <template if:true={plans.length} for:each={plans} for:item="plan">
                            <tr key={plan.id} class="plan-data-row">
                                <td>
                                    {plan.name}
                                </td>
                                <td class="fixedSize">
                                    <lightning-formatted-number if:true={plan.totals} format-style="decimal" maximum-fraction-digits="0" value={plan.totals.protein}></lightning-formatted-number>
                                </td>
                                <td class="fixedSize">
                                    <lightning-formatted-number if:true={plan.totals} format-style="decimal" maximum-fraction-digits="0" value={plan.totals.carbs}></lightning-formatted-number>
                                </td>
                                <td class="fixedSize">
                                    <lightning-formatted-number if:true={plan.totals} format-style="decimal" maximum-fraction-digits="0" value={plan.totals.fat}></lightning-formatted-number>
                                </td>
                                <td class="fixedSize">
                                    <lightning-formatted-number if:true={plan.totals} format-style="decimal" maximum-fraction-digits="0" value={plan.totals.calories}></lightning-formatted-number>
                                </td>
                            </tr>
                        </template>
                        <tr class="average">
                            <td>
                                Average (Assigned Days):
                            </td>
                            <td class="fixedSize">
                                <template if:true={isNutritionWIP}>
                                    <p class="wip-text">wip</p>
                                </template>
                                <template if:false={isNutritionWIP}>
                                    <template if:true={hasPlans}>
                                        <lightning-formatted-number format-style="decimal" maximum-fraction-digits="0" value={info.checkIn.Plan_Average_Protein_New__c}></lightning-formatted-number>
                                    </template>
                                    <template if:false={hasPlans}>
                                        -
                                    </template>
                                </template>
                            </td>
                            <td class="fixedSize">
                                <template if:true={isNutritionWIP}>
                                    <p class="wip-text">wip</p>
                                </template>
                                <template if:false={isNutritionWIP}>
                                    <template if:true={hasPlans}>
                                        <lightning-formatted-number format-style="decimal" maximum-fraction-digits="0" value={info.checkIn.Plan_Average_Carbs_New__c}></lightning-formatted-number>
                                    </template>
                                    <template if:false={hasPlans}>
                                        -
                                    </template>
                                </template>
                            </td>
                            <td class="fixedSize">
                                <template if:true={isNutritionWIP}>
                                    <p class="wip-text">wip</p>
                                </template>
                                <template if:false={isNutritionWIP}>
                                    <template if:true={hasPlans}>
                                        <lightning-formatted-number format-style="decimal" maximum-fraction-digits="0" value={info.checkIn.Plan_Average_Fat_New__c}></lightning-formatted-number>
                                    </template>
                                    <template if:false={hasPlans}>
                                        -
                                    </template>
                                </template>
                            </td>
                            <td class="fixedSize">
                                <template if:true={isNutritionWIP}>
                                    <p class="wip-text">wip</p>
                                </template>
                                <template if:false={isNutritionWIP}>
                                    <template if:true={hasPlans}>
                                        <lightning-formatted-number format-style="decimal" maximum-fraction-digits="0" value={info.checkIn.Plan_Average_Calories_New__c}></lightning-formatted-number>
                                    </template>
                                    <template if:false={hasPlans}>
                                        -
                                    </template>
                                </template>
                            </td>
                        </tr>
                    </template>
                </tbody>
            </table>

            <template if:false={collapsed}>
                <table style="width: 900px;">
                    <tbody>
                        <!--Allergies & Intolerances-->
                        <tr class="header">
                            <td colspan="4">
                                Allergies/Intolerances
                            </td>
                        </tr>
                        <template if:false={useAllergiesSlot}>
                        <tr>
                             <td class="secondary-table-header">
                                Standard
                            </td>
                            <td colspan="3">
                                <template for:each={info.standardAllergies} for:item="item">
                                    <span class="inline" key={item.name}>
                                        <div class="inline readonly-checkbox">
                                            <template if:true={item.selected}>
                                                <lightning-icon icon-name="utility:check" size="xx-small" ></lightning-icon>
                                            </template>
                                            <template if:false={item.selected}>
                                                &nbsp;
                                            </template>
                                        </div>
                                        <div class="inline readonly-label">
                                            {item.name}
                                        </div>
                                    </span>
                                    <!--<lightning-input class="inline" key={item.name} name={item.name} label={item.label} type="checkbox" checked={item.selected}></lightning-input>-->
                                </template>
                                <span class="inline">
                                    <div class="inline readonly-checkbox">
                                        <template if:true={hasOtherAllergies}>
                                            <lightning-icon icon-name="utility:check" size="xx-small" ></lightning-icon>
                                        </template>
                                        <template if:false={hasOtherAllergies}>
                                            &nbsp;
                                        </template>
                                    </div>
                                    <div class="inline readonly-label">
                                        Other
                                    </div>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td class="secondary-table-header">
                                Other
                            </td>
                            <td colspan="3">
                                {otherAllergyString}
                            </td>
                        </tr>
                        </template>
                        <template if:true={useAllergiesSlot}>
                            <tr>
                                <td colspan="4">
                                    <slot name="allergies">
                                        N/A
                                    </slot>
                                </td>
                            </tr>
                        </template>
                        <!--Dietary Restrictions-->
                        <tr class="header">
                            <td colspan="4">
                                Dietary Restrictions
                            </td>
                        </tr>
                        <tr>
                            <template if:true={useDietarySlot}>
                                <td colspan="4">
                                    <slot name="dietary">
                                        N/A
                                    </slot>
                                </td>
                            </template>
                            <template if:false={useDietarySlot}>
                                <td colspan="4">
                                    <template for:each={info.standardDietaries} for:item="item">
                                        <span class="inline" key={item.name}>
                                            <div class="inline readonly-checkbox">
                                                <template if:true={item.selected}>
                                                    <lightning-icon icon-name="utility:check" size="xx-small" ></lightning-icon>
                                                </template>
                                                <template if:false={item.selected}>
                                                    &nbsp;
                                                </template>
                                            </div>
                                            <div class="inline readonly-label">
                                                {item.name}
                                            </div>
                                        </span>
                                        <!--<lightning-input class="inline" key={item.name} name={item.name} label={item.label} type="checkbox" checked={item.selected}></lightning-input>-->
                                    </template>
                                </td>
                            </template>
                        </tr>
                        <!--Likes and Dislikes-->
                        <tr class="header">
                            <td colspan="4">
                                Likes/Dislikes
                            </td>
                        </tr>
                        <tr>
                            <td class="secondary-table-header">
                                Likes
                            </td>
                            <td colspan="3">
                                {standardLikesString}
                            </td>
                        </tr>
                        <tr class="other-likes-line">
                            <td class="secondary-table-header">
                                Other Likes
                            </td>
                            <td colspan="3">
                                {otherLikesString}
                            </td>
                        </tr>
                        <tr>
                            <td class="secondary-table-header">
                                Dislikes
                            </td>
                            <td colspan="3">
                                {standardDislikesString}
                            </td>
                        </tr>
                        <tr>
                            <td class="secondary-table-header">
                                Other Dislikes
                            </td>
                            <td colspan="3">
                                {otherDislikesString}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </template>
        </div>
    </template>
</template>