.bold-label {
    font-weight: 900;
    font-size: 13px;
}

div.full {
    border: 1px solid black;
    padding: 8px;
}

div.embedded {
    border: 0;
}

table {
    width: inherit;
    padding-bottom: 10px;
    font-size: 12px;
}

table td {
    padding: 4px 8px 4px 8px;
    vertical-align: top;
}

tr.header td {
    margin-top: 8px;
    background: #eee;
    font-weight: bold;
}

.fixedSize {
    min-width: 100px;
    text-align: center;
}

.secondary-table-header {
    font-weight: 900;
}

.inline {
    display: inline-block;
}

.average {
    border-top: 1px solid #ababab;
}

.plan-data-row {
    /*border-bottom: 1px solid #ababab;*/
}

lightning-input .slds-checkbox_faux {
    background-color: red !important;
}

.readonly-checkbox {
    border: 1px solid #cecece;
    border-radius: 0.25rem;
    width: 18px;
    height: 18px;
    margin-right: 0.5rem;
}
.readonly-label {
    padding-right: 0.5rem;
}

.other-likes-line {
    border-bottom: 1px solid #cecece;
}

.wip-text {
    font-style: italic;
}