<template>
    <template if:false={isGrams}>
        <lightning-formatted-number format-style="decimal" minimum-fraction-digits="1" maximum-fraction-digits="1" value={value}></lightning-formatted-number>
    </template>
    <template if:true={isGrams}>
        <lightning-formatted-number format-style="decimal" minimum-fraction-digits="0" maximum-fraction-digits="0" value={value}></lightning-formatted-number>
    </template>

</template>