<template>
    <template if:true={_isLoadingOrSaving}>
        <div>
            <lightning-spinner size="large"></lightning-spinner>
        </div>
    </template>
    <template if:false={_isLoading}>
        <lightning-radio-group name="radioGroup"
                                variant="label-hidden"
                                label="Radio Group"
                                options={saveOptions}
                                onchange={onPlanSaveTypeChange}
                                value={saveType}></lightning-radio-group>

        <div>
            <template if:false={displaySelectOption}>
                <lightning-input label="Plan Name" value={_planData.name} onchange={onPlanNameChange}></lightning-input>
            </template>
        </div>


        <table class="slds-table slds-table_cell-buffer slds-table_header-hidden">
            <thead>
                <tr class="slds-line-height_reset">
                    <th scope="col"><div class="slds-truncate" title="Select Option">Select Option</div></th>
                    <th scope="col"><div class="slds-truncate" title="Block Name">Block Name</div></th>
                    <th scope="col"><div class="slds-truncate" title="Template Block Name">Template Block Name</div></th>
                    <th scope="col"><div class="slds-truncate" title="Template Short Name">Template Short Name</div></th>
                </tr>
            </thead>
            <tbody>
                <template for:each={displayedBlocks} for:item="refBlock">
                    <tr class="slds-hint-parent" key={refBlock.blockId}>
                        <td>
                            <template if:true={displaySelectOption}>
                                <lightning-input type="checkbox-button" 
                                                    checked={refBlock.selected} 
                                                    label="Select Block" 
                                                    onchange={onBlockSelect}
                                                    name={refBlock.blockId}></lightning-input>
                            </template>
                        </td>
                        <td><lightning-formatted-text value={refBlock.blockName}></lightning-formatted-text> </td>
                        <td>
                            <lightning-input type          ="text" 
                                                variant    ="label-hidden" 
                                                name       ={refBlock.blockId}
                                                onchange   ={onTemplateBlockNameChange}
                                                value      ={refBlock.templateBlockName}></lightning-input>
                        </td>
                        <td><lightning-input    type       ="text" 
                                                variant    ="label-hidden" 
                                                name       ={refBlock.blockId}
                                                onchange   ={onTemplateShortNameChange}
                                                max-length ="30"
                                                value      ={refBlock.templateShortName}></lightning-input></td>
                    </tr>
                </template>
            </tbody>
        </table>
    </template>
</template>