<template>
    <c-client-info check-in-id={_checkInId} collapsed use-allergies-slot use-dietary-slot>
        <div slot="allergies">
            <table style="width: inherit">
                <tbody>
                    <tr>
                        <template for:each={_allergyFilters} for:item="item">
                            <td key={item.value}>
                                <lightning-input class="linear" name={item.value} label={item.label} type="checkbox" checked={item.checked} onchange={onAllergySelect}></lightning-input>
                            </td>
                        </template>
                    </tr>
                </tbody>
            </table>
        </div>
        <div slot="dietary">
            <table style="width: inherit">
                <tbody>
                    <tr>
                        <template for:each={_dietaryFilters} for:item="item">
                            <td key={item.value}>
                                <lightning-input class="linear" name={item.value} label={item.label} type="checkbox" checked={item.checked} onchange={onRestrictionSelect}></lightning-input>
                            </td>
                        </template>
                    </tr>
                </tbody>
            </table>
        </div>
    </c-client-info>

    <div style="position:relative;">
        <template if:true={_isSavingOrLoading}>
            <div class="loading-spinner">
                <lightning-spinner size="large"></lightning-spinner>
            </div>
        </template>
        <table class="slds-table slds-table_cell-buffer slds-table_bordered slds-table_col-bordered">
            <thead>
                <tr class="slds-line-height_reset">
                    <th scope="col" colspan="2">
                        <div style="font-weight: 900;" class="slds-text-heading_medium">Targets</div>
                    </th>
                    <th scope="col" colspan="4">
                        <c-at-nutrition-x-planner-validation class="planner-validation" check-in-id={_checkInId}></c-at-nutrition-x-planner-validation>
                    </th>
                    <th scope="col">&nbsp;</th>
                </tr>
                <tr class="slds-line-height_reset">
                    <th class="action__column" scope="col"><div class="slds-truncate">&nbsp;</div></th>
                    <th class="name__column" scope="col"><div class="slds-truncate" title="Name">Name</div></th>
                    <th scope="col" colspan="4">
                        <div class="slds-truncate" title="Macro Targets">Macro Targets</div>
                    </th>
                    <th scope="col"><div class="slds-truncate" title="Assign to Weeks">Assign to Weeks</div></th>
                </tr>
                <tr class="slds-line-height_reset">
                    <th class="action__column" scope="col"><div class="slds-truncate">&nbsp;</div></th>
                    <th class="name__column" scope="col"><div class="slds-truncate">&nbsp;</div></th>
                    <th class="protein__column" scope="col"><div class="slds-truncate" title="Protein">Protein</div></th>
                    <th class="carbs__column" scope="col"><div class="slds-truncate" title="Carbs">Carbs</div></th>
                    <th class="fat__column" scope="col"><div class="slds-truncate" title="Fat">Fat</div></th>
                    <th class="calories__column" scope="col"><div class="slds-truncate" title="Calories">Calories</div></th>
                    <th scope="col"><div class="slds-truncate">&nbsp;</div></th>
                </tr>
            </thead>
            <tbody>
                <template for:each={_updatedTargetsData} for:item="target">
                    <tr key={target.values.order} class="slds-hint-parent">
                        <td class="action__column" scope="row"><lightning-button-icon icon-name="utility:delete" data-order={target.values.order} onclick={onDeleteTarget}></lightning-button-icon></td>
                        <td class="name__column" scope="row"><c-at-slds-input text-align="left" data-order={target.values.order} variant="label-hidden" value={target.name} onchange={onTargetNameUpdate}></c-at-slds-input></td>
                        <td class="protein__column" scope="row"><c-at-slds-input text-align="middle" data-order={target.values.order} variant="label-hidden" type="number" value={target.protein} onchange={onTargetProteinUpdate}></c-at-slds-input></td>
                        <td class="carbs__column" scope="row"><c-at-slds-input text-align="middle" data-order={target.values.order} variant="label-hidden" type="number" value={target.carbs} onchange={onTargetCarbsUpdate}></c-at-slds-input></td>
                        <td class="fat__column" scope="row"><c-at-slds-input text-align="middle" data-order={target.values.order} variant="label-hidden" type="number" value={target.fat} onchange={onTargetFatUpdate}></c-at-slds-input></td>
                        <td class="calories__column" scope="row"><lightning-formatted-number value={target.calories}></lightning-formatted-number></td>
                        <td scope="row">
                            <lightning-button-group>
                                <template for:each={target.values.assignToWeeks} for:item="weekOp">
                                    <template if:true={weekOp.checked}>
                                        <lightning-button key={weekOp.key} variant="brand" label={weekOp.label} data-order={target.values.order} data-value={weekOp.value} onclick={onWeekSelection}></lightning-button>
                                    </template>
                                    <template if:false={weekOp.checked}>
                                        <lightning-button key={weekOp.key} label={weekOp.label} data-order={target.values.order} data-week={weekOp.value} onclick={onWeekSelection}></lightning-button>
                                    </template>
                                </template>
                            </lightning-button-group>
                        </td>
                    </tr>
                </template>
                <tr>
                    <td colspan="7">
                        <lightning-button label="Add New Target" onclick={onAddNewTarget}></lightning-button>
                    </td>
                </tr>
            </tbody>
        </table>
        <br />
        <c-planner-x-template-pool class="templatePool" check-in-id={_checkInId} onchange={onTemplatePoolChange}></c-planner-x-template-pool>
    </div>
</template>