<template>
    <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class={modalClass}>
        <div class="slds-modal__container">
            <header class={modalHeaderClass}>
                <lightning-button-icon class="modal__close-button" icon-name="utility:close" size="large" alternative-text="Settings" variant="bare-inverse" title="Close" onclick={onClose}></lightning-button-icon>

                <template if:true={displayHeader}>
                    <h2 id="modal-heading-01" class="slds-modal__title slds-hyphenate">{headerLabel}</h2>
                    <div class="slds-m-top_x-small">
                        <slot name="taglines"></slot>
                    </div>
                </template>

            </header>
            <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
                <slot name="content"></slot>
            </div>
            <template if:true={displayFooter}>
                <footer class="slds-modal__footer">
                    <slot name="footer"></slot>
                </footer>
            </template>
        </div>
    </section>
    <div class="slds-backdrop slds-backdrop_open"></div>
</template>