<template>

    <template if:true={_isLoading}>
        <lightning-spinner></lightning-spinner>
    </template>

    <template if:true={canDisplayForm}>
        <lightning-record-edit-form class="record-edit-form" record-id={_recordId} object-api-name={_formSectionData.objectApiName} onload={onFormSectionLoad}>
            <lightning-messages></lightning-messages>
        
            <div class="slds-grid slds-wrap slds-gutters">
                <template for:each={formSectionFields} for:item="field">
				    <div class={field.columnWidthClass} key={field.apiName}>
					    <label style="-webkit-hyphens: none; -moz-hyphens: none; -ms-hyphens: none; hyphens: none;" class="slds-form-element__label client-form-element__label">
						    {field.label}
                            <template if:true={field.required}>
							    <abbr class="slds-required" title="required">*</abbr>
                            </template>
					    </label>
                        <template if:true={field.editable}>
                            <lightning-input-field data-api-name={field.apiName} field-name={field.apiName} variant={field.fieldVariation} class={field.fieldClass} required={field.required} value={field.value} onchange={onFieldUpdate}></lightning-input-field>
                        </template>
                        <template if:false={field.editable}>
                            <lightning-output-field field-name={field.apiName} variant={field.fieldVariation} class={field.fieldClass}></lightning-output-field>
                        </template>
                    </div>
                </template>
            </div>

        </lightning-record-edit-form>
    </template>
</template>