<template>
    <template if:true={isMobile}>
        <table class="photos">
            <tbody>
                <tr>
                    <td style="text-align: center;">
                        <div class="box">
                            <div class="title">Front</div>
                            <div class="content">
                                <lightning-file-upload  name="frontPhoto" 
                                                        label="Front" 
                                                        record-id={checkInId} 
                                                        onuploadfinished={onFrontPhotoUploaded}></lightning-file-upload>
                                         
                                <template if:true={isFrontPhotoUploaded}>        
                                    <br/>
                                    <img src={frontPhotoURL} style="max-height: 200px;"/>
                                    <br/>
                                    <lightning-button label="Delete" icon-name="utility:delete" onclick={onFrontPhotoDelete}></lightning-button>
                                </template>      
                                <template if:false={isFrontPhotoUploaded}>
                                    <br/>
                                    <template if:true={isMaleClient}>
                                        <img class="placeholder-image" src="https://www.dropbox.com/s/2vo9m3wvrpxnxm1/Male_Front.jpg?raw=1" style="max-height: 200px;"/>
                                    </template>
                                    <template if:true={isFemaleClient}>
                                        <img class="placeholder-image" src="https://www.dropbox.com/s/icgbz6xiyedec8d/Female_Front.jpg?raw=1" style="max-height: 200px;"/>
                                    </template>
                                    <br/>
                                </template>   
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: center;">
                        <div class="box">
                            <div class="title">Side</div>
                            <div class="content">
                                <lightning-file-upload  name="sidePhoto" 
                                                        label="Side" 
                                                        record-id={checkInId} 
                                                        onuploadfinished={onSidePhotoUploaded}></lightning-file-upload>
                                         
                                <template if:true={isSidePhotoUploaded}>        
                                    <br/>
                                    <img src={sidePhotoURL} style="max-height: 200px;"/>
                                    <br/>
                                    <lightning-button label="Delete" icon-name="utility:delete" onclick={onSidePhotoDelete}></lightning-button>
                                </template>      
                                <template if:false={isSidePhotoUploaded}>
                                    <br/>
                                    <template if:true={isMaleClient}>
                                        <img class="placeholder-image" src="https://www.dropbox.com/s/axbx3my9avml1d4/Male_Side.jpg?raw=1" style="max-height: 200px;"/>
                                    </template>
                                    <template if:true={isFemaleClient}>
                                        <img class="placeholder-image" src="https://www.dropbox.com/s/os1sir4u7kiiote/Female_Side.jpg?raw=1" style="max-height: 200px;"/>
                                    </template>
                                    <br/>
                                </template>   
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: center;">
                        <div class="box">
                            <div class="title">Back</div>
                            <div class="content">
                                <lightning-file-upload  name="backPhoto" 
                                                        label="Back" 
                                                        record-id={checkInId} 
                                                        onuploadfinished={onBackPhotoUploaded}></lightning-file-upload>
                                         
                                <template if:true={isBackPhotoUploaded}>        
                                    <br/>
                                    <img src={backPhotoURL} style="max-height: 200px;"/>
                                    <br/>
                                    <lightning-button label="Delete" icon-name="utility:delete" onclick={onBackPhotoDelete}></lightning-button>
                                </template>      
                                <template if:false={isBackPhotoUploaded}>
                                    <br/>
                                    <template if:true={isMaleClient}>
                                        <img class="placeholder-image" src="https://www.dropbox.com/s/zclxmcmnzfqmgfi/Male_Back.jpg?raw=1" style="max-height: 200px;"/>
                                    </template>
                                    <template if:true={isFemaleClient}>
                                        <img class="placeholder-image" src="https://www.dropbox.com/s/akfakp0dbtwwfyv/Female_Back.jpg?raw=1" style="max-height: 200px;"/>
                                    </template>
                                    <br/>
                                </template>   
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </template>
    <template if:false={isMobile}>
        
        <table class="photos">
            <tbody>
                <tr>
                    <td style="text-align: center;">
                        <div class="box">
                            <div class="title">Front</div>
                            <div class="content">
                                <lightning-file-upload  name="frontPhoto" 
                                                        label="Front" 
                                                        record-id={checkInId} 
                                                        onuploadfinished={onFrontPhotoUploaded}></lightning-file-upload>
                                         
                                <template if:true={isFrontPhotoUploaded}>        
                                    <br/>
                                    <img src={frontPhotoURL} style="max-height: 200px;"/>
                                    <br/>
                                    <lightning-button label="Delete" icon-name="utility:delete" onclick={onFrontPhotoDelete}></lightning-button>
                                </template>      
                                <template if:false={isFrontPhotoUploaded}>
                                    <br/>
                                    <template if:true={isMaleClient}>
                                        <img class="placeholder-image" src="https://www.dropbox.com/s/2vo9m3wvrpxnxm1/Male_Front.jpg?raw=1" style="max-height: 200px;"/>
                                    </template>
                                    <template if:true={isFemaleClient}>
                                        <img class="placeholder-image" src="https://www.dropbox.com/s/icgbz6xiyedec8d/Female_Front.jpg?raw=1" style="max-height: 200px;"/>
                                    </template>
                                    <br/>
                                </template>   
                            </div>
                        </div>
                    </td>
                    <td style="text-align: center;">
                        <div class="box">
                            <div class="title">Side</div>
                            <div class="content">
                                <lightning-file-upload  name="sidePhoto" 
                                                        label="Side" 
                                                        record-id={checkInId} 
                                                        onuploadfinished={onSidePhotoUploaded}></lightning-file-upload>
                                         
                                <template if:true={isSidePhotoUploaded}>        
                                    <br/>
                                    <img src={sidePhotoURL} style="max-height: 200px;"/>
                                    <br/>
                                    <lightning-button label="Delete" icon-name="utility:delete" onclick={onSidePhotoDelete}></lightning-button>
                                </template>      
                                <template if:false={isSidePhotoUploaded}>
                                    <br/>
                                    <template if:true={isMaleClient}>
                                        <img class="placeholder-image" src="https://www.dropbox.com/s/axbx3my9avml1d4/Male_Side.jpg?raw=1" style="max-height: 200px;"/>
                                    </template>
                                    <template if:true={isFemaleClient}>
                                        <img class="placeholder-image" src="https://www.dropbox.com/s/os1sir4u7kiiote/Female_Side.jpg?raw=1" style="max-height: 200px;"/>
                                    </template>
                                    <br/>
                                </template>   
                            </div>
                        </div>
                    </td>
                    <td style="text-align: center;">
                        <div class="box">
                            <div class="title">Back</div>
                            <div class="content">
                                <lightning-file-upload  name="backPhoto" 
                                                        label="Back" 
                                                        record-id={checkInId} 
                                                        onuploadfinished={onBackPhotoUploaded}></lightning-file-upload>
                                         
                                <template if:true={isBackPhotoUploaded}>        
                                    <br/>
                                    <img src={backPhotoURL} style="max-height: 200px;"/>
                                    <br/>
                                    <lightning-button label="Delete" icon-name="utility:delete" onclick={onBackPhotoDelete}></lightning-button>
                                </template>      
                                <template if:false={isBackPhotoUploaded}>
                                    <br/>
                                    <template if:true={isMaleClient}>
                                        <img class="placeholder-image" src="https://www.dropbox.com/s/zclxmcmnzfqmgfi/Male_Back.jpg?raw=1" style="max-height: 200px;"/>
                                    </template>
                                    <template if:true={isFemaleClient}>
                                        <img class="placeholder-image" src="https://www.dropbox.com/s/akfakp0dbtwwfyv/Female_Back.jpg?raw=1" style="max-height: 200px;"/>
                                    </template>
                                    <br/>
                                </template>   
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </template>
</template>