<template>
    <div class="slds-form-element">
        <!--<label class="slds-form-element__label">{label}</label>-->
        <div class="slds-form-element__control">
            <div class="slds-combobox_container">
                <div class={_comboboxClass} aria-expanded="true" aria-haspopup="listbox" role="combobox">
                    <div class="slds-combobox__form-element slds-input-has-icon slds-input-has-icon_right" role="none">
                        <input type="text" class={_inputClass} autocomplete="off" role="textbox" placeholder={valueLabel} readonly onfocus={onComboboxFocus} onblur={onComboboxBlur}/>
                        <span class="slds-icon_container slds-icon-utility-down slds-input__icon slds-input__icon_right">
                            <svg class="slds-icon slds-icon slds-icon_x-small slds-icon-text-default" aria-hidden="true">
                                <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#down"></use>
                            </svg>
                        </span>
                    </div>
                    <div class="slds-dropdown slds-dropdown_fluid" role="listbox">

                        <template for:each={displayedOptions} for:item="groupOption">
                            <ul key={groupOption.value} class="slds-listbox slds-listbox_vertical" role="group" aria-label={groupOption.label}>
                                <li role="presentation" class="slds-listbox__item">
                                    <div class="slds-media slds-listbox__option slds-listbox__option_plain slds-media_small" role="presentation">
                                        <h3 class="slds-listbox__option-header" role="presentation">{groupOption.label}</h3>
                                    </div>
                                </li>
                                <template for:each={groupOption.options} for:item="itemOption">
                                    <li key={itemOption.value} role="presentation" class="slds-listbox__item" onmouseover={onMouseOverDropdown} onmouseout={onMouseOutDropdown}>
                                        <div class="slds-media slds-listbox__option slds-listbox__option_plain slds-media_small" role="option" onclick={onSelectOption} data-value={itemOption.value}>
                                            <span class="slds-media__figure slds-listbox__option-icon cant-be-clicked">
                                                <template if:true={itemOption.states.isSelected}>
                                                    <lightning-icon size="x-small" icon-name="utility:check"></lightning-icon>
                                                </template>
                                            </span>
                                            <span class="slds-media__body cant-be-clicked">
                                                <span class="slds-truncate cant-be-clicked" title={itemOption.label}>{itemOption.label}</span>
                                            </span>
                                        </div>
                                    </li>
                                </template>
                            </ul>
                        </template>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>