<template>
    <template if:true={isMobile}>
        <table class="is-mobile slds-table slds-table_cell-buffer">
            <thead>
                <tr class="slds-line-height_reset">
                    <th scope="col" class="name__column">Plan Name</th>
                    <th scope="col" class="protein__column">P</th>
                    <th scope="col" class="carbs__column">C</th>
                    <th scope="col" class="fat__column">F</th>
                    <th scope="col" class="calories__column">Cals</th>

                </tr>
            </thead>
            <tbody>
                <template for:each={_latestPoolPlanVersions} for:item="poolPlanVersion">
                    
                    <tr key={poolPlanVersion.poolPlanId} class="plan__row pool-plan__top-row">
                        <td colspan="5">
                            <div style="display: flex;">
                                <template if:true={poolPlanVersion.states.isNutritionReferencePlan}>
                                    <div class="plan__icon trainer__icon">T</div>
                                </template>
                                <template if:true={poolPlanVersion.states.isNutritionClientPlan}>
                                    <div class="plan__icon client__icon">C</div>
                                </template>
                                <span>&nbsp;{poolPlanVersion.name}&nbsp;</span>
                                <span class="last-updated__text">(<lightning-formatted-date-time value={poolPlanVersion.lastUpdatedDateTime} month="short"></lightning-formatted-date-time></span>
                                <span class="last-updated__text"><lightning-formatted-date-time value={poolPlanVersion.lastUpdatedDateTime} day="2-digit"></lightning-formatted-date-time></span>
                                <span class="last-updated__text">-<lightning-formatted-date-time value={poolPlanVersion.lastUpdatedDateTime} year="2-digit"></lightning-formatted-date-time>)</span>
                            </div>
                        </td>
                    </tr>
                    <tr key={poolPlanVersion.poolPlanId} class="plan__row pool-plan__bottom-row">
                        <td>
                            <lightning-button-menu style="padding-left: 22px;" label="Actions" alternative-text="Show menu" menu-alignment="left" icon-size="small" variant="bare">
                                <template if:true={poolPlanVersion.states.isNutritionReferencePlan}>
                                    <lightning-menu-item data-pool-plan-version-id={poolPlanVersion.id} value="View"            label="View"                onclick={onOpenViewPlanModal}></lightning-menu-item>
                                    <lightning-menu-item data-pool-plan-version-id={poolPlanVersion.id} value="SaveAsNewPlan"   label="Save As New Plan"    onclick={onOpenSaveAsNewPoolPlanModal}></lightning-menu-item>
                                </template>
                                <template if:true={poolPlanVersion.states.isNutritionClientPlan}>
                                    <lightning-menu-item data-pool-plan-version-id={poolPlanVersion.id} value="Edit"            label="Edit"                onclick={onOpenEditPlanModal}></lightning-menu-item>
                                    <lightning-menu-item data-pool-plan-version-id={poolPlanVersion.id} value="ManageVersions"  label="Manage Versions"     onclick={onPoolPlanManageVersions}></lightning-menu-item>
                                    <lightning-menu-item data-pool-plan-version-id={poolPlanVersion.id} value="SaveAsNewPlan"   label="Save As New Plan"    onclick={onOpenSaveAsNewPoolPlanModal}></lightning-menu-item>
                                    <lightning-menu-item data-pool-plan-version-id={poolPlanVersion.id} value="Delete"          label="Delete"              onclick={onOpenDeletePoolPlanModal}></lightning-menu-item>
                                </template>
                            </lightning-button-menu>
                        </td>
                        <td class="protein__column"><lightning-formatted-number value={poolPlanVersion.protein} minimum-fraction-digits="0" maximum-fraction-digits="0"></lightning-formatted-number></td>
                        <td class="carbs__column"><lightning-formatted-number value={poolPlanVersion.carbs} minimum-fraction-digits="0" maximum-fraction-digits="0"></lightning-formatted-number></td>
                        <td class="fat__column"><lightning-formatted-number value={poolPlanVersion.fat} minimum-fraction-digits="0" maximum-fraction-digits="0"></lightning-formatted-number></td>
                        <td class="calories__column"><lightning-formatted-number value={poolPlanVersion.calories} minimum-fraction-digits="0" maximum-fraction-digits="0"></lightning-formatted-number></td>
                    </tr>
                </template>
            </tbody>
        </table>
    </template>
    <template if:false={isMobile}>
        <table class="is-desktop slds-table slds-table_cell-buffer slds-table_bordered slds-table_col-bordered">
            <thead>
                <tr class="slds-line-height_reset">
                    <th scope="col" class="name__column">Plan Name</th>
                    <th scope="col" class="protein__column">Protein</th>
                    <th scope="col" class="carbs__column">Carbs</th>
                    <th scope="col" class="fat__column">Fat</th>
                    <th scope="col" class="calories__column">Calories</th>
                    <th scope="col" class="actions__column">&nbsp;</th>

                </tr>
            </thead>
            <tbody>
                <template for:each={clientPoolPlanVersions} for:item="poolPlanVersion">
                    <tr key={poolPlanVersion.poolPlanId} class="plan__row">
                        <td class="name__column">
                            <div style="display: flex;">
                                <div class="plan__icon client__icon">C</div>
                                <span>&nbsp;{poolPlanVersion.name}&nbsp;</span>
                                <span class="last-updated__text">(<lightning-formatted-date-time value={poolPlanVersion.lastUpdatedDateTime} month="short"></lightning-formatted-date-time></span>
                                <span class="last-updated__text"><lightning-formatted-date-time value={poolPlanVersion.lastUpdatedDateTime} day="2-digit"></lightning-formatted-date-time></span>
                                <span class="last-updated__text">-<lightning-formatted-date-time value={poolPlanVersion.lastUpdatedDateTime} year="2-digit"></lightning-formatted-date-time>)</span>
                            </div>
                       </td>
                        <td class="protein__column"><lightning-formatted-number value={poolPlanVersion.protein} minimum-fraction-digits="0" maximum-fraction-digits="0"></lightning-formatted-number></td>
                        <td class="carbs__column"><lightning-formatted-number value={poolPlanVersion.carbs} minimum-fraction-digits="0" maximum-fraction-digits="0"></lightning-formatted-number></td>
                        <td class="fat__column"><lightning-formatted-number value={poolPlanVersion.fat} minimum-fraction-digits="0" maximum-fraction-digits="0"></lightning-formatted-number></td>
                        <td class="calories__column"><lightning-formatted-number value={poolPlanVersion.calories} minimum-fraction-digits="0" maximum-fraction-digits="0"></lightning-formatted-number></td>
                        <td class="actions__column">
                            <lightning-button-menu style="color: black;" label="Actions" alternative-text="Show menu" menu-alignment="right" icon-size="small" variant="bare">
                                <lightning-menu-item data-pool-plan-version-id={poolPlanVersion.id} value="Edit"            label="Edit"                onclick={onOpenEditPlanModal}></lightning-menu-item>
                                <lightning-menu-item data-pool-plan-version-id={poolPlanVersion.id} value="ManageVersions"  label="Manage Versions"     onclick={onPoolPlanManageVersions}></lightning-menu-item>
                                <lightning-menu-item data-pool-plan-version-id={poolPlanVersion.id} value="SaveAsNewPlan"   label="Save As New Plan"    onclick={onOpenSaveAsNewPoolPlanModal}></lightning-menu-item>
                                <lightning-menu-item data-pool-plan-version-id={poolPlanVersion.id} value="Delete"          label="Delete"              onclick={onOpenDeletePoolPlanModal}></lightning-menu-item>
                            </lightning-button-menu>
                        </td>
                    </tr>
                </template>

                <tr class="dividing__row">
                    <td colspan="6">&nbsp;</td>
                </tr>

                <template for:each={referencePoolPlanVersions} for:item="poolPlanVersion">
                    <tr key={poolPlanVersion.poolPlanId} class="plan__row">
                        <td class="name__column">
                            <div style="display: flex;">
                                <div class="plan__icon trainer__icon">T</div>
                                <span>&nbsp;{poolPlanVersion.name}&nbsp;</span>
                                <span class="last-updated__text">(<lightning-formatted-date-time value={poolPlanVersion.lastUpdatedDateTime} month="short"></lightning-formatted-date-time></span>
                                <span class="last-updated__text"><lightning-formatted-date-time value={poolPlanVersion.lastUpdatedDateTime} day="2-digit"></lightning-formatted-date-time></span>
                                <span class="last-updated__text">-<lightning-formatted-date-time value={poolPlanVersion.lastUpdatedDateTime} year="2-digit"></lightning-formatted-date-time>)</span>
                            </div>
                       </td>
                        <td class="protein__column"><lightning-formatted-number value={poolPlanVersion.protein} minimum-fraction-digits="0" maximum-fraction-digits="0"></lightning-formatted-number></td>
                        <td class="carbs__column"><lightning-formatted-number value={poolPlanVersion.carbs} minimum-fraction-digits="0" maximum-fraction-digits="0"></lightning-formatted-number></td>
                        <td class="fat__column"><lightning-formatted-number value={poolPlanVersion.fat} minimum-fraction-digits="0" maximum-fraction-digits="0"></lightning-formatted-number></td>
                        <td class="calories__column"><lightning-formatted-number value={poolPlanVersion.calories} minimum-fraction-digits="0" maximum-fraction-digits="0"></lightning-formatted-number></td>
                        <td class="actions__column">
                            <lightning-button-menu style="color: black;" label="Actions" alternative-text="Show menu" menu-alignment="right" icon-size="small" variant="bare">
                                <lightning-menu-item data-pool-plan-version-id={poolPlanVersion.id} value="View"            label="View"                onclick={onOpenViewPlanModal}></lightning-menu-item>
                                <lightning-menu-item data-pool-plan-version-id={poolPlanVersion.id} value="SaveAsNewPlan"   label="Save As New Plan"    onclick={onOpenSaveAsNewPoolPlanModal}></lightning-menu-item>
                            </lightning-button-menu>
                        </td>
                    </tr>
                </template>
            </tbody>
        </table>
    </template>

    <!-- Modal for Viewing Plan -->
    <template if:true={_displayViewPlanModal}>
        <c-at-slds-modal header-label="View Plan" size="medium" display-header onclose={onCloseViewPlanModal}>
            <div slot="content">
                <c-planner-x-view-plan plan-id={_selectedPlanDetails.planId}></c-planner-x-view-plan>
            </div>
        </c-at-slds-modal>
    </template>


    <!-- Modal for Assign to Days-->
    <template if:true={_displayAssignToDaysPlan}>
        <c-at-slds-modal header-label="Assign to Days" size="medium" display-header display-footer onclose={onCloseAssignToDaysModal}>
            <div slot="content">
                <lightning-button-group>
                    <template for:each={assignToDayOptions} for:item="assign">
                        <lightning-button key={assign.value} label={assign.label} variant={assign.variant} value={assign.value} onclick={onSelectAssignToDay}></lightning-button>
                    </template>
                </lightning-button-group>
            </div>
            <div slot="footer">
                <lightning-button-group>
                    <lightning-button label="Cancel"    onclick={onCloseAssignToDaysModal}></lightning-button>
                    <lightning-button label="Assign"    onclick={onAssignDaysToPlan} variant="brand"></lightning-button>
                </lightning-button-group>
            </div>
        </c-at-slds-modal>
    </template>

    <!-- Modal for Confirming Deletion -->
    <template if:true={_displayDeletePoolPlan}>
        <c-at-slds-modal header-label="Delete Plan" size="medium" display-header display-footer onclose={onCloseDeletePoolPlanModal}>
            <div slot="content">
                <p>Are you sure you want to delete the plan?</p>
            </div>
            <div slot="footer">
                <lightning-button-group>
                    <lightning-button label="Cancel"    onclick={onCloseDeletePoolPlanModal}></lightning-button>
                    <lightning-button label="Delete"    onclick={onDeletePoolPlan} variant="brand"></lightning-button>
                </lightning-button-group>
            </div>
        </c-at-slds-modal>
    </template>

    <!-- Modal for Saving new Pool Plan -->
    <template if:true={_displaySaveNewPoolPlan}>
        <c-at-slds-modal header-label="Save As New Pool Plan" size="medium" display-header display-footer onclose={onCloseSaveAsNewPoolPlanModal}>
            <div slot="content">
                <lightning-input label="Plan Name" value={_newPlanName} onchange={onUpdateNewPlanName}></lightning-input>
            </div>
            <div slot="footer">
                <lightning-button-group>
                    <lightning-button label="Cancel"    onclick={onCloseSaveAsNewPoolPlanModal}></lightning-button>
                    <lightning-button label="Save"      onclick={onSaveNewPoolPlan}></lightning-button>
                </lightning-button-group>
            </div>
        </c-at-slds-modal>
    </template>

    <!-- Modal for Managing the Versions -->
    <template if:true={_displayManageVersionsModal}>
        <c-at-slds-modal header-label="Manage Versions" size="medium" display-header onclose={onCloseManageVersionsModal}>
            <div slot="content">
                <c-tracker-x-manage-pool-plan-versions pool-plan-id={_selectedPlanDetails.poolPlanId} onrefresh={onPoolPlanVersionRefresh}></c-tracker-x-manage-pool-plan-versions>
            </div>
        </c-at-slds-modal>
    </template>

    <!-- Modal for Editing the Plan -->
    <template if:true={_displayEditPlanModal}>
        <c-at-slds-modal header-label="Edit Plan" size="medium" display-header display-footer onclose={onCloseEditPlanModal}>
            <div slot="content">
                <c-planner-x-nutrition-carb-cycle-plan class="nutrition-carb-cycle-plan" plan-id={_selectedPlanDetails.planId}></c-planner-x-nutrition-carb-cycle-plan>
            </div>
            <div slot="footer">
                <lightning-button-group>
                    <lightning-button label="Cancel" onclick={onCloseEditPlanModal}></lightning-button>
                    <lightning-button label="Save WIP" onclick={onSavePlan}></lightning-button>
                    <lightning-button label="Activate New Version" variant="brand" onclick={onActivateNewPlan}></lightning-button>
                </lightning-button-group>
            </div>
        </c-at-slds-modal>
    </template>

</template>