table.is-desktop {
    width: auto !important;
}

.last-updated__text {
    font-size: 12px;
    line-height: 24px;
}

/*style*/
tr.plan__row td {
    /*background-color: #888;*/
}
tr.block__row td {
    background-color: #ccc;
}
tr.item__row td {
    background-color: #fff;
}

.is-desktop .name__column {
    white-space: break-spaces;
    width: 455px;
}

.protein__column, .carbs__column, .fat__column, .calories__column {
    text-align: center;
    width: 80px;
}
.actions__column {
    width: 30px;
}

.plan-type__column {
    text-align:center;
    width: 40px;
}

.measurement__column, .quantity__column {
    text-align: center;
    width: 80px;
}

table th, table td {
    padding: 0.5rem !important;
    font-size: 16px;
}

table th {
    font-weight: 900;
    color: #000;
    background-color: #D3D3D3;
}

.pool-plan__top-row td {
    font-weight: 900;
    padding-bottom: 2px !important;
}

.pool-plan__bottom-row td {
    padding-top: 2px !important;
    border-bottom: 1px solid black;
}

.is-mobile .protein__column, .is-mobile .carbs__column, .is-mobile .fat__column, .is-mobile .calories__column {
    width: 50px;
    text-align: center;
    padding: 0.25rem !important;
}

.plan__icon {
    width: 14px;
    height: 14px;
    line-height: 14px;
    border-radius: 50%;
    font-size: 12px;
    color: #fff;
    text-align: center;
    font-weight: 900;
    margin-top: 4px;
    margin-right: 4px;
}

.trainer__icon {
    background: #ff4646;
}
.client__icon {
    background: #4767ff;
}

.dividing__row > td {
    background-color: black;
    padding: 0 !important;
    line-height: 0.25rem;
}


:host {
  --sds-c-button-text-color: black;
}