/*style*/
.trainer-video > .trainer-video__header {
    background-color: #ec0e0e;
    color: #fff;
    font-weight: 900;
    padding: 0.25rem;
    line-height: 1rem;
    font-size: 20px;
}

.trainer-video {
    width: 300px;
}