<template>

    <template if:true={_isLoading}>
        <lightning-spinner></lightning-spinner>
    </template>

    <lightning-input label="Search Names..." variant="label-hidden" type="search" value={_nameSearch} onchange={onNameSearchUpdate}></lightning-input>
    <br />

    <table class="slds-table slds-table_cell-buffer slds-table_bordered slds-table_col-bordered" aria-label="Example table of Opportunities with vertical borders">
        <tbody>
            <template for:each={_trainerVideos} for:item="video">
                <tr class="slds-hint-parent" key={video.id}>
                    <td>
                        <div class="slds-truncate" title="Cloudhub + Anypoint Connectors">
                            <a href={video.dropboxPath} tabindex="-1" target="_blank">{video.displayLabel}</a>
                        </div>
                    </td>
                </tr>
            </template>
        </tbody>
    </table>

</template>