<template>

    <template if:true={isLoadingOrSaving}>
        <lightning-spinner size="small"></lightning-spinner>
    </template>

    <template if:false={isMobile}>
        <table class="slds-table slds-table_cell-buffer slds-table_bordered" aria-label="Example table of Opportunities with vertical borders">
            <thead>
                <tr class="slds-line-height_reset">
                    <!--
                    <th scope="col">
                        <div class="slds-truncate" title="Name">Name</div>
                    </th>
                    -->
                    <th scope="col" style="text-align: center;">
                        <div class="slds-truncate" title="Version">Version</div>
                    </th>
                    <th scope="col" style="text-align: center;">
                        <div class="slds-truncate" title="Active">Active</div>
                    </th>
                    <th scope="col">
                        <div class="slds-truncate" title="Actions">&nbsp;</div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <template for:each={_allPlanVersions} for:item="version">
                    <tr key={version.id} class="slds-hint-parent">
                        <!--
                        <td>
                            <span>{version.planName}&nbsp;</span>
                            <span class="last-updated__text">(<lightning-formatted-date-time value={version.lastUpdatedDateTime} month="short"></lightning-formatted-date-time></span>
                            <span class="last-updated__text"><lightning-formatted-date-time value={version.lastUpdatedDateTime} day="2-digit"></lightning-formatted-date-time></span>
                            <span class="last-updated__text">-<lightning-formatted-date-time value={version.lastUpdatedDateTime} year="2-digit"></lightning-formatted-date-time>)</span>
                        </td>
                        -->
                        <td style="text-align: center;">{version.versionNumber}</td>
                        <td style="text-align: center;">
                            <template if:true={version.activeVersion}>
                                <lightning-icon icon-name="utility:check" size="small" alternative-text="Active" title="Active"></lightning-icon>
                            </template>
                            <template if:false={version.activeVersion}>
                                <lightning-button data-version-id={version.id} label="&nbsp;" onclick={onActivateVersion}></lightning-button>
                            </template>
                        </td>
                        <td>
                            <lightning-button-group>
                                <lightning-button data-version-id={version.id} label="View/Edit" onclick={onViewPlan}></lightning-button>
                                <lightning-button data-version-id={version.id} label="Delete" onclick={onDisplayDeletePlanModal}></lightning-button>
                                <lightning-button data-version-id={version.id} label="Save As New Version" onclick={onDisplaySaveAsNewVersionModal}></lightning-button>
                            </lightning-button-group>
                        </td>
                    </tr>
                </template>
            </tbody>
        </table>
    </template>
    <template if:true={isMobile}>
        <table class="is-mobile slds-table slds-table_cell-buffer" aria-label="Example table of Opportunities with vertical borders">
            <thead>
                <tr class="slds-line-height_reset">
                    <th scope="col">
                        <div class="slds-truncate" title="Name">Name</div>
                    </th>
                    <th scope="col" style="text-align: center;">
                        <div class="slds-truncate" title="Version">Version</div>
                    </th>
                    <th scope="col" style="text-align: center;">
                        <div class="slds-truncate" title="Active">Active</div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <template for:each={_allPlanVersions} for:item="version">
                    <tr key={version.id} class="slds-hint-parent top-section__row">
                        <td>
                            <span>{version.planName}&nbsp;</span>
                            <span class="last-updated__text">(<lightning-formatted-date-time value={version.lastUpdatedDateTime} month="short"></lightning-formatted-date-time></span>
                            <span class="last-updated__text"><lightning-formatted-date-time value={version.lastUpdatedDateTime} day="2-digit"></lightning-formatted-date-time></span>
                            <span class="last-updated__text">-<lightning-formatted-date-time value={version.lastUpdatedDateTime} year="2-digit"></lightning-formatted-date-time>)</span>
                        </td>
                        <td style="text-align: center;">{version.versionNumber}</td>
                        <td style="text-align: center;">
                            <template if:true={version.activeVersion}>
                                <lightning-icon icon-name="utility:check" size="small" alternative-text="Active" title="Active"></lightning-icon>
                            </template>
                            <template if:false={version.activeVersion}>
                                <lightning-button data-version-id={version.id} label="&nbsp;" onclick={onActivateVersion}></lightning-button>
                            </template>
                        </td>
                    </tr>
                    <tr key={version.id} class="slds-hint-parent bottom-section__row">
                        <td colspan="3">
                            <lightning-button-group>
                                <lightning-button data-version-id={version.id} data-target-id={version.targetId} label="View/Edit" onclick={onViewPlan}></lightning-button>
                                <lightning-button data-version-id={version.id} data-target-id={version.targetId} label="Delete" onclick={onDisplayDeletePlanModal}></lightning-button>
                                <lightning-button data-version-id={version.id} data-target-id={version.targetId} label="Save As New Version" onclick={onDisplaySaveAsNewVersionModal}></lightning-button>
                            </lightning-button-group>
                        </td>
                    </tr>
                </template>
            </tbody>
        </table>
    </template>

    <!-- Modal for Deleting a Version -->
    <template if:true={_displayDeletingPlanModal}>
        <c-at-slds-modal header-label="Delete Plan Version" display-header display-footer onclose={onCloseDeletePlanModal}>
            <div slot="content">
                <p>Are you sure?</p>
            </div>
            <div slot="footer">
                <lightning-button-group>
                    <lightning-button label="Cancel" onclose={onCloseDeletePlanModal}></lightning-button>
                    <lightning-button label="Delete" variant="brand" onclick={onDeleteVersion}></lightning-button>
                </lightning-button-group>
            </div>
        </c-at-slds-modal>
    </template>

    <!-- Modal for Viewing the Plan -->
    <template if:true={_displayViewPlanModal}>
        <c-at-slds-modal header-label={editPlanModalHeader} size="large" display-header display-footer onclose={onCloseViewPlanModal}>
            <div slot="content">

                <c-planner-x-nutrition-carb-cycle-plan class="carb-cycle-plan" can-update-client-comments client-comments={_selectedVersion.clientComments} is-for-tracker target-ids={_selectedVersion.targetIds} plan-id={_selectedVersion.planId}></c-planner-x-nutrition-carb-cycle-plan>
            </div>
            <div slot="footer">
                <lightning-button-group>
                    <lightning-button label="Cancel" onclick={onCloseViewPlanModal}></lightning-button>
                    <lightning-button label="Save" variant="brand" onclick={onSavePlanData}></lightning-button>
                </lightning-button-group>
            </div>
        </c-at-slds-modal>
    </template>

    <!-- Modal for Saving a New Version -->
    <template if:true={_displaySaveAsNewVersion}>
        <c-at-slds-modal header-label="Save New Version" size="large" display-header display-footer onclose={onCloseSaveAsNewVersionModal}>
            <div slot="content">
                <p>Are you sure?</p>
                <!--<lightning-input label="New Name" value={_newPlanName} onchange={onUpdateNewPlanName}></lightning-input>-->
            </div>
            <div slot="footer">
                <lightning-button-group>
                    <lightning-button label="Cancel" onclick={onCloseSaveAsNewVersionModal}></lightning-button>
                    <lightning-button label="Save" variant="brand" onclick={onSaveNewVersion}></lightning-button>
                </lightning-button-group>
            </div>
        </c-at-slds-modal>
    </template>

</template>