/*style*/
table th, table td {
    padding: 0.5rem !important;
}

.is-mobile thead tr {
    border-bottom: 1px solid black;
}

.last-updated__text {
    font-size: 12px;
    line-height: 24px;
}

.is-mobile .top-section__row {
}

.is-mobile .bottom-section__row {
    border-bottom: 1px solid black;
}