.THIS.client-form {
    margin: 1rem auto;
    max-width: 50rem;
}

.THIS.client-form .client-form-title {
    font-size: 24px;
    font-weight: 600;
}

.THIS.client-form .client-form-subtitle {
    font-size: 16px;
    padding: 0.5rem 0;
}

.THIS .hide-legend  .slds-form-element__legend, .THIS .hide-label .slds-form-element__label, .THIS .hide-label lightning-helptext {
    display: none;
}
.THIS .hide-legend  .slds-form-element__control, .THIS .hide-label .slds-form-element__control {
    padding-left: 0 !important;
}

.THIS.client-form .client-form-element__label {
    font-weight: 900;
    font-size: 16px;
}

.THIS.client-form .client-form-element__checkbox-label {
    font-weight: 500;
    font-size: 14px;
}

.THIS.client-form .client-form__part  {
    padding: 1rem;
    border-radius: 0 0 0.25rem 0.25rem;
    border: 1px solid lightgray;
    background-color: whitesmoke;
}

.THIS.client-form .client-form-element__section {
    border-top: 1px solid lightgray;
    padding: 1rem 0;
}
.THIS.client-form .client-form-element__section .client-form-element__section-label {
    font-size: 22px;
    font-weight: 500;
}

.THIS.client-form .client-form-header {
    border-top:     1px solid lightgray;
    border-right:   1px solid lightgray;
    border-left:    1px solid lightgray;
    border-radius: 0.25rem 0.25rem 0 0;
    padding: 0.5rem;
    background-color:white;
    text-align: center;

}
.THIS.client-form .client-form-header .client-form-header-image {
    width: 20rem;
}

.THIS .fake-input .slds-input {
    background: none;
    border:none;
    padding:0;
    min-height: 0;
    height: 0;
}

.THIS .fake-input .slds-form-element__control {
    height: 0;
}

.THIS .fake-input .slds-form-element__label {
    display: none;
}

.THIS .submitting-spinner {
    position: relative;
    padding-left: 10rem;
    background: none;
}