<template>

    <div class="slds-text-body_regular">Allergies/Intolerences</div>
    <div class="checkbox-group">
        <template for:each={allergyCheckboxes} for:item="allergy">
            <lightning-input key={allergy.value} type="checkbox" label={allergy.label} data-value={allergy.value} checked={allergy.checked} onchange={onAllergySelection}></lightning-input>
        </template>
    </div>
    <div class="slds-text-body_regular">Dietary Restrictions</div>
    <div class="checkbox-group">
        <template for:each={dietaryRestrictionsCheckboxes} for:item="diet">
            <lightning-input key={diet.value} type="checkbox" label={diet.label} data-value={diet.value} checked={diet.checked} onchange={onDietrySelection}></lightning-input>
        </template>
    </div>
    <div>
        <lightning-input label="Search Items" value={_searchName} onchange={onSearchNameUpdate}></lightning-input>
        <br />
    </div>

    <table class="slds-table slds-table_cell-buffer slds-table_bordered slds-table_col-bordered">
        <thead>
            <tr class="slds-line-height_reset">
                <th class="selection-column">&nbsp;</th>
                <th class="item-column">Item</th>
                <th class="quantity-column">Quantity</th>
                <th class="measurement-column">Measure</th>
                <th class="protein-column">Protein</th>
                <th class="carbs-column">Carbs</th>
                <th class="fat-column">Fat</th>
                <th class="calories-column">Calories</th>
            </tr>
        </thead>
        <tbody>
            <template for:each={templateItems} for:item="item">
                <tr key={item.itemId} class="slds-line-height_reset">
                    <td class="selection-column"><lightning-input data-item-id={item.itemId} type="checkbox" checked={item.isSelected} onchange={onItemSelect}></lightning-input></td>
                    <td class="item-column">{item.itemName}</td>
                    <td class="quantity-column"><c-measurement-number value={item.itemQuantity} type={item.itemMeasurement}></c-measurement-number></td>
                    <td class="measurement-column">{item.itemMeasurement}</td>
                    <td class="protein-column"><lightning-formatted-number value={item.itemProtein}    minimum-fraction-digits="2"     maximum-fraction-digits="2"></lightning-formatted-number></td>
                    <td class="carbs-column"><lightning-formatted-number value={item.itemCarbs}      minimum-fraction-digits="2"     maximum-fraction-digits="2"></lightning-formatted-number></td>
                    <td class="fat-column"><lightning-formatted-number value={item.itemFat}        minimum-fraction-digits="2"     maximum-fraction-digits="2"></lightning-formatted-number></td>
                    <td class="calories-column"><lightning-formatted-number value={item.itemCalories}   minimum-fraction-digits="0"     maximum-fraction-digits="0"></lightning-formatted-number></td>
                </tr>
            </template>
        </tbody>
    </table>

</template>