/*style*/
.checkbox-group {
    display: flex;
    padding-bottom: 0.5rem;
}

tbody > tr > .item-column {
    white-space: break-spaces;
}

.quantity-column, .measurement-column, .protein-column, .carbs-column, .fat-column, .calories-column {
    width: 70px;
    text-align: center;
}