<template>

    <c-client-info check-in-id={_checkInId} collapsed use-allergies-slot use-dietary-slot>
        <div slot="allergies">
            <table style="width: inherit">
                <tbody>
                    <tr>
                        <template for:each={_selectedTemplatesAllergyOptions} for:item="item">
                            <td key={item.value}>
                                <lightning-input class="linear" name={item.value} label={item.label} type="checkbox" checked={item.checked} onchange={onAllergySelect}></lightning-input>
                            </td>
                        </template>
                    </tr>
                </tbody>
            </table>
        </div>
        <div slot="dietary">
            <table style="width: inherit">
                <tbody>
                    <tr>
                        <template for:each={_selectedTemplatesRestrictionOptions} for:item="item">
                            <td key={item.value}>
                                <lightning-input class="linear" name={item.value} label={item.label} type="checkbox" checked={item.checked} onchange={onRestrictionSelect}></lightning-input>
                            </td>
                        </template>
                    </tr>
                </tbody>
            </table>
        </div>
    </c-client-info>

    <div style="position:relative;">
        <template if:true={_isSavingOrLoading}>
            <div class="loading-spinner">
                <lightning-spinner size="large"></lightning-spinner>
            </div>
        </template>

        <table class="slds-table slds-table_cell-buffer slds-table_bordered slds-table_col-bordered">
            <thead>
                <tr class="slds-line-height_reset">
                    <th scope="col" colspan="2">
                        <div style="font-weight: 900;" class="slds-text-heading_medium">Targets</div>
                    </th>
                    <th scope="col" colspan="4">
                        <c-at-nutrition-x-planner-validation class="planner-validation" check-in-id={_checkInId}></c-at-nutrition-x-planner-validation>
                    </th>
                    <th scope="col">
                        <lightning-input type="checkbox" label="Locked Days" checked={_checkInInformation.flexiPlansLocked} onchange={onUpdateFlexiPlanLocked} disabled={_flexiPlanLockedUpdating}></lightning-input>
                    </th>
                </tr>
                <tr class="slds-line-height_reset">
                    <th class="action__column" scope="col"><div class="slds-truncate">&nbsp;</div></th>
                    <th class="name__column" scope="col"><div class="slds-truncate" title="Name">Name</div></th>
                    <th scope="col" colspan="4">
                        <div class="slds-truncate" title="Macro Targets">Macro Targets</div>
                    </th>
                    <th scope="col"><div class="slds-truncate" title="Assign to days">Assign to days</div></th>
                </tr>
                <tr class="slds-line-height_reset">
                    <th class="action__column" scope="col"><div class="slds-truncate">&nbsp;</div></th>
                    <th class="name__column" scope="col"><div class="slds-truncate">&nbsp;</div></th>
                    <th class="protein__column" scope="col"><div class="slds-truncate" title="Protein">Protein</div></th>
                    <th class="carbs__column" scope="col"><div class="slds-truncate" title="Carbs">Carbs</div></th>
                    <th class="fat__column" scope="col"><div class="slds-truncate" title="Fat">Fat</div></th>
                    <th class="calories__column" scope="col"><div class="slds-truncate" title="Calories">Calories</div></th>
                    <th scope="col"><div class="slds-truncate">&nbsp;</div></th>
                </tr>
            </thead>
            <tbody>
                <template for:each={_updatedTargetsData} for:item="target">
                    <tr key={target.values.order} class="slds-hint-parent">
                        <td class="action__column" scope="row"><lightning-button-icon icon-name="utility:delete" data-order={target.values.order} onclick={onDeleteTarget}></lightning-button-icon></td>
                        <td class="name__column" scope="row"><c-at-slds-input       text-align="left"   data-order={target.values.order} variant="label-hidden" type="text"     value={target.name}     onchange={onTargetNameUpdate}></c-at-slds-input></td>
                        <td class="protein__column" scope="row"><c-at-slds-input    text-align="middle" data-order={target.values.order} variant="label-hidden" type="number"   value={target.protein}  onchange={onTargetProteinUpdate}></c-at-slds-input></td>
                        <td class="carbs__column" scope="row"><c-at-slds-input      text-align="middle" data-order={target.values.order} variant="label-hidden" type="number"   value={target.carbs}    onchange={onTargetCarbsUpdate}></c-at-slds-input></td>
                        <td class="fat__column" scope="row"><c-at-slds-input        text-align="middle" data-order={target.values.order} variant="label-hidden" type="number"   value={target.fat}      onchange={onTargetFatUpdate}></c-at-slds-input></td>
                        <td class="calories__column" scope="row"><lightning-formatted-number value={target.calories}></lightning-formatted-number></td>
                        <td scope="row">
                            <lightning-button-group>
                                <!-- Monday -->
                                <template if:true={target.values.hasMondaySelected}>
                                    <lightning-button data-order={target.values.order} data-day="Monday" variant="brand" label="Monday" onclick={onSelectDay}></lightning-button>
                                </template>
                                <template if:false={target.values.hasMondaySelected}>
                                    <lightning-button data-order={target.values.order} data-day="Monday" label="Monday" onclick={onSelectDay}></lightning-button>
                                </template>
                                <!-- Tuesday -->
                                <template if:true={target.values.hasTuesdaySelected}>
                                    <lightning-button data-order={target.values.order} data-day="Tuesday" variant="brand" label="Tuesday" onclick={onSelectDay}></lightning-button>
                                </template>
                                <template if:false={target.values.hasTuesdaySelected}>
                                    <lightning-button data-order={target.values.order} data-day="Tuesday" label="Tuesday" onclick={onSelectDay}></lightning-button>
                                </template>
                                <!-- Wednesday -->
                                <template if:true={target.values.hasWednesdaySelected}>
                                    <lightning-button data-order={target.values.order} data-day="Wednesday" variant="brand" label="Wednesday" onclick={onSelectDay}></lightning-button>
                                </template>
                                <template if:false={target.values.hasWednesdaySelected}>
                                    <lightning-button data-order={target.values.order} data-day="Wednesday" label="Wednesday" onclick={onSelectDay}></lightning-button>
                                </template>
                                <!-- Thursday -->
                                <template if:true={target.values.hasThursdaySelected}>
                                    <lightning-button data-order={target.values.order} data-day="Thursday" variant="brand" label="Thursday" onclick={onSelectDay}></lightning-button>
                                </template>
                                <template if:false={target.values.hasThursdaySelected}>
                                    <lightning-button data-order={target.values.order} data-day="Thursday" label="Thursday" onclick={onSelectDay}></lightning-button>
                                </template>
                                <!-- Friday -->
                                <template if:true={target.values.hasFridaySelected}>
                                    <lightning-button data-order={target.values.order} data-day="Friday" variant="brand" label="Friday" onclick={onSelectDay}></lightning-button>
                                </template>
                                <template if:false={target.values.hasFridaySelected}>
                                    <lightning-button data-order={target.values.order} data-day="Friday" label="Friday" onclick={onSelectDay}></lightning-button>
                                </template>
                                <!-- Saturday -->
                                <template if:true={target.values.hasSaturdaySelected}>
                                    <lightning-button data-order={target.values.order} data-day="Saturday" variant="brand" label="Saturday" onclick={onSelectDay}></lightning-button>
                                </template>
                                <template if:false={target.values.hasSaturdaySelected}>
                                    <lightning-button data-order={target.values.order} data-day="Saturday" label="Saturday" onclick={onSelectDay}></lightning-button>
                                </template>
                                <!-- Sunday -->
                                <template if:true={target.values.hasSundaySelected}>
                                    <lightning-button data-order={target.values.order} data-day="Sunday" variant="brand" label="Sunday" onclick={onSelectDay}></lightning-button>
                                </template>
                                <template if:false={target.values.hasSundaySelected}>
                                    <lightning-button data-order={target.values.order} data-day="Sunday" label="Sunday" onclick={onSelectDay}></lightning-button>
                                </template>
                            </lightning-button-group>
                        </td>
                    </tr>
                </template>
                <tr>
                    <td colspan="7">
                        <lightning-button label="Add New Target" onclick={onAddNewTarget}></lightning-button>
                    </td>
                </tr>
            </tbody>
        </table>
        <br />

        <c-planner-x-template-pool class="templatePool" check-in-id={_checkInId} onchange={onTemplatePoolChange}></c-planner-x-template-pool>
        
    </div>

</template>