/*style*/
.action__column {
    padding: 4px 8px !important;
    width: 48px;
}
.protein__column, .carbs__column, .fat__column, .calories__column {
    width: 85px;
    text-align: center;
}

.name__column {
    width: 350px;
}

.loading-spinner {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.large-button {
    font-size: 18px;
    font-weight: 900;
}

.large-button button {
    background-color: red;
    color: white;
}