<!--
  @description       : 
  @author            : ChangeMeIn@UserSettingsUnder.SFDoc
  @group             : 
  @last modified on  : 12-18-2020
  @last modified by  : ChangeMeIn@UserSettingsUnder.SFDoc
  Modifications Log 
  Ver   Date         Author                               Modification
  1.0   12-18-2020   ChangeMeIn@UserSettingsUnder.SFDoc   Initial Version
-->
<template>
    <lightning-card title="Update Client Information">
        <div style="padding: 0 0.8rem;">
            <lightning-radio-group  label="What type of update?" 
                                    options={_updateModeOptions} 
                                    onchange={onUpdateModeChange}
                                    type="button"
                                    value={_currentUpdateMode}></lightning-radio-group>
            <template if:true={isManualUpdate}>
                <div style="padding-top: 0.5rem;">
                    <lightning-tabset variant="scoped">
                        <lightning-tab label="Photos">
                            <c-cci-x-photos-section check-in-id={recordId}></c-cci-x-photos-section>
                            <br/>
                            <lightning-button label="Submit Photos" variant="brand" onclick={onSubmitPhotos}></lightning-button>
                        </lightning-tab>
                        <lightning-tab label="Measurements">
                            <c-cci-x-measurements-section class="measurements__measurements-section" check-in-id={recordId}></c-cci-x-measurements-section>
                            <br/>
                            <lightning-button label="Submit Measurements" variant="brand" onclick={onSubmitMeasurements}></lightning-button>
                        </lightning-tab>
                        <lightning-tab label="Files">
                            <div class="slds-align_absolute-center slds-p-around_x-small">
                                <lightning-button label="Add Items" onclick={onShowAddItems}></lightning-button>
                            </div>
                            <template if:true={_displayAddItemsPanel}>
                                <c-cci-x-add-multi-media-files check-in-id={recordId} onclose={onCloseAddItems}></c-cci-x-add-multi-media-files>
                            </template>
                        </lightning-tab>
                    </lightning-tabset>
                </div>
            </template>
            <template if:true={isClientUpdate}>
                <div class="slds-text-heading--large" style="text-align: center; font-weight: 900; font-size: 29px;">Send Update Request to Client</div>
                <div class="slds-align_absolute-center slds-p-around_x-small"><lightning-button label="Request Photos Update" onclick={onRequestPhotos}></lightning-button></div>
                <div class="slds-align_absolute-center slds-p-around_x-small"><lightning-button label="Request Measurements Update" onclick={onRequestMesurements}></lightning-button></div>
                <div class="slds-align_absolute-center slds-p-around_x-small"><lightning-button label="Request Measurements &amp; Photos Update" onclick={onRequestMesurementsAndPhotos}></lightning-button></div>
                <div class="slds-align_absolute-center slds-p-around_x-small"><lightning-button label="Request Files Update" onclick={onRequestFiles}></lightning-button></div>
            </template>
        </div>
    </lightning-card>
</template>