<template>

    <template if:false={_isRadioType}>
        <div class="slds-form-element">
            <!-- variant === "standard" -->
            <template if:true={_isStandardVariant}>
                <label class="slds-form-element__label" for="text-input-id-1">
                    <template if:true={required}>
                        <abbr class="slds-required" title="required">* </abbr>
                    </template>
                    {label}
                </label>
                <div class="slds-form-element__control">
                    <input style="color: black;" type={type} placeholder={placeholder} value={value} required={required} class="slds-input" />
                </div>
            </template>
            <!-- variant === "label-hidden" -->
            <template if:true={_isLabelHiddenVariant}>
                <div class="slds-form-element__control">
                    <input style="color: black;" type={type} placeholder={placeholder} value={value} required={required} class={_inputClass} onchange={onValueChange} />
                </div>
            </template>
            <!-- variant === "label-inline" -->
            <template if:true={_isLabelInlineVariant}>
                <div class="slds-form-element_horizontal slds-form-element">
                    <label class="slds-form-element__label slds-no-flex" for="text-input-id-1">
                        <template if:true={required}>
                            <abbr class="slds-required" title="required">* </abbr>
                        </template>
                        {label}
                    </label>
                    <div class="slds-form-element__control slds-grow">
                        <input style="color: black;" type={type} placeholder={placeholder} value={value} required={required} class={_inputClass} onchange={onValueChange} />
                    </div>
                </div>
            </template>
        </div>
    </template>

    <template if:true={_isRadioType}>
        <!-- variant === "standard" -->
        <template if:true={_isStandardVariant}>
            <fieldset class="slds-form-element">
                <div class="slds-form-element__control">
                    <span class="slds-radio">
                        <input type="radio" id={value} value={value} checked={checked} />
                        <label class="slds-radio__label" for={value}>
                            <span class="slds-radio_faux"></span>
                            <span class="slds-form-element__label">{label}</span>
                        </label>
                    </span>
                </div>
            </fieldset>
        </template>
        <!-- variant === "label-hidden" -->
        <template if:true={_isLabelHiddenVariant}>
            <fieldset class="slds-form-element">
                <div class="slds-form-element__control">
                    <span class="slds-radio">
                        <input type="radio" id={value} value={value} checked={checked} onchange={onValueChange} />
                        <label class="slds-radio__label" for={value}>
                            <span class="slds-radio_faux"></span>
                        </label>
                    </span>
                </div>
            </fieldset>
        </template>
        
    </template>

</template>