<template>
    <div class="slds-grid">
        <div class="slds-col slds-size_2-of-6">
            <template if:true={canChangePlanName}>
                <label for="new-plan-name" class="slds-form-element__label slds-no-flex">New Plan Name</label>
                <div class="slds-form-element__control">
                    <input class="slds-input newPlanName" id="-plan-name" value={newPlanName} type="text" onchange={onChangePlanName} />
                    <template if:true={displayNameRequiredError}>
                        <span style="color: #cc0000;">* Enter a name for the plan</span>
                    </template>
                    <template if:true={nameExists}>
                        <span style="color: #cc0000;">* A plan with this name already exists</span>
                    </template>
                </div>
            </template>
            <b>Template Search</b>
            <br />
                <table>
                    <tbody>
                        <tr>
                            <td style="vertical-align: bottom">
                                <label for="template-search" class="slds-form-element__label slds-no-flex">Name Search</label>
                                <div class="slds-form-element__control slds-grow">
                                    <input class="slds-input" id="template-search" type="text" onkeyup={onSearchByNameChangeInput} />
                                </div>
                            </td>
                            <td style="vertical-align: bottom">
                                <label for="template-search" class="slds-form-element__label slds-no-flex">Calories Search (+/-5%)</label>
                                <div class="slds-form-element__control slds-grow">
                                    <input class="slds-input" id="calorie-search" type="number" onkeyup={onSearchByCaloriesChangeInput} />
                                </div>
                            </td>
                            <td style="vertical-align: bottom">
                                <label for="template-search" class="slds-form-element__label slds-no-flex">AM/PM Search</label>
                                <div class="slds-form-element__control slds-grow">
                                    <lightning-combobox variant="label-hidden" label="Status" value={_trainingValue} options={_trainingOptions} onchange={onTrainingValueChange}></lightning-combobox>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <label for="template-selection" class="slds-form-element__label slds-no-flex">Template Plans</label>
                                
                                <div class="slds-scrollable_y" style="height:20rem;">
                                    <table>
                                        <tbody>
                                            <template for:each={filteredTemplates} for:item="template">
                                                <tr key={template.id}>
                                                    <td><lightning-input type="checkbox" checked={template.states.isSelected} variant="label-hidden" onchange={onSelectTemplateV2} data-template-id={template.id}></lightning-input></td>
                                                    <td>{template.name}</td>
                                                </tr>
                                            </template>
                                        </tbody>
                                    </table>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
        </div>
        <div class="slds-col slds-size_4-of-6">
            <table style="width: auto;" class="container">
                <tbody>
                    <tr>
                        <td style="padding-left: 20px; vertical-align: top; width: 100%;">
                            <template if:true={showSelectedTemplate}>
                                <b>Template Preview</b>
                                <br /><br />
                                <div class="table-wrapper">
                                    <table class="slds-table slds-table_cell-buffer slds-table_bordered  slds-table_col-bordered fixed_header">
                                        <thead>
                                            <tr class="index-row slds-line-height_reset">
                                                <th colspan="3" scope="col">&nbsp;</th>
                                                <th class="protein__column" scope="col">Protein</th>
                                                <th class="carbs__column" scope="col">Carbs</th>
                                                <th class="fat__column" scope="col">Fat</th>
                                                <th class="calories__column" scope="col">Calories</th>
                                            </tr>
                                            <tr class="totals-row slds-line-height_reset">
                                                <td colspan="3" class="totals__column">Totals</td>
                                                <td class="protein__column"><c-format-number digits="0" value={_displayedTemplate.protein}></c-format-number></td>
                                                <td class="carbs__column"><c-format-number digits="0" value={_displayedTemplate.carbs}></c-format-number></td>
                                                <td class="fat__column"><c-format-number digits="0" value={_displayedTemplate.fat}></c-format-number></td>
                                                <template if:true={_displayedTemplate.states.caloriesOver10000}>
                                                    <td class="calories__column calories-over-limit">
                                                        <lightning-formatted-number value={_displayedTemplate.calories} minimum-fraction-digits="0" maximum-fraction-digits="0"></lightning-formatted-number>
                                                    </td>
                                                </template>
                                                <template if:false={_displayedTemplate.states.caloriesOver10000}>
                                                    <td class="calories__column">
                                                        <lightning-formatted-number value={_displayedTemplate.calories} minimum-fraction-digits="0" maximum-fraction-digits="0"></lightning-formatted-number>
                                                    </td>
                                                </template>
                                            </tr>
                                            <tr class="key-row slds-line-height_reset">
                                                <th class="name__column">Item</th>
                                                <th class="quantity__column">Quantity</th>
                                                <th class="measure__column">Measure</th>
                                                <th class="protein__column">Protein</th>
                                                <th class="carbs__column">Carbs</th>
                                                <th class="fat__column">Fat</th>
                                                <th class="calories__column">Calories</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <template for:each={_displayedTemplate.blocks} for:item="block">
                                                <tr class="block-header-row slds-hint-parent" key={block.id}>
                                                    <td class="name__column" colspan="3">{block.name}</td>
                                                    <td class="protein__column">{block.protein}</td>
                                                    <td class="carbs__column">{block.carbs}</td>
                                                    <td class="fat__column">{block.fat}</td>
                                                    <td class="calories__column">
                                                            <lightning-formatted-number value={block.calories} minimum-fraction-digits="0" maximum-fraction-digits="0"></lightning-formatted-number>
                                                    </td>
                                                </tr>
                                                <template for:each={block.items} for:item="item">
                                                    <tr class="item-row slds-hint-parent" key={item.id}>
                                                        <td class="name__column">{item.name}</td>
                                                        <td class="quantity__column">{item.quantity}</td>
                                                        <td class="measure__column">{item.measure}</td>
                                                        <td class="protein__column">{item.protein}</td>
                                                        <td class="carbs__column">{item.carbs}</td>
                                                        <td class="fat__column">{item.fat}</td>
                                                        <td class="calories__column">
                                                            <lightning-formatted-number value={item.calories} minimum-fraction-digits="0" maximum-fraction-digits="0"></lightning-formatted-number>
                                                        </td>
                                                    </tr>
                                                </template>
                                            </template>
                                        </tbody>
                                    </table>
                                </div>
                            </template>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>