/*style*/
tr.block-header-row td {
    background-color: #254c8c !important;
    color: white !important;
    font-weight: 900;
}

.quantity__column, .measure__column, .protein__column, .carbs__column, .fat__column, .calories__column {
    text-align: center;
}

.protein__column, .carbs__column, .fat__column, .calories__column {
    width: 5rem;
}

.table-wrapper{
  overflow-y: scroll;
  height: 400px;
}

.table-wrapper tr.index-row th {
    position:       sticky;
    top:            0;
    z-index:        100;
    line-height:    20px;
}

.table-wrapper tr.totals-row td {
    position:       sticky;
    top:            28px;
    z-index:        100;
    background-color: white;
}

.table-wrapper tr.key-row th {
    position:       sticky;
    top:            48px;
    z-index:        100;
}

tr.index-row th:last-child,
tr.totals-row td:last-child,
tr.key-row th:last-child, 
tr.block-header-row td:last-child,
tr.item-row td:last-child {
    padding-right: 0.4rem;
}

.calories-over-limit {
    font-weight: 900;
    background-color: #ffc6c6 !important;
}

.quantity__column, .measure__column {
    width: 80px;
}

.name__column {
    width: 300px;
}