<template>
    <div class="feedback">
        <lightning-record-edit-form data-id="feedback" record-id={recordId} object-api-name="Survey__c" onsuccess={onSuccess} onerror={onError}>
            <lightning-messages></lightning-messages>
            <lightning-input-field data-id          ="feedback-general" 
                                    field-name       ="General_Feedback_from_Check_In__c"
                                    class            ="survey-input-field" 
                                    placeholder-text ="Enter any other comments..."></lightning-input-field>
            <lightning-input-field data-id          ="feedback-nutrition" 
                                    field-name       ="Client_Nutrition_Feedback__c"
                                    placeholder-text ="Enter any other comments..."></lightning-input-field>
            <lightning-input-field data-id          ="feedback-training" 
                                    field-name       ="Client_Training_Feedback__c"
                                    placeholder-text ="Enter any other comments..."></lightning-input-field>

            
            <lightning-input-field field-name = "Your_current_goals__c"></lightning-input-field>

        </lightning-record-edit-form>
    </div>
</template>