table.plan {
    width: inherit;

    border-left: var(--lwc-borderWidthThin,1px) solid var(--lwc-colorBorder,rgb(221, 219, 218));
    border-right: var(--lwc-borderWidthThin,1px) solid var(--lwc-colorBorder,rgb(221, 219, 218));
}

div.mobile-container table.plan {
    width: 100%;
}

div.mobile-container tr.even-row td.name {
    padding-left: 4px;
    word-break: normal;
}

div.mobile-container tr.odd-row td.name {
    padding-left: 4px;
    word-break: normal;
}

div.mobile-container tr.even-row td.info {
    font-size: 0.9em;
    border-bottom-width: 2px;
}

div.mobile-content table td {
    font-size: 0.95em;
}

table.plan-header td {
    font-size: 0.95em;
}

tr.totals th {
    border-bottom: var(--lwc-borderWidthThin,1px) solid var(--lwc-colorBorder,rgb(221, 219, 218));
    vertical-align: top;
}

tr.totals td {
    border-bottom: var(--lwc-borderWidthThin,1px) solid var(--lwc-colorBorder,rgb(221, 219, 218));
}

tr.totals td.zero {
    color: black;
}

tr.totals td.increase {
    color: orangered;
}

tr.totals td.decrease {
    color: teal;
}

tr.block td {
    background: #254c8c;
    color: white;
}

tr.block td.name {
    font-weight: bold;
    border-right: none;
    padding-left: 0.5rem;
}

tr.block td.action {
    text-align: right;
    border-left: none;
}

tr.item td.divisible {
    /*font-style: italic;*/
}

.quantity label {
    display: none !important;
}

input.quantity {
    width: 60px;
}

.linear {
    display: inline;
}

td.quantity {
    text-align: center;
}

td.carbs {
    width: 80px;
    text-align: center;
}

td.fat {
    width: 80px;
    text-align: center;
}

td.protein {
    width: 80px;
    text-align: center;
}

td.calories {
    width: 80px;
    text-align: center;
    padding: 0.25rem !important;
}

th {
    background-color: #37474F;
    color: white;
}

th.quantity {
    text-align: center;
}

th.carbs {
    width: 80px;
    text-align: center;
}

th.fat {
    width: 80px;
    text-align: center;
}

th.protein {
    width: 80px;
    text-align: center;
}

th.calories {
    width: 80px;
    text-align: center;
    padding: 0.25rem !important;
}

tr.added td {
    background: #DCEDC8;
}

tr.removed td {
    text-decoration: line-through;
    color: #B71C1C;
}

tr.changed td {
    font-style: italic;
    color: #2962FF;
}

tr.changed td.quantity {
    color: #2962FF;
    font-weight: bold;
    font-style: italic;
}

table.customItem td {
    padding: 4px;
}

.header-measurements {
    top: 0;
    background-color: white;
    z-index: 100;
}


tr.block td {
    background-color: #254c8c !important;
    color: white !important;
}

.zero-column {
    width: 70px !important;
}

.first-column {
    width: 320px !important;
    padding: 0.25rem !important;
}
.second-column, .third-column, .forth-column, .fifth-column, .sixth-column, .seventh-column {
    width: 80px !important;
    text-align: center !important;
    padding: 0.25rem !important;
}

.eighth-column {
    width: 111.25px;
}



/*Makes an element sticky*/
.sticky-element {
  position: -webkit-sticky;
  position: sticky;
}

/*Mobile CSS*/
.mobile-container .quantity,
.mobile-container .measure,
.mobile-container .protein,
.mobile-container .carbs,
.mobile-container .fat,
.mobile-container .calories {
    width:      16.66%;
    text-align: center;
    padding:    0.5rem;
    font-size:  18px;
    background-color: white;
}

.mobile-container.header-measurements .quantity,
.mobile-container.header-measurements .measure,
.mobile-container.header-measurements .protein,
.mobile-container.header-measurements .carbs,
.mobile-container.header-measurements .fat,
.mobile-container.header-measurements .calories {
    background-color: #c5e3fd;
}

.mobile-container .name {
    font-size: 20px;
}


.mobile-container .even-row > td {
    background-color: white;
}

.mobile-container .odd-row > td {
    background-color: lightgray;
}

.fixed_header {
    width: 1000px !important;
}

.fixed_header tbody, .fixed_header thead tr { 
    display: block; 

}

.fixed_header tbody {
    height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
}

/*
.fixed_header {
    table-layout: fixed;
    border-collapse: collapse;
}

.fixed_header tbody{
  display:block;
  width: 100%;
  overflow: auto;
  height: 100px;
}

.fixed_header thead tr {
   display: block;
}
    */