<!--
  @description       : 
  @author            : ChangeMeIn@UserSettingsUnder.SFDoc
  @group             : 
  @last modified on  : 12-16-2020
  @last modified by  : ChangeMeIn@UserSettingsUnder.SFDoc
  Modifications Log 
  Ver   Date         Author                               Modification
  1.0   12-15-2020   ChangeMeIn@UserSettingsUnder.SFDoc   Initial Version
-->
<template>

    <template if:true={_movingBlocksOrItems}>
        <lightning-spinner alternative-text="Loading" size="large"></lightning-spinner>
    </template>

    <table class="plan slds-table slds-table_cell-buffer slds-table_bordered  slds-table_col-bordered fixed_header">
        <thead>
            <tr class="heading totals slds-line-height_reset">
                <th colspan={labelColumns} scope="col" style={labelWidth}>
                    &nbsp;
                </th>
                <th class="protein" scope="col">
                    Protein
                </th>
                <th class="carbs" scope="col">
                    Carbs
                </th>
                <th class="fat" scope="col">
                    Fat
                </th>
                <th class="calories" scope="col">
                    Calories
                </th>
                <template if:true={edit}>
                    <th class="eighth-column">&nbsp;</th>
                </template>
            </tr>
            <tr class="totals slds-line-height_reset">
                <td colspan={labelColumns} style={labelWidth}>
                    <template if:true={totalsChanged}>
                        <template if:true={daily}>
                            Reference
                        </template>
                        <template if:false={daily}>
                            Previous Total
                        </template>
                    </template>
                    <template if:false={totalsChanged}>
                        Totals
                    </template>
                </td>
                <td class="protein">
                    <c-format-number digits="0" value={referenceTotals.protein}></c-format-number>
                </td>
                <td class="carbs">
                    <c-format-number digits="0" value={referenceTotals.carbs}></c-format-number>
                </td>
                <td class="fat">
                    <c-format-number digits="0" value={referenceTotals.fat}></c-format-number>
                </td>
                <td class="calories">
                    <c-format-number digits="0" value={referenceTotals.calories}></c-format-number>
                </td>
                <template if:true={edit}>
                    <td class="eighth-column">&nbsp;</td>
                </template>
            </tr>
            <template if:true={showTotals}>
                <template if:true={totalsChanged}>
                    <tr class="totals slds-line-height_reset">
                        <td colspan={labelColumns} style={labelWidth}>
                            <template if:true={daily}>
                                Actual
                            </template>
                            <template if:false={daily}>
                                Totals
                            </template>
                        </td>
                        <td class="protein"><c-format-number digits="0" value={currentTotals.protein}></c-format-number></td>
                        <td class="carbs"><c-format-number digits="0" value={currentTotals.carbs}></c-format-number></td>
                        <td class="fat"><c-format-number digits="0" value={currentTotals.fat}></c-format-number></td>
                        <td class="calories"><c-format-number digits="0" value={currentTotals.calories}></c-format-number></td>
                        <template if:true={edit}>
                            <td class="eighth-column">&nbsp;</td>
                        </template>
                    </tr>
                    <tr class="totals slds-line-height_reset">
                        <td colspan={labelColumns} style={labelWidth}>
                            Change
                        </td>
                        <td class={differenceClass.protein}>
                            <!--lightning-formatted-number  format-style="decimal" minimum-fraction-digits="0" maximum-fraction-digits="0"  value={differenceValue.protein}></lightning-formatted-number-->
                            {differenceValue.protein}
                            <br/>
                            (<lightning-formatted-number  value={differencePercent.protein}  format-style="percent"></lightning-formatted-number>)
                        </td>
                        <td class={differenceClass.carbs}>
                            <!--lightning-formatted-number  format-style="decimal" minimum-fraction-digits="0" maximum-fraction-digits="0"  value={differenceValue.carbs}></lightning-formatted-number-->
                            {differenceValue.carbs}
                            <br/>
                            (<lightning-formatted-number  value={differencePercent.carbs}  format-style="percent"></lightning-formatted-number>)
                        </td>
                        <td class={differenceClass.fat}>
                            <!--lightning-formatted-number  format-style="decimal" minimum-fraction-digits="0" maximum-fraction-digits="0"  value={differenceValue.fat}></lightning-formatted-number-->
                            {differenceValue.fat}
                            <br/>
                            (<lightning-formatted-number  value={differencePercent.fat}  format-style="percent"></lightning-formatted-number>)
                        </td>
                        <td class={differenceClass.calories}>
                            <!--lightning-formatted-number  format-style="decimal" minimum-fraction-digits="0" maximum-fraction-digits="0"  value={differenceValue.calories}></lightning-formatted-number-->
                            {differenceValue.calories}
                            <br/>
                            (<lightning-formatted-number  value={differencePercent.calories}  format-style="percent"></lightning-formatted-number>)
                        </td>
                        <template if:true={edit}>
                            <td class="eighth-column">&nbsp;</td>
                        </template>
                    </tr>
                </template>
            </template>
            <tr class="slds-line-height_reset">
                <td colspan={itemColumns}>
                    <template if:true={edit}>
                        <br/>
                        <lightning-button label="Add Block"  icon-name="utility:add" onclick={addBlock}></lightning-button>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <lightning-button label="Dial Up/Down"  icon-name="utility:change_record_type" onclick={adjustPlan}></lightning-button>
                    </template>
                </td>
            </tr>
            <tr class="slds-line-height_reset">
                <template if:true={edit}>
                    <th scope="col" class="zero-column">
                        &nbsp;
                    </th>
                </template>
                <th scope="col" class="first-column">
                    Item
                </th>
                <th scope="col" class="second-column">
                    Quantity
                </th>
                <th scope="col" class="third-column">
                    Measure
                </th>
                <th class="protein forth-column" scope="col">
                    Protein
                </th>
                <th class="carbs fifth-column" scope="col">
                    Carbs
                </th>
                <th class="fat sixth-column" scope="col">
                    Fat
                </th>
                <th class="calories seventh-column" scope="col">
                    Calories
                </th>
                <template if:true={edit}>
                    <th class="eighth-column">&nbsp;</th>
                </template>
            </tr>
        </thead>
        <tbody class="slds-scrollable_y">
            <template for:each={blocks} for:item="block">
                <tr class="block slds-hint-parent" key={block.id}>
                    <template if:true={edit}>
                        <td>
                            <lightning-button-icon  variant="border-filled"  icon-name="utility:delete" name={block.index}  onclick={deleteBlock}></lightning-button-icon>
                        </td>
                    </template>
                    <td class="name" data-label={block.name}>
                        <span style="width: 10rem; display: inline-block;">{block.name}</span>
                    </td>
                    <td class="action"  colspan="6" data-label={block.name}>
                        <template if:true={edit}>
                            <lightning-button disabled={block.completed} label="Add Item"  variant="border-filled" icon-name="utility:add" name={block.index}  onclick={addBlockItem}></lightning-button>
                        </template>
                        <template if:true={edit}>
                            &nbsp;&nbsp;
                            <lightning-button disabled={block.completed} variant="border-filled"  label="Rename" icon-name="utility:edit" name={block.index}  onclick={renameBlock}></lightning-button>
                        </template>
                    </td>
                    <template if:true={edit} data-label={block.name}>
                        <td class="action">
                            &nbsp;&nbsp;&nbsp;
                            <lightning-button-icon  variant="border-filled"  icon-name="utility:arrowup" name={block.index}  onclick={moveBlockUp}></lightning-button-icon>
                            <lightning-button-icon  variant="border-filled"  icon-name="utility:arrowdown" name={block.index}  onclick={moveBlockDown}></lightning-button-icon>
                        </td>
                    </template>
                </tr>
                <template for:each={block.items} for:item="item">
                    <tr class={item.rowClasses} key={item.id}>
                        <template if:true={edit}>
                            <td class="zero-column">
                                <lightning-button-icon  disabled={block.completed} variant="border-filled"  icon-name="utility:delete" name={item.key}  onclick={deleteItem}></lightning-button-icon>
                            </td>
                        </template>
                        <td class="name first-column" data-label={item.name}>
                            {item.name}
                        </td>
                        <td class="quantity second-column" data-label={item.quantity}>
                            <template if:true={edit}>
                                <c-quantity-input measurement={item.measure} disabled={block.completed} value={item.quantity} name={item.key} onkeyupupdate={changeQuantityV2}></c-quantity-input>
                            </template>
                            <template if:true={view}> 
                                <c-measurement-number value={item.quantity} type={item.measure}></c-measurement-number>                                       
                            </template>
                            <template if:true={daily}>
                                <c-measurement-number value={item.quantity} type={item.measure}></c-measurement-number>             
                            </template>
                        </td>
                        <template if:true={item.divisible}>
                            <td class="measure divisible third-column"  data-label={item.measure}>
                                {item.measure}
                            </td>
                        </template>
                        <template if:false={item.divisible}>
                            <td class="measure third-column" data-label={item.measure}>
                                {item.measure}
                            </td>
                        </template>
                        <template if:true={daily}>
                            <td class="protein forth-column" data-label={item.protein}><c-format-number value={item.protein} digits="1"></c-format-number></td>
                            <td class="carbs fifth-column" data-label={item.carbs}><c-format-number value={item.carbs} digits="1"></c-format-number></td>
                            <td class="fat sixth-column" data-label={item.fat}><c-format-number value={item.fat} digits="1"></c-format-number></td>
                            <td class="calories seventh-column" data-label={item.calories}><c-format-number value={item.calories} digits="0"></c-format-number></td>
                        </template>
                        <template if:true={view}>
                            <td class="protein forth-column" data-label={item.protein}><c-format-number value={item.protein} digits="2"></c-format-number></td>
                            <td class="carbs fifth-column" data-label={item.carbs}><c-format-number value={item.carbs} digits="2"></c-format-number></td>
                            <td class="fat sixth-column" data-label={item.fat}><c-format-number value={item.fat} digits="2"></c-format-number></td>
                            <td class="calories seventh-column" data-label={item.calories}><c-format-number value={item.calories} digits="0"></c-format-number></td>
                        </template>
                        <template if:true={edit}>
                            <td class="protein forth-column" data-label={item.protein}><c-format-number value={item.protein} digits="2"></c-format-number></td>
                            <td class="carbs fifth-column" data-label={item.carbs}><c-format-number value={item.carbs} digits="2"></c-format-number></td>
                            <td class="fat sixth-column" data-label={item.fat}><c-format-number value={item.fat} digits="2"></c-format-number></td>
                            <td class="calories seventh-column" data-label={item.calories}><c-format-number value={item.calories} digits="0"></c-format-number></td>
                        </template>
                        <template if:true={edit}>
                            <td class="eighth-column">
                                <lightning-button-icon  disabled={block.completed}  variant="border-filled" icon-name="utility:arrowup" name={item.key}  onclick={moveItemUp}></lightning-button-icon>
                                <lightning-button-icon  disabled={block.completed}  variant="border-filled" icon-name="utility:arrowdown" name={item.key}  onclick={moveItemDown}></lightning-button-icon>
                            </td>
                        </template>
                    </tr>
                </template>
            </template>
        </tbody>
    </table>
    

    <template if:true={addingItem}>
        <section style="min-width: 80%;" role="dialog" tabindex="-1" class="slds-modal slds-fade-in-open" aria-labelledby="modal-heading-02" aria-modal="true" aria-describedby="modal-content-id-1">
            <div class="slds-modal__container">
              <header class="slds-modal__header">
                <h2 id="modal-heading-02" class="slds-modal__title slds-hyphenate">
                    Add Item
                </h2>
              </header>

              <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-2">

                <lightning-tabset>
                    <lightning-tab label="Standard Item" value="standard-item" onactive={onSelectItemTab}>
                        <label for="client-filters" class="slds-form-element__label slds-no-flex">Allergies/Intolerences</label>
                        <div class="slds-form-element__control slds-grow">
                            <table style="width: inherit">
                                <tbody>
                                    <tr>
                                        <template for:each={allergies} for:item="item">
                                            <td key={item.id}>
                                                <lightning-input class="linear" name={item.name} label={item.name} type="checkbox" checked={item.checked} onchange={selectAllergies}></lightning-input>
                                            </td>
                                        </template>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
    
                        <br/>
    
                        <label for="client-filters" class="slds-form-element__label slds-no-flex">Dietary Restrictions</label>
                        <div class="slds-form-element__control slds-grow">
                            <table style="width: inherit">
                                <tbody>
                                    <tr>
                                        <template for:each={restrictions} for:item="item">
                                            <td key={item.id}>
                                                <lightning-input class="linear" name={item.name} label={item.name} type="checkbox" checked={item.checked} onchange={selectRestrictions}></lightning-input>
                                            </td>
                                        </template>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
    
    
                        <br/>
    
                        <label for="item-search" class="slds-form-element__label slds-no-flex">Search Items</label>
                        <div class="slds-form-element__control slds-grow">
                            <input class="slds-input" id="item-search" type="text" onkeyup={setSearchName} value={searchName}/>
                        </div>
    
                        <br/>
    
                        <table class="plan slds-table slds-table_cell-buffer slds-table_bordered slds-table_col-bordered">
                            <thead>
                                <tr class="slds-line-height_reset">
                                    <th scope="col">
                                        &nbsp;
                                    </th>
                                    <th scope="col">
                                        Item
                                    </th>
                                    <th class="quantity" scope="col">
                                        Quantity
                                    </th>
                                    <th scope="col">
                                        Measure
                                    </th>
                                    <th class="protein" scope="col">
                                        Protein
                                    </th>
                                    <th class="carbs" scope="col">
                                        Carbs
                                    </th>
                                    <th class="fat" scope="col">
                                        Fat
                                    </th>
                                    <th class="calories" scope="col">
                                        Calories
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <template for:each={filteredItems} for:item="item">
                                    <tr key={item.id}>
                                        <td class="item">
                                            <lightning-input name={item.id} type="checkbox" onchange={selectAddItem}></lightning-input>
                                        </td>
                                        <td class="item">{item.name}</td>
                                        <td class="quantity">
                                            <c-measurement-number value={item.quantity} type={item.measure}></c-measurement-number>    
                                        </td>
                                        <td class="measure">{item.measure}</td>
                                        
                                        <template if:true={daily}>
                                            <td class="protein"><c-format-number value={item.protein} digits="1"></c-format-number></td>
                                            <td class="carbs"><c-format-number value={item.carbs} digits="1"></c-format-number></td>
                                            <td class="fat"><c-format-number value={item.fat} digits="1"></c-format-number></td>
                                            <td class="calories"><c-format-number value={item.calories} digits="0"></c-format-number></td>
                                        </template>
                                        <template if:true={view}>
                                            <td class="protein"><c-format-number value={item.protein} digits="2"></c-format-number></td>
                                            <td class="carbs"><c-format-number value={item.carbs} digits="2"></c-format-number></td>
                                            <td class="fat"><c-format-number value={item.fat} digits="2"></c-format-number></td>
                                            <td class="calories"><c-format-number value={item.calories} digits="0"></c-format-number></td>
                                        </template>
                                        <template if:true={edit}>
                                            <td class="protein"><c-format-number value={item.protein} digits="2"></c-format-number></td>
                                            <td class="carbs"><c-format-number value={item.carbs} digits="2"></c-format-number></td>
                                            <td class="fat"><c-format-number value={item.fat} digits="2"></c-format-number></td>
                                            <td class="calories"><c-format-number value={item.calories} digits="0"></c-format-number></td>
                                        </template>
                                    </tr>
                                </template>
                            </tbody>
                        </table>
                    </lightning-tab>
                    <!--Add A Custom Item-->
                    <lightning-tab label="Custom Item" value="custom-item" onactive={onSelectItemTab}>
                        <c-planner-x-add-custom-item class="custom-item-form"></c-planner-x-add-custom-item>
                    </lightning-tab>
                    
                </lightning-tabset>
              </div>
              <footer class="slds-modal__footer">
                  <lightning-button label="Cancel" onclick={cancelAddItem}></lightning-button>
                  &nbsp;&nbsp;&nbsp;
                  <lightning-button label="Add" variant="brand" onclick={onAddItemToBlock}></lightning-button>
              </footer>
            </div>
          </section>
          <div class="slds-backdrop slds-backdrop_open"></div>
    </template>
    
    <template if:true={renamingBlock}>
        <section style="" role="dialog" tabindex="-1" class="slds-modal slds-fade-in-open slds-modal_large" aria-labelledby="modal-heading-02" aria-modal="true" aria-describedby="modal-content-id-1">
            <div class="slds-modal__container">
              <header class="slds-modal__header">
                <h2 id="modal-heading-rename" class="slds-modal__title slds-hyphenate">Rename Block</h2>
              </header>
              <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-rename">
                    <lightning-input label="Block Name" value={newName} onchange={setBlockName}></lightning-input>
              </div>
              <footer class="slds-modal__footer">
                  <lightning-button label="Save" variant="brand" onclick={saveBlockName}></lightning-button>
              </footer>
            </div>
          </section>
          <div class="slds-backdrop slds-backdrop_open"></div>
    </template>

    <template if:true={addingBlock}>
        <section style="" role="dialog" tabindex="-1" class="slds-modal slds-fade-in-open slds-modal_large" aria-labelledby="modal-heading-02" aria-modal="true" aria-describedby="modal-content-id-1">
            <div class="slds-modal__container">
                <header class="slds-modal__header">
                    <h2 id="modal-heading-addBlock" class="slds-modal__title slds-hyphenate">Add Block</h2>
                </header>
                <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-addBlock">
                    <div class="slds-form-element__control slds-grow">
                        <lightning-input label="Block Name" value={newName} onchange={setBlockName}></lightning-input>
                    </div>
                    <br />
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="slds-form-element__control slds-grow">
                                        <select id="block-selection" size="10" onchange={selectTemplateBlock}>
                                            <option value="" selected><i>- Blank Block -</i></option>
                                            <template for:each={addBlock_filteredBlocks} for:item="block">
                                                <option key={block.id} value={block.id}>{block.name}</option>
                                            </template>
                                        </select>
                                    </div>
                                </td>
                                <td>
                                    &nbsp;
                                </td>
                                <td style="vertical-align: top; text-align: left;">
                                    <template if:true={templateBlockSelected}>
                                        <table class="plan slds-table slds-table_cell-buffer slds-table_bordered slds-table_col-bordered">
                                            <thead>
                                                <tr class="slds-line-height_reset">
                                                    <th colspan="3" scope="col">
                                                        &nbsp;
                                                    </th>
                                                    <th class="protein" scope="col">
                                                        Protein
                                                    </th>
                                                    <th class="carbs" scope="col">
                                                        Carbs
                                                    </th>
                                                    <th class="fat" scope="col">
                                                        Fat
                                                    </th>
                                                    <th class="calories" scope="col">
                                                        Calories
                                                    </th>
                                                </tr>
                                                <tr class="totals slds-line-height_reset">
                                                    <td colspan="3">
                                                        Totals
                                                    </td>
                                                    <td class="protein">
                                                        <c-format-number digits="0" value={templateBlockTotals.protein}></c-format-number>
                                                    </td>
                                                    <td class="carbs">
                                                        <c-format-number digits="0" value={templateBlockTotals.carbs}></c-format-number>
                                                    </td>
                                                    <td class="fat">
                                                        <c-format-number digits="0" value={templateBlockTotals.fat}></c-format-number>
                                                    </td>
                                                    <td class="calories">
                                                        <c-format-number digits="0" value={templateBlockTotals.calories}></c-format-number>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>&nbsp;</td>
                                                </tr>
                                                <tr class="slds-line-height_reset">
                                                    <th scope="col">
                                                        Item
                                                    </th>
                                                    <th scope="col">
                                                        Quantity
                                                    </th>
                                                    <th scope="col">
                                                        Measure
                                                    </th>
                                                    <th class="protein" scope="col">
                                                        Protein
                                                    </th>
                                                    <th class="carbs" scope="col">
                                                        Carbs
                                                    </th>
                                                    <th class="fat" scope="col">
                                                        Fat
                                                    </th>
                                                    <th class="calories" scope="col">
                                                        Calories
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <template for:each={templateBlockItems} for:item="item">
                                                    <tr key={item.id}>
                                                        <td class="item">{item.name}</td>
                                                        <td class="quantity">
                                                            <c-measurement-number value={item.quantity} type={item.measure}></c-measurement-number>
                                                        </td>
                                                        <td class="measure">{item.measure}</td>
                                                        <template if:true={daily}>
                                                            <td class="protein"><c-format-number value={item.protein} digits="1"></c-format-number></td>
                                                            <td class="carbs"><c-format-number value={item.carbs} digits="1"></c-format-number></td>
                                                            <td class="fat"><c-format-number value={item.fat} digits="1"></c-format-number></td>
                                                            <td class="calories"><c-format-number value={item.calories} digits="0"></c-format-number></td>
                                                        </template>
                                                        <template if:true={view}>
                                                            <td class="protein"><c-format-number value={item.protein} digits="2"></c-format-number></td>
                                                            <td class="carbs"><c-format-number value={item.carbs} digits="2"></c-format-number></td>
                                                            <td class="fat"><c-format-number value={item.fat} digits="2"></c-format-number></td>
                                                            <td class="calories"><c-format-number value={item.calories} digits="0"></c-format-number></td>
                                                        </template>
                                                        <template if:true={edit}>
                                                            <td class="protein"><c-format-number value={item.protein} digits="2"></c-format-number></td>
                                                            <td class="carbs"><c-format-number value={item.carbs} digits="2"></c-format-number></td>
                                                            <td class="fat"><c-format-number value={item.fat} digits="2"></c-format-number></td>
                                                            <td class="calories"><c-format-number value={item.calories} digits="0"></c-format-number></td>
                                                        </template>
                                                    </tr>
                                                </template>
                                            </tbody>
                                        </table>
                                    </template>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <footer class="slds-modal__footer">
                    <lightning-button label="Cancel" variant="neutral" onclick={cancelAddBlock}></lightning-button>
                    <lightning-button label="Save" variant="brand" onclick={saveAddBlock}></lightning-button>
                </footer>
            </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </template>

    <template if:true={adjusting}>
        <section role="dialog" tabindex="-1" class="slds-modal slds-fade-in-open slds-modal_small" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1">
            <div class="slds-modal__container">
                <header class="slds-modal__header">
                    <h2 id="modal-heading-01" class="slds-modal__title slds-hyphenate">Dial Plan Up/Down</h2>
                </header>
                <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
                    <label for="client-filters" class="slds-form-element__label slds-no-flex">Adjustment</label>
                    <div class="slds-form-element__control slds-grow">
                        <table style="width: inherit">
                            <tbody>
                                <tr>
                                    <td>
                                        <lightning-radio-group label="" type="button" options={adjustProperties} value={adjustProperty} onchange={selectAdjustProperty}></lightning-radio-group>
                                    </td>
                                    <td>
                                        &nbsp;&nbsp;
                                    </td>
                                    <td>
                                        <lightning-radio-group label="" type="button" options={adjustTypes} value={adjustType} onchange={selectAdjustType}></lightning-radio-group>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        &nbsp;
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <lightning-input type="number" value={adjustValue} variant="label-hidden" onchange={setAdjustValue}></lightning-input>
                                    </td>
                                    <td>

                                    </td>
                                    <td>
                                        <lightning-button label="Calculate" icon-name="utility:change_record_type" onclick={adjustCalculate}></lightning-button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        &nbsp;
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <template if:true={adjustShow}>
                        <c-plan2 mode="view" plan-data={adjustPlanData} existing-totals={adjustReference}></c-plan2>
                    </template>
                </div>
                <footer class="slds-modal__footer">
                    <lightning-button label="Cancel" onclick={cancelAdjust}></lightning-button>
                    <lightning-button label="Save" variant="brand" onclick={saveAdjust}></lightning-button>
                </footer>
            </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </template>

    <template if:true={refreshView}>
        <div style="position: fixed; top: 0; left: 0; bottom: 0; right: 0; z-index: var(--lwc-zIndexModal,9000); background: rgba(255, 255, 255, 0);"></div>
    </template>
</template>