/*style*/
:host {
    
    border-top-width: var(--sds-c-accordion-sizing-border, var(--lwc-borderWidthThin,1px));
    border-top-style: solid;
    border-top-color: var(--sds-c-accordion-color-border, var(--lwc-colorBorder,rgb(68, 61, 61)));
    
    display: list-item;
    text-align: -webkit-match-parent;

}

.is-open-icon, .is-closed-icon {
    padding-right: 0.5rem;
}