<template>
    <section class={sectionClass}>
        <div class="slds-accordion__summary">
            <h2 class="slds-accordion__summary-heading">
                <button class="slds-button slds-button_reset slds-accordion__summary-action" onclick={onAccordionSectionToggle}>

                    <template if:true={isOpen}>
                        <span class="is-open-icon">
                            <lightning-icon size="small" icon-name="utility:chevrondown"></lightning-icon>
                        </span>
                    </template>
                    
                    <template if:false={isOpen}>
                        <span class="is-closed-icon">
                            <lightning-icon size="small" icon-name="utility:chevronright"></lightning-icon>
                        </span>
                    </template>

                    <!--
                    <span class="slds-accordion__summary-action-icon slds-button__icon slds-button__icon_left" style="width: 30px; height: 30px;">
                        <lightning-icon size="small" icon-name="utility:chevrondown"></lightning-icon>
                    </span>
                    -->

                    <span class="slds-accordion__summary-content" style="width: 100%;">
                        <slot name="header">???</slot>
                    </span>
                </button>
            </h2>
        </div>
        <div class="slds-accordion__content">
            <slot></slot>
        </div>
    </section>
</template>