/*style*/
.loading-saving__spinner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.ignore-pointer-events {
    pointer-events: none;
}

.name-target__column {
    width: 130px;
}

.protein-target__column, .carbs-target__column, .fat-target__column, .calories-target__column, 
.protein-plan__column, .carbs-plan__column, .fat-plan__column, .calories-plan__column  {
    width: 75px;
    text-align: center;
}

.name-target__column, .protein-target__column, .carbs-target__column, .fat-target__column, .calories-target__column {
    background-color: #fdf3f2;
}

.calories-target__column {
    border-right: 2px solid black;
}

table th, table td {
    font-size: 16px;
}

.client-plans__header {
    font-size: 16px !important;
    font-weight: 900;
    color: #000;
    background-color: #d3d3d3;
}
.trainer-targets__header {
    font-weight: 900;
    font-size: 16px !important;
    background-color: #ffbaba;
    border-right: 2px solid black;
    color: black;
}

.target-group__row {
    color: #000;
    background-color: #D3D3D3;
    font-weight: 900;
}

table.is-mobile th, table.is-mobile td {
    padding: 0.25rem !important;
}

.is-mobile .top-row td {
    background-color: white;
    font-weight: 900;
    padding-bottom: 2px !important;
}

.is-mobile .bottom-row td {
    background-color: white;
    border-bottom: 1px solid black;
    padding-top: 2px !important;
}

.is-mobile .calories-target__column {
    border-right: none;
}

.is-mobile .name-target__column {
    width: auto;
}

.is-mobile .protein-target__column, .is-mobile .carbs-target__column, .is-mobile .fat-target__column, .is-mobile .calories-target__column, 
.is-mobile .protein-plan__column, .is-mobile .carbs-plan__column, .is-mobile .fat-plan__column, .is-mobile .calories-plan__column  {
    width: 50px;
}

.is-mobile .target-group__row.target-group__bottom-row {
    border-bottom: 1px solid black;
}

.is-mobile .target-key__row {
    border-bottom: 1px solid black;
}

.assign-to-target__row > th {
    background-color: #d3d3d3;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    font-weight: 900;
}

.is-mobile table th, .is-mobile table td {
    padding: 0.1rem !important;
}

.assign-to-target__row > th {
    font-size: 18px;
}


th.button__cell {
    padding: 0.5rem 0 !important;
    width: 80px;
}

th.assign-to-days__header {
    padding: 0.5rem 0 !important;
    text-align: center;
    width: 80px;
}

.assign-to__first-button {
    border-radius: 0.25rem 0 0 0.25rem;
}
.assign-to__middle-button {
    border-radius: 0;
}
.assign-to__last-button {
    border-radius: 0 0.25rem 0.25rem 0;
}

.assign-to__single-button {
    border-radius: 0.25rem;
}



:host {
  --sds-c-button-brand-color-background: #656565;
  --sds-c-button-brand-color-background-hover: #656565;
  --sds-c-button-brand-color-background-active: #656565;
  --sds-c-button-brand-color-border: #656565;
  --sds-c-button-brand-color-border-hover: #656565;
  --sds-c-button-brand-color-border-active: #656565;

  --sds-c-button-brand-text-color: white;
  --sds-c-button-brand-text-color-hover: white;

  --sds-c-button-text-color: black;
}

.this-week__button {
    
  --sds-c-button-brand-color-background: #ffbaba;
  --sds-c-button-brand-color-background-hover: #ffbaba;
  --sds-c-button-brand-color-background-active: #ffbaba;
  --sds-c-button-brand-color-border: black;
  --sds-c-button-brand-color-border-hover: black;
  --sds-c-button-brand-color-border-active: black;

  --sds-c-button-brand-text-color: black;
  --sds-c-button-brand-text-color-hover: black;

}
.all-weeks__button {
    
  --sds-c-button-brand-color-background: #ec0e0e;
  --sds-c-button-brand-color-background-hover: #ec0e0e;
  --sds-c-button-brand-color-background-active: #ec0e0e;
  --sds-c-button-brand-color-border: black;
  --sds-c-button-brand-color-border-hover: black;
  --sds-c-button-brand-color-border-active: black;

  --sds-c-button-brand-text-color: white;
  --sds-c-button-brand-text-color-hover: white;

}