<template>
   
    <template if:false={isMobile}>
        <div style="position: relative; min-height: 200px;">
            <template if:true={isLoadingOrSaving}>
                <div class="loading-saving__spinner">
                    <lightning-spinner size="large"></lightning-spinner>
                </div>
            </template>
            
            <table class="is-desktop slds-table slds-table_cell-buffer slds-table_bordered slds-table_col-bordered">
                <thead>
                    <tr class="slds-line-height_reset">
                        <th scope="col" colspan="5" class="trainer-targets__header"><div class="slds-truncate">My Targets</div></th>
                        <th scope="col" colspan="5" class="client-plans__header"><div class="slds-truncate">My Plans</div></th>
                    </tr>
                    <tr class="slds-line-height_reset">
                        <template if:true={isCarbCyclePlans}>
                            <th scope="col" class="name-target__column"><div class="slds-truncate">Day/Date</div></th>
                        </template>
                        <template if:true={isFlexiPlans}>
                            <th scope="col" class="name-target__column"><div class="slds-truncate">Day/Date</div></th>
                        </template>
                        <template if:true={isGuidedPlans}>
                            <th scope="col" class="name-target__column"><div class="slds-truncate">Week/Date</div></th>
                        </template>
                        <th scope="col" class="protein-target__column"><div class="slds-truncate" title="Protein (g)">Protein (g)</div></th>
                        <th scope="col" class="carbs-target__column"><div class="slds-truncate" title="Carbs (g)">Carbs (g)</div></th>
                        <th scope="col" class="fat-target__column"><div class="slds-truncate" title="Fat (g)">Fat (g)</div></th>
                        <th scope="col" class="calories-target__column"><div class="slds-truncate" title="Calories">Calories</div></th>
                        <th scope="col"><div class="slds-truncate" title="Plan Name">Plan Name</div></th>
                        <th scope="col" class="protein-plan__column"><div class="slds-truncate" title="P">P</div></th>
                        <th scope="col" class="carbs-plan__column"><div class="slds-truncate" title="C">C</div></th>
                        <th scope="col" class="fat-plan__column"><div class="slds-truncate" title="F">F</div></th>
                        <th scope="col" class="calories-plan__column"><div class="slds-truncate" title="Cal">Cal</div></th>
                    </tr>
                </thead>
                <tbody>
                    <template for:each={displayedTargets2} for:item="targetGroup">
                        <tr class="target-group__row slds-hint-parent" key={targetGroup.order}> 
                            <template if:true={isCarbCyclePlans}>
                                <td colspan="5" data-order={targetGroup.order} onclick={onOpenTargetGroup}>
                                    <span class="ignore-pointer-events">Week {targetGroup.week}&nbsp;</span>
                                    <span class="ignore-pointer-events"><lightning-formatted-date-time value={targetGroup.startDate} weekday="short"></lightning-formatted-date-time> (<lightning-formatted-date-time value={targetGroup.startDate} day="2-digit"></lightning-formatted-date-time>-<lightning-formatted-date-time value={targetGroup.startDate} month="short"></lightning-formatted-date-time>)</span>
                                    <span class="ignore-pointer-events">&nbsp;-&nbsp;</span>
                                    <span class="ignore-pointer-events"><lightning-formatted-date-time value={targetGroup.endDate} weekday="short"></lightning-formatted-date-time> (<lightning-formatted-date-time value={targetGroup.endDate} day="2-digit"></lightning-formatted-date-time>-<lightning-formatted-date-time value={targetGroup.endDate} month="short"></lightning-formatted-date-time>)</span>
                                </td>
                                <td colspan="5" style="border-left: none;" data-order={targetGroup.order} onclick={onOpenTargetGroup}>
                                    <span><lightning-button label="Weekly Meal Planner" data-order={targetGroup.order} onclick={onOpenAssignToDaysModal}></lightning-button></span>
                                </td>
                            </template>       
                            <template if:true={isFlexiPlans}>
                                <td colspan="5" data-order={targetGroup.order} onclick={onOpenTargetGroup}>
                                    <span class="ignore-pointer-events">Week {targetGroup.week}&nbsp;</span>
                                    <span class="ignore-pointer-events"><lightning-formatted-date-time value={targetGroup.startDate} weekday="short"></lightning-formatted-date-time> (<lightning-formatted-date-time value={targetGroup.startDate} day="2-digit"></lightning-formatted-date-time>-<lightning-formatted-date-time value={targetGroup.startDate} month="short"></lightning-formatted-date-time>)</span>
                                    <span class="ignore-pointer-events">&nbsp;-&nbsp;</span>
                                    <span class="ignore-pointer-events"><lightning-formatted-date-time value={targetGroup.endDate} weekday="short"></lightning-formatted-date-time> (<lightning-formatted-date-time value={targetGroup.endDate} day="2-digit"></lightning-formatted-date-time>-<lightning-formatted-date-time value={targetGroup.endDate} month="short"></lightning-formatted-date-time>)</span>
                                </td>
                                <td colspan="5" style="border-left: none;" data-order={targetGroup.order} onclick={onOpenTargetGroup}>
                                    <span><lightning-button label="Weekly Meal Planner" data-order={targetGroup.order} onclick={onOpenAssignToDaysModal}></lightning-button></span>
                                </td>
                            </template>
                            <template if:true={isGuidedPlans}>
                                <td colspan="5" data-order={targetGroup.order} onclick={onOpenTargetGroup}>&nbsp;</td>
                                <td colspan="5" style="border-left: none;" data-order={targetGroup.order} onclick={onOpenTargetGroup}>
                                    <span><lightning-button label="Weekly Meal Planner" data-order={targetGroup.order} onclick={onOpenAssignToDaysModal}></lightning-button></span>
                                </td>
                            </template>
                        </tr>
                        <template if:true={targetGroup.states.isOpen}>
                            <template for:each={targetGroup.targets} for:item="target">
                                <tr class="slds-hint-parent" key={target.targetId}>
                                    <template if:true={isCarbCyclePlans}>
                                        <td class="name-target__column"><lightning-formatted-date-time value={target.targetDate} weekday="short"></lightning-formatted-date-time> (<lightning-formatted-date-time value={target.targetDate} day="2-digit"></lightning-formatted-date-time>-<lightning-formatted-date-time value={target.targetDate} month="short"></lightning-formatted-date-time>)</td>
                                    </template>
                                    <template if:true={isFlexiPlans}>
                                        <td class="name-target__column"><lightning-formatted-date-time value={target.targetDate} weekday="short"></lightning-formatted-date-time> (<lightning-formatted-date-time value={target.targetDate} day="2-digit"></lightning-formatted-date-time>-<lightning-formatted-date-time value={target.targetDate} month="short"></lightning-formatted-date-time>)</td>
                                    </template>
                                    <template if:true={isGuidedPlans}>
                                        <td class="name-target__column">{target.weekLabel}</td>
                                    </template>
                                    <td class="protein-target__column"><lightning-formatted-number value={target.targetProtein} minimum-fraction-digits="0" maximum-fraction-digits="0"></lightning-formatted-number></td>
                                    <td class="carbs-target__column"><lightning-formatted-number value={target.targetCarbs} minimum-fraction-digits="0" maximum-fraction-digits="0"></lightning-formatted-number></td>
                                    <td class="fat-target__column"><lightning-formatted-number value={target.targetFat} minimum-fraction-digits="0" maximum-fraction-digits="0"></lightning-formatted-number></td>
                                    <td class="calories-target__column"><lightning-formatted-number value={target.targetCalories} minimum-fraction-digits="0" maximum-fraction-digits="0"></lightning-formatted-number></td>
                                    <template if:true={isCarbCyclePlans}>
                                        <td><lightning-combobox data-target-date={target.targetDate} variant="label-hidden" value={target.selectedPlanId} options={target.values.planOptions} onchange={onSelectPlanForTarget}></lightning-combobox></td>
                                    </template>
                                    <template if:true={isFlexiPlans}>
                                        <td><c-at-slds-combobox data-target-date={target.targetDate}  variant="label-hidden" options={target.values.planOptionGroups} value={target.selectedPlanId} onchange={onSelectPlanForTarget}></c-at-slds-combobox></td>
                                    </template>
                                    <template if:true={isGuidedPlans}>
                                        <td><c-at-slds-combobox data-target-date={target.targetStartDate} variant="label-hidden" value={target.selectedPlanId} options={target.values.planOptionGroups} onchange={onSelectPlanForTarget}></c-at-slds-combobox></td>
                                    </template>
                                    <template if:true={target.states.hasRelatedPlan}>
                                        <td class="protein-plan__column"><lightning-formatted-number value={target.plan.protein} minimum-fraction-digits="0" maximum-fraction-digits="0"></lightning-formatted-number></td>
                                        <td class="carbs-plan__column"><lightning-formatted-number value={target.plan.carbs} minimum-fraction-digits="0" maximum-fraction-digits="0"></lightning-formatted-number></td>
                                        <td class="fat-plan__column"><lightning-formatted-number value={target.plan.fat} minimum-fraction-digits="0" maximum-fraction-digits="0"></lightning-formatted-number></td>
                                        <td class="calories-plan__column"><lightning-formatted-number value={target.plan.calories} minimum-fraction-digits="0" maximum-fraction-digits="0"></lightning-formatted-number></td>
                                    </template>
                                    <template if:false={target.states.hasRelatedPlan}>
                                        <td class="protein-plan__column"></td>
                                        <td class="carbs-plan__column"></td>
                                        <td class="fat-plan__column"></td>
                                        <td class="calories-plan__column"></td>
                                    </template>
                                </tr>
                            </template>
                        </template>
                    </template>
                </tbody>
            </table>
        </div>
    </template>
    <template if:true={isMobile}>
            <table class="is-mobile slds-table slds-table_cell-buffer">
                <thead>
                    <tr class="target-key__row">
                        <template if:true={isGuidedPlans}>
                            <th scope="col" class="name-target__column">Week/Date</th>
                        </template>
                        <template if:true={isFlexiPlans}>
                            <th scope="col" class="name-target__column">Day/Date</th>
                        </template>
                        <th scope="col" class="protein__column protein-target__column">P</th>
                        <th scope="col" class="carbs__column carbs-target__column">C</th>
                        <th scope="col" class="fat__column fat-target__column">F</th>
                        <th scope="col" class="calories__column calories-target__column">Cals</th>

                    </tr>
                </thead>
                <tbody>
                    <template for:each={displayedTargets2} for:item="targetGroup">
                        <tr class="slds-hint-parent target-group__row target-group__top-row" key={targetGroup.order}>  
                            <template if:true={isCarbCyclePlans}>
                                <td colspan="5" data-order={targetGroup.order} onclick={onOpenTargetGroup}>
                                    <span class="ignore-pointer-events">Week {targetGroup.week}&nbsp;</span>
                                    <span class="ignore-pointer-events"><lightning-formatted-date-time value={targetGroup.startDate} weekday="short"></lightning-formatted-date-time> (<lightning-formatted-date-time value={targetGroup.startDate} day="2-digit"></lightning-formatted-date-time>-<lightning-formatted-date-time value={targetGroup.startDate} month="short"></lightning-formatted-date-time>)</span>
                                    <span class="ignore-pointer-events">&nbsp;-&nbsp;</span>
                                    <span class="ignore-pointer-events"><lightning-formatted-date-time value={targetGroup.endDate} weekday="short"></lightning-formatted-date-time> (<lightning-formatted-date-time value={targetGroup.endDate} day="2-digit"></lightning-formatted-date-time>-<lightning-formatted-date-time value={targetGroup.endDate} month="short"></lightning-formatted-date-time>)</span>
                                </td>
                            </template>                              
                            <template if:true={isFlexiPlans}>
                                <td colspan="5" data-order={targetGroup.order} onclick={onOpenTargetGroup}>
                                    <span class="ignore-pointer-events">Week {targetGroup.week}&nbsp;</span>
                                    <span class="ignore-pointer-events"><lightning-formatted-date-time value={targetGroup.startDate} weekday="short"></lightning-formatted-date-time> (<lightning-formatted-date-time value={targetGroup.startDate} day="2-digit"></lightning-formatted-date-time>-<lightning-formatted-date-time value={targetGroup.startDate} month="short"></lightning-formatted-date-time>)</span>
                                    <span class="ignore-pointer-events">&nbsp;-&nbsp;</span>
                                    <span class="ignore-pointer-events"><lightning-formatted-date-time value={targetGroup.endDate} weekday="short"></lightning-formatted-date-time> (<lightning-formatted-date-time value={targetGroup.endDate} day="2-digit"></lightning-formatted-date-time>-<lightning-formatted-date-time value={targetGroup.endDate} month="short"></lightning-formatted-date-time>)</span>
                                </td>
                            </template>
                        </tr>                           
                        <tr class="slds-hint-parent target-group__row target-group__bottom-row" key={targetGroup.order}>      
                            <td colspan="5" data-order={targetGroup.order} onclick={onOpenTargetGroup}>
                                <template if:true={isCarbCyclePlans}>                                    
                                    <span><lightning-button label="Assign to Days" data-order={targetGroup.order} onclick={onOpenAssignToDaysModal}></lightning-button></span>
                                </template>
                                <template if:true={isFlexiPlans}>                                    
                                    <span><lightning-button label="Assign to Days" data-order={targetGroup.order} onclick={onOpenAssignToDaysModal}></lightning-button></span>
                                </template>
                                <template if:true={isGuidedPlans}>
                                    <span><lightning-button label="Assign to Weeks" data-order={targetGroup.order} onclick={onOpenAssignToDaysModal}></lightning-button></span>
                                </template>
                            </td>
                        </tr>
                        <template if:true={targetGroup.states.isOpen}>
                            <template for:each={targetGroup.targets} for:item="target">
                                <tr class="top-row slds-hint-parent" key={target.targetId}>
                                    <template if:true={isGuidedPlans}>
                                        <td class="name-target__column">{target.weekLabel}</td>
                                    </template>
                                    <template if:true={isCarbCyclePlans}>
                                        <td class="name-target__column"><lightning-formatted-date-time value={target.targetDate} weekday="short"></lightning-formatted-date-time> (<lightning-formatted-date-time value={target.targetDate} day="2-digit"></lightning-formatted-date-time>-<lightning-formatted-date-time value={target.targetDate} month="short"></lightning-formatted-date-time>)</td>
                                    </template>
                                    <template if:true={isFlexiPlans}>
                                        <td class="name-target__column"><lightning-formatted-date-time value={target.targetDate} weekday="short"></lightning-formatted-date-time> (<lightning-formatted-date-time value={target.targetDate} day="2-digit"></lightning-formatted-date-time>-<lightning-formatted-date-time value={target.targetDate} month="short"></lightning-formatted-date-time>)</td>
                                    </template>
                                    <td class="protein__column protein-target__column"><lightning-formatted-number value={target.targetProtein} minimum-fraction-digits="0" maximum-fraction-digits="0"></lightning-formatted-number></td>
                                    <td class="carbs__column carbs-target__column"><lightning-formatted-number value={target.targetCarbs} minimum-fraction-digits="0" maximum-fraction-digits="0"></lightning-formatted-number></td>
                                    <td class="fat__column fat-target__column"><lightning-formatted-number value={target.targetFat} minimum-fraction-digits="0" maximum-fraction-digits="0"></lightning-formatted-number></td>
                                    <td class="calories__column calories-target__column"><lightning-formatted-number value={target.targetCalories} minimum-fraction-digits="0" maximum-fraction-digits="0"></lightning-formatted-number></td>
                                </tr>
                                <tr class="bottom-row slds-hint-parent" key={target.targetId}>
                                    <template if:true={isGuidedPlans}>
                                        <td><lightning-combobox data-target-date={target.targetStartDate} variant="label-hidden" value={target.selectedPlanId} options={_clientPlanOptions} onchange={onSelectPlanForTarget}></lightning-combobox></td>
                                    </template>
                                    <template if:true={isCarbCyclePlans}>
                                        <td><lightning-combobox data-target-date={target.targetDate} variant="label-hidden" value={target.selectedPlanId} options={_clientPlanOptions} onchange={onSelectPlanForTarget}></lightning-combobox></td>
                                    </template>
                                    <template if:true={isFlexiPlans}>
                                        <td><lightning-combobox data-target-date={target.targetDate} variant="label-hidden" value={target.selectedPlanId} options={_clientPlanOptions} onchange={onSelectPlanForTarget}></lightning-combobox></td>
                                    </template>
                                    <template if:true={target.states.hasRelatedPlan}>
                                        <td class="protein__column protein-plan__column"><lightning-formatted-number value={target.plan.protein} minimum-fraction-digits="0" maximum-fraction-digits="0"></lightning-formatted-number></td>
                                        <td class="carbs__column carbs-plan__column"><lightning-formatted-number value={target.plan.carbs} minimum-fraction-digits="0" maximum-fraction-digits="0"></lightning-formatted-number></td>
                                        <td class="fat__column fat-plan__column"><lightning-formatted-number value={target.plan.fat} minimum-fraction-digits="0" maximum-fraction-digits="0"></lightning-formatted-number></td>
                                        <td class="calories__column calories-plan__column"><lightning-formatted-number value={target.plan.calories} minimum-fraction-digits="0" maximum-fraction-digits="0"></lightning-formatted-number></td>
                                    </template>
                                    <template if:false={target.states.hasRelatedPlan}>
                                        <td class="protein__column protein-plan__column"></td>
                                        <td class="carbs__column carbs-plan__column"></td>
                                        <td class="fat__column fat-plan__column"></td>
                                        <td class="calories__column calories-plan__column"></td>
                                    </template>
                                </tr>
                            </template>
                        </template>
                    </template>
                    
                </tbody>
            </table>
    </template>

    <!-- Modal for Assigning Days -->
    <template if:true={_displayAssignToDaysModal}>
        <c-at-slds-modal header-label="Weekly Meal Planner" display-header display-footer onclose={onCloseAssignToDaysModal}>
            <div slot="content">
                <template if:true={isMobile}>
                    <p>Mobile Content Here...</p>
                </template>
                <template if:false={isMobile}>
                    <template if:true={isFlexiPlans}>
                        <table class="assign-to-days-table">
                            <thead>
                                <tr>
                                    <th style="font-size: 19px;" colspan="8">Plan Name</th>
                                </tr>
                            </thead>
                            <tbody>
                                <template for:each={assignToDaysOptions_FlexiPlans} for:item="targetGroup">
                                    <tr key={targetGroup.id} class="assign-to-target__row">
                                        <th>
                                            <p>{targetGroup.name}</p>
                                        </th>
                                        <template for:each={targetGroup.assignToDays} for:item="atd">
                                            <th key={atd.value} class="assign-to-days__header">{atd.label}</th>
                                        </template>
                                    </tr>
                                    <template for:each={targetGroup.poolPlans} for:item="poolPlan">
                                        <tr key={poolPlan.poolPlanId} class="pool-plan__row">
                                            <th style="font-size: 17px;">{poolPlan.planName}</th>
                                            <template for:each={poolPlan.assignToDays} for:item="assignTo">
                                                
                                                <template if:false={assignTo.isBlank}>
                                                    <th key={assignTo.value} class="button__cell">
                                                        <button class={assignTo.buttonClass} value={assignTo.value} data-pool-plan-id={poolPlan.poolPlanId} onclick={onAssignSelectDayWeek}>{assignTo.label}</button>
                                                    </th>
                                                </template>
                                                <template if:true={assignTo.isBlank}>
                                                    <th key={assignTo.value} class="blank__cell">&nbsp;</th>
                                                </template>

                                            </template>
                                        </tr>
                                    </template>
                                </template>
                            </tbody>
                        </table>
                    </template>

                    <template if:true={isGuidedPlans}>
                        <table class="assign-to-days-table">
                            <thead>
                                <tr>
                                    <th style="font-size: 19px;" colspan="8">Plan Name</th>
                                </tr>
                            </thead>
                            <tbody>
                                <template for:each={assignToDaysOptions_GuidedPlans} for:item="targetGroup">
                                    <tr key={targetGroup.id} class="assign-to-target__row">
                                        <th>
                                            <p>{targetGroup.name}</p>
                                        </th>
                                        <template for:each={targetGroup.assignToDays} for:item="atd">
                                            <th key={atd.value} class="assign-to-days__header">{atd.label}</th>
                                        </template>
                                    </tr>
                                    <template for:each={targetGroup.poolPlans} for:item="poolPlan">
                                        <tr key={poolPlan.poolPlanId} class="pool-plan__row">
                                            <th style="font-size: 17px;">{poolPlan.planName}</th>
                                            <template for:each={poolPlan.assignToDays} for:item="assignTo">
                                                
                                                <template if:false={assignTo.isBlank}>
                                                    <th key={assignTo.value} class="button__cell">
                                                        <button class={assignTo.buttonClass} value={assignTo.value} data-pool-plan-id={poolPlan.poolPlanId} onclick={onAssignSelectDayWeek}>{assignTo.label}</button>
                                                    </th>
                                                </template>
                                                <template if:true={assignTo.isBlank}>
                                                    <th key={assignTo.value} class="blank__cell">&nbsp;</th>
                                                </template>

                                            </template>
                                        </tr>
                                    </template>
                                </template>
                            </tbody>
                        </table>
                    </template>
                    
                    <template if:true={isCarbCyclePlans}>
                        <table class="assign-to-days-table">
                            <thead>
                                <tr>
                                    <th style="font-size: 19px;" colspan="8">Plan Name</th>
                                </tr>
                            </thead>
                            <tbody>
                                <template for:each={assignToDaysOptions_CarbCyclePlans} for:item="targetGroup">
                                    <tr key={targetGroup.id} class="assign-to-target__row">
                                        <th>
                                            <p>{targetGroup.name}</p>
                                        </th>
                                        <template for:each={targetGroup.assignToDays} for:item="atd">
                                            <th key={atd.value} class="assign-to-days__header">{atd.label}</th>
                                        </template>
                                    </tr>
                                    <template for:each={targetGroup.poolPlans} for:item="poolPlan">
                                        <tr key={poolPlan.poolPlanId} class="pool-plan__row">
                                            <th style="font-size: 17px;">{poolPlan.planName}</th>
                                            <template for:each={poolPlan.assignToDays} for:item="assignTo">
                                                
                                                <template if:false={assignTo.isBlank}>
                                                    <th key={assignTo.value} class="button__cell">
                                                        <button class={assignTo.buttonClass} value={assignTo.value} data-pool-plan-id={poolPlan.poolPlanId} onclick={onAssignSelectDayWeek}>{assignTo.label}</button>
                                                    </th>
                                                </template>
                                                <template if:true={assignTo.isBlank}>
                                                    <th key={assignTo.value} class="blank__cell">&nbsp;</th>
                                                </template>

                                            </template>
                                        </tr>
                                    </template>
                                </template>
                            </tbody>
                        </table>
                    </template>
                </template>

            </div>
            <div slot="footer">
                <lightning-button-group>
                    
                    <template if:true={isCarbCyclePlans}>
                        <lightning-button label="Cancel" onclick={onCloseAssignToDaysModal}></lightning-button>
                        <lightning-button class="this-week__button" label="This Week" variant="brand" onclick={onAssignFlexiPlansForWeek} disabled={disableAssignButton}></lightning-button>
                        <lightning-button class="all-weeks__button" label="All Weeks" variant="brand" onclick={onAssignFlexiPlansForAllWeeks} disabled={disableAssignButton}></lightning-button>
                    </template>

                    <template if:true={isFlexiPlans}>
                        <lightning-button label="Cancel" onclick={onCloseAssignToDaysModal}></lightning-button>
                        <lightning-button class="this-week__button" label="This Week" variant="brand" onclick={onAssignFlexiPlansForWeek} disabled={disableAssignButton}></lightning-button>
                        <lightning-button class="all-weeks__button" label="All Weeks" variant="brand" onclick={onAssignFlexiPlansForAllWeeks} disabled={disableAssignButton}></lightning-button>
                    </template>

                    <template if:true={isGuidedPlans}>
                        <lightning-button label="Cancel" onclick={onCloseAssignToDaysModal}></lightning-button>
                        <lightning-button class="this-week__button" label="Assign" variant="brand" onclick={onAssignGuidedPlans} disabled={disableAssignButton}></lightning-button>
                    </template>

                </lightning-button-group>
            </div>
        </c-at-slds-modal>
    </template>

</template>