<template>
    
    <template for:each={fieldSets} for:item="fSet">
        <div key={fSet.order}>
            <c-asc-field-set
                class           ="field-set"
                record-id       ={fSet.recordId}
                object-api-name ={fSet.objectApiName} 
                field-set-name  ={fSet.fieldSetName}
                label-position  ={fSet.labelPosition}
                editable        ={fSet.editable}
                title           ={fSet.title.text}
                show-title      ={fSet.showTitle}
                columns         ={fSet.columns}>
            </c-asc-field-set>
        </div>
    </template>


    <template for:each={flowButtons} for:item="fButton">
        <span key={fButton.order} class="flow-button" >
            <lightning-button onclick       ={onNavigationSelect}
                              data-action   ={fButton.action}
                              data-value    ={fButton.value}
                              data-submit   ={fButton.submit}
                              variant       ={fButton.variant}
                              label         ={fButton.label}></lightning-button>
        </span>
    </template>

</template>