.THIS table.photos td {
    vertical-align: top;
}

.THIS div.box {
    border: 1px solid #999;
    border-radius: 4px;
    width: inherit;
    display: inline-block;
}

.THIS div.title {
    background-color: #999;
    padding: 4px;
    font-size: 1.2em;
    text-align: center;
    color: white;
            
    border-radius: 3px;
}
        
.THIS div.content {
    padding: 10px;
    text-align: center;
}

.THIS div.box .slds-form-element__label {
    display: none;
}
        
.THIS .slds-slider-label__label {
    font-size: 1.3em;
    color: black;
}
        
        
.THIS table.survey {
    border-spacing: 8px;
    border-collapse: separate;
}
.THIS .slds-slider-label__range {
    display: none;
}

.THIS table.advisories span.slds-form-element__label {
    display: none;
}

.THIS table.advisories th {
    background-color: #eee;
}

.THIS lightning-slider label.slds-form-element__label {
    display: none;
}

.THIS .advisory-description {
    white-space:    -o-pre-wrap; 
    word-wrap:      break-word;
    white-space:    pre-wrap; 
    white-space:    -moz-pre-wrap; 
    white-space:    -pre-wrap;     
}

.THIS .hide {
    display: none;
}

.THIS .edit-column {
   width: 1.5rem;
   padding-right: 1.5rem;
}

.THIS .name-column {
    width: 20%;
}
.THIS .description-column {
    width: 40%;
}

.THIS table.advisories tbody .name-column, .THIS table.advisories tbody .description-column {
    white-space: pre-wrap;
}

.THIS .start-date-column, .THIS .event-date-column, .THIS .end-date-column {

}

.THIS .slds-text-heading_small {
    padding-bottom: 0.25rem;
}

.THIS .check-in-accordian .slds-accordion__summary-heading .slds-truncate {
    font-weight: 700;
    font-size: 18px;
}

.THIS .check-in-accordian .survey .slds-form-element__label,
.THIS .check-in-accordian .feedback .slds-form-element__label {
    font-weight: 700;
    font-size: 16px;
}

.THIS .main-error-title {
    font-size: 16px;
    font-weight: 900;
}

.THIS .secondary-error-title {
    font-size: 14px;
    font-weight: 700;
    padding: 0.1rem 0.2rem;
}

.THIS .tertiary-error-title {
    padding: 0.2rem 0.5rem;
}

.THIS .placeholder-image {
    opacity: 0.4;
}