<template>

    <template if:true={isMobile}>
        <lightning-button label="Return to Home" onclick={onNavigateToHome}></lightning-button>
    </template>

    <lightning-accordion allow-multiple-sections-open>
        <lightning-accordion-section label="Cardio" class="secondary-accordian">
            <c-at-file-list-view primary-category="FAQs" secondary-category="Cardio"></c-at-file-list-view>
        </lightning-accordion-section>
        <lightning-accordion-section label="Injury/Rehab" class="secondary-accordian">
            <c-at-file-list-view primary-category="FAQs" secondary-category="Injury/Rehab"></c-at-file-list-view>
        </lightning-accordion-section>
        <lightning-accordion-section label="Nutrition" class="secondary-accordian">
            <c-at-file-list-view primary-category="FAQs" secondary-category="Nutrition"></c-at-file-list-view>
        </lightning-accordion-section>
        <lightning-accordion-section label="Training" class="secondary-accordian">
            <c-at-file-list-view primary-category="FAQs" secondary-category="Training"></c-at-file-list-view>
        </lightning-accordion-section>
    </lightning-accordion>
</template>