/*style*/
.primary-accordian {
    --sds-c-accordion-summary-color-background: #EC0E0E;
    --sds-c-accordion-color-border: #FFF;
    --sds-c-accordion-heading-text-color: #FFF;
    --sds-c-accordion-heading-text-color-hover: #EEE;
    --sds-c-accordion-heading-font-size: 1.5rem;
}

.secondary-accordian {
    --sds-c-accordion-summary-color-background: white;
    --sds-c-accordion-color-border: #000;
    --sds-c-accordion-heading-text-color: #000;
    --sds-c-accordion-heading-text-color-hover: #111;
    --sds-c-accordion-heading-font-size: 1rem;
}

.primary-accordian__div {
    background-color: #EC0E0E;
    color: #FFF;
    font-family: 'Montserrat';
    font-size: 1.5rem;
    font-weight: 900;
    padding: 12px;
    border-bottom: 1px solid #FFF;
}