<template>

    <template if:true={isMobile}>
        <lightning-button label="Return to Home" onclick={onNavigateToHome}></lightning-button>
    </template>
    <br />
    <!--
    <div class="primary-accordian__div" onclick={onToggleFaqsSection}>FAQs</div>
    <template if:true={_isFAQsSectionDisplayed}>
        <lightning-accordion allow-multiple-sections-open>
            <lightning-accordion-section label="Cardio" class="secondary-accordian">
                <c-at-file-list-view primary-category="FAQs" secondary-category="Cardio"></c-at-file-list-view>
            </lightning-accordion-section>
            <lightning-accordion-section label="Injury/Rehab" class="secondary-accordian">
                <c-at-file-list-view primary-category="FAQs" secondary-category="Injury/Rehab"></c-at-file-list-view>
            </lightning-accordion-section>
            <lightning-accordion-section label="Nutrition" class="secondary-accordian">
                <c-at-file-list-view primary-category="FAQs" secondary-category="Nutrition"></c-at-file-list-view>
            </lightning-accordion-section>
            <lightning-accordion-section label="Training" class="secondary-accordian">
                <c-at-file-list-view primary-category="FAQs" secondary-category="Training"></c-at-file-list-view>
            </lightning-accordion-section>
        </lightning-accordion>
    </template>
    -->
    <div class="primary-accordian__div" onclick={onToggleExerciseProgressionSection}>Exercise Progression</div>
    <template if:true={_isExerciseProgressionSectionDisplayed}>
        <lightning-accordion allow-multiple-sections-open>
            <lightning-accordion-section label="Chest" class="secondary-accordian">
                <c-at-file-list-view primary-category="Exercise Progression" secondary-category="Chest"></c-at-file-list-view>
            </lightning-accordion-section>
            <lightning-accordion-section label="Deadlift" class="secondary-accordian">
                <c-at-file-list-view primary-category="Exercise Progression" secondary-category="Deadlift"></c-at-file-list-view>
            </lightning-accordion-section>
            <lightning-accordion-section label="Squats" class="secondary-accordian">
                <c-at-file-list-view primary-category="Exercise Progression" secondary-category="Squats"></c-at-file-list-view>
            </lightning-accordion-section>
        </lightning-accordion>
    </template>
    <div class="primary-accordian__div" onclick={onToggleGymDemonstrationVideosSection}>Gym Demonstration Videos</div>
    <template if:true={_isGymDemonstrationVideosSectionDisplayed}>
        <lightning-accordion allow-multiple-sections-open>
            <lightning-accordion-section label="Core Activation" class="secondary-accordian">
                <c-at-file-list-view primary-category="Gym Demonstration Videos" secondary-category="Core Activation"></c-at-file-list-view>
            </lightning-accordion-section>
            <lightning-accordion-section label="Upper Body" class="secondary-accordian">
                <c-at-file-list-view primary-category="Gym Demonstration Videos" secondary-category="Upper Body"></c-at-file-list-view>
            </lightning-accordion-section>
            <lightning-accordion-section label="Lower Body" class="secondary-accordian">
                <c-at-file-list-view primary-category="Gym Demonstration Videos" secondary-category="Lower Body"></c-at-file-list-view>
            </lightning-accordion-section>
        </lightning-accordion>
    </template>
    <div class="primary-accordian__div" onclick={onToggleHomeDemonstrationVideosSection}>Home Demonstration Videos</div>
    <template if:true={_isHomeDemonstrationVideosSectionDisplayed}>
        <lightning-accordion allow-multiple-sections-open>
            <lightning-accordion-section label="Core/Abs" class="secondary-accordian">
                <c-at-file-list-view primary-category="Home Demonstration Videos" secondary-category="Core/Abs"></c-at-file-list-view>
            </lightning-accordion-section>
            <lightning-accordion-section label="Lower Body" class="secondary-accordian">
                <c-at-file-list-view primary-category="Home Demonstration Videos" secondary-category="Lower Body"></c-at-file-list-view>
            </lightning-accordion-section>
            <lightning-accordion-section label="Upper Body" class="secondary-accordian">
                <c-at-file-list-view primary-category="Home Demonstration Videos" secondary-category="Upper Body"></c-at-file-list-view>
            </lightning-accordion-section>
        </lightning-accordion>
    </template>

</template>