<!--
  @description       : The Form Used for creating a new Custom Item in the Planner
  @author            : ChangeMeIn@UserSettingsUnder.SFDoc
  @group             : 
  @last modified on  : 12-16-2020
  @last modified by  : ChangeMeIn@UserSettingsUnder.SFDoc
  Modifications Log 
  Ver   Date         Author                               Modification
  1.0   12-15-2020   ChangeMeIn@UserSettingsUnder.SFDoc   Initial Version
-->
<template>
    <template if:true={hasRecordTypeInfo}>
        <lightning-record-edit-form class="add-custom-item-form"
                                    object-api-name="Template_Item__c"
                                    onsuccess={onFormSuccess}
                                    onerror={onFormError}
                                    record-type-id={_nutritionRecordType.recordTypeId}>
            <lightning-messages></lightning-messages>
            <lightning-input-field field-name="Name" required></lightning-input-field>
            <lightning-input-field field-name="Food_Type__c" required></lightning-input-field>
            <lightning-input-field field-name="Sourced_From_optional__c"></lightning-input-field>
            <lightning-input-field field-name="Item_Quantity__c"
                                   required></lightning-input-field>
            <lightning-input-field field-name="Measurement__c"
                                   required></lightning-input-field>
            <lightning-input-field field-name="Protein__c" required></lightning-input-field>
            <lightning-input-field field-name="Carbs__c" required></lightning-input-field>
            <lightning-input-field field-name="Fat__c" required></lightning-input-field>

            <div class="slds-hide">
                <lightning-input-field field-name="Quantity_Increment__c" value="0"></lightning-input-field>
                <lightning-input-field field-name="Minimum_Quantity__c"  value="0"></lightning-input-field>
            </div>

        </lightning-record-edit-form>
    </template>
</template>