.THIS div.check-in {
    font-family: 'Oswald';
    font-size: 1.4em;
    font-weight: bold;
    text-align: center;
    padding: 5px;
    border: 1px solid rgb(236, 14, 14);
    border-radius: 5px;
}

.THIS table td {
    padding: 5px;
}

.THIS table a {
    background-color: rgb(236, 14, 14);
    font-family: 'Oswald';
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    color: white;
    display: block;
    padding: 5px;
    border-radius: 5px;
}

.THIS button.tile {
    background-color: rgb(236, 14, 14);
    font-family: 'Oswald';
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    color: white;
    display: block;
    padding: 5px;
    border-radius: 5px;
    border: none;
    width: 100%;
}

.THIS button.noClick {
    background-color: #ccc;
}

.THIS lightning-icon {
    margin-bottom: 5px;
}

.THIS hr {
    width: 50%;
    border: none;
    border-top: 3px double #333;
    padding: 0;
    margin: 0 auto;
    margin-top: 15px;
    padding-bottom: 5px;
}

.THIS table.community {
    
}

.THIS table.community td {
    text-align: center;
    padding: 5px;
}

.THIS table a.topics {
    background-color: rgb(236, 14, 14);
    font-family: 'Oswald';
    font-size: 1.4em;
    font-weight: bold;
    text-align: center;
    color: white;
    display: inline-block;
    padding: 10px;
    /*padding-left: 15px;*/
    /*padding-right: 15px;*/
    border-radius: 5px;
    margin: 0.2rem 0;
    width: calc(100% - 0.5rem);
}

.THIS table a.messaging {
    border: 1px solid rgb(236, 14, 14);
    color: black;
    background: white;
    font-family: 'Oswald';
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
    /*margin: 0.2rem 0;*/
	width: calc(100% - 0.5rem);    
    margin: auto;
}

.THIS h2 {
    font-family: 'Oswald';
    font-size: 1.4em;
    font-weight: bold;
}

.THIS p {
    font-family: 'Roboto';
    font-size: 1.2em;
}

.THIS table a.messaging lightning-icon {
    align: center;
}

.THIS table th {
    padding-top: 5px;
    
    font-family: Roboto;
    font-size: 1.4em;
    text-align: center;
}

.THIS div.forceChatterPublisher {
    display: inline !important;
}

.THIS .checkin-box {
    background-color: #ccc; 
    border-radius: 10px; 
    padding: 10px; 
    display: inline-block; 
    vertical-align: middle;
    width: 100%;
}

.THIS .checkin-box .primary-text {
    text-align: center; 
    font-family: 'Oswald'; 
    color: #3a3a3a; 
    font-size: 1.7em; 
    font-weight: bold;
}

.THIS .checkin-box .secondary-text {
    text-align: center; 
    font-family: 'Roboto'; 
    font-size: 1.7em;
}