/*style*/
.assign-button {
    padding-left:   1rem;
    padding-right:  1rem;
    height:         32px;
    background:     white;
    color:          #1B5297;
    border-color:   rgb(221, 219, 218);
    border-style:   solid;
    border-width:   thin;
}
.assign-button:hover {
    background-color: #F4F6F9;
}


.assign-button_active {
    color: white;
    background-color: #1B5297;
    border-color: #1B5297;
}
.assign-button_active:hover {
    background-color: #004487;
    border-color: #004487;
}


.button-row_first > .assign-button_first {
    border-radius: 0.25rem 0 0 0;
}
.button-row_first > .assign-button_last {
    border-radius: 0 0.25rem 0 0;
}
.button-row_last > .assign-button_first {
    border-radius: 0 0 0 0.25rem;
}
.button-row_last > .assign-button_last {
    border-radius: 0 0 0.25rem 0;
}

.assign-button:focus {
    box-shadow: var(--sds-c-button-shadow-focus, var(--lwc-shadowButtonFocus,0 0 3px #0070D2));
    outline: none;

}