<template>

    <c-at-slds-modal header-label="Assign to Weekdays" size="medium" display-header display-footer>
        <div slot="content">

            <template if:true={isLoadingOrSaving}>
                <lightning-spinner></lightning-spinner>
            </template>

            <table style="border-collapse: collapse;">
                <tbody>
                    <template for:each={_plansData} for:item="plan">
                        <tr key={plan.planId}>
                            <th>{plan.planName}</th>
                            <td>
                                <div class={plan.planButtonRowClass}>

                                    <template if:true={plan.mondayActive}>
                                        <button class="assign-button assign-button_active assign-button_first" data-plan-id={plan.planId} data-day="Monday" onclick={onSelectDay}>Monday</button>
                                    </template>
                                    <template if:false={plan.mondayActive}>
                                        <button class="assign-button assign-button_first" data-plan-id={plan.planId} data-day="Monday" onclick={onSelectDay}>Monday</button>
                                    </template>

                                    <template if:true={plan.tuesdayActive}>
                                        <button class="assign-button assign-button_active assign-button_middle" data-plan-id={plan.planId} data-day="Tuesday" onclick={onSelectDay}>Tuesday</button>
                                    </template>
                                    <template if:false={plan.tuesdayActive}>
                                        <button class="assign-button assign-button_middle" data-plan-id={plan.planId} data-day="Tuesday" onclick={onSelectDay}>Tuesday</button>
                                    </template>

                                    <template if:true={plan.wednesdayActive}>
                                        <button class="assign-button assign-button_active assign-button_middle" data-day="Wednesday" data-plan-id={plan.planId} onclick={onSelectDay}>Wednesday</button>
                                    </template>
                                    <template if:false={plan.wednesdayActive}>
                                        <button class="assign-button assign-button_middle" data-plan-id={plan.planId} data-day="Wednesday" onclick={onSelectDay}>Wednesday</button>
                                    </template>

                                    <template if:true={plan.thursdayActive}>
                                        <button class="assign-button assign-button_active assign-button_middle" data-plan-id={plan.planId} data-day="Thursday" onclick={onSelectDay}>Thursday</button>
                                    </template>
                                    <template if:false={plan.thursdayActive}>
                                        <button class="assign-button assign-button_middle" data-plan-id={plan.planId} data-day="Thursday" onclick={onSelectDay}>Thursday</button>
                                    </template>

                                    <template if:true={plan.fridayActive}>
                                        <button class="assign-button assign-button_active assign-button_middle" data-plan-id={plan.planId} data-day="Friday" onclick={onSelectDay}>Friday</button>
                                    </template>
                                    <template if:false={plan.fridayActive}>
                                        <button class="assign-button assign-button_middle" data-plan-id={plan.planId} data-day="Friday" onclick={onSelectDay}>Friday</button>
                                    </template>

                                    <template if:true={plan.saturdayActive}>
                                        <button class="assign-button assign-button_active assign-button_middle" data-plan-id={plan.planId} data-day="Saturday" onclick={onSelectDay}>Saturday</button>
                                    </template>
                                    <template if:false={plan.saturdayActive}>
                                        <button class="assign-button assign-button_middle" data-plan-id={plan.planId} data-day="Saturday" onclick={onSelectDay}>Saturday</button>
                                    </template>

                                    <template if:true={plan.sundayActive}>
                                        <button class="assign-button assign-button_active assign-button_last" data-plan-id={plan.planId} data-day="Sunday" onclick={onSelectDay}>Sunday</button>
                                    </template>
                                    <template if:false={plan.sundayActive}>
                                        <button class="assign-button assign-button_last" data-plan-id={plan.planId} data-day="Sunday" onclick={onSelectDay}>Sunday</button>
                                    </template>

                                </div>
                            </td>
                        </tr>
                    </template>
                </tbody>
            </table>

        </div>
        <div slot="footer">
            <lightning-button-group>
                <lightning-button label="Cancel" onclick={onCloseModal}></lightning-button>
                <lightning-button label="Save" variant="brand" onclick={onSaveAssignDays} disabled={canSubmitDays}></lightning-button>
            </lightning-button-group>
        </div>
    </c-at-slds-modal>

</template>