<!--
  @description       : 
  @author            : ChangeMeIn@UserSettingsUnder.SFDoc
  @group             : 
  @last modified on  : 01-14-2021
  @last modified by  : ChangeMeIn@UserSettingsUnder.SFDoc
  Modifications Log 
  Ver   Date         Author                               Modification
  1.0   12-18-2020   ChangeMeIn@UserSettingsUnder.SFDoc   Initial Version
-->
<template>

    <template if:true={isMobile}>
        <table class="photos">
            <tbody>
                <tr>
                    <td style="text-align: center;">
                        <div class="box">
                            <div class="title">Front</div>
                            <div class="content">
	                            <c-dropbox-file-selector hide-progress-bar
                                                         class              ="front-photo-file-selector"
                                                         valid-formats      ={_validFormats}
                                                         button-label       ="Upload Front" 
                                                         file-names         ={_frontPhotoFileName}
                                                         folder-path        ={_dropboxReferencePath} 
                                                         authorization-key  ={_dropboxAuthCode} 
                                                         onselect           ={onFrontPhotoSelected}
                                                         onuploadfinished   ={onFrontPhotoUploaded}></c-dropbox-file-selector>

                                <template if:true={isFrontPhotoUploaded}>        
                                    <br/>
                                    <img src={frontPhotoURL} style="max-height: 200px;"/>
                                    <br/>
                                </template>      
                                <template if:false={isFrontPhotoUploaded}>
                                    <br/>
                                    <template if:true={isMaleClient}>
                                        <img class="placeholder-image" src="https://www.dropbox.com/s/2vo9m3wvrpxnxm1/Male_Front.jpg?raw=1" style="max-height: 200px;"/>
                                    </template>
                                    <template if:true={isFemaleClient}>
                                        <img class="placeholder-image" src="https://www.dropbox.com/s/icgbz6xiyedec8d/Female_Front.jpg?raw=1" style="max-height: 200px;"/>
                                    </template>
                                    <br/>
                                </template>       
                                <div class="photo-footer slds-align_absolute-center">
                                    <template if:true={isFrontPhotoUploaded}>   
                                        <lightning-button label="Delete" icon-name="utility:delete" onclick={onFrontPhotoDelete}></lightning-button>
                                    </template>
                                </div>  
                                <template if:true={_uploadingFront}>
                                    <div class="spinner-holder">
                                        <lightning-spinner size="large"></lightning-spinner>
                                    </div>
                                </template>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: center;">
                        <div class="box">
                            <div class="title">Side</div>
                            <div class="content">
	                            <c-dropbox-file-selector hide-progress-bar
                                                         class              ="side-photo-file-selector"
                                                         valid-formats      ={_validFormats}
                                                         button-label       ="Upload Side" 
                                                         file-names         ={_sidePhotoFileName}
                                                         folder-path        ={_dropboxReferencePath} 
                                                         authorization-key  ={_dropboxAuthCode} 
                                                         onselect           ={onSidePhotoSelected}
                                                         onuploadfinished   ={onSidePhotoUploaded}></c-dropbox-file-selector>

                                <template if:true={isSidePhotoUploaded}>        
                                    <br/>
                                    <img src={sidePhotoURL} style="max-height: 200px;"/>
                                    <br/>
                                </template>      
                                <template if:false={isSidePhotoUploaded}>
                                    <br/>
                                    <template if:true={isMaleClient}>
                                        <img class="placeholder-image" src="https://www.dropbox.com/s/axbx3my9avml1d4/Male_Side.jpg?raw=1" style="max-height: 200px;"/>
                                    </template>
                                    <template if:true={isFemaleClient}>
                                        <img class="placeholder-image" src="https://www.dropbox.com/s/os1sir4u7kiiote/Female_Side.jpg?raw=1" style="max-height: 200px;"/>
                                    </template>
                                    <br/>
                                </template>      
                                <div class="photo-footer slds-align_absolute-center">
                                    <template if:true={isSidePhotoUploaded}>   
                                        <lightning-button label="Delete" icon-name="utility:delete" onclick={onSidePhotoDelete}></lightning-button>
                                    </template>
                                </div>  
                                <template if:true={_uploadingSide}>
                                    <div class="spinner-holder">
                                        <lightning-spinner size="large"></lightning-spinner>
                                    </div>
                                </template>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: center;">
                        <div class="box">
                            <div class="title">Back</div>
                            <div class="content">
	                            <c-dropbox-file-selector hide-progress-bar
                                                         class              ="back-photo-file-selector"
                                                         valid-formats      ={_validFormats}
                                                         button-label       ="Upload Back" 
                                                         file-names         ={_backPhotoFileName}
                                                         folder-path        ={_dropboxReferencePath} 
                                                         authorization-key  ={_dropboxAuthCode} 
                                                         onselect           ={onBackPhotoSelected}
                                                         onuploadfinished   ={onBackPhotoUploaded}></c-dropbox-file-selector>
                                <template if:true={isBackPhotoUploaded}>        
                                    <br/>
                                    <img src={backPhotoURL} style="max-height: 200px;"/>
                                    <br/>
                                </template>      
                                <template if:false={isBackPhotoUploaded}>
                                    <br/>
                                    <template if:true={isMaleClient}>
                                        <img class="placeholder-image" src="https://www.dropbox.com/s/zclxmcmnzfqmgfi/Male_Back.jpg?raw=1" style="max-height: 200px;"/>
                                    </template>
                                    <template if:true={isFemaleClient}>
                                        <img class="placeholder-image" src="https://www.dropbox.com/s/akfakp0dbtwwfyv/Female_Back.jpg?raw=1" style="max-height: 200px;"/>
                                    </template>
                                    <br/>
                                </template>     
                                <div class="photo-footer slds-align_absolute-center">
                                    <template if:true={isBackPhotoUploaded}>   
                                        <lightning-button label="Delete" icon-name="utility:delete" onclick={onBackPhotoDelete}></lightning-button>
                                    </template>
                                </div>
                                <template if:true={_uploadingBack}>
                                    <div class="spinner-holder">
                                        <lightning-spinner size="large"></lightning-spinner>
                                    </div>
                                </template>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </template>
    <template if:false={isMobile}>
        
        <table class="photos">
            <tbody>
                <tr>
                    <td style="text-align: center;">
                        <div class="box">
                            <div class="title">Front</div>
                            <div class="content">
	                            <c-dropbox-file-selector hide-progress-bar
                                                         class              ="front-photo-file-selector"
                                                         valid-formats      ={_validFormats}
                                                         button-label       ="Upload Front" 
                                                         file-names         ={_frontPhotoFileName}
                                                         folder-path        ={_dropboxReferencePath} 
                                                         authorization-key  ={_dropboxAuthCode} 
                                                         onselect           ={onFrontPhotoSelected}
                                                         onuploadfinished   ={onFrontPhotoUploaded}></c-dropbox-file-selector>
                                <template if:true={isFrontPhotoUploaded}>        
                                    <br/>
                                    <img src={frontPhotoURL} style="max-height: 200px;"/>
                                    <br/>
                                </template>      
                                <template if:false={isFrontPhotoUploaded}>
                                    <br/>
                                    <template if:true={isMaleClient}>
                                        <img class="placeholder-image" src="https://www.dropbox.com/s/2vo9m3wvrpxnxm1/Male_Front.jpg?raw=1" style="max-height: 200px;"/>
                                    </template>
                                    <template if:true={isFemaleClient}>
                                        <img class="placeholder-image" src="https://www.dropbox.com/s/icgbz6xiyedec8d/Female_Front.jpg?raw=1" style="max-height: 200px;"/>
                                    </template>
                                    <br/>
                                </template>   
                                <div class="photo-footer slds-align_absolute-center">
                                    <template if:true={isFrontPhotoUploaded}>   
                                        <lightning-button label="Delete" icon-name="utility:delete" onclick={onFrontPhotoDelete}></lightning-button>
                                    </template>
                                </div>
                                <template if:true={_uploadingFront}>
                                    <div class="spinner-holder">
                                        <lightning-spinner size="large"></lightning-spinner>
                                    </div>
                                </template>

                            </div>
                        </div>
                    </td>
                    <td style="text-align: center;">
                        <div class="box">
                            <div class="title">Side</div>
                            <div class="content">
	                            <c-dropbox-file-selector hide-progress-bar
                                                         class              ="side-photo-file-selector"
                                                         valid-formats      ={_validFormats}
                                                         button-label       ="Upload Side" 
                                                         file-names         ={_sidePhotoFileName}
                                                         folder-path        ={_dropboxReferencePath} 
                                                         authorization-key  ={_dropboxAuthCode} 
                                                         onselect           ={onSidePhotoSelected}
                                                         onuploadfinished   ={onSidePhotoUploaded}></c-dropbox-file-selector>
                                <template if:true={isSidePhotoUploaded}>        
                                    <br/>
                                    <img src={sidePhotoURL} style="max-height: 200px;"/>
                                    <br/>
                                </template>      
                                <template if:false={isSidePhotoUploaded}>
                                    <br/>
                                    <template if:true={isMaleClient}>
                                        <img class="placeholder-image" src="https://www.dropbox.com/s/axbx3my9avml1d4/Male_Side.jpg?raw=1" style="max-height: 200px;"/>
                                    </template>
                                    <template if:true={isFemaleClient}>
                                        <img class="placeholder-image" src="https://www.dropbox.com/s/os1sir4u7kiiote/Female_Side.jpg?raw=1" style="max-height: 200px;"/>
                                    </template>
                                    <br/>
                                </template>   
                                <div class="photo-footer slds-align_absolute-center">
                                    <template if:true={isSidePhotoUploaded}>   
                                        <lightning-button label="Delete" icon-name="utility:delete" onclick={onSidePhotoDelete}></lightning-button>
                                    </template>
                                </div>
                                <template if:true={_uploadingSide}>
                                    <div class="spinner-holder">
                                        <lightning-spinner size="large"></lightning-spinner>
                                    </div>
                                </template>
                            </div>
                        </div>
                    </td>
                    <td style="text-align: center;">
                        <div class="box">
                            <div class="title">Back</div>
                            <div class="content">
	                            <c-dropbox-file-selector hide-progress-bar
                                                         class              ="back-photo-file-selector"
                                                         valid-formats      ={_validFormats}
                                                         button-label       ="Upload Back" 
                                                         file-names         ={_backPhotoFileName}
                                                         folder-path        ={_dropboxReferencePath} 
                                                         authorization-key  ={_dropboxAuthCode} 
                                                         onselect           ={onBackPhotoSelected}
                                                         onuploadfinished   ={onBackPhotoUploaded}></c-dropbox-file-selector>
                                <template if:true={isBackPhotoUploaded}>        
                                    <br/>
                                    <img src={backPhotoURL} style="max-height: 200px;"/>
                                    <br/>
                                </template>      
                                <template if:false={isBackPhotoUploaded}>
                                    <br/>
                                    <template if:true={isMaleClient}>
                                        <img class="placeholder-image" src="https://www.dropbox.com/s/zclxmcmnzfqmgfi/Male_Back.jpg?raw=1" style="max-height: 200px;"/>
                                    </template>
                                    <template if:true={isFemaleClient}>
                                        <img class="placeholder-image" src="https://www.dropbox.com/s/akfakp0dbtwwfyv/Female_Back.jpg?raw=1" style="max-height: 200px;"/>
                                    </template>
                                    <br/>
                                </template>   

                                <div class="photo-footer slds-align_absolute-center">
                                    <template if:true={isBackPhotoUploaded}>   
                                        <lightning-button label="Delete" icon-name="utility:delete" onclick={onBackPhotoDelete}></lightning-button>
                                    </template>
                                </div>
                                <template if:true={_uploadingBack}>
                                    <div class="spinner-holder">
                                        <lightning-spinner size="large"></lightning-spinner>
                                    </div>
                                </template>

                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </template>
</template>