/*
.content lightning-file-upload .slds-form-element__label {
    display: none;
}
*/

.title {
    background-color: #999;
    padding: 4px;
    font-size: 1.2em;
    text-align: center;
    color: white;
    border-radius: 3px;
}
.content {
    padding: 10px;
    text-align: center;
    position: relative;
}

.spinner-holder {
    position:   absolute;
    top:        0;
    right:      0;
    bottom:     0;
    left:       0;
}

.box {
    border: 1px solid #999;
    border-radius: 4px;
    width: inherit;
    display: inline-block;
}

.photo-footer {
    height: 3rem;
}