.block-row > td, .block-row:hover > td {
    background-color: #254c8c !important;
    color: white;
    border-left: none;
    border-right: none;
    font-weight: 900;
}

.plan-table__tracker .block-row > td, .plan-table__tracker:hover .block-row > td {
    background-color: #d3d3d3 !important;
    color: black !important;
}

.plan-table__tracker {
    --sds-c-button-text-color: black;
}

.changes_decrease > p {
    color: teal;
}
.changes_increase > p {
    color: orangered;
}

.dial-updown__adjustment-values {
    display: flex;
}

.delete__column {
    width: 36px;
    padding-left: 0.5rem !important;
}

.move__column {
    width: 32px;
    padding-right: 0.5rem;
}

.measurement__column, .protein__column, .carbs__column, .fat__column, .calories__column {
    width: 70px;
    text-align: center;
}

.quantity__column {
    width: 100px;
    text-align: center;
}

table {
    border-top: none;
}

table td, table th {
    padding: 4px 8px;
}
table tr {
    line-height: 24px !important;
}

table thead tr:first-child th {
    border-top: var(--lwc-borderWidthThin,1px) solid var(--lwc-colorBorder,rgb(68, 61, 61));
}

.plan-actions__row th {
    height: 42px;
}

.changes__row th {
    height: 46px;
}

.value__row th, .totals__row th, .item-values__row th, .previous-totals__row th, .target__row th {
    height: 30px;
}

.blank__row th {
    height: 26px;
}



/* Fixed Table css */
.fixed-table-header__scrollable {
    overflow-y: scroll;
    height: 70vh;
}

/* ---------- Plan No Changes, No Targets ---------- */
.plan-table__no-changes.plan-table__no-target thead .value__row th {
    position: sticky;
    top: 0;
    z-index: 100;
}
.plan-table__no-changes.plan-table__no-target thead .totals__row th {
    position: sticky;
    top: 30px;
    z-index: 100;
}
.plan-table__no-changes.plan-table__no-target thead .plan-actions__row th {
    position: sticky;
    top: 60px;
    z-index: 100;
}
.plan-table__no-changes.plan-table__no-target thead .item-values__row th {
    position: sticky;
    top: 102px;
    z-index: 100;
}

/* ---------- Plan Has Changes, No Targets ---------- */
.plan-table__changes.plan-table__no-target thead .value__row th {
    position: sticky;
    top: 0;
    z-index: 100;
}
.plan-table__changes.plan-table__no-target thead .previous-totals__row th {
    position: sticky;
    top: 30px;
    z-index: 100;
}
.plan-table__changes.plan-table__no-target thead .totals__row th {
    position: sticky;
    top: 60px;
    z-index: 100;
}
.plan-table__changes.plan-table__no-target thead .changes__row th {
    position: sticky;
    top: 90px;
    z-index: 100;
}
.plan-table__changes.plan-table__no-target thead .plan-actions__row th {
    position: sticky;
    top: 136px;
    z-index: 100;
}
.plan-table__changes.plan-table__no-target thead .item-values__row th {
    position: sticky;
    top: 178px;
    z-index: 100;
}

.blank__row th {
    height: 26px;
}

.plan-table__tracker .totals__row > th {
    background-color: lightgray;
    font-weight: 900;
}


/* ---------- Plan No Changes, Has Targets ---------- */
.plan-table__no-changes.plan-table__attached-target thead .value__row th,
.plan-table__no-changes.plan-table__attached-target thead .target__row th,
.plan-table__no-changes.plan-table__attached-target thead .totals__row th,
.plan-table__no-changes.plan-table__attached-target thead .plan-actions__row th,
.plan-table__no-changes.plan-table__attached-target thead .item-values__row th,
.plan-table__no-changes.plan-table__attached-target thead > .blank__row th {
    position: sticky;
    z-index: 100;
}

/* ---------- One Target ---------- */
.plan-table__no-changes.plan-table__attached-target.target-count__one thead > .value__row th                    { top: 0; }
.plan-table__no-changes.plan-table__attached-target.target-count__one thead > .target__row:nth-child(2) th      { top: 30px; }
.plan-table__no-changes.plan-table__attached-target.target-count__one thead > .blank__row th                    { top: 60px; }
.plan-table__no-changes.plan-table__attached-target.target-count__one thead > .totals__row th                   { top: 86px; }
.plan-table__no-changes.plan-table__attached-target.target-count__one thead > .plan-actions__row th             { top: 116px; }
.plan-table__no-changes.plan-table__attached-target.target-count__one thead > .item-values__row th              { top: 158px; }

/* ---------- Two Targets ---------- */
.plan-table__no-changes.plan-table__attached-target.target-count__two thead > .value__row th                    { top: 0; }
.plan-table__no-changes.plan-table__attached-target.target-count__two thead > .target__row:nth-child(2) th      { top: 30px; }
.plan-table__no-changes.plan-table__attached-target.target-count__two thead > .target__row:nth-child(3) th      { top: 60px; }
.plan-table__no-changes.plan-table__attached-target.target-count__two thead > .blank__row th                    { top: 90px; }
.plan-table__no-changes.plan-table__attached-target.target-count__two thead > .totals__row th                   { top: 116px; }
.plan-table__no-changes.plan-table__attached-target.target-count__two thead > .plan-actions__row th             { top: 146px; }
.plan-table__no-changes.plan-table__attached-target.target-count__two thead > .item-values__row th              { top: 188px; }

/* ---------- Three Targets ---------- */
.plan-table__no-changes.plan-table__attached-target.target-count__three thead > .value__row th                  { top: 0; }
.plan-table__no-changes.plan-table__attached-target.target-count__three thead > .target__row:nth-child(2) th    { top: 30px; }
.plan-table__no-changes.plan-table__attached-target.target-count__three thead > .target__row:nth-child(3) th    { top: 60px; }
.plan-table__no-changes.plan-table__attached-target.target-count__three thead > .target__row:nth-child(4) th    { top: 90px; }
.plan-table__no-changes.plan-table__attached-target.target-count__three thead > .blank__row th                  { top: 120px; }
.plan-table__no-changes.plan-table__attached-target.target-count__three thead > .totals__row th                 { top: 146px; }
.plan-table__no-changes.plan-table__attached-target.target-count__three thead > .plan-actions__row th           { top: 176px; }
.plan-table__no-changes.plan-table__attached-target.target-count__three thead > .item-values__row th            { top: 218px; }

/* ---------- Four Targets ---------- */
.plan-table__no-changes.plan-table__attached-target.target-count__four thead > .value__row th                   { top: 0; }
.plan-table__no-changes.plan-table__attached-target.target-count__four thead > .target__row:nth-child(2) th     { top: 30px; }
.plan-table__no-changes.plan-table__attached-target.target-count__four thead > .target__row:nth-child(3) th     { top: 60px; }
.plan-table__no-changes.plan-table__attached-target.target-count__four thead > .target__row:nth-child(4) th     { top: 90px; }
.plan-table__no-changes.plan-table__attached-target.target-count__four thead > .target__row:nth-child(5) th     { top: 120px; }
.plan-table__no-changes.plan-table__attached-target.target-count__four thead > .blank__row th                   { top: 150px; }
.plan-table__no-changes.plan-table__attached-target.target-count__four thead > .totals__row th                  { top: 176px; }
.plan-table__no-changes.plan-table__attached-target.target-count__four thead > .plan-actions__row th            { top: 206px; }
.plan-table__no-changes.plan-table__attached-target.target-count__four thead > .item-values__row th             { top: 248px; }

/* ---------- Five Targets ---------- */
.plan-table__no-changes.plan-table__attached-target.target-count__five thead > .value__row th                   { top: 0; }
.plan-table__no-changes.plan-table__attached-target.target-count__five thead > .target__row:nth-child(2) th     { top: 30px; }
.plan-table__no-changes.plan-table__attached-target.target-count__five thead > .target__row:nth-child(3) th     { top: 60px; }
.plan-table__no-changes.plan-table__attached-target.target-count__five thead > .target__row:nth-child(4) th     { top: 90px; }
.plan-table__no-changes.plan-table__attached-target.target-count__five thead > .target__row:nth-child(5) th     { top: 120px; }
.plan-table__no-changes.plan-table__attached-target.target-count__five thead > .target__row:nth-child(6) th     { top: 150px; }
.plan-table__no-changes.plan-table__attached-target.target-count__five thead > .blank__row th                   { top: 180px; }
.plan-table__no-changes.plan-table__attached-target.target-count__five thead > .totals__row th                  { top: 206px; }
.plan-table__no-changes.plan-table__attached-target.target-count__five thead > .plan-actions__row th            { top: 236px; }
.plan-table__no-changes.plan-table__attached-target.target-count__five thead > .item-values__row th             { top: 278px; }

/* ---------- Six Targets ---------- */
.plan-table__no-changes.plan-table__attached-target.target-count__six thead > .value__row th                    { top: 0; }
.plan-table__no-changes.plan-table__attached-target.target-count__six thead > .target__row:nth-child(2) th      { top: 30px; }
.plan-table__no-changes.plan-table__attached-target.target-count__six thead > .target__row:nth-child(3) th      { top: 60px; }
.plan-table__no-changes.plan-table__attached-target.target-count__six thead > .target__row:nth-child(4) th      { top: 90px; }
.plan-table__no-changes.plan-table__attached-target.target-count__six thead > .target__row:nth-child(5) th      { top: 120px; }
.plan-table__no-changes.plan-table__attached-target.target-count__six thead > .target__row:nth-child(6) th      { top: 150px; }
.plan-table__no-changes.plan-table__attached-target.target-count__six thead > .target__row:nth-child(7) th      { top: 180px; }
.plan-table__no-changes.plan-table__attached-target.target-count__six thead > .blank__row th                    { top: 210px; }
.plan-table__no-changes.plan-table__attached-target.target-count__six thead > .totals__row th                   { top: 236px; }
.plan-table__no-changes.plan-table__attached-target.target-count__six thead > .plan-actions__row th             { top: 266px; }
.plan-table__no-changes.plan-table__attached-target.target-count__six thead > .item-values__row th              { top: 308px; }

/* ---------- Seven Targets ---------- */
.plan-table__no-changes.plan-table__attached-target.target-count__seven thead > .value__row th                  { top: 0; }
.plan-table__no-changes.plan-table__attached-target.target-count__seven thead > .target__row:nth-child(2) th    { top: 30px; }
.plan-table__no-changes.plan-table__attached-target.target-count__seven thead > .target__row:nth-child(3) th    { top: 60px; }
.plan-table__no-changes.plan-table__attached-target.target-count__seven thead > .target__row:nth-child(4) th    { top: 90px; }
.plan-table__no-changes.plan-table__attached-target.target-count__seven thead > .target__row:nth-child(5) th    { top: 120px; }
.plan-table__no-changes.plan-table__attached-target.target-count__seven thead > .target__row:nth-child(6) th    { top: 150px; }
.plan-table__no-changes.plan-table__attached-target.target-count__seven thead > .target__row:nth-child(7) th    { top: 180px; }
.plan-table__no-changes.plan-table__attached-target.target-count__seven thead > .target__row:nth-child(8) th    { top: 210px; }
.plan-table__no-changes.plan-table__attached-target.target-count__seven thead > .blank__row th                  { top: 240px; }
.plan-table__no-changes.plan-table__attached-target.target-count__seven thead > .totals__row th                 { top: 266px; }
.plan-table__no-changes.plan-table__attached-target.target-count__seven thead > .plan-actions__row th           { top: 296px; }
.plan-table__no-changes.plan-table__attached-target.target-count__seven thead > .item-values__row th            { top: 338px; }

/* ---------- Eight Targets ---------- */
.plan-table__no-changes.plan-table__attached-target.target-count__eight thead > .value__row th                  { top: 0; }
.plan-table__no-changes.plan-table__attached-target.target-count__eight thead > .target__row:nth-child(2) th    { top: 30px; }
.plan-table__no-changes.plan-table__attached-target.target-count__eight thead > .target__row:nth-child(3) th    { top: 60px; }
.plan-table__no-changes.plan-table__attached-target.target-count__eight thead > .target__row:nth-child(4) th    { top: 90px; }
.plan-table__no-changes.plan-table__attached-target.target-count__eight thead > .target__row:nth-child(5) th    { top: 120px; }
.plan-table__no-changes.plan-table__attached-target.target-count__eight thead > .target__row:nth-child(6) th    { top: 150px; }
.plan-table__no-changes.plan-table__attached-target.target-count__eight thead > .target__row:nth-child(7) th    { top: 180px; }
.plan-table__no-changes.plan-table__attached-target.target-count__eight thead > .target__row:nth-child(8) th    { top: 210px; }
.plan-table__no-changes.plan-table__attached-target.target-count__eight thead > .target__row:nth-child(9) th    { top: 240px; }
.plan-table__no-changes.plan-table__attached-target.target-count__eight thead > .blank__row th                  { top: 270px; }
.plan-table__no-changes.plan-table__attached-target.target-count__eight thead > .totals__row th                 { top: 296px; }
.plan-table__no-changes.plan-table__attached-target.target-count__eight thead > .plan-actions__row th           { top: 326px; }
.plan-table__no-changes.plan-table__attached-target.target-count__eight thead > .item-values__row th            { top: 368px; }

/* ---------- Nine Targets ---------- */
.plan-table__no-changes.plan-table__attached-target.target-count__nine thead > .value__row th                   { top: 0; }
.plan-table__no-changes.plan-table__attached-target.target-count__nine thead > .target__row:nth-child(2) th     { top: 30px; }
.plan-table__no-changes.plan-table__attached-target.target-count__nine thead > .target__row:nth-child(3) th     { top: 60px; }
.plan-table__no-changes.plan-table__attached-target.target-count__nine thead > .target__row:nth-child(4) th     { top: 90px; }
.plan-table__no-changes.plan-table__attached-target.target-count__nine thead > .target__row:nth-child(5) th     { top: 120px; }
.plan-table__no-changes.plan-table__attached-target.target-count__nine thead > .target__row:nth-child(6) th     { top: 150px; }
.plan-table__no-changes.plan-table__attached-target.target-count__nine thead > .target__row:nth-child(7) th     { top: 180px; }
.plan-table__no-changes.plan-table__attached-target.target-count__nine thead > .target__row:nth-child(8) th     { top: 210px; }
.plan-table__no-changes.plan-table__attached-target.target-count__nine thead > .target__row:nth-child(9) th     { top: 240px; }
.plan-table__no-changes.plan-table__attached-target.target-count__nine thead > .target__row:nth-child(10) th    { top: 270px; }
.plan-table__no-changes.plan-table__attached-target.target-count__nine thead > .blank__row th                   { top: 300px; }
.plan-table__no-changes.plan-table__attached-target.target-count__nine thead > .totals__row th                  { top: 326px; }
.plan-table__no-changes.plan-table__attached-target.target-count__nine thead > .plan-actions__row th            { top: 356px; }
.plan-table__no-changes.plan-table__attached-target.target-count__nine thead > .item-values__row th             { top: 398px; }

/* ---------- Ten Targets ---------- */
.plan-table__no-changes.plan-table__attached-target.target-count__ten thead > .value__row th                    { top: 0; }
.plan-table__no-changes.plan-table__attached-target.target-count__ten thead > .target__row:nth-child(2) th      { top: 30px; }
.plan-table__no-changes.plan-table__attached-target.target-count__ten thead > .target__row:nth-child(3) th      { top: 60px; }
.plan-table__no-changes.plan-table__attached-target.target-count__ten thead > .target__row:nth-child(4) th      { top: 90px; }
.plan-table__no-changes.plan-table__attached-target.target-count__ten thead > .target__row:nth-child(5) th      { top: 120px; }
.plan-table__no-changes.plan-table__attached-target.target-count__ten thead > .target__row:nth-child(6) th      { top: 150px; }
.plan-table__no-changes.plan-table__attached-target.target-count__ten thead > .target__row:nth-child(7) th      { top: 180px; }
.plan-table__no-changes.plan-table__attached-target.target-count__ten thead > .target__row:nth-child(8) th      { top: 210px; }
.plan-table__no-changes.plan-table__attached-target.target-count__ten thead > .target__row:nth-child(9) th      { top: 240px; }
.plan-table__no-changes.plan-table__attached-target.target-count__ten thead > .target__row:nth-child(10) th     { top: 270px; }
.plan-table__no-changes.plan-table__attached-target.target-count__ten thead > .target__row:nth-child(11) th     { top: 300px; }
.plan-table__no-changes.plan-table__attached-target.target-count__ten thead > .blank__row th                    { top: 330px; }
.plan-table__no-changes.plan-table__attached-target.target-count__ten thead > .totals__row th                   { top: 356px; }
.plan-table__no-changes.plan-table__attached-target.target-count__ten thead > .plan-actions__row th             { top: 386px; }
.plan-table__no-changes.plan-table__attached-target.target-count__ten thead > .item-values__row th              { top: 428px; }

/* ---------- Eleven Targets ---------- */
.plan-table__no-changes.plan-table__attached-target.target-count__eleven thead > .value__row th                 { top: 0; }
.plan-table__no-changes.plan-table__attached-target.target-count__eleven thead > .target__row:nth-child(2) th   { top: 30px; }
.plan-table__no-changes.plan-table__attached-target.target-count__eleven thead > .target__row:nth-child(3) th   { top: 60px; }
.plan-table__no-changes.plan-table__attached-target.target-count__eleven thead > .target__row:nth-child(4) th   { top: 90px; }
.plan-table__no-changes.plan-table__attached-target.target-count__eleven thead > .target__row:nth-child(5) th   { top: 120px; }
.plan-table__no-changes.plan-table__attached-target.target-count__eleven thead > .target__row:nth-child(6) th   { top: 150px; }
.plan-table__no-changes.plan-table__attached-target.target-count__eleven thead > .target__row:nth-child(7) th   { top: 180px; }
.plan-table__no-changes.plan-table__attached-target.target-count__eleven thead > .target__row:nth-child(8) th   { top: 210px; }
.plan-table__no-changes.plan-table__attached-target.target-count__eleven thead > .target__row:nth-child(9) th   { top: 240px; }
.plan-table__no-changes.plan-table__attached-target.target-count__eleven thead > .target__row:nth-child(10) th  { top: 270px; }
.plan-table__no-changes.plan-table__attached-target.target-count__eleven thead > .target__row:nth-child(11) th  { top: 300px; }
.plan-table__no-changes.plan-table__attached-target.target-count__eleven thead > .target__row:nth-child(12) th  { top: 330px; }
.plan-table__no-changes.plan-table__attached-target.target-count__eleven thead > .blank__row th                 { top: 360px; }
.plan-table__no-changes.plan-table__attached-target.target-count__eleven thead > .totals__row th                { top: 386px; }
.plan-table__no-changes.plan-table__attached-target.target-count__eleven thead > .plan-actions__row th          { top: 416px; }
.plan-table__no-changes.plan-table__attached-target.target-count__eleven thead > .item-values__row th           { top: 458px; }

/* ---------- Twelve Targets ---------- */
.plan-table__no-changes.plan-table__attached-target.target-count__twelve thead > .value__row th                 { top: 0; }
.plan-table__no-changes.plan-table__attached-target.target-count__twelve thead > .target__row:nth-child(2) th   { top: 30px; }
.plan-table__no-changes.plan-table__attached-target.target-count__twelve thead > .target__row:nth-child(3) th   { top: 60px; }
.plan-table__no-changes.plan-table__attached-target.target-count__twelve thead > .target__row:nth-child(4) th   { top: 90px; }
.plan-table__no-changes.plan-table__attached-target.target-count__twelve thead > .target__row:nth-child(5) th   { top: 120px; }
.plan-table__no-changes.plan-table__attached-target.target-count__twelve thead > .target__row:nth-child(6) th   { top: 150px; }
.plan-table__no-changes.plan-table__attached-target.target-count__twelve thead > .target__row:nth-child(7) th   { top: 180px; }
.plan-table__no-changes.plan-table__attached-target.target-count__twelve thead > .target__row:nth-child(8) th   { top: 210px; }
.plan-table__no-changes.plan-table__attached-target.target-count__twelve thead > .target__row:nth-child(9) th   { top: 240px; }
.plan-table__no-changes.plan-table__attached-target.target-count__twelve thead > .target__row:nth-child(10) th  { top: 270px; }
.plan-table__no-changes.plan-table__attached-target.target-count__twelve thead > .target__row:nth-child(11) th  { top: 300px; }
.plan-table__no-changes.plan-table__attached-target.target-count__twelve thead > .target__row:nth-child(12) th  { top: 330px; }
.plan-table__no-changes.plan-table__attached-target.target-count__twelve thead > .target__row:nth-child(13) th  { top: 360px; }
.plan-table__no-changes.plan-table__attached-target.target-count__twelve thead > .blank__row th                 { top: 390px; }
.plan-table__no-changes.plan-table__attached-target.target-count__twelve thead > .totals__row th                { top: 416px; }
.plan-table__no-changes.plan-table__attached-target.target-count__twelve thead > .plan-actions__row th          { top: 446px; }
.plan-table__no-changes.plan-table__attached-target.target-count__twelve thead > .item-values__row th           { top: 488px; }



/* ---------- Plan Has Changes, Has Targets ---------- */
.plan-table__changes.plan-table__attached-target thead .value__row th,
.plan-table__changes.plan-table__attached-target thead .target__row th,
.plan-table__changes.plan-table__attached-target thead .blank__row th,
.plan-table__changes.plan-table__attached-target thead .previous-totals__row th,
.plan-table__changes.plan-table__attached-target thead .totals__row th,
.plan-table__changes.plan-table__attached-target thead .changes__row th,
.plan-table__changes.plan-table__attached-target thead .plan-actions__row th,
.plan-table__changes.plan-table__attached-target thead .item-values__row th {
    position: sticky;
    z-index: 100;
}

/* ---------- One Target ---------- */
.plan-table__changes.plan-table__attached-target.target-count__one thead .value__row th                     { top: 0; }
.plan-table__changes.plan-table__attached-target.target-count__one thead .target__row:nth-child(2) th       { top: 30px; }
.plan-table__changes.plan-table__attached-target.target-count__one thead .blank__row th                     { top: 60px; }
.plan-table__changes.plan-table__attached-target.target-count__one thead .previous-totals__row th           { top: 86px; }
.plan-table__changes.plan-table__attached-target.target-count__one thead .totals__row th                    { top: 116px; }
.plan-table__changes.plan-table__attached-target.target-count__one thead .changes__row th                   { top: 146px; }
.plan-table__changes.plan-table__attached-target.target-count__one thead .plan-actions__row th              { top: 192px; }
.plan-table__changes.plan-table__attached-target.target-count__one thead .item-values__row th               { top: 234px; }

/* ---------- Two Targets ---------- */
.plan-table__changes.plan-table__attached-target.target-count__two thead .value__row th                     { top: 0; }
.plan-table__changes.plan-table__attached-target.target-count__two thead .target__row:nth-child(2) th       { top: 30px; }
.plan-table__changes.plan-table__attached-target.target-count__two thead .target__row:nth-child(3) th       { top: 60px; }
.plan-table__changes.plan-table__attached-target.target-count__two thead .blank__row th                     { top: 90px; }
.plan-table__changes.plan-table__attached-target.target-count__two thead .previous-totals__row th           { top: 116px; }
.plan-table__changes.plan-table__attached-target.target-count__two thead .totals__row th                    { top: 146px; }
.plan-table__changes.plan-table__attached-target.target-count__two thead .changes__row th                   { top: 176px; }
.plan-table__changes.plan-table__attached-target.target-count__two thead .plan-actions__row th              { top: 222px; }
.plan-table__changes.plan-table__attached-target.target-count__two thead .item-values__row th               { top: 264px; }

/* ---------- Three Targets ---------- */
.plan-table__changes.plan-table__attached-target.target-count__three thead .value__row th                   { top: 0; }
.plan-table__changes.plan-table__attached-target.target-count__three thead .target__row:nth-child(2) th     { top: 30px; }
.plan-table__changes.plan-table__attached-target.target-count__three thead .target__row:nth-child(3) th     { top: 60px; }
.plan-table__changes.plan-table__attached-target.target-count__three thead .target__row:nth-child(4) th     { top: 90px; }
.plan-table__changes.plan-table__attached-target.target-count__three thead .blank__row th                   { top: 120px; }
.plan-table__changes.plan-table__attached-target.target-count__three thead .previous-totals__row th         { top: 146px; }
.plan-table__changes.plan-table__attached-target.target-count__three thead .totals__row th                  { top: 176px; }
.plan-table__changes.plan-table__attached-target.target-count__three thead .changes__row th                 { top: 206px; }
.plan-table__changes.plan-table__attached-target.target-count__three thead .plan-actions__row th            { top: 252px; }
.plan-table__changes.plan-table__attached-target.target-count__three thead .item-values__row th             { top: 294px; }

/* ---------- Four Targets ---------- */
.plan-table__changes.plan-table__attached-target.target-count__four thead .value__row th                    { top: 0; }
.plan-table__changes.plan-table__attached-target.target-count__four thead .target__row:nth-child(2) th      { top: 30px; }
.plan-table__changes.plan-table__attached-target.target-count__four thead .target__row:nth-child(3) th      { top: 60px; }
.plan-table__changes.plan-table__attached-target.target-count__four thead .target__row:nth-child(4) th      { top: 90px; }
.plan-table__changes.plan-table__attached-target.target-count__four thead .target__row:nth-child(5) th      { top: 120px; }
.plan-table__changes.plan-table__attached-target.target-count__four thead .blank__row th                    { top: 150px; }
.plan-table__changes.plan-table__attached-target.target-count__four thead .previous-totals__row th          { top: 176px; }
.plan-table__changes.plan-table__attached-target.target-count__four thead .totals__row th                   { top: 206px; }
.plan-table__changes.plan-table__attached-target.target-count__four thead .changes__row th                  { top: 236px; }
.plan-table__changes.plan-table__attached-target.target-count__four thead .plan-actions__row th             { top: 282px; }
.plan-table__changes.plan-table__attached-target.target-count__four thead .item-values__row th              { top: 324px; }

/* ---------- Five Target ---------- */
.plan-table__changes.plan-table__attached-target.target-count__five thead .value__row th                    { top: 0; }
.plan-table__changes.plan-table__attached-target.target-count__five thead .target__row:nth-child(2) th      { top: 30px; }
.plan-table__changes.plan-table__attached-target.target-count__five thead .target__row:nth-child(3) th      { top: 60px; }
.plan-table__changes.plan-table__attached-target.target-count__five thead .target__row:nth-child(4) th      { top: 90px; }
.plan-table__changes.plan-table__attached-target.target-count__five thead .target__row:nth-child(5) th      { top: 120px; }
.plan-table__changes.plan-table__attached-target.target-count__five thead .target__row:nth-child(6) th      { top: 150px; }
.plan-table__changes.plan-table__attached-target.target-count__five thead .blank__row th                    { top: 180px; }
.plan-table__changes.plan-table__attached-target.target-count__five thead .previous-totals__row th          { top: 206px; }
.plan-table__changes.plan-table__attached-target.target-count__five thead .totals__row th                   { top: 236px; }
.plan-table__changes.plan-table__attached-target.target-count__five thead .changes__row th                  { top: 266px; }
.plan-table__changes.plan-table__attached-target.target-count__five thead .plan-actions__row th             { top: 312px; }
.plan-table__changes.plan-table__attached-target.target-count__five thead .item-values__row th              { top: 354px; }

/* ---------- Six Target ---------- */
.plan-table__changes.plan-table__attached-target.target-count__six thead .value__row th                     { top: 0; }
.plan-table__changes.plan-table__attached-target.target-count__six thead .target__row:nth-child(2) th       { top: 30px; }
.plan-table__changes.plan-table__attached-target.target-count__six thead .target__row:nth-child(3) th       { top: 60px; }
.plan-table__changes.plan-table__attached-target.target-count__six thead .target__row:nth-child(4) th       { top: 90px; }
.plan-table__changes.plan-table__attached-target.target-count__six thead .target__row:nth-child(5) th       { top: 120px; }
.plan-table__changes.plan-table__attached-target.target-count__six thead .target__row:nth-child(6) th       { top: 150px; }
.plan-table__changes.plan-table__attached-target.target-count__six thead .target__row:nth-child(7) th       { top: 180px; }
.plan-table__changes.plan-table__attached-target.target-count__six thead .blank__row th                     { top: 210px; }
.plan-table__changes.plan-table__attached-target.target-count__six thead .previous-totals__row th           { top: 236px; }
.plan-table__changes.plan-table__attached-target.target-count__six thead .totals__row th                    { top: 266px; }
.plan-table__changes.plan-table__attached-target.target-count__six thead .changes__row th                   { top: 296px; }
.plan-table__changes.plan-table__attached-target.target-count__six thead .plan-actions__row th              { top: 342px; }
.plan-table__changes.plan-table__attached-target.target-count__six thead .item-values__row th               { top: 384px; }

/* ---------- Seven Target ---------- */
.plan-table__changes.plan-table__attached-target.target-count__seven thead .value__row th                   { top: 0; }
.plan-table__changes.plan-table__attached-target.target-count__seven thead .target__row:nth-child(2) th     { top: 30px; }
.plan-table__changes.plan-table__attached-target.target-count__seven thead .target__row:nth-child(3) th     { top: 60px; }
.plan-table__changes.plan-table__attached-target.target-count__seven thead .target__row:nth-child(4) th     { top: 90px; }
.plan-table__changes.plan-table__attached-target.target-count__seven thead .target__row:nth-child(5) th     { top: 120px; }
.plan-table__changes.plan-table__attached-target.target-count__seven thead .target__row:nth-child(6) th     { top: 150px; }
.plan-table__changes.plan-table__attached-target.target-count__seven thead .target__row:nth-child(7) th     { top: 180px; }
.plan-table__changes.plan-table__attached-target.target-count__seven thead .target__row:nth-child(8) th     { top: 210px; }
.plan-table__changes.plan-table__attached-target.target-count__seven thead .blank__row th                   { top: 240px; }
.plan-table__changes.plan-table__attached-target.target-count__seven thead .previous-totals__row th         { top: 266px; }
.plan-table__changes.plan-table__attached-target.target-count__seven thead .totals__row th                  { top: 296px; }
.plan-table__changes.plan-table__attached-target.target-count__seven thead .changes__row th                 { top: 326px; }
.plan-table__changes.plan-table__attached-target.target-count__seven thead .plan-actions__row th            { top: 372px; }
.plan-table__changes.plan-table__attached-target.target-count__seven thead .item-values__row th             { top: 414px; }

/* ---------- Eight Target ---------- */
.plan-table__changes.plan-table__attached-target.target-count__eight thead .value__row th                   { top: 0; }
.plan-table__changes.plan-table__attached-target.target-count__eight thead .target__row:nth-child(2) th     { top: 30px; }
.plan-table__changes.plan-table__attached-target.target-count__eight thead .target__row:nth-child(3) th     { top: 60px; }
.plan-table__changes.plan-table__attached-target.target-count__eight thead .target__row:nth-child(4) th     { top: 90px; }
.plan-table__changes.plan-table__attached-target.target-count__eight thead .target__row:nth-child(5) th     { top: 120px; }
.plan-table__changes.plan-table__attached-target.target-count__eight thead .target__row:nth-child(6) th     { top: 150px; }
.plan-table__changes.plan-table__attached-target.target-count__eight thead .target__row:nth-child(7) th     { top: 180px; }
.plan-table__changes.plan-table__attached-target.target-count__eight thead .target__row:nth-child(8) th     { top: 210px; }
.plan-table__changes.plan-table__attached-target.target-count__eight thead .target__row:nth-child(9) th     { top: 240px; }
.plan-table__changes.plan-table__attached-target.target-count__eight thead .blank__row th                   { top: 270px; }
.plan-table__changes.plan-table__attached-target.target-count__eight thead .previous-totals__row th         { top: 296px; }
.plan-table__changes.plan-table__attached-target.target-count__eight thead .totals__row th                  { top: 326px; }
.plan-table__changes.plan-table__attached-target.target-count__eight thead .changes__row th                 { top: 356px; }
.plan-table__changes.plan-table__attached-target.target-count__eight thead .plan-actions__row th            { top: 404px; }
.plan-table__changes.plan-table__attached-target.target-count__eight thead .item-values__row th             { top: 418px; }

/* ---------- Nine Target ---------- */
.plan-table__changes.plan-table__attached-target.target-count__nine thead .value__row th                    { top: 0; }
.plan-table__changes.plan-table__attached-target.target-count__nine thead .target__row:nth-child(2) th      { top: 30px; }
.plan-table__changes.plan-table__attached-target.target-count__nine thead .target__row:nth-child(3) th      { top: 60px; }
.plan-table__changes.plan-table__attached-target.target-count__nine thead .target__row:nth-child(4) th      { top: 90px; }
.plan-table__changes.plan-table__attached-target.target-count__nine thead .target__row:nth-child(5) th      { top: 120px; }
.plan-table__changes.plan-table__attached-target.target-count__nine thead .target__row:nth-child(6) th      { top: 150px; }
.plan-table__changes.plan-table__attached-target.target-count__nine thead .target__row:nth-child(7) th      { top: 180px; }
.plan-table__changes.plan-table__attached-target.target-count__nine thead .target__row:nth-child(8) th      { top: 210px; }
.plan-table__changes.plan-table__attached-target.target-count__nine thead .target__row:nth-child(9) th      { top: 240px; }
.plan-table__changes.plan-table__attached-target.target-count__nine thead .target__row:nth-child(10) th     { top: 270px; }
.plan-table__changes.plan-table__attached-target.target-count__nine thead .blank__row th                    { top: 300px; }
.plan-table__changes.plan-table__attached-target.target-count__nine thead .previous-totals__row th          { top: 326px; }
.plan-table__changes.plan-table__attached-target.target-count__nine thead .totals__row th                   { top: 356px; }
.plan-table__changes.plan-table__attached-target.target-count__nine thead .changes__row th                  { top: 386px; }
.plan-table__changes.plan-table__attached-target.target-count__nine thead .plan-actions__row th             { top: 432px; }
.plan-table__changes.plan-table__attached-target.target-count__nine thead .item-values__row th              { top: 474px; }

/* ---------- Ten Target ---------- */
.plan-table__changes.plan-table__attached-target.target-count__ten thead .value__row th                     { top: 0; }
.plan-table__changes.plan-table__attached-target.target-count__ten thead .target__row:nth-child(2) th       { top: 30px; }
.plan-table__changes.plan-table__attached-target.target-count__ten thead .target__row:nth-child(3) th       { top: 60px; }
.plan-table__changes.plan-table__attached-target.target-count__ten thead .target__row:nth-child(4) th       { top: 90px; }
.plan-table__changes.plan-table__attached-target.target-count__ten thead .target__row:nth-child(5) th       { top: 120px; }
.plan-table__changes.plan-table__attached-target.target-count__ten thead .target__row:nth-child(6) th       { top: 150px; }
.plan-table__changes.plan-table__attached-target.target-count__ten thead .target__row:nth-child(7) th       { top: 180px; }
.plan-table__changes.plan-table__attached-target.target-count__ten thead .target__row:nth-child(8) th       { top: 210px; }
.plan-table__changes.plan-table__attached-target.target-count__ten thead .target__row:nth-child(9) th       { top: 240px; }
.plan-table__changes.plan-table__attached-target.target-count__ten thead .target__row:nth-child(10) th      { top: 270px; }
.plan-table__changes.plan-table__attached-target.target-count__ten thead .target__row:nth-child(11) th      { top: 300px; }
.plan-table__changes.plan-table__attached-target.target-count__ten thead .blank__row th                     { top: 330px; }
.plan-table__changes.plan-table__attached-target.target-count__ten thead .previous-totals__row th           { top: 356px; }
.plan-table__changes.plan-table__attached-target.target-count__ten thead .totals__row th                    { top: 376px; }
.plan-table__changes.plan-table__attached-target.target-count__ten thead .changes__row th                   { top: 416px; }
.plan-table__changes.plan-table__attached-target.target-count__ten thead .plan-actions__row th              { top: 462px; }
.plan-table__changes.plan-table__attached-target.target-count__ten thead .item-values__row th               { top: 504px; }

/* ---------- Eleven Target ---------- */
.plan-table__changes.plan-table__attached-target.target-count__eleven thead .value__row th                  { top: 0; }
.plan-table__changes.plan-table__attached-target.target-count__eleven thead .target__row:nth-child(2) th    { top: 30px; }
.plan-table__changes.plan-table__attached-target.target-count__eleven thead .target__row:nth-child(3) th    { top: 60px; }
.plan-table__changes.plan-table__attached-target.target-count__eleven thead .target__row:nth-child(4) th    { top: 90px; }
.plan-table__changes.plan-table__attached-target.target-count__eleven thead .target__row:nth-child(5) th    { top: 120px; }
.plan-table__changes.plan-table__attached-target.target-count__eleven thead .target__row:nth-child(6) th    { top: 150px; }
.plan-table__changes.plan-table__attached-target.target-count__eleven thead .target__row:nth-child(7) th    { top: 180px; }
.plan-table__changes.plan-table__attached-target.target-count__eleven thead .target__row:nth-child(8) th    { top: 210px; }
.plan-table__changes.plan-table__attached-target.target-count__eleven thead .target__row:nth-child(9) th    { top: 240px; }
.plan-table__changes.plan-table__attached-target.target-count__eleven thead .target__row:nth-child(10) th   { top: 270px; }
.plan-table__changes.plan-table__attached-target.target-count__eleven thead .target__row:nth-child(11) th   { top: 300px; }
.plan-table__changes.plan-table__attached-target.target-count__eleven thead .target__row:nth-child(12) th   { top: 330px; }
.plan-table__changes.plan-table__attached-target.target-count__eleven thead .blank__row th                  { top: 360px; }
.plan-table__changes.plan-table__attached-target.target-count__eleven thead .previous-totals__row th        { top: 386px; }
.plan-table__changes.plan-table__attached-target.target-count__eleven thead .totals__row th                 { top: 416px; }
.plan-table__changes.plan-table__attached-target.target-count__eleven thead .changes__row th                { top: 446px; }
.plan-table__changes.plan-table__attached-target.target-count__eleven thead .plan-actions__row th           { top: 492px; }
.plan-table__changes.plan-table__attached-target.target-count__eleven thead .item-values__row th            { top: 536px; }

/* ---------- Twelve Target ---------- */
.plan-table__changes.plan-table__attached-target.target-count__twelve thead .value__row th                  { top: 0; }
.plan-table__changes.plan-table__attached-target.target-count__twelve thead .target__row:nth-child(2) th    { top: 30px; }
.plan-table__changes.plan-table__attached-target.target-count__twelve thead .target__row:nth-child(3) th    { top: 60px; }
.plan-table__changes.plan-table__attached-target.target-count__twelve thead .target__row:nth-child(4) th    { top: 90px; }
.plan-table__changes.plan-table__attached-target.target-count__twelve thead .target__row:nth-child(5) th    { top: 120px; }
.plan-table__changes.plan-table__attached-target.target-count__twelve thead .target__row:nth-child(6) th    { top: 150px; }
.plan-table__changes.plan-table__attached-target.target-count__twelve thead .target__row:nth-child(7) th    { top: 180px; }
.plan-table__changes.plan-table__attached-target.target-count__twelve thead .target__row:nth-child(8) th    { top: 210px; }
.plan-table__changes.plan-table__attached-target.target-count__twelve thead .target__row:nth-child(9) th    { top: 240px; }
.plan-table__changes.plan-table__attached-target.target-count__twelve thead .target__row:nth-child(10) th   { top: 270px; }
.plan-table__changes.plan-table__attached-target.target-count__twelve thead .target__row:nth-child(11) th   { top: 300px; }
.plan-table__changes.plan-table__attached-target.target-count__twelve thead .target__row:nth-child(12) th   { top: 330px; }
.plan-table__changes.plan-table__attached-target.target-count__twelve thead .target__row:nth-child(13) th   { top: 360px; }
.plan-table__changes.plan-table__attached-target.target-count__twelve thead .blank__row th                  { top: 390px; }
.plan-table__changes.plan-table__attached-target.target-count__twelve thead .previous-totals__row th        { top: 416px; }
.plan-table__changes.plan-table__attached-target.target-count__twelve thead .totals__row th                 { top: 446px; }
.plan-table__changes.plan-table__attached-target.target-count__twelve thead .changes__row th                { top: 476px; }
.plan-table__changes.plan-table__attached-target.target-count__twelve thead .plan-actions__row th           { top: 522px; }
.plan-table__changes.plan-table__attached-target.target-count__twelve thead .item-values__row th            { top: 564px; }

/* Dial Up/Down Changes */
.dial-up-down-table__changes thead .value__row th {
    position:   sticky;
    top:        0;
    z-index:    100;
}
.dial-up-down-table__changes thead .previous-totals__row th {
    position:   sticky;
    top:        25px;
    z-index:    100;
}
.dial-up-down-table__changes thead .totals__row th {
    position:   sticky;
    top:        51px;
    z-index:    100;
}
.dial-up-down-table__changes thead .changes__row th {
    position:   sticky;
    top:        77px;
    z-index:    100;
}