<template>

    <template if:true={isSavingOrLoading}>
        <lightning-spinner></lightning-spinner>
    </template>

    <template if:true={_planDataAvailable}>

        <template if:true={canUpdatePlanName}>
            <div>
                <lightning-input label="Plan Name" value={_updatedPlanData.name} onchange={onPlanNameUpdate} disabled={isSavingOrLoading}></lightning-input>
                <br />
            </div>
        </template>

        <template if:true={isReferencePlan}>
            <lightning-input label="Trainer Comments" value={_updatedPlanData.trainerComments} onchange={onChangeTrainerPlanComments} disabled={isSavingOrLoading}></lightning-input>
            <br />
        </template>
        <template if:true={isClientPlan}>

            <template if:true={canUpdateClientComments}>
                <lightning-input label="My Comments" value={clientComments} onchange={onUpdateClientComments} disabled={isSavingOrLoading}></lightning-input>
            </template>

            <p class="slds-text-color_default">Trainer Comments</p>
            <lightning-formatted-text value={_updatedPlanData.trainerComments}></lightning-formatted-text>
            <br />
        </template>


        <div class="fixed-table-header__scrollable">

            <table class={tableClass}>
                <thead>
                    <tr class="value__row slds-line-height_reset">
                        <th colspan="4">
                            <template if:true={hasTargetInformation}>
                                Assign Targets
                            </template>
                            <template if:false={hasTargetInformation}>
                                &nbsp;
                            </template>
                        </th>
                        <th class="protein__column">Protein</th>
                        <th class="carbs__column">Carbs</th>
                        <th class="fat__column">Fat</th>
                        <th class="calories__column">Calories</th>
                        <th>&nbsp;</th>
                    </tr>
                    <template if:true={hasTargetInformation}>
                        <template for:each={_targets} for:item="target">
                            <tr key={target.id} class="target__row slds-line-height_reset">
                                <th colspan="4">{target.name}</th>
                                <th class="protein__column"><lightning-formatted-number value={target.protein} minimum-fraction-digits="0" maximum-fraction-digits="0"></lightning-formatted-number></th>
                                <th class="carbs__column"><lightning-formatted-number value={target.carbs} minimum-fraction-digits="0" maximum-fraction-digits="0"></lightning-formatted-number></th>
                                <th class="fat__column"><lightning-formatted-number value={target.fat} minimum-fraction-digits="0" maximum-fraction-digits="0"></lightning-formatted-number></th>
                                <th class="calories__column"><lightning-formatted-number value={target.calories} minimum-fraction-digits="0" maximum-fraction-digits="0"></lightning-formatted-number></th>
                                <th>&nbsp;</th>
                            </tr>
                        </template>
                        <tr class="blank__row">
                            <th colspan="9">&nbsp;</th>
                        </tr>
                    </template>
                    <template if:true={_hasPlanBeenUpdated}>
                        <tr class="previous-totals__row slds-line-height_reset">
                            <th colspan="4">Previous Plan Totals</th>
                            <th class="protein__column"><lightning-formatted-number value={_originalPlanData.protein} minimum-fraction-digits="0" maximum-fraction-digits="0"></lightning-formatted-number></th>
                            <th class="carbs__column"><lightning-formatted-number value={_originalPlanData.carbs} minimum-fraction-digits="0" maximum-fraction-digits="0"></lightning-formatted-number></th>
                            <th class="fat__column"><lightning-formatted-number value={_originalPlanData.fat} minimum-fraction-digits="0" maximum-fraction-digits="0"></lightning-formatted-number></th>
                            <th class="calories__column"><lightning-formatted-number value={_originalPlanData.calories} minimum-fraction-digits="0" maximum-fraction-digits="0"></lightning-formatted-number></th>
                            <th>&nbsp;</th>
                        </tr>
                    </template>
                    <tr class="totals__row slds-line-height_reset">
                        <th colspan="4">Plan Totals</th>
                        <th class="protein__column"><lightning-formatted-number value={_updatedPlanData.protein} minimum-fraction-digits="0" maximum-fraction-digits="0"></lightning-formatted-number></th>
                        <th class="carbs__column"><lightning-formatted-number value={_updatedPlanData.carbs} minimum-fraction-digits="0" maximum-fraction-digits="0"></lightning-formatted-number></th>
                        <th class="fat__column"><lightning-formatted-number value={_updatedPlanData.fat} minimum-fraction-digits="0" maximum-fraction-digits="0"></lightning-formatted-number></th>
                        <th class="calories__column"><lightning-formatted-number value={_updatedPlanData.calories} minimum-fraction-digits="0" maximum-fraction-digits="0"></lightning-formatted-number></th>
                        <th>&nbsp;</th>
                    </tr>
                    <template if:true={_hasPlanBeenUpdated}>
                        <tr class="changes__row slds-line-height_reset">
                            <th colspan="4">Change</th>
                            <th class={updatedPlanChanges.proteinClass}>
                                <p>{updatedPlanChanges.proteinDifference}</p>
                                <p>({updatedPlanChanges.proteinPercentage}%)</p>
                            </th>
                            <th class={updatedPlanChanges.carbsClass}>
                                <p>{updatedPlanChanges.carbsDifference}</p>
                                <p>({updatedPlanChanges.carbsPercentage}%)</p>
                            </th>
                            <th class={updatedPlanChanges.fatClass}>
                                <p>{updatedPlanChanges.fatDifference}</p>
                                <p>({updatedPlanChanges.fatPercentage}%)</p>
                            </th>
                            <th class={updatedPlanChanges.calorieClass}>
                                <p>{updatedPlanChanges.calorieDifference}</p>
                                <p>({updatedPlanChanges.caloriePercentage}%)</p>
                            </th>
                            <th>&nbsp;</th>
                        </tr>
                    </template>
                    <tr class="plan-actions__row slds-line-height_reset">
                        <th colspan="9">
                            <lightning-button-group>
                                <lightning-button label="Add Meal" icon-name="utility:add" onclick={onOpenAddBlockModal} disabled={isSavingOrLoading}></lightning-button>
                                <lightning-button label="Dial Up/Down" icon-name="utility:change_record_type" onclick={onOpenDialUpAndDownModal} disabled={isSavingOrLoading}></lightning-button>
                            </lightning-button-group>
                        </th>
                    </tr>
                    <tr class="item-values__row slds-line-height_reset">
                        <th class="delete__column">&nbsp;</th>
                        <th class="name__column">Item</th>
                        <th class="quantity__column">Quantity</th>
                        <th class="measurement__column">Measure</th>
                        <th class="protein__column">Protein</th>
                        <th class="carbs__column">Carbs</th>
                        <th class="fat__column">Fat</th>
                        <th class="calories__column">Calories</th>
                        <th class="move__column">&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <template for:each={_updatedPlanData.blocks} for:item="block">
                        <tr class="block-row slds-line-height_reset" key={block.values.key}>
                            <td class="delete__column"><lightning-button-icon data-block-order={block.order} variant="border-filled" icon-name="utility:delete" onclick={onBlockDelete} disabled={isSavingOrLoading}></lightning-button-icon></td>
                            <td class="name__column">{block.name}</td>
                            <td colspan="6">
                                <lightning-button-group>
                                    <lightning-button data-block-order={block.order} label="Add Item"               variant="border-filled" icon-name="utility:add" onclick={onAddNewItem} disabled={isSavingOrLoading}></lightning-button>
                                    <lightning-button data-block-order={block.order} label="Rename"                 variant="border-filled" icon-name="utility:edit" onclick={onRenameBlock} disabled={isSavingOrLoading}></lightning-button>
                                    <lightning-button data-block-order={block.order} label="Save Meal Template"     variant="border-filled" icon-name="utility:save" onclick={onOpenSaveBlockAsTemplateBlockModal} disabled={isSavingOrLoading}></lightning-button>
                                </lightning-button-group>
                            </td>
                            <td class="move__column">
                                <lightning-button-group>
                                    <lightning-button-icon data-block-order={block.order} variant="border-filled" icon-name="utility:arrowup" onclick={onMoveBlockUp} disabled={isSavingOrLoading}></lightning-button-icon>
                                    <lightning-button-icon data-block-order={block.order} variant="border-filled" icon-name="utility:arrowdown" onclick={onMoveBlockDown} disabled={isSavingOrLoading}></lightning-button-icon>
                                </lightning-button-group>
                            </td>
                        </tr>
                        <template for:each={block.items} for:item="item">
                            <tr class="slds-line-height_reset" key={item.values.key}>
                                <td class="delete__column"><lightning-button-icon data-block-order={block.order} data-item-order={item.order} variant="border-filled" icon-name="utility:delete" onclick={onDeleteItem} disabled={isSavingOrLoading}></lightning-button-icon></td>
                                <td class="name__column">{item.name}</td>
                                <td class="quantity__column"><c-quantity-input data-item-order={item.order} data-block-order={block.order} measurement={item.measurement} value={item.quantity} name={item.id} onkeyupupdate={onItemQuantityUpdate} disabled={isSavingOrLoading}></c-quantity-input></td>
                                <td class="measurement__column">{item.measurement}</td>
                                <td class="protein__column"><lightning-formatted-number value={item.protein} minimum-fraction-digits="2" maximum-fraction-digits="2"></lightning-formatted-number></td>
                                <td class="carbs__column"><lightning-formatted-number value={item.carbs} minimum-fraction-digits="2" maximum-fraction-digits="2"></lightning-formatted-number></td>
                                <td class="fat__column"><lightning-formatted-number value={item.fat} minimum-fraction-digits="2" maximum-fraction-digits="2"></lightning-formatted-number></td>
                                <td class="calories__column"><lightning-formatted-number value={item.calories} minimum-fraction-digits="0" maximum-fraction-digits="0"></lightning-formatted-number></td>
                                <td class="move__column">
                                    <lightning-button-group>
                                        <lightning-button-icon data-block-order={block.order} data-item-order={item.order} variant="border-filled" icon-name="utility:arrowup" onclick={onMoveItemUp} disabled={isSavingOrLoading}></lightning-button-icon>
                                        <lightning-button-icon data-block-order={block.order} data-item-order={item.order} variant="border-filled" icon-name="utility:arrowdown" onclick={onMoveItemDown} disabled={isSavingOrLoading}></lightning-button-icon>
                                    </lightning-button-group>
                                </td>
                            </tr>
                        </template>
                    </template>
                </tbody>
            </table>

        </div>
    </template>

    <!--Modal for new Item-->
    <template if:true={_isAddingNewItem}>
        <c-at-slds-modal header-label="New Item" size="medium" display-header display-footer onclose={onCloseNewItemModal}>
            <div slot="content">
                <lightning-tabset>
                    <lightning-tab label="Standard Item" value="standard-item" onactive={onNewItemModeSelect}>
                        <c-planner-x-add-template-item class="template-item__modal"></c-planner-x-add-template-item>
                    </lightning-tab>
                    <lightning-tab label="Custom Item" value="custom-item" onactive={onNewItemModeSelect}>
                        <c-planner-x-add-custom-item record-type={newCustomTemplateItemRecordType} class="custom-item__modal"></c-planner-x-add-custom-item>
                    </lightning-tab>
                </lightning-tabset>

            </div>
            <div slot="footer">
                <lightning-button-group>
                    <lightning-button label="Cancel" onclick={onCloseNewItemModal} disabled={isSavingOrLoading}></lightning-button>
                    <lightning-button label="Save" variant="brand" onclick={onSaveNewItem} disabled={isSavingOrLoading}></lightning-button>
                </lightning-button-group>
            </div>
        </c-at-slds-modal>
    </template>

    <!--Modal for updating block name-->
    <template if:true={_isUpdatingBlockName}>
        <c-at-slds-modal header-label="Rename Block" size="medium" display-header display-footer onclose={onCloseRenameModal}>
            <div slot="content">
                <lightning-input label="Block Name" value={_newBlockName} onchange={onBlockNameUpdate} disabled={isSavingOrLoading}></lightning-input>
            </div>
            <div slot="footer">
                <lightning-button-group>
                    <lightning-button label="Cancel" onclick={onCloseRenameModal} disabled={isSavingOrLoading}></lightning-button>
                    <lightning-button label="Save" variant="brand" onclick={onBlockNameSave} disabled={isSavingOrLoading}></lightning-button>
                </lightning-button-group>
            </div>
        </c-at-slds-modal>
    </template>

    <!--Modal for Adding New Block-->
    <template if:true={_isAddingNewBlock}>
        <c-at-slds-modal header-label="Add Meal" size="large" display-header display-footer onclose={onCloseAddBlockModal}>
            <div slot="content">
                <c-planner-x-add-template-block-to-plan class="add-template-block-to-plan__modal" plan-id={_planId}></c-planner-x-add-template-block-to-plan>
            </div>
            <div slot="footer">
                <lightning-button-group>
                    <lightning-button label="Cancel" onclick={onCloseAddBlockModal}></lightning-button>
                    <lightning-button label="Add" variant="brand" onclick={onAddTemplateBlock}></lightning-button>
                </lightning-button-group>
            </div>
        </c-at-slds-modal>
    </template>

    <!--Modal for Dial Up/Down-->
    <template if:true={_isDialingUpAndDown}>
        <c-at-slds-modal header-label="Dial Up/Down" size="medium" display-header display-footer onclose={onCloseDialUpAndDownModal}>
            <div slot="content">
                <div class="dial-updown__adjustment-values">
                    <lightning-radio-group
                        label       ="Adjustment"
                        options     ={_adjustmentOptions}
                        value       ={_adjustmentValue}
                        onchange    ={onAdjustmentValueUpdate}
                        type        ="button">
                    </lightning-radio-group>
                    <div style="width: 0.5rem;"></div>
                    <lightning-radio-group
                        label       ="Type"
                        options     ={_typeOptions}
                        value       ={_typeValue}
                        onchange    ={onTypeValueUpdate}
                        type        ="button">
                    </lightning-radio-group>
                </div>
                <div>
                    <template if:true={isAmountTarget}>
                        <p class="bold-label">Target Amount</p>
                    </template>
                    <template if:true={isPercentTarget}>
                        <p class="bold-label">Percentage Variance (use “-” for reduction)</p>
                    </template>
                </div>
                <div style="display: flex;">
                    <lightning-input type="number" variant="label-hidden" label="" value={_dialUpTarget} onchange={onUpdateDialUpDownTarget}></lightning-input>
                    &nbsp;
                    <lightning-button style="margin-top: auto;" label="Calculate" onclick={onCalculateDialUpDown} icon-name="utility:sync"></lightning-button>
                    &nbsp;
                    <lightning-button style="margin-top: auto;" label="Reset" onclick={onResetDialUpDownValues}></lightning-button>
                </div>
                <br/>
                <div class="fixed-table-header__scrollable">
                    <table class="dial-up-down-table__changes slds-table slds-table_cell-buffer slds-table_bordered slds-table_col-bordered">
                        <thead>
                            <tr class="value__row slds-line-height_reset">
                                <th colspan="3">&nbsp;</th>
                                <th class="protein__column">Protein</th>
                                <th class="carbs__column">Carbs</th>
                                <th class="fat__column">Fat</th>
                                <th class="calories__column">Calories</th>
                            </tr>
                            <tr class="previous-totals__row slds-line-height_reset">
                                <th colspan="3">Previous Totals</th>
                                <th class="protein__column"><lightning-formatted-number value={_originalPlanData.protein} minimum-fraction-digits="0" maximum-fraction-digits="0"></lightning-formatted-number></th>
                                <th class="carbs__column"><lightning-formatted-number value={_originalPlanData.carbs} minimum-fraction-digits="0" maximum-fraction-digits="0"></lightning-formatted-number></th>
                                <th class="fat__column"><lightning-formatted-number value={_originalPlanData.fat} minimum-fraction-digits="0" maximum-fraction-digits="0"></lightning-formatted-number></th>
                                <th class="calories__column"><lightning-formatted-number value={_originalPlanData.calories} minimum-fraction-digits="0" maximum-fraction-digits="0"></lightning-formatted-number></th>
                            </tr>
                            <tr class="totals__row slds-line-height_reset">
                                <th colspan="3">Totals</th>
                                <th class="protein__column"><lightning-formatted-number value={_dialUpDialDownPlanData.protein} minimum-fraction-digits="0" maximum-fraction-digits="0"></lightning-formatted-number></th>
                                <th class="carbs__column"><lightning-formatted-number value={_dialUpDialDownPlanData.carbs} minimum-fraction-digits="0" maximum-fraction-digits="0"></lightning-formatted-number></th>
                                <th class="fat__column"><lightning-formatted-number value={_dialUpDialDownPlanData.fat} minimum-fraction-digits="0" maximum-fraction-digits="0"></lightning-formatted-number></th>
                                <th class="calories__column"><lightning-formatted-number value={_dialUpDialDownPlanData.calories} minimum-fraction-digits="0" maximum-fraction-digits="0"></lightning-formatted-number></th>
                            </tr>
                            <tr class="changes__row slds-line-height_reset">
                                <th colspan="3">Change</th>
                                <th class={dialupPlanChanges.proteinClass}>
                                    <p>{dialupPlanChanges.proteinDifference}</p>
                                    <p>({dialupPlanChanges.proteinPercentage}%)</p>
                                </th>
                                <th class={dialupPlanChanges.carbsClass}>
                                    <p>{dialupPlanChanges.carbsDifference}</p>
                                    <p>({dialupPlanChanges.carbsPercentage}%)</p>
                                </th>
                                <th class={dialupPlanChanges.fatClass}>
                                    <p>{dialupPlanChanges.fatDifference}</p>
                                    <p>({dialupPlanChanges.fatPercentage}%)</p>
                                </th>
                                <th class={dialupPlanChanges.calorieClass}>
                                    <p>{dialupPlanChanges.calorieDifference}</p>
                                    <p>({dialupPlanChanges.caloriePercentage}%)</p>
                                </th>
                            </tr>
                            <tr class="item-values__row slds-line-height_reset">
                                <th class="name__column">Item</th>
                                <th class="quantity__column">Quantity</th>
                                <th class="measurement__column">Measure</th>
                                <th class="protein__column">Protein</th>
                                <th class="carbs__column">Carbs</th>
                                <th class="fat__column">Fat</th>
                                <th class="calories__column">Calories</th>
                            </tr>
                        </thead>
                        <tbody>
                            <template for:each={_dialUpDialDownPlanData.blocks} for:item="block">
                                <tr class="block-row slds-line-height_reset" key={block.values.key}>
                                    <td colspan="7">{block.name}</td>
                                </tr>
                                <template for:each={block.items} for:item="item">
                                    <tr class="slds-line-height_reset" key={item.values.key}>
                                        <td class="name__column">{item.name}</td>
                                        <td class="quantity__column">{item.quantity}</td>
                                        <td class="measurement__column">{item.measurement}</td>
                                        <td class="protein__column"><lightning-formatted-number value={item.protein} minimum-fraction-digits="2" maximum-fraction-digits="2"></lightning-formatted-number></td>
                                        <td class="carbs__column"><lightning-formatted-number value={item.carbs} minimum-fraction-digits="2" maximum-fraction-digits="2"></lightning-formatted-number></td>
                                        <td class="fat__column"><lightning-formatted-number value={item.fat} minimum-fraction-digits="2" maximum-fraction-digits="2"></lightning-formatted-number></td>
                                        <td class="calories__column"><lightning-formatted-number value={item.calories} minimum-fraction-digits="0" maximum-fraction-digits="0"></lightning-formatted-number></td>
                                    </tr>
                                </template>

                            </template>
                        </tbody>
                    </table>
                </div>
            </div>
            <div slot="footer">
                <lightning-button-group>
                    <lightning-button label="Cancel" onclick={onCloseDialUpAndDownModal}></lightning-button>
                    <lightning-button label="Save" variant="brand" onclick={onSaveDialUpDown}></lightning-button>
                </lightning-button-group>
            </div>
        </c-at-slds-modal>
    </template>

    <!--Modal for Save Block as Template Block-->
    <template if:true={_displaySaveBlockAsTemplateBlockModal}>
        <c-at-slds-modal header-label="Save Meal Template" size="medium" display-header display-footer onclose={onCloseSaveBlockAsTemplateBlockModal}>
            <div slot="content">

                <template if:true={_isSavingBlockAsTemplateBlock}>
                    <lightning-spinner size="medium"></lightning-spinner>
                </template>

                <p>Are you sure you want to save the block as a template?</p>
            </div>
            <div slot="footer">
                <lightning-button-group>
                    <lightning-button label="Cancel" onclick={onCloseSaveBlockAsTemplateBlockModal} disabled={_isSavingBlockAsTemplateBlock}></lightning-button>
                    <lightning-button label="Save" variant="brand" onclick={onSaveBlockAsTemplate} disabled={_isSavingBlockAsTemplateBlock}></lightning-button>
                </lightning-button-group>
            </div>
        </c-at-slds-modal>
    </template>


</template>