.THIS.client-photos__container {
    height: 36.5rem;
}

.THIS .slds-hidden {
    visibility: hidden !important;
    display: none !important;
}

.THIS .no-photo-found {
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.THIS .client-photos__image {
    height: 36rem;
    /*margin: auto;*/
    display: block;
    padding: 0.25rem;
    background-color: #464646;
}

.THIS .client-photos__image:hover {
    opacity: 0.9;
}

.THIS .client-photos__previous {
    margin: auto;
}
.THIS .client-photos__next {
    margin: auto;
}
.THIS .client-photos__no-photo-found {
    width: 30rem;
    height: 36rem;
    color: white;
    text-align: center;
    position: relative;
}
.THIS .client-photos_no-photo-text {
    font-size: 24px;
    font-weight: 500;
}
.THIS .selected-image-modal {
    /*padding: 4rem;*/
    height: 100%;
}

.THIS .previous-image-control-panel {
    position: absolute;
    top: calc(100% - 4rem);
    left: 0;
    right: 50%;
    bottom: 0;
    z-index: 100;
}

.THIS .selected-image-control-panel {
    position: absolute;
    top: 0;
    right: 0;
    bottom: calc(100% - 4rem);
    left: 0;
    z-index: 100;
}

.THIS .selected-image-control-panel__close-window {
    position: absolute;
    top: 0;
    right: 16px;
    bottom: 0;
    left: calc(100% - 4rem - 16px);
}

.THIS .selected-image-control-panel__close-window-button {
    margin: auto;
    height: 100%;
    width: 100%;
}

.THIS .selected-image-control-panel__zoom-selection {
    position: absolute;
    top: 0;
    left: calc(100% - 28rem);
    right: 8rem;
    bottom: 0;
    padding: 1rem;
}

.THIS .selected-image-control-panel__zoom-previous {
    position: absolute;
    top: 0;
    left: 8rem;
    right: calc(50% - 6rem);
    bottom: 0;
    padding: 1rem;
}

.THIS .selected-image-control-panel__zoom-current {
    position: absolute;
    top: 0;
    left: calc(50% + 6rem);
    right: 8rem;
    bottom: 0;
    padding: 1rem;
}


.THIS .selected-image-control-panel__select-photo-view {
    position: absolute;
    top: 0;
    right: calc(50% - 8rem);
    bottom: 0;
    left: calc(50% - 8rem);

    text-align: center;
    padding: 1rem;

}

.THIS.client-photos__photo-view-control {
    padding: 0.5rem;
    text-align: center;
}

.THIS .client-photos__check-in-text {
    font-size: 20px;
    font-weight: 700;
}

.THIS .client-photos__period-input {
    width: 24rem;
    margin: auto;
}

.THIS .client-photos__period-input .slds-input.slds-combobox__input {
    text-align: center;
    font-size: 20px;
}

.THIS .selected-image__scoll {
    height: 100%;
    cursor: grab;
    
    /*cursor: move;*/
    /*user-select: none;*/
}

.THIS .selected-image__image {
    user-select: none;
    pointer-events: none !important;
}

.THIS .selected-image__image-background {
    background-size: contain;
    background-repeat: no-repeat;
    margin: auto;
}

.THIS .selected-image__previous {
    position:   absolute;
    left:       0;
    top:        0;
    right:      50%;
    bottom:     0;
}
.THIS .selected-image__current {
    position:   absolute;
    left:       50%;
    top:        0;
    right:      0;
    bottom:     0;
}

.THIS .no-image-found__container {

}
.THIS .no-image-found__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    color: white;
}