<template>
    <template if:true={isSavingOrLoading}>
        <div class="saving-loading__spinner">
            <lightning-spinner></lightning-spinner>
        </div>
    </template>
    <lightning-input label="Clonned Plan Name" value={_newPlanName} onchange={onUpdatedPlanName}></lightning-input>
</template>