/*style*/
.init-loading {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.flow-buttons {
    padding: 0.5rem;
    border-radius: 0.25rem;
    border: 1px solid lightgray;
}

.flow-buttons > div:not(:first-child) {
    padding-top: 0.5rem;
}