<template>
    <div class="slds-p-around_xx-small" style="position:relative;">
        <template if:true={_initLoading}>
            <div class="init-loading">
                <lightning-spinner alternative-text="Inital Load"></lightning-spinner>
            </div>
        </template>
        <template if:false={_initLoading}>
            <lightning-accordion active-section-name="FieldSet">
                <lightning-accordion-section name="FieldSet" label="Field Sets">

                    <lightning-button variant="brand" label="Add New Field Set" onclick={onAddFieldSet}></lightning-button>
                    <template for:each={fieldSetForms} for:item="fFieldSet">
                        <div key={fFieldSet.order}>
                            <div>
                                <lightning-button-icon icon-name="utility:close"
                                                       data-order={fFieldSet.order}
                                                       onclick={onDeleteFieldset}></lightning-button-icon>
                            </div>
                            <lightning-combobox label="Record Id"
                                                value={fFieldSet.recordId}
                                                data-order={fFieldSet.order}
                                                onchange={onUpdateFieldSetRecordId}
                                                options={getRecordIdOptions}></lightning-combobox>
                            <lightning-combobox label="Object"
                                                value={fFieldSet.objectApiName}
                                                onchange={onUpdateObjectApiNames}
                                                data-order={fFieldSet.order}
                                                placeholder="Select Object"
                                                options={_objectOptions}></lightning-combobox>
                            <template if:true={fFieldSet.states.hasSelectedObject}>
                                <lightning-combobox label="Fieldset"
                                                    placeholder="Select Fieldset"
                                                    onchange={onUpdateFieldSetName}
                                                    data-order={fFieldSet.order}
                                                    value={fFieldSet.fieldSetName}
                                                    options={fFieldSet.picklistOptions.fieldset}></lightning-combobox>
                            </template>
                            <lightning-input type="checkbox"
                                             label="Show Title?"
                                             onchange={onUpdateFieldSetShowTitle}
                                             data-order={fFieldSet.order}
                                             checked={fFieldSet.showTitle}></lightning-input>
                            <template if:true={fFieldSet.showTitle}>
                                <lightning-input type="text"
                                                 label="Title"
                                                 onchange={onUpdateFieldSetTitleText}
                                                 data-order={fFieldSet.order}
                                                 value={fFieldSet.title.text}></lightning-input>
                            </template>

                            <lightning-input type="number"
                                             label="Columns"
                                             onchange={onUpdateFieldColumns}
                                             data-order={fFieldSet.order}
                                             value={fFieldSet.columns}></lightning-input>
                            <lightning-input type="checkbox"
                                             data-order={fFieldSet.order}
                                             label="Editable?"
                                             onchange={onUpdateFieldEditables}
                                             checked={fFieldSet.editable}></lightning-input>
                            <lightning-combobox label="Label Position"
                                                data-order={fFieldSet.order}
                                                value={fFieldSet.labelPosition}
                                                onchange={onUpdateFieldLabelPosition}
                                                options={labelOptions}></lightning-combobox>
                        </div>
                    </template>
                </lightning-accordion-section>
                <lightning-accordion-section name="FlowButtons" label="Flow Buttons">
                    <lightning-button variant="brand" label="Add Flow Action Button" onclick={onAddFlowButton}></lightning-button>
                    <br />
                    <div class="flow-buttons">
                        <template for:each={flowButtons} for:item="fButton">
                            <div key={fButton.order}>
                                <div>
                                    <!--
                                    <lightning-button-icon icon-name    ="utility:arrowdown"
                                                           data-order   ={fButton.order}></lightning-button-icon>
                                    <lightning-button-icon icon-name="utility:arrowup"  alternative-text="Settings" title="Settings"></lightning-button-icon>
                                    -->
                                    <lightning-button-icon icon-name="utility:close"
                                                           data-order={fButton.order}
                                                           onclick={onDeleteFlowButton}></lightning-button-icon>
                                </div>
                                <lightning-input type="text"
                                                 label="Label"
                                                 data-order={fButton.order}
                                                 onchange={onUpdateFlowLabel}
                                                 value={fButton.label}></lightning-input>
                                <lightning-combobox label="Action"
                                                    data-order={fButton.order}
                                                    onchange={onUpdateFlowAction}
                                                    options={_flowActionOptions}
                                                    value={fButton.action}>
                                </lightning-combobox>
                                <lightning-input type="text"
                                                 data-order={fButton.order}
                                                 label="Value"
                                                 onchange={onUpdateFlowValue}
                                                 value={fButton.value}></lightning-input>
                                <lightning-combobox label="Variant"
                                                    data-order={fButton.order}
                                                    onchange={onUpdateFlowVariant}
                                                    options={_variantOptions}
                                                    value={fButton.variant}></lightning-combobox>
                                <lightning-input type="checkbox"
                                                 label="Submit Form"
                                                 data-order={fButton.order}
                                                 onchange={onUpdateFlowSubmit}
                                                 checked={fButton.submit}></lightning-input>
                            </div>
                        </template>
                    </div>
                </lightning-accordion-section>
            </lightning-accordion>
        </template>
    </div>
</template>