<template>

    <template if:true={_isLoading}>
        <lightning-spinner alternative-text="Loading" size="large"></lightning-spinner>
    </template>
    <template if:true={hasRecordTypeInfo}>
        <section role="dialog" tabindex="-1" class="slds-modal slds-fade-in-open slds-modal_medium" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1">
            <div class="slds-modal__container">
                <header class="slds-modal__header">
                    <h2 id="modal-heading-01" class="slds-modal__title slds-hyphenate">Add Custom Item</h2>
                </header>
                <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
                    <lightning-record-edit-form class           = "template-item-form" 
                                                object-api-name = "Template_Item__c" 
                                                onsuccess       = {onSaveFormSuccess}
                                                onerror         = {onSaveFormError}
                                                record-type-id  = {_customNutritionRecordType.recordTypeId}>
                        <lightning-messages></lightning-messages>
                        <lightning-input-field field-name="Name"></lightning-input-field>
                        <div class="hide-field">
                            <lightning-input-field field-name="Client_Created_By__c" value={_userId}></lightning-input-field>
                        </div>
                        <lightning-input-field field-name="Food_Type__c"></lightning-input-field>
                        <lightning-input-field field-name="Sourced_From_optional__c"></lightning-input-field>
                        <lightning-input-field field-name="Item_Quantity__c"></lightning-input-field>
                        <lightning-input-field field-name="Measurement__c"></lightning-input-field>
                        <lightning-input-field field-name="Protein__c"></lightning-input-field>
                        <lightning-input-field field-name="Carbs__c"></lightning-input-field>
                        <lightning-input-field field-name="Fat__c"></lightning-input-field>
                        <!--<lightning-input-field field-name="Calories__c"></lightning-input-field>-->
                    </lightning-record-edit-form>
                </div>
                <footer class="slds-modal__footer">
                    <button class="slds-button slds-button_neutral" onclick={onCancelItem}>Cancel</button>
                    <button class="slds-button slds-button_brand" onclick={onSaveItem}>Save</button>
                </footer>
            </div>
        </section>
    </template>
    
    <div class="slds-backdrop slds-backdrop_open"></div>

</template>