<template>
    <template if:true={isGrams}>
        <input disabled     = {disabled} 
               class        = "slds-input quantity" 
               type         = "number" 
               min          = "0" 
               step         = "1" 
               inputmode    = "decimal" 
               value        = {value} 
               name         = {name} 
               onkeyup      = {fireGramChangeEvent}></input>
    </template>
    <template if:false={isGrams}>
        <input disabled     = {disabled} 
               class        = "slds-input quantity" 
               type         = "number" 
               min          = "0" 
               step         = "0.1" 
               inputmode    = "decimal" 
               value        = {value} 
               name         = {name} 
               onkeyup      = {fireNonGramChangeEvent}></input>
    </template>

</template>