/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.slds-input.quantity {
    text-align: center;
    padding: 0 .2rem;
    line-height: 0rem !important;
    min-height: 1.5rem;
}