<template>
    <div class="slds-p-around_xx-small" style="position:relative;">

        <template if:true={_initLoading}>
            <div class="init-loading">
                <lightning-spinner></lightning-spinner>
            </div>
        </template>
        <template if:false={_initLoading}>

            <!--Set the Record Id-->
            <lightning-combobox label="Record Id"
                                value={recordId}
                                options={getRecordIdOptions}
                                onchange={handleRecordIdChange}>
            </lightning-combobox>
            <lightning-combobox label="Object"
                                value={objectApiName}
                                placeholder="Select Object"
                                options={_objectOptions}
                                onchange={handleObjectSelection}>
            </lightning-combobox>
            <lightning-combobox label="Fieldset"
                                placeholder="Select Fieldset"
                                value={fieldSetName}
                                options={_fieldsetOptions}
                                onchange={handleFieldsetSelection}>
            </lightning-combobox>
            <lightning-input type="text"
                             label="Title"
                             value={title}
                             onchange={handleTitleChange}>
            </lightning-input>

            <lightning-input type="checkbox"
                             label="Show Title?"
                             checked={showTitle}
                             onchange={handleShowTitleChange}>
            </lightning-input>
            <lightning-input type="number"
                             label="Columns"
                             value={columns}
                             onchange={handleColumnChange}>
            </lightning-input>

            <lightning-input type="checkbox"
                             label="Editable?"
                             checked={editable}
                             onchange={handleEditableChange}>
            </lightning-input>

            <lightning-input type="checkbox"
                             label="Display Save Button?"
                             checked={displaySaveButton}
                             onchange={handleDisplaySaveButtonChange}>
            </lightning-input>

            <lightning-combobox label="Label Position"
                                value={labelPosition}
                                options={labelOptions}
                                onchange={handleLabelOptionChange}></lightning-combobox>

            <lightning-input type="text" 
                             label="Channel Key"
                             value={channelKey}
                             onchange={handleChannelKeyChange} 
                             placeholder="Have this key match the AFC Navigation Buttons component"></lightning-input>

        </template>
    </div>
</template>