<template>
    
    <template if:true={showImg}>
	    <div class="slds-backdrop slds-backdrop_open">
            <div class="close-button-container__desktop">
                <lightning-button-icon 
                    icon-name="utility:close"
                    size="large"
                    variant="bare-inverse"
                    alternative-text="Close"
                    onclick={onCloseButtonClick}>
                </lightning-button-icon>
            </div>
            <div class="img-holder__desktop">
                <img class="photo__desktop" src={photoUrl}></img>
            </div>
        </div>
    </template>

</template>