/* DESKTOP */
.img-holder__desktop {
    height: 100%;
    width:  100%;
    /*
    transform:  translateX(50%);
    */
    pointer-events: none;

}

img.photo__desktop {
    height: 100%;
    width:  100%;
    object-fit: contain;
    /*transform:  translateX(-50%);*/
    pointer-events: auto;
}

.close-button-container__desktop {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5rem;
    z-index: 100;
}

.close-button-container__desktop-debug {
    position: absolute;
    top: 0;
    right: 100px;
    padding: 0.5rem;
    z-index: 100;
}

/* MOBILE */
.img-holder__mobile {
    height:     100%;
    transform:  translateX(50%);
    pointer-events: none;
}

img.photo__mobile {
    height:     100%;
    transform:  translateX(-50%);
    pointer-events: auto;
}

.close-button-container__mobile {
    position: absolute;
    top: 0;
    right: 50%;
    padding: 0.5rem;
    pointer-events: auto;
    z-index: 100;
}