<template>
    <lightning-record-edit-form data-id="measurements" record-id={checkInId} object-api-name="Check_In__c" onsuccess={onSuccess} onerror={onError}>
        <lightning-messages></lightning-messages>

        <span style="display: none;">
            <lightning-input-field field-name="Actual_Check_In_Date__c" value={today}></lightning-input-field>
        </span>
        
        <template if:true={isMobile}>
            <table class="measurements">
                <tbody>
                    <tr><td><lightning-input-field class="weight-field__mobile" field-name="Weight__c"               variant="label-stacked"></lightning-input-field></td></tr>
                    <tr><td><lightning-input-field class="chest-field__mobile"  field-name="Chest_Measurement__c"    variant="label-stacked"></lightning-input-field></td></tr>
                    <tr><td><lightning-input-field class="waist-field__mobile"  field-name="Waist_Measurement__c"    variant="label-stacked"></lightning-input-field></td></tr>
                    <tr><td><lightning-input-field class="hip-field__mobile"    field-name="Hip_Measurement__c"      variant="label-stacked"></lightning-input-field></td></tr>
                    <tr><td><lightning-input-field class="thigh-field__mobile"  field-name="Thigh_Measurement__c"    variant="label-stacked"></lightning-input-field></td></tr>
                </tbody>
            </table>
        </template>
        <template if:false={isMobile}>
            <table class="measurements">
                <tbody>
                    <tr>
                        <td><lightning-input-field class="weight-field__desktop" field-name="Weight__c"               variant="label-stacked"></lightning-input-field></td>
                        <td><lightning-input-field class="chest-field__desktop"  field-name="Chest_Measurement__c"    variant="label-stacked"></lightning-input-field></td>
                        <td><lightning-input-field class="waist-field__desktop"  field-name="Waist_Measurement__c"    variant="label-stacked"></lightning-input-field></td>
                        <td><lightning-input-field class="hip-field__desktop"    field-name="Hip_Measurement__c"      variant="label-stacked"></lightning-input-field></td>
                        <td><lightning-input-field class="thigh-field__desktop"  field-name="Thigh_Measurement__c"    variant="label-stacked"></lightning-input-field></td>      
                    </tr>
                </tbody>
            </table>
        </template>

    </lightning-record-edit-form>

</template>