/* https://algoart.fr/articles/css-table-fixed-header */
/*Adds the Scrollable aspect of the table*/
.table-wrapper {
  overflow-y: scroll;
  height: 90vh;
}

/*Make the cell borders allign to eachother*/
table {
  width: 100%;
  border-collapse:separate;
}

/*Avoid Clicks*/
.avoid-clicks {
  pointer-events: none;
}

/* Passive Table */
.desktop-view .tracker-plan__passive .tracker-plan__totals-top-row th {
  position: sticky;
  top: 0;
}

.desktop-view .tracker-plan__passive .tracker-plan__trainer-targets-row th {
    position: sticky;
    top: calc(34px * 1);
}

.desktop-view .tracker-plan__passive .tracker-plan__original-client-totals-row th {
    position: sticky;
    top: calc(34px * 2);
}

.desktop-view .tracker-plan__passive .tracker-plan__actuals-row th {
    position: sticky;
    top: calc(34px * 2 + 37px);
}

.desktop-view .tracker-plan__passive .tracker-plan__index-row th {
    position: sticky;
    top: calc(34px * 3 + 37px);
}

/* Active Table */
.desktop-view .tracker-plan__active .tracker-plan__totals-top-row th {
  position: sticky;
  top: 0;
}
.desktop-view .tracker-plan__active .tracker-plan__trainer-targets-row th {
  position: sticky;
  top: 2rem;
}
.desktop-view .tracker-plan__active .tracker-plan__original-client-totals-row th {
  position: sticky;
  top: 4rem;
}
.desktop-view .tracker-plan__active .tracker-plan__updated-client-totals-row th {
  position: sticky;
  top: 6rem;
}
.desktop-view .tracker-plan__active .tracker-plan__changes-row th {
  position: sticky;
  top: calc(6rem + 38px);
}
.desktop-view .tracker-plan__active .tracker-plan__actuals-row th {
    position: sticky;
    top: calc(6rem + 103px);
}
.desktop-view .tracker-plan__active .tracker-plan__index-row th {
    position: sticky;    
    top: calc(6rem + 135px);
}
.desktop-view .tracker-plan__active .tracker-plan__updated-client-totals-row th {
    font-weight: 800;
}

/*A Red Box Around the Update Totals and changes*/
.desktop-view .tracker-plan__active .tracker-plan__updated-client-totals-row th:first-child {
    border-top: 3px solid red;
    border-left: 3px solid red;
}

.desktop-view .tracker-plan__active .tracker-plan__updated-client-totals-row th:not(:first-child):not(:last-child) {
    border-top: 3px solid red;
}

.desktop-view .tracker-plan__active .tracker-plan__updated-client-totals-row th:last-child {
    border-top: 3px solid red;
    border-right: 3px solid red;
}
.desktop-view .tracker-plan__active .tracker-plan__changes-row th:first-child {
    border-bottom: 3px solid red;
    border-left: 3px solid red;
}
.desktop-view .tracker-plan__active .tracker-plan__changes-row th:not(:first-child):not(:last-child) {
    border-bottom: 3px solid red;
}
.desktop-view .tracker-plan__active .tracker-plan__changes-row th:last-child {
    border-bottom: 3px solid red;
    border-right: 3px solid red;
}

.desktop-view thead.tracker-plan__header tr, 
.desktop-view tbody.tracker-plan__session-block tr,
.desktop-view tbody.tracker-plan__session-items tr {
    height: 2rem;
}

.desktop-view .tracker-plan__passive .tracker-plan__original-client-totals-row th,
.desktop-view .tracker-plan__active .tracker-plan__updated-client-totals-row th,
.desktop-view .tracker-plan__active .tracker-plan__changes-row th {
    font-weight: 900;
    font-size: 18px;
}

.desktop-view thead.tracker-plan__header th {
    background-color: white;
    border: 1px solid black;
    padding: 0.25rem;
    z-index: 100;
    font-size: 16px;
}

.desktop-view .tracker-plan__totals-top-row th,
.desktop-view .tracker-plan__index-row th {
    background-color: #ec0e0e !important;
    font-weight: 800;
    color: white;
}


.desktop-view .tracker-plan__session-item-row td {
    background-color: white;
    border: 1px solid black;
    padding: 0.25rem;
    font-size: 15px;
}

.desktop-view .tracker-plan__session-block-row td {
    background-color: lightgray;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 0.25rem;
    font-size: 1rem;
    font-weight: 600;
}

.desktop-view .tracker-plan__session-block-row td.protein__column,
.desktop-view .tracker-plan__session-block-row td.carbs__column,
.desktop-view .tracker-plan__session-block-row td.fat__column,
.desktop-view .tracker-plan__session-block-row td.calories__column {
    border-right: 1px solid black;
    border-left: 1px solid black;
}
.desktop-view .tracker-plan__session-block-row td.name__column {
    border-left: 1px solid black;
    padding-left: 0.5rem;
}
.desktop-view .tracker-plan__session-block-row td.completed__column {
    border-right: 1px solid black;
}
.desktop-view .tracker-plan__session-item-row__delete-item {
    width: 32px;
}

.desktop-view .protein__column,
.desktop-view .carbs__column,
.desktop-view .fat__column,
.desktop-view .calories__column  {
    width: 80px;
    text-align: center;
}

.desktop-view .measurement__column {
    width: 80px;
    text-align: center;
}

.desktop-view .quantity__column {
    width: 100px;
    text-align: center;
}

.desktop-view .tracker-plan__new-session-item-row td {
    background-color: white;
    border: 1px solid black;
    padding: 0.25rem;
}

.desktop-view .tracker-plan__filtered-item-row {
    background-color: #e6f1ff;
}

.desktop-view .tracker-plan__filtered-item-row:hover {
    background-color: #bddaff;
}

.desktop-view .tracker-plan__filtered-item-row td {
    border: 1px solid black;
    padding: 0.25rem;
}

.desktop-view .above-value {
    color: #4da94d;
}

.desktop-view .below-value {
    color: red;
}

.desktop-view .title__column {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
}

.desktop-view .tracker-plan__session-block {
    font-weight: 800 !important;
    font-size: 16px !important;
}

.desktop-view .tracker-plan-date {
    padding: 0 1rem;
    font-weight: 900;
    font-size: 18px;
}

.desktop-view .tracker-plan-button {
    font-size:      16px;
    font-weight:    900;
}

/* MOBILE */

/*Make the Header of the table fixed*/
/* PASSIVE TABLE */
.mobile-view  .tracker-plan__passive .tracker-plan__totals-top-row th  {
    position: sticky;
    top: 0;
    z-index: 100;
}
.mobile-view  .tracker-plan__passive .tracker-plan__trainer-targets-row th  {
    position: sticky;
    background-color: white;
    top: 28px;
    z-index: 100;
}
.mobile-view  .tracker-plan__passive .tracker-plan__original-client-totals-row th  {
    position: sticky;
    background-color: white;
    top: 53px;
    z-index: 100;
    font-weight: 900;
    border-bottom: 1px solid black;
}
.mobile-view  .tracker-plan__passive .tracker-plan__actuals-row th  {
    position: sticky;
    background-color: white;
    top: 79px;
    z-index: 100;
}
.mobile-view  .tracker-plan__passive .tracker-plan__index-row th  {
    position: sticky;
    top: 104px;
    z-index: 100;
}
/* ACTIVE TABLE */
.mobile-view  .tracker-plan__active .tracker-plan__totals-top-row th  {
    position: sticky;
    top: 0;
    z-index: 100;
}
.mobile-view  .tracker-plan__active .tracker-plan__trainer-targets-row th  {
    position: sticky;
    background-color: white;
    top: 28px;
    z-index: 100;
}
.mobile-view  .tracker-plan__active .tracker-plan__original-client-totals-row th  {
    position: sticky;
    background-color: white;
    top: 53px;
    z-index: 100;
}

.mobile-view .tracker-plan__active .tracker-plan__updated-client-totals-row th {
    position: sticky;
    background-color: white;
    top: 78px;
    z-index: 100;
}

.mobile-view .tracker-plan__active .tracker-plan__changes-row th {
    position: sticky;
    background-color: white;
    top: calc(78px + 28px);
    z-index: 100;
}

.mobile-view  .tracker-plan__active .tracker-plan__actuals-row th  {
    position: sticky;
    background-color: white;
    top: calc(78px + 28px + 47px);
    z-index: 100;
}
.mobile-view  .tracker-plan__active .tracker-plan__index-row th  {
    position: sticky;
    top: calc(78px + 28px + 47px + 25px);
    z-index: 100;
}


/*Make the Top and Bottom Row of the Table Red*/
.mobile-view .tracker-plan__header .tracker-plan__totals-top-row th,
.mobile-view .tracker-plan__header .tracker-plan__index-row th {
    background-color: #ec0e0e;
    font-weight: 800;
    font-size: 16px;
    color: #fff;
    padding: 0.2rem;
    text-align: center;
    width: 40px;
}

/* Targets, Prev Totals, and Actuals Row*/
.mobile-view .tracker-plan__header .tracker-plan__trainer-targets-row th,
.mobile-view .tracker-plan__header .tracker-plan__original-client-totals-row th,
.mobile-view .tracker-plan__header .tracker-plan__actuals-row th {
    padding: 0.2rem;
    font-size: 14px;
}

/* New Totals */
.mobile-view .tracker-plan__header .tracker-plan__updated-client-totals-row th,
.mobile-view .tracker-plan__header .tracker-plan__changes-row th {
    padding: 0.2rem;
    font-size: 14px;
    font-weight: 900;
}

/* Center the text for the Header table */
.mobile-view .tracker-plan__header .tracker-plan__trainer-targets-row th:not(:first-child),
.mobile-view .tracker-plan__header .tracker-plan__original-client-totals-row th:not(:first-child),
.mobile-view .tracker-plan__header .tracker-plan__updated-client-totals-row th:not(:first-child),
.mobile-view .tracker-plan__header .tracker-plan__changes-row th:not(:first-child),
.mobile-view .tracker-plan__header .tracker-plan__actuals-row th:not(:first-child) {
    text-align: center;
}

/*Add a Red Box Arount the New Totals, and Changes*/
.mobile-view .tracker-plan__header .tracker-plan__updated-client-totals-row th  {
    border-top: 3px solid red;
}
.mobile-view .tracker-plan__header .tracker-plan__changes-row th  {
    border-bottom: 3px solid red;
}
.mobile-view .tracker-plan__header .tracker-plan__updated-client-totals-row th:first-child,
.mobile-view .tracker-plan__header .tracker-plan__changes-row th:first-child {
    border-left: 3px solid red;
}
.mobile-view .tracker-plan__header .tracker-plan__updated-client-totals-row th:last-child,
.mobile-view .tracker-plan__header .tracker-plan__changes-row th:last-child {
    border-right: 3px solid red;
}

/* Session Block */
.mobile-view .tracker-plan__session-block .tracker-plan__session-block-row td {
    background-color: #d3d3d3;
    padding: 0.25rem;
    font-size: 14px;
    font-weight: 900;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.mobile-view .tracker-plan__session-block .tracker-plan__session-block-row td:not(:first-child) {
    text-align: center;
}
.mobile-view .tracker-plan__session-item-row td,
.mobile-view .tracker-plan__session-item-bottom-row td {
    padding: 0.2rem;
}

.mobile-view .tracker-plan__session-item-bottom-row td.measurement__column {
    font-size: 12px;
}

.mobile-view .tracker-plan__session-item-bottom-row td.protein__column,
.mobile-view .tracker-plan__session-item-bottom-row td.carbs__column,
.mobile-view .tracker-plan__session-item-bottom-row td.fat__column,
.mobile-view .tracker-plan__session-item-bottom-row td.calories__column {
    font-size: 14px;
}

.mobile-view .tracker-plan__session-item-row.tracker-plan__session-item-top-row td {
    padding-top: 0.1rem;
    font-size: 14px;
    font-weight: 700;
    padding-bottom: 0;
}

.mobile-view .tracker-plan__session-item-row.tracker-plan__session-item-bottom-row td {
    border-bottom: 1px solid lightgray;
    text-align: center;
    padding-top: 0;
    padding-bottom: 0.4rem;
}

.mobile-view .tracker-plan__new-session-item-row td {
    padding: 0.1rem;
}

.mobile-view .tracker-plan__session-item-row.tracker-plan__session-item-bottom-row td.quantity__column {
    width: 4rem;
}


/* Mobile Filtered Items */
.mobile-view .tracker-plan__filtered-item-row td {
    background-color: #e6f1ff;
    padding: 0.1rem;
}
.mobile-view .tracker-plan__filtered-item-row.tracker-plan__session-item-top-row td {
    padding-left: 0.5rem;
}
.mobile-view .tracker-plan__filtered-item-row.tracker-plan__session-item-bottom-row td {
    border-bottom: 1px solid lightgray;
    text-align: center;
}

.mobile-view .above-value {
    color: #4da94d;
}
.mobile-view .below-value {
    color: red;
}

.mobile-view .tracker-plan__session-block-top-row td {
    border-bottom: none !important;
}
.mobile-view .tracker-plan__session-block-bottom-row td {
    padding-top: 0;
    border-top: none !important;
}

.mobile-view .tracker-plan__session-block-completed td {
    /*background-color: #beffbe !important;*/
}

.mobile-view .tracker-plan__completed-tick {
    padding-left: 0.5rem;
}

.mobile-view .tracker-plan-date {
    padding: 0.7rem;
    font-weight: 900;
    font-size: 18px;
}