<!--
  @description       : Allows clients to update their Session Plans
  @author            : ChangeMeIn@UserSettingsUnder.SFDoc
  @group             : 
  @last modified on  : 01-14-2021
  @last modified by  : ChangeMeIn@UserSettingsUnder.SFDoc
  Modifications Log 
  Ver   Date         Author                               Modification
  1.0   12-17-2020   ChangeMeIn@UserSettingsUnder.SFDoc   Initial Version
-->
<template>
    <template if:true={_addCustomItem}>
        <c-tracker-x-add-custom-item onsave={onSaveCustomTemplateItem}
                                     oncancel={onCancelCustomTemplateItem}></c-tracker-x-add-custom-item>
    </template>
    
    <template if:true={_isLoading}>
        <lightning-spinner alternative-text="Loading" size="large"></lightning-spinner>
    </template>
    <template if:false={_isLoading}>
        <!--Desktop View-->
        <template if:false={isPhone}>
            <template if:true={isActiveMode}>
                <div>
                    <span>
                        <lightning-formatted-date-time class="tracker-plan-date" value={_origPlanData.planDate} year="numeric" month="2-digit" day="2-digit" weekday="long"></lightning-formatted-date-time>
                    </span>
                    <span style="padding: 0.25rem">
                        <lightning-button class="tracker-plan-button" variant="success" label="SAVE CHANGES" onclick={onSaveTrackerData}></lightning-button>
                    </span>
                    <span style="padding: 0.25rem">
                        <lightning-button class="tracker-plan-button" variant="destructive" label="Cancel Changes" onclick={onClearTrackerData}></lightning-button>
                    </span>
                </div>
                <br />
            </template>
            <div class="desktop-view">
                <div class="table-wrapper">
                    <table class={planTableClass}>
                        <template if:false={hasPlanId}>
                            <thead class="tracker-plan__header">
                                <tr class="tracker-plan__totals-top-row">
                                    <th colspan="4">
                                        &nbsp;
                                    </th>
                                    <th class="protein__column">Protein</th>
                                    <th class="carbs__column">Carbs</th>
                                    <th class="fat__column">Fat</th>
                                    <th class="calories__column">Calories</th>
                                </tr>
                                <tr class="tracker-plan__trainer-targets-row">
                                    <th colspan="4">
                                        <span>Current Targets &nbsp;</span>
                                    </th>
                                    <th class="protein__column">-</th>
                                    <th class="carbs__column">-</th>
                                    <th class="fat__column">-</th>
                                    <th class="calories__column">-</th>
                                </tr>
                                <tr class="tracker-plan__original-client-totals-row">
                                    <th colspan="4">
                                        <span>Your Totals&nbsp;</span>
                                    </th>
                                    <th class="protein__column">-</th>
                                    <th class="carbs__column">-</th>
                                    <th class="fat__column">-</th>
                                    <th class="calories__column">-</th>
                                </tr>
                                <tr class="tracker-plan__actuals-row">
                                    <th colspan="4">Actuals</th>
                                    <th class="protein__column">-</th>
                                    <th class="carbs__column">-</th>
                                    <th class="fat__column">-</th>
                                    <th class="calories__column">-</th>
                                </tr>
                                <tr class="tracker-plan__index-row">
                                    <th>&nbsp;</th>
                                    <th>Item</th>
                                    <th class="quantity__column" colspan="2">Quantity</th>
                                    <th class="protein__column">Protein</th>
                                    <th class="carbs__column">Carbs</th>
                                    <th class="fat__column">Fat</th>
                                    <th class="calories__column">Calories</th>
                                </tr>
                            </thead>
                        </template>
                        <template if:true={hasPlanId}>
                            <thead class="tracker-plan__header">
                                <tr class="tracker-plan__totals-top-row">
                                    <th colspan="4">
                                        &nbsp;
                                    </th>
                                    <th class="protein__column">Protein</th>
                                    <th class="carbs__column">Carbs</th>
                                    <th class="fat__column">Fat</th>
                                    <th class="calories__column">Calories</th>
                                </tr>
                                <tr class="tracker-plan__trainer-targets-row">
                                    <th colspan="4">
                                        <span>Current Targets &nbsp;</span>
                                        <template if:true={_origPlanData.trainerTargetsChanged}>
                                            <span>
                                                <template if:false={isActiveMode}>(changed)</template>
                                            </span> 
                                        </template>
                                    </th>
                                    <th class="protein__column"><lightning-formatted-number value={_updatedPlanData.referenceProtein} minimum-fraction-digits="0" maximum-fraction-digits="0"></lightning-formatted-number></th>
                                    <th class="carbs__column"><lightning-formatted-number value={_updatedPlanData.referenceCarbs} minimum-fraction-digits="0" maximum-fraction-digits="0"></lightning-formatted-number></th>
                                    <th class="fat__column"><lightning-formatted-number value={_updatedPlanData.referenceFat} minimum-fraction-digits="0" maximum-fraction-digits="0"></lightning-formatted-number></th>
                                    <th class="calories__column"><lightning-formatted-number value={_updatedPlanData.referenceCalories} minimum-fraction-digits="0" maximum-fraction-digits="0"></lightning-formatted-number></th>
                                </tr>
                                <tr class="tracker-plan__original-client-totals-row">
                                    <th colspan="4">
                                        <template if:true={isActiveMode}>Your Previous Totals</template>
                                        <template if:false={isActiveMode}>
                                            <span>Your Totals&nbsp;</span>
                                            <template if:true={haveAnyTargetsChanged}>
                                                <span>(to update)</span>
                                            </template>
                                        </template>
                                    </th>
                                    <th class="protein__column"><lightning-formatted-number value={_origPlanData.protein} minimum-fraction-digits="0" maximum-fraction-digits="0"></lightning-formatted-number></th>
                                    <th class="carbs__column"><lightning-formatted-number value={_origPlanData.carbs} minimum-fraction-digits="0" maximum-fraction-digits="0"></lightning-formatted-number></th>
                                    <th class="fat__column"><lightning-formatted-number value={_origPlanData.fat} minimum-fraction-digits="0" maximum-fraction-digits="0"></lightning-formatted-number></th>
                                    <th class="calories__column"><lightning-formatted-number value={_origPlanData.calories} minimum-fraction-digits="0" maximum-fraction-digits="0"></lightning-formatted-number></th>
                                </tr>
                                <template if:true={isActiveMode}>
                                    <tr class="tracker-plan__updated-client-totals-row">
                                        <th colspan="4">Your New Totals</th>
                                        <th class="protein__column"><lightning-formatted-number value={_updatedPlanData.protein} minimum-fraction-digits="0" maximum-fraction-digits="0"></lightning-formatted-number></th>
                                        <th class="carbs__column"><lightning-formatted-number value={_updatedPlanData.carbs} minimum-fraction-digits="0" maximum-fraction-digits="0"></lightning-formatted-number></th>
                                        <th class="fat__column"><lightning-formatted-number value={_updatedPlanData.fat} minimum-fraction-digits="0" maximum-fraction-digits="0"></lightning-formatted-number></th>
                                        <th class="calories__column"><lightning-formatted-number value={_updatedPlanData.calories} minimum-fraction-digits="0" maximum-fraction-digits="0"></lightning-formatted-number></th>
                                    </tr>
                                </template>
                                <template if:true={isActiveMode}>
                                    <tr class="tracker-plan__changes-row">
                                        <th colspan="4">Changes</th>
                                        <th class="protein__column">
                                            <div class={planChanges.protein.classValue}>{planChanges.protein.value}</div>
                                            <div class={planChanges.protein.classValue}>({planChanges.protein.percent}%)</div>
                                        </th>
                                        <th class="carbs__column">
                                            <div class={planChanges.carb.classValue}>{planChanges.carb.value}</div>
                                            <div class={planChanges.carb.classValue}>({planChanges.carb.percent}%)</div>
                                        </th>
                                        <th class="fat__column">
                                            <div class={planChanges.fat.classValue}>{planChanges.fat.value}</div>
                                            <div class={planChanges.fat.classValue}>({planChanges.fat.percent}%)</div>
                                        </th>
                                        <th class="calories__column">
                                            <div class={planChanges.calories.classValue}>{planChanges.calories.value}</div>
                                            <div class={planChanges.calories.classValue}>({planChanges.calories.percent}%)</div>
                                        </th>
                                    </tr>
                                </template>
                                <tr class="tracker-plan__actuals-row">
                                    <th colspan="4">Actuals</th>
                                    <th class="protein__column"><lightning-formatted-number value={_updatedPlanData.actualProtein} minimum-fraction-digits="0" maximum-fraction-digits="0"></lightning-formatted-number></th>
                                    <th class="carbs__column"><lightning-formatted-number value={_updatedPlanData.actualCarbs} minimum-fraction-digits="0" maximum-fraction-digits="0"></lightning-formatted-number></th>
                                    <th class="fat__column"><lightning-formatted-number value={_updatedPlanData.actualFat} minimum-fraction-digits="0" maximum-fraction-digits="0"></lightning-formatted-number></th>
                                    <th class="calories__column"><lightning-formatted-number value={_updatedPlanData.actualCalories} minimum-fraction-digits="0" maximum-fraction-digits="0"></lightning-formatted-number></th>
                                </tr>
                                <tr class="tracker-plan__index-row">
                                    <th>&nbsp;</th>
                                    <th>Item</th>
                                    <th class="quantity__column" colspan="2">Quantity</th>
                                    <th class="protein__column">Protein</th>
                                    <th class="carbs__column">Carbs</th>
                                    <th class="fat__column">Fat</th>
                                    <th class="calories__column">Calories</th>
                                </tr>
                            </thead>
                        </template>

                        
                        <template if:true={hasPlanId}>
                            <!--Session Block Header-->
                            <template for:each={_updatedPlanData.blocks} for:item="block">
                                <tbody class="tracker-plan__session-block"
                                       key={block.id}>
                                    <tr class="tracker-plan__session-block-row">
                                        <td class="name__column"
                                            colspan="2"
                                            data-block-id={block.id}
                                            onclick={onSessionBlockHeaderClick}>

                                            <template if:false={block.states.isDisplayingItems}>
                                                <lightning-icon class="avoid-clicks" icon-name="utility:chevronright" alternative-text="Right" size="small" title="Right"></lightning-icon>
                                            </template>
                                            <template if:true={block.states.isDisplayingItems}>
                                                <lightning-icon class="avoid-clicks" icon-name="utility:chevrondown" alternative-text="Down" size="small" title="Down"></lightning-icon>
                                            </template>
                                            <span class="avoid-clicks">{block.name}</span>
                                        </td>
                                        <td class="completed__column"
                                            colspan="2"
                                            data-block-id={block.id}
                                            onclick={onSessionBlockHeaderClick}>
                                            <template if:false={isActiveMode}>
                                                <lightning-input type="checkbox"
                                                                 style="float: left;"
                                                                 variant="label-hidden"
                                                                 data-block-id={block.id}
                                                                 onchange={onBlockCompletedToggle}
                                                                 label="Completed"
                                                                 checked={block.isCompleted}></lightning-input>
                                                <span class="avoid-clicks" style="font-size: 16px;">Completed</span>
                                            </template>
                                        </td>
                                        <td class="protein__column"
                                            data-block-id={block.id}
                                            onclick={onSessionBlockHeaderClick}>
                                            <lightning-formatted-number class="avoid-clicks" value={block.protein} minimum-fraction-digits="0" maximum-fraction-digits="0"></lightning-formatted-number>
                                        </td>
                                        <td class="carbs__column"
                                            data-block-id={block.id}
                                            onclick={onSessionBlockHeaderClick}>
                                            <lightning-formatted-number class="avoid-clicks" value={block.carbs} minimum-fraction-digits="0" maximum-fraction-digits="0"></lightning-formatted-number>
                                        </td>
                                        <td class="fat__column"
                                            data-block-id={block.id}
                                            onclick={onSessionBlockHeaderClick}>
                                            <lightning-formatted-number class="avoid-clicks" value={block.fat} minimum-fraction-digits="0" maximum-fraction-digits="0"></lightning-formatted-number>
                                        </td>
                                        <td class="calories__column"
                                            data-block-id={block.id}
                                            onclick={onSessionBlockHeaderClick}>
                                            <lightning-formatted-number class="avoid-clicks" value={block.calories} minimum-fraction-digits="0" maximum-fraction-digits="0"></lightning-formatted-number>
                                        </td>
                                    </tr>
                                </tbody>
                                <template if:true={block.states.isDisplayingItems}>
                                    <tbody class="tracker-plan__session-items" key={block.id}>
                                        <template for:each={block.items} for:item="item">
                                            <tr class="tracker-plan__session-item-row" key={item.itemId}>
                                                <td class="tracker-plan__session-item-row__delete-item">
                                                    <lightning-button-icon disabled={block.isCompleted}
                                                                           data-item-id={item.id}
                                                                           data-block-id={block.id}
                                                                           variant="border-filled"
                                                                           icon-name="utility:delete"
                                                                           name={item.id}
                                                                           onclick={onDeleteItem}></lightning-button-icon>
                                                </td>
                                                <td class="name__column">{item.name}</td>
                                                <td class="quantity__column">
                                                    <c-quantity-input data-item-id={item.id}
                                                                      data-block-id={block.id}
                                                                      data-item-order={item.order}
                                                                      data-block-order={block.order}
                                                                      measurement={item.referenceMeasurement}
                                                                      disabled={block.isCompleted}
                                                                      value={item.quantity}
                                                                      name={item.id}
                                                                      onkeyupupdate={onItemQuantityChange}></c-quantity-input>
                                                </td>
                                                <td class="measurement__column">{item.referenceMeasurement}</td>
                                                <td class="protein__column"><lightning-formatted-number value={item.protein} minimum-fraction-digits="1" maximum-fraction-digits="1"></lightning-formatted-number></td>
                                                <td class="carbs__column"><lightning-formatted-number value={item.carbs} minimum-fraction-digits="1" maximum-fraction-digits="1"></lightning-formatted-number></td>
                                                <td class="fat__column"><lightning-formatted-number value={item.fat} minimum-fraction-digits="1" maximum-fraction-digits="1"></lightning-formatted-number></td>
                                                <td class="calories__column"><lightning-formatted-number value={item.calories} minimum-fraction-digits="0" maximum-fraction-digits="0"></lightning-formatted-number></td>
                                            </tr>
                                        </template>
                                    </tbody>
                                    <tbody key={block.id}>
                                        <template if:false={block.states.isCreatingItem}>
                                            <tr class="tracker-plan__new-session-item-row">
                                                <td colspan="8">
                                                    <lightning-button disabled={block.isCompleted}
                                                                      label="Item"
                                                                      variant="border-filled"
                                                                      icon-name="utility:add"
                                                                      data-block-id={block.id}
                                                                      name={block.id}
                                                                      onclick={onSetActiveAddItem}>
                                                    </lightning-button>
                                                </td>
                                            </tr>
                                        </template>
                                        <template if:true={block.states.isCreatingItem}>
                                            <tr class="tracker-plan__new-session-item-row">
                                                <td>
                                                    <lightning-button-icon disabled={block.isCompleted}
                                                                           data-block-id={block.id}
                                                                           variant="border-filled"
                                                                           icon-name="utility:close"
                                                                           onclick={onSetInactiveAddItem}></lightning-button-icon>
                                                </td>
                                                <td>
                                                    <lightning-input type="text"
                                                                     data-block-id={block.id}
                                                                     variant="label-hidden"
                                                                     onchange={onNewItemNameFilterChange}></lightning-input>
                                                </td>
                                                <td colspan="6">
                                                    <lightning-button disabled={block.isCompleted}
                                                                      style="font-size: 15px;"
                                                                      label="Add Custom Item"
                                                                      variant="border-filled"
                                                                      icon-name="utility:add"
                                                                      data-block-id={block.id}
                                                                      onclick={onAddCustomItem}></lightning-button>
                                                </td>
                                            </tr>
                                        </template>
                                    </tbody>
                                    <template if:true={block.states.isCreatingItem}>
                                        <tbody key={block.id}>
                                            <template for:each={_filteredItems} for:item="filtItem">
                                                <tr class="tracker-plan__filtered-item-row" key={filtItem.id}>
                                                    <td>
                                                        <lightning-button-icon disabled={block.isCompleted}
                                                                               style="float: right;"
                                                                               data-item-id={filtItem.id}
                                                                               data-block-id={block.id}
                                                                               variant="border-filled"
                                                                               size="x-small"
                                                                               icon-name="utility:add"
                                                                               onclick={onAddTemplateItem}>
                                                        </lightning-button-icon>
                                                    </td>
                                                    <td>{filtItem.name}</td>
                                                    <td class="quantity__column">{filtItem.quantity}</td>
                                                    <td class="measurement__column">{filtItem.measure}</td>
                                                    <td class="protein__column">{filtItem.protein}</td>
                                                    <td class="carbs__column">{filtItem.carbs}</td>
                                                    <td class="fat__column">{filtItem.fat}</td>
                                                    <td class="calories__column">{filtItem.calories}</td>
                                                </tr>
                                            </template>
                                        </tbody>
                                    </template>
                                </template>
                            </template>
                        </template>
                    </table>
                </div>
            </div>
        </template>
        <!--Phone View-->
        <template if:true={isPhone}>
            <template if:true={isActiveMode}>
                <div class="mobile-view tracker-changes-panel slds-grid slds-gutters slds-wrap" style="padding-bottom: 0.5rem;">
                    <div class="slds-col slds-size_1-of-1 slds-align_absolute-center">
                        <lightning-formatted-date-time value={_origPlanData.planDate}
                                                       class="tracker-plan-date"
                                                       year="numeric"
                                                       month="2-digit"
                                                       day="2-digit"
                                                       weekday="long"></lightning-formatted-date-time>
                    </div>
                    <div class="slds-col slds-size_1-of-2">
                        <lightning-button variant="destructive"
                                          class="tracker-plan-button"
                                          style="display: grid; width: 100%; font-size: 14px; font-weight: 900;"
                                          label="Cancel Changes"
                                          onclick={onClearTrackerData}></lightning-button>
                    </div>
                    <div class="slds-col slds-size_1-of-2">
                        <lightning-button variant="success"
                                          class="tracker-plan-button"
                                          style="display: grid; width: 100%; font-size: 14px; font-weight: 900;"
                                          label="SAVE CHANGES"
                                          onclick={onSaveTrackerData}></lightning-button>
                    </div>
                </div>
                <br />
            </template>
            <div class="mobile-view">
                <div class="table-wrapper">
                    <table class={planTableClass}>
                        <template if:true={hasPlanId}>
                            <thead class="tracker-plan__header">
                                <tr class="tracker-plan__totals-top-row">
                                    <th class="title__column" colspan="2">&nbsp;</th>
                                    <th class="protein__column">P</th>
                                    <th class="carbs__column">C</th>
                                    <th class="fat__column">F</th>
                                    <th class="calories__column">Cal</th>
                                </tr>
                                <tr class="tracker-plan__trainer-targets-row">
                                    <th class="title__column" colspan="2">
                                        <span>Current Targets &nbsp;</span>
                                        <template if:true={_origPlanData.trainerTargetsChanged}>
                                            <span>
                                                <template if:false={isActiveMode}>(changed)</template>
                                            </span> 
                                        </template>
                                    </th>
                                    <th class="protein__column"><lightning-formatted-number value={_updatedPlanData.referenceProtein} minimum-fraction-digits="0" maximum-fraction-digits="0"></lightning-formatted-number></th>
                                    <th class="carbs__column"><lightning-formatted-number value={_updatedPlanData.referenceCarbs} minimum-fraction-digits="0" maximum-fraction-digits="0"></lightning-formatted-number></th>
                                    <th class="fat__column"><lightning-formatted-number value={_updatedPlanData.referenceFat} minimum-fraction-digits="0" maximum-fraction-digits="0"></lightning-formatted-number></th>
                                    <th class="calories__column"><lightning-formatted-number value={_updatedPlanData.referenceCalories} minimum-fraction-digits="0" maximum-fraction-digits="0"></lightning-formatted-number></th>
                                </tr>
                                <tr class="tracker-plan__original-client-totals-row">
                                    <th class="title__column" colspan="2">
                                        <template if:true={isActiveMode}>Prev. Totals</template>
                                        <template if:false={isActiveMode}>
                                            <span>Your Totals&nbsp;</span>
                                            <template if:true={haveAnyTargetsChanged}>
                                                <span>(to update)</span>
                                            </template>
                                        </template>
                                    </th>
                                    <th class="protein__column"><lightning-formatted-number value={_origPlanData.protein} minimum-fraction-digits="0" maximum-fraction-digits="0"></lightning-formatted-number></th>
                                    <th class="carbs__column"><lightning-formatted-number value={_origPlanData.carbs} minimum-fraction-digits="0" maximum-fraction-digits="0"></lightning-formatted-number></th>
                                    <th class="fat__column"><lightning-formatted-number value={_origPlanData.fat} minimum-fraction-digits="0" maximum-fraction-digits="0"></lightning-formatted-number></th>
                                    <th class="calories__column"><lightning-formatted-number value={_origPlanData.calories} minimum-fraction-digits="0" maximum-fraction-digits="0"></lightning-formatted-number></th>
                                </tr>
                                <template if:true={isActiveMode}>
                                    <tr class="tracker-plan__updated-client-totals-row">
                                        <th class="title__column" colspan="2">New Totals</th>
                                        <th class="protein__column"><lightning-formatted-number value={_updatedPlanData.protein} minimum-fraction-digits="0" maximum-fraction-digits="0"></lightning-formatted-number></th>
                                        <th class="carbs__column"><lightning-formatted-number value={_updatedPlanData.carbs} minimum-fraction-digits="0" maximum-fraction-digits="0"></lightning-formatted-number></th>
                                        <th class="fat__column"><lightning-formatted-number value={_updatedPlanData.fat} minimum-fraction-digits="0" maximum-fraction-digits="0"></lightning-formatted-number></th>
                                        <th class="calories__column"><lightning-formatted-number value={_updatedPlanData.calories} minimum-fraction-digits="0" maximum-fraction-digits="0"></lightning-formatted-number></th>
                                    </tr>
                                </template>
                                <template if:true={isActiveMode}>
                                    <tr class="tracker-plan__changes-row">
                                        <th class="title__column" colspan="2">Changes</th>
                                        <th class="protein__column">
                                            <div class={planChanges.protein.classValue}>{planChanges.protein.value}</div>
                                            <div class={planChanges.protein.classValue}>{planChanges.protein.percent}%</div>
                                        </th>
                                        <th class="carbs__column">
                                            <div class={planChanges.carb.classValue}>{planChanges.carb.value}</div>
                                            <div class={planChanges.carb.classValue}>{planChanges.carb.percent}%</div>
                                        </th>
                                        <th class="fat__column">
                                            <div class={planChanges.fat.classValue}>{planChanges.fat.value}</div>
                                            <div class={planChanges.fat.classValue}>{planChanges.fat.percent}%</div>
                                        </th>
                                        <th class="calories__column">
                                            <div class={planChanges.calories.classValue}>{planChanges.calories.value}</div>
                                            <div class={planChanges.calories.classValue}>{planChanges.calories.percent}%</div>
                                        </th>
                                    </tr>
                                </template>
                                <tr class="tracker-plan__actuals-row">
                                    <th class="title__column" colspan="2">Actuals</th>
                                    <th class="protein__column"><lightning-formatted-number value={_origPlanData.actualProtein} minimum-fraction-digits="0" maximum-fraction-digits="0"></lightning-formatted-number></th>
                                    <th class="carbs__column"><lightning-formatted-number value={_origPlanData.actualCarbs} minimum-fraction-digits="0" maximum-fraction-digits="0"></lightning-formatted-number></th>
                                    <th class="fat__column"><lightning-formatted-number value={_origPlanData.actualFat} minimum-fraction-digits="0" maximum-fraction-digits="0"></lightning-formatted-number></th>
                                    <th class="calories__column"><lightning-formatted-number value={_origPlanData.actualCalories} minimum-fraction-digits="0" maximum-fraction-digits="0"></lightning-formatted-number></th>
                                </tr>
                                <tr class="tracker-plan__index-row">
                                    <th class="quantity__column" colspan="2">Qty</th>
                                    <th class="protein__column">P</th>
                                    <th class="carbs__column">C</th>
                                    <th class="fat__column">F</th>
                                    <th class="calories__column">Cal</th>
                                </tr>
                            </thead>
                        </template>
                        <template if:false={hasPlanId}>
                            <thead class="tracker-plan__header">
                                <tr class="tracker-plan__totals-top-row">
                                    <th class="title__column" colspan="2">&nbsp;</th>
                                    <th class="protein__column">P</th>
                                    <th class="carbs__column">C</th>
                                    <th class="fat__column">F</th>
                                    <th class="calories__column">Cal</th>
                                </tr>
                                <tr class="tracker-plan__trainer-targets-row">
                                    <th class="title__column" colspan="2">
                                        <span>Current Targets &nbsp;</span>
                                    </th>
                                    <th class="protein__column">-</th>
                                    <th class="carbs__column">-</th>
                                    <th class="fat__column">-</th>
                                    <th class="calories__column">-</th>
                                </tr>
                                <tr class="tracker-plan__original-client-totals-row">
                                    <th class="title__column" colspan="2">
                                        <span>Your Totals&nbsp;</span>
                                    </th>
                                    <th class="protein__column">-</th>
                                    <th class="carbs__column">-</th>
                                    <th class="fat__column">-</th>
                                    <th class="calories__column">-</th>
                                </tr>
                                <tr class="tracker-plan__actuals-row">
                                    <th class="title__column" colspan="2">Actuals</th>
                                    <th class="protein__column">-</th>
                                    <th class="carbs__column">-</th>
                                    <th class="fat__column">-</th>
                                    <th class="calories__column">-</th>
                                </tr>
                                <tr class="tracker-plan__index-row">
                                    <th class="quantity__column" colspan="2">Qty</th>
                                    <th class="protein__column">P</th>
                                    <th class="carbs__column">C</th>
                                    <th class="fat__column">F</th>
                                    <th class="calories__column">Cal</th>
                                </tr>
                            </thead>
                        </template>
                        <template if:true={hasPlanId}>
                            <template for:each={_updatedPlanData.sessionBlocks} for:item="block">
                                <!--Session Block Header-->
                                <template if:false={block.states.isDisplayingItems}>
                                    <tbody class="tracker-plan__session-block" key={block.id}>
                                        <tr class="tracker-plan__session-block-row">
                                            <td class="name__column"
                                                colspan="2"
                                                data-block-id={block.id}
                                                onclick={onSessionBlockHeaderClick}>
                                                <lightning-icon class="avoid-clicks" icon-name="utility:chevronright" alternative-text="Right" size="xx-small" title="Right"></lightning-icon>
                                                <span class="avoid-clicks">{block.blockName}</span>
                                                <template if:true={block.isCompleted}><span class="avoid-clicks tracker-plan__completed-tick">✓</span></template>
                                            </td>
                                            <td class="protein__column"
                                                data-block-id={block.id}
                                                onclick={onSessionBlockHeaderClick}>
                                                <lightning-formatted-number class="avoid-clicks" value={block.protein} minimum-fraction-digits="0" maximum-fraction-digits="0"></lightning-formatted-number>
                                            </td>
                                            <td class="carbs__column"
                                                data-block-id={block.id}
                                                onclick={onSessionBlockHeaderClick}>
                                                <lightning-formatted-number class="avoid-clicks" value={block.carbs} minimum-fraction-digits="0" maximum-fraction-digits="0"></lightning-formatted-number>
                                            </td>
                                            <td class="fat__column"
                                                data-block-id={block.id}
                                                onclick={onSessionBlockHeaderClick}>
                                                <lightning-formatted-number class="avoid-clicks" value={block.fat} minimum-fraction-digits="0" maximum-fraction-digits="0"></lightning-formatted-number>
                                            </td>
                                            <td class="calories__column"
                                                data-block-id={block.id}
                                                onclick={onSessionBlockHeaderClick}>
                                                <lightning-formatted-number class="avoid-clicks" value={block.calories} minimum-fraction-digits="0" maximum-fraction-digits="0"></lightning-formatted-number>
                                            </td>
                                        </tr>
                                    </tbody>
                                </template>
                                <template if:true={block.states.isDisplayingItems}>
                                    <tbody class="tracker-plan__session-block" key={block.id}>
                                        <tr class="tracker-plan__session-block-row tracker-plan__session-block-top-row">
                                            <td class="name__column"
                                                colspan="2"
                                                data-block-id={block.id}
                                                onclick={onSessionBlockHeaderClick}>
                                                <lightning-icon class="avoid-clicks" icon-name="utility:chevrondown" alternative-text="Down" size="xx-small" title="Down"></lightning-icon>
                                                <span class="avoid-clicks">{block.name} </span>
                                                <template if:true={block.isCompleted}><span class="avoid-clicks tracker-plan__completed-tick">✓</span></template>
                                            </td>
                                            <td class="protein__column"
                                                data-block-id={block.id}
                                                onclick={onSessionBlockHeaderClick}>
                                                <lightning-formatted-number class="avoid-clicks" value={block.protein} minimum-fraction-digits="0" maximum-fraction-digits="0"></lightning-formatted-number>
                                            </td>
                                            <td class="carbs__column"
                                                data-block-id={block.id}
                                                onclick={onSessionBlockHeaderClick}>
                                                <lightning-formatted-number class="avoid-clicks" value={block.carbs} minimum-fraction-digits="0" maximum-fraction-digits="0"></lightning-formatted-number>
                                            </td>
                                            <td class="fat__column"
                                                data-block-id={block.id}
                                                onclick={onSessionBlockHeaderClick}>
                                                <lightning-formatted-number class="avoid-clicks" value={block.fat} minimum-fraction-digits="0" maximum-fraction-digits="0"></lightning-formatted-number>
                                            </td>
                                            <td class="calories__column"
                                                data-block-id={block.id}
                                                onclick={onSessionBlockHeaderClick}>
                                                <lightning-formatted-number class="avoid-clicks" value={block.calories} minimum-fraction-digits="0" maximum-fraction-digits="0"></lightning-formatted-number>
                                            </td>
                                        </tr>
                                        <tr class="tracker-plan__session-block-row tracker-plan__session-block-bottom-row">
                                            <td colspan="6"
                                                data-block-id={block.id}
                                                onclick={onSessionBlockHeaderClick}>
                                                <template if:true={block.isCompleted}>
                                                    <button type="button"
                                                            data-block-id={block.id}
                                                            class="slds-button slds-button_success"
                                                            style="font-size: 13px; line-height: 1.5rem; background-color: #4bca81; color:white; padding: 0 0.2rem;"
                                                            onclick={onBlockCompletedToggle}>
                                                        Completed
                                                    </button>
                                                </template>
                                                <template if:false={block.isCompleted}>
                                                    <button type="button"
                                                            data-block-id={block.id}
                                                            class="slds-button"
                                                            style="font-size: 13px; line-height: 1.5rem; background-color: white; padding: 0 0.2rem;"
                                                            onclick={onBlockCompletedToggle}>
                                                        Complete
                                                    </button>
                                                </template>
                                            </td>
                                        </tr>
                                    </tbody>
                                </template>
                                <template if:true={block.states.isDisplayingItems}>
                                    <!--Session Items-->
                                    <tbody key={block.id}>
                                        <template for:each={block.items} for:item="item">
                                            <tr class="tracker-plan__session-item-row tracker-plan__session-item-top-row" style="line-height: 2rem;" key={item.itemId}>
                                                <td colspan="6">
                                                    {item.name}
                                                    <lightning-button-icon disabled={block.isCompleted}
                                                                           style="float: right;"
                                                                           data-item-id={item.id}
                                                                           data-block-id={block.id}
                                                                           size="small"
                                                                           variant="border-filled"
                                                                           icon-name="utility:delete"
                                                                           name={item.id}
                                                                           onclick={onDeleteItem}></lightning-button-icon>
                                                </td>
                                            </tr>
                                            <tr class="tracker-plan__session-item-row tracker-plan__session-item-bottom-row" key={item.itemId}>
                                                <td class="quantity__column">
                                                    <div>
                                                        <c-quantity-input data-item-id={item.id}
                                                                          data-block-id={block.id}
                                                                          measurement={item.referenceMeasurement}
                                                                          disabled={block.isCompleted}
                                                                          value={item.quantity}
                                                                          name={item.id}
                                                                          onkeyupupdate={onItemQuantityChange}></c-quantity-input>
                                                    </div>
                                                </td>
                                                <td class="measurement__column">{item.referenceMeasurement}</td>
                                                <td class="protein__column"><lightning-formatted-number value={item.protein} minimum-fraction-digits="1" maximum-fraction-digits="1"></lightning-formatted-number></td>
                                                <td class="carbs__column"><lightning-formatted-number value={item.carbs} minimum-fraction-digits="1" maximum-fraction-digits="1"></lightning-formatted-number></td>
                                                <td class="fat__column"><lightning-formatted-number value={item.fat} minimum-fraction-digits="1" maximum-fraction-digits="1"></lightning-formatted-number></td>
                                                <td class="calories__column"><lightning-formatted-number value={item.calories} minimum-fraction-digits="0" maximum-fraction-digits="0"></lightning-formatted-number></td>
                                            </tr>
                                        </template>
                                    </tbody>
                                    <!--New Session Item-->
                                    <tbody key={block.id}>
                                        <template if:false={block.states.isCreatingItem}>
                                            <tr class="tracker-plan__new-session-item-row">
                                                <td colspan="6">
                                                    <lightning-button disabled={block.isCompleted}
                                                                      label="Item"
                                                                      variant="border-filled"
                                                                      icon-name="utility:add"
                                                                      data-block-id={block.id}
                                                                      name={block.id}
                                                                      onclick={onSetActiveAddItem}>
                                                    </lightning-button>
                                                </td>
                                            </tr>
                                        </template>
                                        <template if:true={block.states.isCreatingItem}>
                                            <tr class="tracker-plan__new-session-item-row">
                                                <td>
                                                    <lightning-button-icon disabled={block.isCompleted}
                                                                           data-block-id={block.id}
                                                                           variant="border-filled"
                                                                           icon-name="utility:close"
                                                                           onclick={onSetInactiveAddItem}></lightning-button-icon>
                                                </td>
                                                <td colspan="5">
                                                    <lightning-button disabled={block.isCompleted}
                                                                      style="font-size: 15px;"
                                                                      label="Add Custom Item"
                                                                      variant="border-filled"
                                                                      icon-name="utility:add"
                                                                      data-block-id={block.id}
                                                                      onclick={onAddCustomItem}></lightning-button>
                                                </td>
                                            </tr>
                                            <tr class="tracker-plan__new-session-item-row">
                                                <td colspan="6">
                                                    <lightning-input type="text"
                                                                     data-block-id={block.id}
                                                                     variant="label-hidden"
                                                                     onchange={onNewItemNameFilterChange}></lightning-input>
                                                </td>
                                            </tr>
                                        </template>
                                    </tbody>
                                    <!--Rows for adding items-->
                                    <template if:true={block.states.isCreatingItem}>
                                        <tbody key={block.id}>
                                            <template for:each={_filteredItems} for:item="filtItem">
                                                <tr class="tracker-plan__filtered-item-row tracker-plan__session-item-top-row" key={filtItem.id}>
                                                    <td colspan="5">{filtItem.name}</td>
                                                    <td class="slds-align_absolute-center">
                                                        <lightning-button-icon disabled={block.isCompleted}
                                                                               style="float: right;"
                                                                               data-item-id={filtItem.id}
                                                                               data-block-id={block.id}
                                                                               variant="border-filled"
                                                                               icon-name="utility:add"
                                                                               onclick={onAddTemplateItem}>
                                                        </lightning-button-icon>
                                                    </td>
                                                </tr>
                                                <tr class="tracker-plan__filtered-item-row tracker-plan__session-item-bottom-row" key={filtItem.id}>
                                                    <td class="quantity__column">{filtItem.quantity}</td>
                                                    <td class="measurement__column">{filtItem.measure}</td>
                                                    <td class="protein__column">
                                                        <lightning-formatted-number value={filtItem.protein} format-style="decimal" minimum-fraction-digits="0" maximum-fraction-digits="3"></lightning-formatted-number>
                                                    </td>
                                                    <td class="carbs__column">
                                                        <lightning-formatted-number value={filtItem.carbs} format-style="decimal" minimum-fraction-digits="0" maximum-fraction-digits="3"></lightning-formatted-number>
                                                    </td>
                                                    <td class="fat__column">
                                                        <lightning-formatted-number value={filtItem.fat} format-style="decimal" minimum-fraction-digits="0" maximum-fraction-digits="3"></lightning-formatted-number>
                                                    </td>
                                                    <td class="calories__column">
                                                        <lightning-formatted-number value={filtItem.calories} format-style="decimal" minimum-fraction-digits="0" maximum-fraction-digits="3"></lightning-formatted-number>
                                                    </td>
                                                </tr>
                                            </template>
                                        </tbody>
                                    </template>
                                </template>
                            </template>
                        </template>
                    </table>
                </div>
            </div>
        </template>
    </template>
</template>