<template>
    <lightning-record-edit-form record-id={checkInId} object-api-name="Check_In__c" onsuccess={onSuccess} onerror={onError}>
        <lightning-messages></lightning-messages>

        
        <!--<span style="display: none;">-->
            <lightning-input-field field-name="Actual_Check_In_Date__c" value={today}></lightning-input-field>
        <!--</span>-->

    </lightning-record-edit-form>

    <!--
    <lightning:recordEditForm objectApiName="Check_In__c" recordId="{!v.checkInID}" aura:id="measurements" onsuccess="{!c.measurementsSuccess}" onerror="{!c.measurementsError}">
        <lightning:messages />
                        
        <span style="display: none;">
            <lightning:inputField fieldName="Actual_Check_In_Date__c" value="{!v.today}"/>
        </span>
                        
        <aura:if isTrue="{!$Browser.isPhone}">
            <table class="measurements">
                <tbody>
                    <tr>
                        <td>
                            <lightning:inputField fieldName="Weight__c" variant="label-stacked"/>
                        </td>
                        <td>
                            <lightning:inputField fieldName="Chest_Measurement__c" variant="label-stacked"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <lightning:inputField fieldName="Waist_Measurement__c" variant="label-stacked"/>
                        </td>
                        <td>
                            <lightning:inputField fieldName="Hip_Measurement__c" variant="label-stacked"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <lightning:inputField fieldName="Thigh_Measurement__c" variant="label-stacked"/>
                        </td>
                        <td>
                                            
                        </td>
                    </tr>
                </tbody>
            </table>
                            
            <aura:set attribute="else">
                <table class="measurements">
                    <tbody>
                        <tr>
                            <td>
                                <lightning:inputField fieldName="Weight__c" variant="label-stacked"/>
                            </td>
                            <td>
                                <lightning:inputField fieldName="Chest_Measurement__c" variant="label-stacked"/>
                            </td>
                            <td>
                                <lightning:inputField fieldName="Waist_Measurement__c" variant="label-stacked"/>
                            </td>
                            <td>
                                <lightning:inputField fieldName="Hip_Measurement__c" variant="label-stacked"/>
                            </td>
                            <td>
                                <lightning:inputField fieldName="Thigh_Measurement__c" variant="label-stacked"/>
                            </td>
                                            
                        </tr>
                    </tbody>
                </table>
            </aura:set>
        </aura:if>
    </lightning:recordEditForm>
    -->
</template>