<template>
    <template if:true={_isLoading}>
        <lightning-spinner></lightning-spinner>
    </template>
    <template if:true={allDataIsLoaded}>
        <section tabindex="-1" class="slds-modal slds-fade-in-open slds-modal_small">
            <div class="slds-modal__container">
                <header class="slds-modal__header">
                    <h2 class="slds-modal__title slds-hyphenate">All MultiMedia Files</h2>
                </header>
                <div class="slds-modal__content slds-p-around_medium" style="height: 90vh;">

                    <div class="slds-align_absolute-center multi-media__actions">
                        <button style="font-size: 14px; font-weight: 900;"
                                class="slds-button slds-button_brand"
                                onclick={onDisplayAddMultiMediaItemPanel}>
                            Add File
                        </button>
                    </div>
                    <div class="multi-media__files">
                        <table class="slds-table slds-table_cell-buffer slds-table_bordered">
                            <thead>
                                <tr class="slds-line-height_reset">
                                    <th class="" scope="col" style="width: 3rem;">
                                        <div class="slds-truncate" title="Type">Type</div>
                                    </th>
                                    <th class="" scope="col">
                                        <div class="slds-truncate" title="TimeStamp">TimeStamp</div>
                                    </th>
                                    <th class="" scope="col">
                                        <div class="slds-truncate" title="Description">Description</div>
                                    </th>
                                    <th class="" scope="col">
                                        <div class="slds-truncate" title="Click Here to View">&nbsp;</div>
                                    </th>
                                    <th class="" scope="col">
                                        <div class="slds-truncate" title="Click Here to View">&nbsp;</div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <template for:each={_allMultiMediaFiles} for:item="file">
                                    <tr key={file.Id} class="slds-hint-parent">
                                        <th scope="row">
                                            <div class="slds-truncate" title="Type">{file.Type__c}</div>
                                        </th>
                                        <td scope="row">
                                            <div class="slds-truncate" title="TimeStamp">
                                                <lightning-formatted-date-time value={file.Timestamp__c}
                                                                               year="numeric"
                                                                               month="short"
                                                                               day="2-digit"></lightning-formatted-date-time>
                                            </div>
                                        </td>
                                        <td scope="row">
                                            <div class="slds-truncate" title="Description">{file.Description__c}</div>
                                        </td>
                                        <td>
                                            <div class="slds-truncate">
                                                <a href={file.Dropbox_Path__c} target="_blank" tabindex="-1">Click Here to View</a>
                                            </div>
                                        </td>
                                        <td>
                                            <lightning-button-icon onclick={onRemoveFile} data-item-id={file.Id} icon-name="utility:close" alternative-text="Remove" title="Remove"></lightning-button-icon>
                                        </td>
                                    </tr>
                                </template>
                            </tbody>
                        </table>
                    </div>
                </div>
                <footer class="slds-modal__footer">
                    <lightning-button label="Close" onclick={onMultiMediaPanelClose}></lightning-button>
                </footer>
            </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>

        <!--Add Item Panel-->
        <template if:true={_displayAddItemPanel}>
            <template if:true={_isSavingFile}>
                <lightning-spinner size="large"></lightning-spinner>
            </template>
            <lightning-record-edit-form object-api-name="Photo__c" record-type-id={_otherPhotoRecType.recordTypeId} onsuccess={onPhotoSubmissionSuccess}>
                <section tabindex="-1" class="slds-modal slds-fade-in-open slds-modal_small">
                    <div class="slds-modal__container">
                        <header class="slds-modal__header">
                            <h2 class="slds-modal__title slds-hyphenate">Add MultiMedia File</h2>
                        </header>
                        <div class="slds-modal__content slds-p-around_medium" style="height: 90vh;">
                            <lightning-messages></lightning-messages>
                            <div class="slds-align_absolute-center">
                                <lightning-file-upload label="Upload File"
                                                       variant="label-hidden"
                                                       name="upload-file"
                                                       record-id={checkInId}
                                                       onuploadfinished={onFileUploadCompleted}></lightning-file-upload>
                            </div>
                            <template if:true={isFileUploaded}>
                                <div class="slds-align_absolute-center">
                                    <div class="slds-text-color_success">Successfully Uploaded File</div>
                                </div>
                            </template>

                            <div style="display: none;">
                                <lightning-input-field field-name="Check_In__c" value={checkInId}></lightning-input-field>
                                <lightning-input-field field-name="Source__c" value="Dropbox"></lightning-input-field>
                                <lightning-input-field field-name="Timestamp__c"></lightning-input-field>
                            </div>
                            <lightning-input-field field-name="Type__c" required></lightning-input-field>
                            <lightning-input-field field-name="Description__c"></lightning-input-field>
                        </div>
                        <footer class="slds-modal__footer">
                            <lightning-button label="Cancel" onclick={onCloseAddMultiMediaItemPanel}></lightning-button>
                            <lightning-button variant="brand" type="submit" label="Save" disabled={cantSubmitNewFile}></lightning-button>
                        </footer>
                    </div>
                </section>
            </lightning-record-edit-form>
            <div class="slds-backdrop slds-backdrop_open"></div>
        </template>
        <!--Remove Item Confirmation-->
        <template if:true={_displayDeleteItemPanel}>
            <section class="slds-modal slds-fade-in-open slds-modal_small" style="z-index: 11000;">
                <div class="slds-modal__container">
                    <header class="slds-modal__header">
                        <h2 id="modal-heading-01" class="slds-modal__title slds-hyphenate">Remove File</h2>
                    </header>
                    <div class="slds-modal__content slds-p-around_medium">
                        <p>Are you sure you want to remove the file?</p>
                    </div>
                    <footer class="slds-modal__footer">
                        <button class="slds-button slds-button_neutral" onclick={onCancelDeleteFile}>Cancel</button>
                        <button class="slds-button slds-button_brand"   onclick={onConfirmDeleteFile}>Delete</button>
                    </footer>
                </div>
            </section>
            <div class="slds-backdrop slds-backdrop_open" style="z-index: 10000;"></div>
        </template>

    </template>
</template>