<!--
  @description       : 
  @author            : ChangeMeIn@UserSettingsUnder.SFDoc
  @group             : 
  @last modified on  : 12-16-2020
  @last modified by  : ChangeMeIn@UserSettingsUnder.SFDoc
  Modifications Log 
  Ver   Date         Author                               Modification
  1.0   12-15-2020   ChangeMeIn@UserSettingsUnder.SFDoc   Initial Version
-->
<template>

    <!-- For Carb Cycle -->
    <template if:true={isCarbCycleCheckIn}>
        <div>
            <div class="slds-page-header slds-page-header_record-home">
                <div class="slds-page-header__row">
                    <div class="">
                        <div class="slds-media">
                            <div class="slds-media__figure">
                                <span class="slds-icon_container slds-icon-standard-account" style="padding: 4px; scale: 90%">
                                    <lightning-icon variant="inverse" icon-name="utility:table"></lightning-icon>
                                </span>
                            </div>
                            <div class="slds-media__body">
                                <div class="slds-page-header__name">
                                    <div class="slds-page-header__name-title">
                                        <h1>
                                            <span>Plans for {clientName}</span>
                                            <span class="slds-page-header__title slds-truncate">{programName} - {checkInName}</span>
                                        </h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slds-page-header__col-actions">
                        <div class="slds-page-header__controls">
                            <template if:true={hasPlans}>
                                <div class="slds-page-header__control">
                                    <lightning-radio-group name="planMode"
                                                           label=""
                                                           options={planModes}
                                                           value={planMode}
                                                           type="button"
                                                           onchange={changePlanMode}></lightning-radio-group>
                                </div>
                            </template>
                            <template if:true={editable}>
                                <div class="slds-page-header__control" style="padding-top: 4px;">
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    <lightning-button label="Add Template Plan" icon-name="utility:add" onclick={onOpenAddTemplatePlanModal}></lightning-button>
                                </div>
                                <template if:true={hasPlans}>
                                    <div class="slds-page-header__control" style="padding-top: 4px;">
                                        &nbsp;&nbsp;&nbsp;&nbsp;
                                        <lightning-button label="Assign to Weekdays" icon-name="utility:date_input" onclick={assignToWeekdays}></lightning-button>
                                    </div>
                                </template>
                            </template>
                            <div class="slds-page-header__control" style="padding-top: 4px;">
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <lightning-button label="Close" icon-name="utility:close" onclick={closePlans}></lightning-button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <template if:true={_isSavingReferenceAsTemplatePlan}>

                <c-at-slds-modal header-label="Save Reference As Template Plan" size="large" display-header display-footer onclose={onCloseSaveTemplatePlanModal}>
                    <div slot="content">
                        <c-planner-x-save-reference-as-template class="save-plan-as-template" plan-id={_referenceIdForTemplatePlan}></c-planner-x-save-reference-as-template>
                    </div>
                    <div slot="footer">
                        <lightning-button label="Cancel" onclick={onCloseSaveTemplatePlanModal}></lightning-button>
                        <lightning-button variant="brand" label="Save" onclick={onSaveTemplatePlanSuccess}></lightning-button>
                    </div>
                </c-at-slds-modal>

            </template>

            <div style="background: white; border-left: 1px solid rgb(221, 219, 218); border-right: 1px solid rgb(221, 219, 218); padding: 10px;">
                <template if:true={showReferencePlans}>
                    <c-client-info data-id="reference-client-info" check-in-id={checkInID} collapsed=true allergies-disabled onmodechange={onNutritionPlanningModeUpdate}></c-client-info>
                    <template if:true={_isDisplayingReferencePlans}>
                        <lightning-tabset>
                            <template if:true={referencePlans.length} for:each={referencePlans} for:item="plan">
                                <lightning-tab key={plan.id} label={plan.name} id={plan.id}>
                                    <div style="max-width: 70rem; min-width: 40rem; padding-bottom: 0.5rem;">
                                        <template if:true={editable}>
                                            <lightning-button-group>
                                                <lightning-button label="Edit Plan" icon-name="utility:edit" name={plan.id} onclick={editPlan}></lightning-button>
                                                <lightning-button label="Delete Plan" icon-name="utility:delete" name={plan.id} onclick={deletePlan}></lightning-button>
                                                <lightning-button label="Clone Plan" icon-name="utility:copy" name={plan.id} onclick={onClonePlan}></lightning-button>
                                            </lightning-button-group>
                                            <lightning-button style="float: right;" label="Save as Template Plan" name={plan.id} onclick={onSaveAsTemplatePlan}></lightning-button>
                                        </template>
                                    </div>
                                    <div style="max-width: 70rem; min-width: 40rem;">
                                        <c-planner-x-view-plan data-plan-id={plan.id} plan-id={plan.id}></c-planner-x-view-plan>
                                    </div>
                                </lightning-tab>
                            </template>
                        </lightning-tabset>
                    </template>
                </template>
                <template if:true={_isDisplayingDailyPlans}>
                    <div style="padding-bottom: 20px; width: 250px;">
                        <template if:true={hasDailyPlans}>
                            <lightning-combobox label="Daily Plan"
                                                value={selectedDailyPlanID}
                                                placeholder="Select Plan Date"
                                                options={dailyPlanList}
                                                onchange={selectDailyPlan}></lightning-combobox>
                        </template>
                        <template if:true={dailyPlanSelected}>
                            <c-plan2 mode="daily" plan-data={selectedDailyPlan} reset-totals=true></c-plan2>
                        </template>
                    </div>
                    <template if:false={hasDailyPlans}>
                        <i>No daily plans for this check-in</i>
                    </template>
                </template>
            </div>
            <template if:true={_displayClonePlan}>
                <c-planner-x-clone-reference-plan check-in-id={checkInID}
                                                  plan-id={_planIdToClone}
                                                  onsave={onSavedClonePlan}
                                                  onclose={onCloseCloneReferencePlanModal}></c-planner-x-clone-reference-plan>
            </template>

            <template if:true={addingTemplate}>
                <!--Modal for Adding a New Template-->
                <c-at-slds-modal header-label="Add Template Plan" size="large" display-header display-footer onclose={onAddTemplatePlanModalClose}>
                    <div slot="content">
                        <c-client-info check-in-id={checkInID} collapsed use-allergies-slot use-dietary-slot>
                            <div slot="allergies">
                                <table style="width: inherit">
                                    <tbody>
                                        <tr>
                                            <template for:each={allergies} for:item="item">
                                                <td key={item.name}>
                                                    <lightning-input class="linear" name={item.name} label={item.name} type="checkbox" checked={item.checked} onchange={onAddTemplateAllergiesSelect}></lightning-input>
                                                </td>
                                            </template>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div slot="dietary">
                                <table style="width: inherit">
                                    <tbody>
                                        <tr>
                                            <template for:each={restrictions} for:item="item">
                                                <td key={item.name}>
                                                    <lightning-input class="linear" name={item.name} label={item.name} type="checkbox" checked={item.checked} onchange={onAddTemplateRestrictionsSelect}></lightning-input>
                                                </td>
                                            </template>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </c-client-info>
                        <c-planner-x-add-template-plan filter-allergies={addTemplateActiveAllergyFilters} filter-dietary-restrictions={addTemplateActiveRestrictionFilters} can-change-plan-name class="addTemplatePlan" check-in-id={checkInID} onchange={onNewTemplateItemChange}></c-planner-x-add-template-plan>
                    </div>
                    <div slot="footer">
                        <lightning-button label="Cancel" onclick={onAddTemplatePlanModalClose}></lightning-button>
                        &nbsp;&nbsp;&nbsp;
                        <lightning-button label="Save" variant="brand" disabled={_cantAddNewTemplatePlan} onclick={onSaveNewTemplatePlan}></lightning-button>
                        &nbsp;&nbsp;&nbsp;
                        <lightning-button label="Save &amp; Add" variant="brand" disabled={_cantAddNewTemplatePlan} onclick={onSaveAndAddNewTemplatePlan}></lightning-button>
                    </div>
                </c-at-slds-modal>
            </template>


            <template if:true={editingPlan}>
                <c-at-slds-modal header-label="Edit Plan" size="medium" display-header display-footer onclose={onCancelEditingCarbCyclePlan}>
                    <div slot="content">
                        <c-client-info check-in-id={checkInID} collapsed readonly-planning-mode></c-client-info>
                        <br />
                        <c-planner-x-nutrition-carb-cycle-plan can-update-plan-name plan-id={selectedPlan.id} class="nutrition-carb-cycle-plan"></c-planner-x-nutrition-carb-cycle-plan>
                    </div>
                    <div slot="footer">
                        <lightning-button-group>
                            <lightning-button label="Close" onclick={onCancelEditingCarbCyclePlan} disabled={_isSavingPlan}></lightning-button>
                            <lightning-button label="Save" variant="brand" onclick={onSavePlan} disabled={_isSavingPlan}></lightning-button>
                        </lightning-button-group>
                    </div>
                </c-at-slds-modal>
            </template>
            <template if:true={deletingPlan}>
                <c-at-slds-modal header-label="Are you sure?" size="small" display-header display-footer>
                    <div slot="content">Are you sure you want to delete {selectedPlan.name}?</div>
                    <div slot="footer">
                        <lightning-button-group>
                            <lightning-button label="Cancel" icon-name="utility:close" onclick={cancelDelete}></lightning-button>
                            <lightning-button label="Delete" icon-name="utility:delete" variant="brand" onclick={confirmDelete}></lightning-button>
                        </lightning-button-group>
                    </div>
                </c-at-slds-modal>
            </template>
            <template if:true={displayAssignToDaysModal}>
                <c-planner-x-assign-to-days check-in-id={checkInID} onclose={onAssignToDaysClose} onupdate={onAssignToDaysUpdate}></c-planner-x-assign-to-days>
            </template>
            <template if:true={trackingPlan}>
                <section role="dialog" tabindex="-1" class="slds-modal slds-fade-in-open slds-modal_large" aria-labelledby="modal-heading-02" aria-modal="true" aria-describedby="modal-content-id-1">
                    <div class="slds-modal__container">
                        <header class="slds-modal__header">
                            <h2 id="modal-heading-04" class="slds-modal__title slds-hyphenate">Track Plan</h2>
                        </header>
                        <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-4">
                            <c-plan2 show-totals=false plan-data={selectedPlan} mode="tracking" onplanchanged={planChanged} ontotalsupdated={totalsChanged}></c-plan2>
                        </div>
                        <footer class="slds-modal__footer">
                            <lightning-button label="Cancel" onclick={cancelTracking}></lightning-button>
                            &nbsp;&nbsp;&nbsp;
                            <lightning-button label="Save" variant="brand" onclick={saveTracking}></lightning-button>
                        </footer>
                    </div>
                </section>
                <div class="slds-backdrop slds-backdrop_open"></div>
            </template>
            <template if:true={loading}>
                <lightning-spinner alternative-text="Loading" size="large"></lightning-spinner>
            </template>
        </div>
        <template if:true={refreshView}>
            <div style="position: fixed; top: 0; left: 0; bottom: 0; right: 0; z-index: var(--lwc-zIndexModal,9000); background: rgba(255, 255, 255, 0);"></div>
        </template>
    </template>

    <!--For Flexi Plans-->
    <template if:true={isFlexiPlansCheckIn}>
        <div class="slds-page-header slds-page-header_record-home">
            <div class="slds-page-header__row">
                <div class="">
                    <div class="slds-media">
                        <div class="slds-media__figure">
                            <span class="slds-icon_container slds-icon-standard-account" style="padding: 4px; scale: 90%">
                                <lightning-icon variant="inverse" icon-name="utility:table"></lightning-icon>
                            </span>
                        </div>
                        <div class="slds-media__body">
                            <div class="slds-page-header__name">
                                <div class="slds-page-header__name-title">
                                    <h1>
                                        <span>Plans for {clientName}</span>
                                        <span class="slds-page-header__title slds-truncate">{programName} - {checkInName}</span>
                                    </h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slds-page-header__col-actions">
                    <div class="slds-page-header__controls">
                        <div class="slds-page-header__control" style="padding-top: 4px;">
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <lightning-button label="Close" icon-name="utility:close" onclick={closePlans}></lightning-button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="background: white; border-left: 1px solid rgb(221, 219, 218); border-right: 1px solid rgb(221, 219, 218); padding: 10px;">    
            <c-planner-x-nutrition-flexi-plans check-in-id={_checkInID} onmodechange={onNutritionPlanningModeUpdate}></c-planner-x-nutrition-flexi-plans>
        </div>
    </template>

    <!--For Guided Plans-->
    <template if:true={isGuidedPlansCheckIn}>
        <div class="slds-page-header slds-page-header_record-home">
            <div class="slds-page-header__row">
                <div class="">
                    <div class="slds-media">
                        <div class="slds-media__figure">
                            <span class="slds-icon_container slds-icon-standard-account" style="padding: 4px; scale: 90%">
                                <lightning-icon variant="inverse" icon-name="utility:table"></lightning-icon>
                            </span>
                        </div>
                        <div class="slds-media__body">
                            <div class="slds-page-header__name">
                                <div class="slds-page-header__name-title">
                                    <h1>
                                        <span>Plans for {clientName}</span>
                                        <span class="slds-page-header__title slds-truncate">{programName} - {checkInName}</span>
                                    </h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slds-page-header__col-actions">
                    <div class="slds-page-header__controls">
                        <div class="slds-page-header__control" style="padding-top: 4px;">
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <lightning-button label="Close" icon-name="utility:close" onclick={closePlans}></lightning-button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="background: white; border-left: 1px solid rgb(221, 219, 218); border-right: 1px solid rgb(221, 219, 218); padding: 10px;">
            <c-planner-x-nutrition-guided-plans check-in-id={_checkInID} onmodechange={onNutritionPlanningModeUpdate}></c-planner-x-nutrition-guided-plans>
        </div>
    </template>

</template>