div.clientInfo {
    width: inherit;
    padding: 8px;
    border: 1px solid #555;
}

table.summary {
    width: inherit;
    font-size: 12px;
}

table.summary td {
    padding: 4px 8px 4px 8px;
    vertical-align: top;
}

table.summary tr.header td {
    margin-top: 8px;
    background: #eee;
    font-weight: bold;
}