<template>
    <div class="slds-align_absolute-center">
        <lightning-button-group>
            <template for:each={flowButtons} for:item="button">
                <lightning-button   key         ={button.order} 
                                    label       ={button.label} 
                                    variant     ={button.variant}
                                    data-action ={button.action}
                                    data-value  ={button.value}
                                    onclick     ={onButtonSelect}></lightning-button>
            </template>
        </lightning-button-group>
    </div>
</template>