.is-desktop .name__column {
    width: 455px;
}

.is-desktop .protein__column, .is-desktop .carbs__column, .is-desktop .fat__column, .is-desktop .calories__column {
    width: 80px;
    text-align: center;
}

table th, table td {
    padding: 0.5rem !important;
    font-size: 16px;
}

table tr.table-key__row th {
    font-size: 16px;
    font-weight: 900;
    color: #000;
    background-color: #ffbaba;
}

table tr.target__row td {
    font-size: 16px;
    font-weight: 900;
    color: #000;
    background-color: #D3D3D3;
}

.target__top-row td {
    font-weight: 900;
    padding-bottom: 2px !important;
}

.target__bottom-row td {
    padding-top: 2px !important;
    border-bottom: 1px solid black;
}

.is-mobile .protein__column, .is-mobile .carbs__column, .is-mobile .fat__column, .is-mobile .calories__column {
    width: 50px;
    padding: 0.25rem !important;
    text-align: center;
}

.plan__icon {
    width: 14px;
    height: 14px;
    line-height: 14px;
    border-radius: 50%;
    font-size: 12px;
    color: #fff;
    text-align: center;
    font-weight: 900;
    margin-top: 4px;
    margin-right: 4px;
}

.trainer__icon {
    background: #ff4646;
}
.client__icon {
    background: #4767ff;
}

.button-menu {
    --sds-c-button-text-color: black;
}

.last-updated__text {
    font-size: 12px;
    line-height: 24px;
}

.remove-font-weight { 
    font-weight: normal;
}

.assign-targets-plan-details__row > td {
    font-weight: 900;
    font-size: 18px;
    border-bottom: 1px solid black;
}

.assign-plans-to-targets__table td, .assign-plans-to-targets__table th {
    padding: 0.25rem !important;
}

.assign-plans-to-targets__table tr > td:first-child, .assign-plans-to-targets__table tr > th:first-child  {
    padding-right: 0 !important;
    width: 50px;
}


.assign-plans-to-targets__table .protein__column, 
.assign-plans-to-targets__table .carbs__column, 
.assign-plans-to-targets__table .fat__column, 
.assign-plans-to-targets__table .calories__column {
    width: 60px;
    text-align: center;
}