<template>
    
    <template if:true={isSavingOrLoading}>
        <lightning-spinner></lightning-spinner>
    </template>

    <template if:true={isMobile}>
        <table class="is-mobile slds-table slds-table_cell-buffer">
            <thead>
                <tr class="slds-line-height_reset">
                    <th scope="col" class="name__column">
                        <div class="slds-truncate" title="Name">Name</div>
                    </th>
                    <th scope="col" class="protein__column">
                        <div class="slds-truncate" title="Protein">P</div>
                    </th>
                    <th scope="col" class="carbs__column">
                        <div class="slds-truncate" title="Carbs">C</div>
                    </th>
                    <th scope="col" class="fat__column">
                        <div class="slds-truncate" title="Fat">F</div>
                    </th>
                    <th scope="col" class="calories__column">
                        <div class="slds-truncate" title="Calories">Cals</div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <template for:each={_targets} for:item="target">
                    <tr key={target.id}  class="slds-hint-parent target__top-row">
                        <td class="name__column">{target.name}</td>
                        <td class="protein__column"><lightning-formatted-number value={target.protein} minimum-fraction-digits="0" maximum-fraction-digits="0"></lightning-formatted-number></td>
                        <td class="carbs__column"><lightning-formatted-number value={target.carbs} minimum-fraction-digits="0" maximum-fraction-digits="0"></lightning-formatted-number></td>
                        <td class="fat__column"><lightning-formatted-number value={target.fat} minimum-fraction-digits="0" maximum-fraction-digits="0"></lightning-formatted-number></td>
                        <td class="calories__column"><lightning-formatted-number value={target.calories} minimum-fraction-digits="0" maximum-fraction-digits="0"></lightning-formatted-number></td>
                    </tr>
                    <tr key={target.id}  class="slds-hint-parent target__bottom-row">
                        <td colspan="5">
                            <span style="padding-left: 22px;">Assigned:&nbsp;{target.values.assignedToString}</span>
                        </td>
                    </tr>
                </template>
            </tbody>
        </table>
    </template>
    <template if:false={isMobile}>
        <table class="is-desktop slds-table slds-table_cell-buffer slds-table_bordered slds-table_col-bordered">
            <thead>
                <tr class="slds-line-height_reset table-key__row">
                    <th scope="col" class="name__column">
                        <div class="slds-truncate">&nbsp;</div>
                    </th>
                    <th scope="col" class="protein__column">
                        <div class="slds-truncate" title="Protein">Protein</div>
                    </th>
                    <th scope="col" class="carbs__column">
                        <div class="slds-truncate" title="Carbs">Carbs</div>
                    </th>
                    <th scope="col" class="fat__column">
                        <div class="slds-truncate" title="Fat">Fat</div>
                    </th>
                    <th scope="col" class="calories__column">
                        <div class="slds-truncate" title="Calories">Calories</div>
                    </th>
                    <th scope="col">
                        &nbsp;
                    </th>
                </tr>
            </thead>
            <tbody>
                <template for:each={_targets} for:item="target">
                    <tr key={target.id}  class="target__row slds-hint-parent">
                        <td class="name__column">
                            <span>{target.name} -&nbsp;</span>
                            <span>{target.values.assignedToString}</span>
                        </td>
                        <td class="protein__column"><lightning-formatted-number value={target.protein} minimum-fraction-digits="0" maximum-fraction-digits="0"></lightning-formatted-number></td>
                        <td class="carbs__column"><lightning-formatted-number value={target.carbs} minimum-fraction-digits="0" maximum-fraction-digits="0"></lightning-formatted-number></td>
                        <td class="fat__column"><lightning-formatted-number value={target.fat} minimum-fraction-digits="0" maximum-fraction-digits="0"></lightning-formatted-number></td>
                        <td class="calories__column"><lightning-formatted-number value={target.calories} minimum-fraction-digits="0" maximum-fraction-digits="0"></lightning-formatted-number></td>
                        <td>&nbsp;</td>
                    </tr>
                    <template for:each={target.values.activeReferencePoolPlans} for:item="poolPlanVersion">
                        <tr key={poolPlanVersion.id}>
                            <td class="name__column">
                                <div style="display: flex;">
                                    <div class="plan__icon trainer__icon">T</div>
                                    <span>{poolPlanVersion.referencePlan.name}</span>
                                    <span class="last-updated__text">(<lightning-formatted-date-time value={poolPlanVersion.referencePlan.lastModifiedDate} month="short"></lightning-formatted-date-time></span>
                                    <span class="last-updated__text"><lightning-formatted-date-time value={poolPlanVersion.referencePlan.lastModifiedDate} day="2-digit"></lightning-formatted-date-time></span>
                                    <span class="last-updated__text">-<lightning-formatted-date-time value={poolPlanVersion.referencePlan.lastModifiedDate} year="2-digit"></lightning-formatted-date-time>)</span>
                                </div>
                            </td>
                            <td class="protein__column"><lightning-formatted-number value={poolPlanVersion.referencePlan.protein} minimum-fraction-digits="0" maximum-fraction-digits="0"></lightning-formatted-number></td>
                            <td class="carbs__column"><lightning-formatted-number value={poolPlanVersion.referencePlan.carbs} minimum-fraction-digits="0" maximum-fraction-digits="0"></lightning-formatted-number></td>
                            <td class="fat__column"><lightning-formatted-number value={poolPlanVersion.referencePlan.fat} minimum-fraction-digits="0" maximum-fraction-digits="0"></lightning-formatted-number></td>
                            <td class="calories__column"><lightning-formatted-number value={poolPlanVersion.referencePlan.calories} minimum-fraction-digits="0" maximum-fraction-digits="0"></lightning-formatted-number></td>
                            <td>
                                <lightning-button-menu class="button-menu" style="color: black;" label="Actions" alternative-text="Show menu" menu-alignment="right" icon-size="small" variant="bare">
                                    <lightning-menu-item data-reference-plan-id={poolPlanVersion.referencePlan.id} data-pool-plan-version-id={poolPlanVersion.id} value="View"            label="View"              onclick={onOpenViewReferencePlanModal}></lightning-menu-item>
                                    <lightning-menu-item
                                        data-pool-plan-id={poolPlanVersion.poolPlanId}
                                        data-reference-plan-id={poolPlanVersion.referencePlan.id} 
                                        data-reference-plan-name={poolPlanVersion.referencePlan.name} 
                                        data-plan-name={poolPlanVersion.referencePlan.name}
                                        data-plan-protein={poolPlanVersion.referencePlan.protein}
                                        data-plan-carbs={poolPlanVersion.referencePlan.carbs}
                                        data-plan-fat={poolPlanVersion.referencePlan.fat}
                                        data-plan-calories={poolPlanVersion.referencePlan.calories}
                                        data-pool-plan-version-id={poolPlanVersion.id} value="SaveAsNewPlan"   
                                        label="Modify &amp; Save New Plan"  
                                        onclick={onOpenSaveAsNewPoolPlanModal}></lightning-menu-item>
                                </lightning-button-menu>
                            </td>
                        </tr>
                    </template>

                    <template for:each={target.values.activeClientPoolPlans} for:item="poolPlanVersion">
                        <tr key={poolPlanVersion.id}>
                            <td class="name__column">
                                <div style="display: flex;">
                                    <div class="plan__icon client__icon">C</div>
                                    <span>{poolPlanVersion.referencePlan.name}</span>
                                    <span class="last-updated__text">(<lightning-formatted-date-time value={poolPlanVersion.referencePlan.lastModifiedDate} month="short"></lightning-formatted-date-time></span>
                                    <span class="last-updated__text"><lightning-formatted-date-time value={poolPlanVersion.referencePlan.lastModifiedDate} day="2-digit"></lightning-formatted-date-time></span>
                                    <span class="last-updated__text">-<lightning-formatted-date-time value={poolPlanVersion.referencePlan.lastModifiedDate} year="2-digit"></lightning-formatted-date-time>)</span>
                                </div>
                            </td>
                            <td class="protein__column"><lightning-formatted-number value={poolPlanVersion.referencePlan.protein} minimum-fraction-digits="0" maximum-fraction-digits="0"></lightning-formatted-number></td>
                            <td class="carbs__column"><lightning-formatted-number value={poolPlanVersion.referencePlan.carbs} minimum-fraction-digits="0" maximum-fraction-digits="0"></lightning-formatted-number></td>
                            <td class="fat__column"><lightning-formatted-number value={poolPlanVersion.referencePlan.fat} minimum-fraction-digits="0" maximum-fraction-digits="0"></lightning-formatted-number></td>
                            <td class="calories__column"><lightning-formatted-number value={poolPlanVersion.referencePlan.calories} minimum-fraction-digits="0" maximum-fraction-digits="0"></lightning-formatted-number></td>
                            <td>
                                <lightning-button-menu class="button-menu" label="Actions" alternative-text="Show menu" menu-alignment="right" icon-size="small" variant="bare">
                                    <lightning-menu-item data-pool-plan-id={poolPlanVersion.poolPlanId} data-reference-plan-id={poolPlanVersion.referencePlan.id} data-pool-plan-version-id={poolPlanVersion.id} value="Edit" label="View/Edit" onclick={onOpenEditPlanModal}></lightning-menu-item>
                                    <lightning-menu-item data-pool-plan-id={poolPlanVersion.poolPlanId} value="ManageVersions"  label="Manage Versions" onclick={onOpenManageVersionsModal}></lightning-menu-item>
                                    <lightning-menu-item 
                                        data-plan-name={poolPlanVersion.referencePlan.name}
                                        data-plan-protein={poolPlanVersion.referencePlan.protein}
                                        data-plan-carbs={poolPlanVersion.referencePlan.carbs}
                                        data-plan-fat={poolPlanVersion.referencePlan.fat}
                                        data-plan-calories={poolPlanVersion.referencePlan.calories}
                                        data-reference-plan-id={poolPlanVersion.referencePlan.id} 
                                        data-reference-plan-name={poolPlanVersion.referencePlan.name} 
                                        data-pool-plan-version-id={poolPlanVersion.id} 
                                        label="Modify &amp; Save New Plan" 
                                        onclick={onOpenSaveAsNewPoolPlanModal}></lightning-menu-item>
                                    <lightning-menu-item data-pool-plan-id={poolPlanVersion.poolPlanId} value="Delete" label="Delete" onclick={onOpenDeletePoolPlanModal}></lightning-menu-item>
                                    <lightning-menu-item 
                                        data-plan-name={poolPlanVersion.referencePlan.name}
                                        data-plan-protein={poolPlanVersion.referencePlan.protein}
                                        data-plan-carbs={poolPlanVersion.referencePlan.carbs}
                                        data-plan-fat={poolPlanVersion.referencePlan.fat}
                                        data-plan-calories={poolPlanVersion.referencePlan.calories}
                                        data-pool-plan-id={poolPlanVersion.poolPlanId} 
                                        label="Assign To Targets" 
                                        onclick={onAssignPoolPlanToTargets}></lightning-menu-item>
                                    <lightning-menu-item 
                                        data-target-id={target.id}
                                        data-pool-plan-id={poolPlanVersion.poolPlanId}
                                        onclick={onOpenUnassignPoolPlanFromTargetModal}
                                        label="Unassign from Target"></lightning-menu-item>

                                </lightning-button-menu>
                            </td>
                        </tr>
                    </template>

                </template>

                <tr class="target__row slds-hint-parent">
                    <td colspan="6" style="border-top: 4px solid black;">My Plans</td>
                </tr>
                
                <template for:each={_clientPoolPlans} for:item="poolPlan">
                    <tr key={poolPlan.id}>
                        <td class="name__column">
                            <div style="display: flex;">
                                <div class="plan__icon client__icon">C</div>
                                <span>{poolPlan.activePoolPlanVersion.referencePlan.name}</span>
                                <span class="last-updated__text">(<lightning-formatted-date-time value={poolPlan.activePoolPlanVersion.referencePlan.lastModifiedDate} month="short"></lightning-formatted-date-time></span>
                                <span class="last-updated__text"><lightning-formatted-date-time value={poolPlan.activePoolPlanVersion.referencePlan.lastModifiedDate} day="2-digit"></lightning-formatted-date-time></span>
                                <span class="last-updated__text">-<lightning-formatted-date-time value={poolPlan.activePoolPlanVersion.referencePlan.lastModifiedDate} year="2-digit"></lightning-formatted-date-time>)</span>
                            </div>
                        </td>
                        <td class="protein__column"><lightning-formatted-number value={poolPlan.activePoolPlanVersion.referencePlan.protein} minimum-fraction-digits="0" maximum-fraction-digits="0"></lightning-formatted-number></td>
                        <td class="carbs__column"><lightning-formatted-number value={poolPlan.activePoolPlanVersion.referencePlan.carbs} minimum-fraction-digits="0" maximum-fraction-digits="0"></lightning-formatted-number></td>
                        <td class="fat__column"><lightning-formatted-number value={poolPlan.activePoolPlanVersion.referencePlan.fat} minimum-fraction-digits="0" maximum-fraction-digits="0"></lightning-formatted-number></td>
                        <td class="calories__column"><lightning-formatted-number value={poolPlan.activePoolPlanVersion.referencePlan.calories} minimum-fraction-digits="0" maximum-fraction-digits="0"></lightning-formatted-number></td>
                        <td>
                            <lightning-button-menu class="button-menu" label="Actions" alternative-text="Show menu" menu-alignment="right" icon-size="small" variant="bare">
                                <lightning-menu-item data-pool-plan-id={poolPlan.activePoolPlanVersion.poolPlanId} data-reference-plan-id={poolPlan.activePoolPlanVersion.referencePlan.id} data-pool-plan-version-id={poolPlan.activePoolPlanVersion.id} value="Edit" label="View/Edit" onclick={onOpenEditPlanModal}></lightning-menu-item>
                                <lightning-menu-item data-pool-plan-id={poolPlan.activePoolPlanVersion.poolPlanId} value="ManageVersions"  label="Manage Versions" onclick={onOpenManageVersionsModal}></lightning-menu-item>
                                <lightning-menu-item 
                                    data-plan-name={poolPlan.activePoolPlanVersion.referencePlan.name}
                                    data-plan-protein={poolPlan.activePoolPlanVersion.referencePlan.protein}
                                    data-plan-carbs={poolPlan.activePoolPlanVersion.referencePlan.carbs}
                                    data-plan-fat={poolPlan.activePoolPlanVersion.referencePlan.fat}
                                    data-plan-calories={poolPlan.activePoolPlanVersion.referencePlan.calories}
                                    data-reference-plan-id={poolPlan.activePoolPlanVersion.referencePlan.id} 
                                    data-reference-plan-name={poolPlan.activePoolPlanVersion.referencePlan.name} 
                                    data-pool-plan-version-id={poolPlan.activePoolPlanVersion.id} 
                                    label="Modify &amp; Save New Plan" 
                                    onclick={onOpenSaveAsNewPoolPlanModal}></lightning-menu-item>
                                <lightning-menu-item data-pool-plan-id={poolPlan.activePoolPlanVersion.poolPlanId} value="Delete" label="Delete" onclick={onOpenDeletePoolPlanModal}></lightning-menu-item>
                                <lightning-menu-item 
                                    data-plan-name={poolPlan.activePoolPlanVersion.referencePlan.name}
                                    data-plan-protein={poolPlan.activePoolPlanVersion.referencePlan.protein}
                                    data-plan-carbs={poolPlan.activePoolPlanVersion.referencePlan.carbs}
                                    data-plan-fat={poolPlan.activePoolPlanVersion.referencePlan.fat}
                                    data-plan-calories={poolPlan.activePoolPlanVersion.referencePlan.calories}
                                    data-pool-plan-id={poolPlan.activePoolPlanVersion.poolPlanId} 
                                    label="Assign To Targets" 
                                    onclick={onAssignPoolPlanToTargets}></lightning-menu-item>

                            </lightning-button-menu>
                        </td>
                    </tr>
                </template>

                <template for:each={_unassignedPlans} for:item="poolPlan">
                    <tr key={poolPlan.id}>
                        <td class="name__column">
                            <div style="display: flex;">
                                <div class="plan__icon client__icon">C</div>
                                <span>{poolPlan.activePoolPlanVersion.referencePlan.name}</span>
                                <span class="last-updated__text">(<lightning-formatted-date-time value={poolPlan.activePoolPlanVersion.referencePlan.lastModifiedDate} month="short"></lightning-formatted-date-time></span>
                                <span class="last-updated__text"><lightning-formatted-date-time value={poolPlan.activePoolPlanVersion.referencePlan.lastModifiedDate} day="2-digit"></lightning-formatted-date-time></span>
                                <span class="last-updated__text">-<lightning-formatted-date-time value={poolPlan.activePoolPlanVersion.referencePlan.lastModifiedDate} year="2-digit"></lightning-formatted-date-time>)</span>
                            </div>
                        </td>
                        <td class="protein__column"><lightning-formatted-number value={poolPlan.activePoolPlanVersion.referencePlan.protein} minimum-fraction-digits="0" maximum-fraction-digits="0"></lightning-formatted-number></td>
                        <td class="carbs__column"><lightning-formatted-number value={poolPlan.activePoolPlanVersion.referencePlan.carbs} minimum-fraction-digits="0" maximum-fraction-digits="0"></lightning-formatted-number></td>
                        <td class="fat__column"><lightning-formatted-number value={poolPlan.activePoolPlanVersion.referencePlan.fat} minimum-fraction-digits="0" maximum-fraction-digits="0"></lightning-formatted-number></td>
                        <td class="calories__column"><lightning-formatted-number value={poolPlan.activePoolPlanVersion.referencePlan.calories} minimum-fraction-digits="0" maximum-fraction-digits="0"></lightning-formatted-number></td>
                        <td>
                            <lightning-button-menu class="button-menu" label="Actions" alternative-text="Show menu" menu-alignment="right" icon-size="small" variant="bare">
                                <lightning-menu-item data-pool-plan-id={poolPlan.activePoolPlanVersion.poolPlanId} data-reference-plan-id={poolPlan.activePoolPlanVersion.referencePlan.id} data-pool-plan-version-id={poolPlan.activePoolPlanVersion.id} value="View/Edit" label="Edit" onclick={onOpenEditPlanModal}></lightning-menu-item>
                                <lightning-menu-item data-pool-plan-id={poolPlan.activePoolPlanVersion.poolPlanId} value="ManageVersions"  label="Manage Versions" onclick={onOpenManageVersionsModal}></lightning-menu-item>
                                <lightning-menu-item 
                                    data-plan-name={poolPlan.activePoolPlanVersion.referencePlan.name}
                                    data-plan-protein={poolPlan.activePoolPlanVersion.referencePlan.protein}
                                    data-plan-carbs={poolPlan.activePoolPlanVersion.referencePlan.carbs}
                                    data-plan-fat={poolPlan.activePoolPlanVersion.referencePlan.fat}
                                    data-plan-calories={poolPlan.activePoolPlanVersion.referencePlan.calories}
                                    data-reference-plan-id={poolPlan.activePoolPlanVersion.referencePlan.id} 
                                    data-reference-plan-name={poolPlan.activePoolPlanVersion.referencePlan.name} 
                                    data-pool-plan-version-id={poolPlan.activePoolPlanVersion.id} 
                                    label="Modify &amp; Save New Plan" 
                                    onclick={onOpenSaveAsNewPoolPlanModal}></lightning-menu-item>
                                <lightning-menu-item data-pool-plan-id={poolPlan.activePoolPlanVersion.poolPlanId} value="Delete" label="Delete" onclick={onOpenDeletePoolPlanModal}></lightning-menu-item>
                                <lightning-menu-item 
                                    data-plan-name={poolPlan.activePoolPlanVersion.referencePlan.name}
                                    data-plan-protein={poolPlan.activePoolPlanVersion.referencePlan.protein}
                                    data-plan-carbs={poolPlan.activePoolPlanVersion.referencePlan.carbs}
                                    data-plan-fat={poolPlan.activePoolPlanVersion.referencePlan.fat}
                                    data-plan-calories={poolPlan.activePoolPlanVersion.referencePlan.calories}
                                    data-pool-plan-id={poolPlan.activePoolPlanVersion.poolPlanId} 
                                    label="Assign To Targets" 
                                    onclick={onAssignPoolPlanToTargets}></lightning-menu-item>
                            </lightning-button-menu>
                        </td>
                    </tr>
                </template>


            </tbody>
        </table>
    </template>

    <!-- Modal for Unassigning Pool Plan from Target -->
    <template if:true={_displayUnassignPoolPlanFromTargetModal}>
        <c-at-slds-modal header-label="Unassign Pool Plan" size="medium" display-header display-footer onclose={onCloseUnassignPoolPlanFromTargetModal}>
            <div slot="content">Are you sure you want to unassign plan from Target [TARGET NAME]?</div>
            <div slot="footer">
                <lightning-button-group>
                    <lightning-button label="Cancel" onclick={onCloseUnassignPoolPlanFromTargetModal}></lightning-button>
                    <lightning-button label="Save" variant="brand" onclick={onUnnassignPoolPlanFromTarget}></lightning-button>
                </lightning-button-group>
            </div>
        </c-at-slds-modal>
    </template>

    <!-- Modal for Assigning Plans To Targets -->
    <template if:true={_displayAssignPoolPlanToTargetsModal}>
        <c-at-slds-modal header-label="Assign Plan To Targets" size="medium" display-header display-footer onclose={onCloseAssignPoolPlanToTargetsModal}>
            <div slot="content">
                <table class="is-desktop assign-plans-to-targets__table" style="width: 800px; margin: auto;">
                    <thead>
                        <tr class="slds-line-height_reset">
                            <th colspan="4" class="remove-font-weight">&nbsp;</th>
                            <th scope="col" class="protein__column remove-font-weight">
                                <div class="slds-truncate" title="P">P</div>
                            </th>
                            <th scope="col" class="carbs__column remove-font-weight">
                                <div class="slds-truncate" title="C">C</div>
                            </th>
                            <th scope="col" class="fat__column remove-font-weight">
                                <div class="slds-truncate" title="F">F</div>
                            </th>
                            <th scope="col" class="calories__column remove-font-weight">
                                <div class="slds-truncate" title="Calories">Cals</div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="assign-targets-plan-details__row">
                            <td>Plan: </td>
                            <td colspan="3">{_selectedPlanDetails.name}</td>
                            <td class="protein__column"><lightning-formatted-number value={_selectedPlanDetails.protein} minimum-fraction-digits="0" maximum-fraction-digits="0"></lightning-formatted-number></td>
                            <td class="carbs__column"><lightning-formatted-number value={_selectedPlanDetails.carbs} minimum-fraction-digits="0" maximum-fraction-digits="0"></lightning-formatted-number></td>
                            <td class="fat__column"><lightning-formatted-number value={_selectedPlanDetails.fat} minimum-fraction-digits="0" maximum-fraction-digits="0"></lightning-formatted-number></td>
                            <td class="calories__column"><lightning-formatted-number value={_selectedPlanDetails.calories} minimum-fraction-digits="0" maximum-fraction-digits="0"></lightning-formatted-number></td>
                        </tr>
                    </tbody>
                    <thead>
                        <tr class="slds-line-height_reset">
                            <td>&nbsp;</td>
                            <th scope="col" colspan="3">
                                <div style="font-size: 18px; padding: 0.5rem 0; font-weight: 900;" class="slds-truncate" title="Assign to Targets">Assign to Targets</div>
                            </th>
                            <th scope="col" class="protein__column">
                                <div class="slds-truncate" title="Protein">&nbsp;</div>
                            </th>
                            <th scope="col" class="carbs__column">
                                <div class="slds-truncate" title="Carbs">&nbsp;</div>
                            </th>
                            <th scope="col" class="fat__column">
                                <div class="slds-truncate" title="Fat">&nbsp;</div>
                            </th>
                            <th scope="col" class="calories__column">
                                <div class="slds-truncate" title="Calories">&nbsp;</div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <template for:each={_selectedTargetOptions} for:item="tOption">
                            <tr class="slds-hint-parent" key={tOption.value}>
                                <td>&nbsp;</td>
                                <td style="width: 10px;">
                                    <div>
                                        <lightning-input type="checkbox" variant="label-hidden" value={tOption.value} checked={tOption.selected} onchange={onToggleTargetSelection}></lightning-input>
                                    </div>
                                </td>
                                <td>{tOption.label}</td>
                                <td>{tOption.assignTo}</td>
                                <td class="protein__column"><lightning-formatted-number value={tOption.protein} minimum-fraction-digits="0" maximum-fraction-digits="0"></lightning-formatted-number></td>
                                <td class="carbs__column"><lightning-formatted-number value={tOption.carbs} minimum-fraction-digits="0" maximum-fraction-digits="0"></lightning-formatted-number></td>
                                <td class="fat__column"><lightning-formatted-number value={tOption.fat} minimum-fraction-digits="0" maximum-fraction-digits="0"></lightning-formatted-number></td>
                                <td class="calories__column"><lightning-formatted-number value={tOption.calories} minimum-fraction-digits="0" maximum-fraction-digits="0"></lightning-formatted-number></td>
                            </tr>
                        </template>
                    </tbody>
                </table>

            </div>
            <div slot="footer">
                <lightning-button-group>
                    <lightning-button label="Cancel" onclick={onCloseAssignPoolPlanToTargetsModal}></lightning-button>
                    <lightning-button label="Save" variant="brand" onclick={onSaveNewAssignedPoolPlans}></lightning-button>
                </lightning-button-group>
            </div>
        </c-at-slds-modal>
    </template>

    <!-- Modal for Viewing Plan -->
    <template if:true={_displayViewPlanModal}>
        <c-at-slds-modal header-label="View Plan" size="medium" display-header onclose={onCloseViewReferencePlanModal}>
            <div slot="content">
                <c-planner-x-view-plan plan-id={_selectedReferencePlanId}></c-planner-x-view-plan>
            </div>
        </c-at-slds-modal>
    </template>

    <!-- Modal for Saving new Pool Plan -->
    <template if:true={_displaySaveAsNewPoolPlanModal}>
        <c-at-slds-modal header-label="Modify &amp; Save New Plan" size="medium" display-header display-footer onclose={onCloseSaveAsNewPoolPlanModal}>
             <div slot="content">
                <br/>
                <table class="is-desktop assign-plans-to-targets__table" style="width: 800px; margin: auto;">
                    <thead>
                        <tr class="slds-line-height_reset">
                            <th colspan="4" class="remove-font-weight">&nbsp;</th>
                            <th scope="col" class="protein__column remove-font-weight">
                                <div class="slds-truncate" title="P">P</div>
                            </th>
                            <th scope="col" class="carbs__column remove-font-weight">
                                <div class="slds-truncate" title="C">C</div>
                            </th>
                            <th scope="col" class="fat__column remove-font-weight">
                                <div class="slds-truncate" title="F">F</div>
                            </th>
                            <th scope="col" class="calories__column remove-font-weight">
                                <div class="slds-truncate" title="Calories">Cals</div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="assign-targets-plan-details__row">
                            <td style="width: 140px;">New Plan Name: </td>
                            <td colspan="3">
                                <lightning-input label="Plan Name" value={_newPlanName} variant="label-hidden" onchange={onChangeNewPlanName}></lightning-input>
                            </td>
                            <td class="protein__column"><lightning-formatted-number value={_selectedPlanDetails.protein} minimum-fraction-digits="0" maximum-fraction-digits="0"></lightning-formatted-number></td>
                            <td class="carbs__column"><lightning-formatted-number value={_selectedPlanDetails.carbs} minimum-fraction-digits="0" maximum-fraction-digits="0"></lightning-formatted-number></td>
                            <td class="fat__column"><lightning-formatted-number value={_selectedPlanDetails.fat} minimum-fraction-digits="0" maximum-fraction-digits="0"></lightning-formatted-number></td>
                            <td class="calories__column"><lightning-formatted-number value={_selectedPlanDetails.calories} minimum-fraction-digits="0" maximum-fraction-digits="0"></lightning-formatted-number></td>
                        </tr>
                    </tbody>
                    <thead>
                        <tr class="slds-line-height_reset">
                            <td style="width: 140px;">&nbsp;</td>
                            <th scope="col" colspan="3">
                                <div style="font-size: 18px; padding: 0.5rem 0; font-weight: 900;" class="slds-truncate" title="Assign to Targets">Assign to Targets</div>
                            </th>
                            <th scope="col" class="protein__column">
                                <div class="slds-truncate" title="Protein">&nbsp;</div>
                            </th>
                            <th scope="col" class="carbs__column">
                                <div class="slds-truncate" title="Carbs">&nbsp;</div>
                            </th>
                            <th scope="col" class="fat__column">
                                <div class="slds-truncate" title="Fat">&nbsp;</div>
                            </th>
                            <th scope="col" class="calories__column">
                                <div class="slds-truncate" title="Calories">&nbsp;</div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <template for:each={_selectedTargetOptions} for:item="tOption">
                            <tr class="slds-hint-parent" key={tOption.value}>
                                <td style="width: 140px;">&nbsp;</td>
                                <td style="width: 10px;">
                                    <div>
                                        <lightning-input type="checkbox" variant="label-hidden" value={tOption.value} checked={tOption.selected} onchange={onToggleTargetSelection}></lightning-input>
                                    </div>
                                </td>
                                <td>{tOption.label}</td>
                                <td>{tOption.assignTo}</td>
                                <td class="protein__column"><lightning-formatted-number value={tOption.protein} minimum-fraction-digits="0" maximum-fraction-digits="0"></lightning-formatted-number></td>
                                <td class="carbs__column"><lightning-formatted-number value={tOption.carbs} minimum-fraction-digits="0" maximum-fraction-digits="0"></lightning-formatted-number></td>
                                <td class="fat__column"><lightning-formatted-number value={tOption.fat} minimum-fraction-digits="0" maximum-fraction-digits="0"></lightning-formatted-number></td>
                                <td class="calories__column"><lightning-formatted-number value={tOption.calories} minimum-fraction-digits="0" maximum-fraction-digits="0"></lightning-formatted-number></td>
                            </tr>
                        </template>
                    </tbody>
                </table>
            </div>
            <div slot="footer">
                <lightning-button-group>
                    <lightning-button label="Cancel" onclick={onCloseSaveAsNewPoolPlanModal} disabled={isSavingOrLoading}></lightning-button>
                    <lightning-button label="Save" variant="brand" onclick={onSaveNewPoolPlan} disabled={isSavingOrLoading}></lightning-button>
                </lightning-button-group>
            </div>
        </c-at-slds-modal>
    </template>

    <!-- Modal for confirming Deletion -->
    <template if:true={_displayDeletePoolPlanModal}>
        <c-at-slds-modal header-label="Delete Plan" size="medium" display-header display-footer onclose={onCloseDeletePoolPlanModal}>
            <div slot="content">
                <p>Are you sure you want to delete the plan?</p>
            </div>
            <div slot="footer">
                <lightning-button-group>
                    <lightning-button label="Cancel" onclick={onCloseDeletePoolPlanModal}></lightning-button>
                    <lightning-button label="Delete" variant="brand" onclick={onDeletePoolPlan}></lightning-button>
                </lightning-button-group>
            </div>
        </c-at-slds-modal>
    </template>

    <!-- Modal for Editing Plan -->
    <template if:true={_displayEditPlanModal}>
        <c-at-slds-modal header-label={editPlanModalHeader} size="medium" display-header display-footer onclose={onCloseEditPlanModal}>
            <div slot="content">
                <c-planner-x-nutrition-carb-cycle-plan class="nutrition-carb-cycle-plan" is-for-tracker can-update-client-comments client-comments={_selectedVersionClientComments} plan-id={_selectedReferencePlanId} target-ids={_selectedTargetIds}></c-planner-x-nutrition-carb-cycle-plan>
            </div>
            <div slot="footer">
                <lightning-button-group>
                    <lightning-button label="Cancel" onclick={onCloseEditPlanModal}></lightning-button>
                    <lightning-button label="Save WIP" onclick={onSavePlan}></lightning-button>
                    <lightning-button label="Activate New Version" variant="brand" onclick={onActivateNewPlan}></lightning-button>
                </lightning-button-group>
            </div>
        </c-at-slds-modal>
    </template>

    <!-- Modal for Managing the Versions -->
    <template if:true={_displayManageVersionsModal}>
        <c-at-slds-modal header-label="Manage Versions" size="medium" display-header onclose={onCloseManageVersionsModal}>
            <div slot="content">
                <c-tracker-x-manage-pool-plan-versions pool-plan-id={_selectedPoolPlanId} onrefresh={onRefreshPoolPlanVersions}></c-tracker-x-manage-pool-plan-versions>
            </div>
        </c-at-slds-modal>
    </template>

</template>