/*style*/
.selected-template .quantity-column, .selected-template .measurement-column, .selected-template .protein-column, .selected-template .carbs-column, .selected-template .fat-column, .selected-template .calories-column {
    width: 80px;
    text-align: center;
}

.template-table td, .template-table th {
    padding: 0.25rem !important;
}

.template-table th.name__column, .template-table td.name__column {
    width: 200px;
    white-space: break-spaces;
}

.template-table .protein__column, .template-table .carbs__column, .template-table .fat__column, .template-table .calories__column {
    text-align: center;
    width: 40px;
}