<template>
    
    <div class="slds-grid slds-gutters">
        <div class="slds-col slds-size_3-of-3">
            <lightning-input label="Meal Name" required onchange={onUpdateBlockName}></lightning-input>
        </div>
    </div>
    <br/>
    <p>Filters</p>
    <div class="slds-grid slds-gutters">
        <div class="slds-col slds-size_1-of-3">
            <lightning-input label="Name" value={_blockNameFilter} onchange={onBlockNameFilterUpdate}></lightning-input>
        </div>
        <div class="slds-col slds-size_1-of-3">
            <lightning-input label="Calories +/- 5%" type="number" value={_blockCaloriesFilter} onchange={onBlockCaloriesFilterUpdate}></lightning-input>
        </div>
        <div class="slds-col slds-size_1-of-3">
            <lightning-input label="Items" value={_blockItemNameFilter} onchange={onBlockItemNameFilterUpdate}></lightning-input>
        </div>
    </div>
    <br/>
    <div class="slds-grid slds-gutters">
        <div class="slds-col slds-size_1-of-3">

            <table class="template-table slds-table slds-table_cell-buffer slds-table_bordered slds-table_col-bordered" aria-label="Example table of Opportunities with vertical borders">
                <thead>
                    <tr class="slds-line-height_reset">
                        <th scope="col">
                            <div class="slds-truncate">&nbsp;</div>
                        </th>
                        <th scope="col" class="name__column">
                            <div class="slds-truncate" title="Name">Name</div>
                        </th>
                        <th scope="col" class="protein__column">
                            <div class="slds-truncate" title="P">P</div>
                        </th>
                        <th scope="col" class="carbs__column">
                            <div class="slds-truncate" title="C">C</div>
                        </th>
                        <th scope="col" class="fat__column">
                            <div class="slds-truncate" title="F">F</div>
                        </th>
                        <th scope="col" class="calories__column">
                            <div class="slds-truncate" title="Cal">Cal</div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <template for:each={viewableTemplateBlocks} for:item="block">
                        <tr class="slds-hint-parent" key={block.templateId}>
                            <td>
                                <lightning-input type="checkbox" variant="label-hidden" checked={block.selected} value={block.templateId} onchange={onBlockSelect}></lightning-input>
                            </td>
                            <td class="name__column">{block.templateName}</td>
                            <td class="protein__column"><lightning-formatted-number value={block.templateProtein} minimum-fraction-digits="0" maximum-fraction-digits="0"></lightning-formatted-number></td>
                            <td class="carbs__column"><lightning-formatted-number value={block.templateCarbs} minimum-fraction-digits="0" maximum-fraction-digits="0"></lightning-formatted-number></td>
                            <td class="fat__column"><lightning-formatted-number value={block.templateFat} minimum-fraction-digits="0" maximum-fraction-digits="0"></lightning-formatted-number></td>
                            <td class="calories__column"><lightning-formatted-number value={block.templateCalories} minimum-fraction-digits="0" maximum-fraction-digits="0"></lightning-formatted-number></td>
                        </tr>
                    </template>
                </tbody>
            </table>
        </div>
        <div class="slds-col slds-size_2-of-3">
            <template if:true={hasSelectedBlock}>
                <table class="selected-template slds-table slds-table_cell-buffer slds-table_bordered slds-table_col-bordered">
                    <thead>
                        <tr class="slds-line-height_reset">
                            <th scope="col" colspan="3">&nbsp;</th>
                            <th scope="col" class="protein-column">Protein</th>
                            <th scope="col" class="carbs-column">Carbs</th>
                            <th scope="col" class="fat-column">Fat</th>
                            <th scope="col" class="calories-column">Calories</th>
                        </tr>
                        <tr class="slds-line-height_reset">
                            <td scope="col" colspan="3">Totals</td>
                            <td scope="col" class="protein-column"><lightning-formatted-number value={_selectedTemplateBlock.templateProtein} minimum-fraction-digits="2" maximum-fraction-digits="2"></lightning-formatted-number> </td>
                            <td scope="col" class="carbs-column"><lightning-formatted-number value={_selectedTemplateBlock.templateCarbs} minimum-fraction-digits="2" maximum-fraction-digits="2"></lightning-formatted-number></td>
                            <td scope="col" class="fat-column"><lightning-formatted-number value={_selectedTemplateBlock.templateFat} minimum-fraction-digits="2" maximum-fraction-digits="2"></lightning-formatted-number></td>
                            <td scope="col" class="calories-column"><lightning-formatted-number value={_selectedTemplateBlock.templateCalories} minimum-fraction-digits="0" maximum-fraction-digits="0"></lightning-formatted-number></td>
                        </tr>
                        <tr class="slds-line-height_reset">
                            <th scope="col" class="item-column">Item</th>
                            <th scope="col" class="quantity-column">Quantity</th>
                            <th scope="col" class="measurement-column">Measure</th>
                            <th scope="col" class="protein-column">Protein</th>
                            <th scope="col" class="carbs-column">Carbs</th>
                            <th scope="col" class="fat-column">Fat</th>
                            <th scope="col" class="calories-column">Calories</th>
                        </tr>
                    </thead>
                    <tbody>
                        <template for:each={_selectedTemplateBlock.templateItems} for:item="templateItem">
                            <tr key={templateItem.templateId}>
                                <td class="item-column">{templateItem.templateName}</td>
                                <td class="quantity-column">{templateItem.templateBlockItemQuantity}</td>
                                <td class="measurement-column">{templateItem.templateMeasurement}</td>
                                <td class="protein-column"><lightning-formatted-number value={templateItem.templateBlockItemProtein} minimum-fraction-digits="0" maximum-fraction-digits="0"></lightning-formatted-number></td>
                                <td class="carbs-column"><lightning-formatted-number value={templateItem.templateBlockItemCarbs} minimum-fraction-digits="0" maximum-fraction-digits="0"></lightning-formatted-number></td>
                                <td class="fat-column"><lightning-formatted-number value={templateItem.templateBlockItemFat} minimum-fraction-digits="0" maximum-fraction-digits="0"></lightning-formatted-number></td>
                                <td class="calories-column"><lightning-formatted-number value={templateItem.templateBlockItemCalories} minimum-fraction-digits="0" maximum-fraction-digits="0"></lightning-formatted-number></td>
                            </tr>
                        </template>

                    </tbody>
                </table>
            </template>
            <template if:false={hasSelectedBlock}>
                <div class="slds-text-heading_medium slds-text-align_center slds-text-color_weak">Please Select a Meal</div>
            </template>
        </div>
    </div>


</template>