/*Set the width of the first coloum*/
.THIS .slds-truncate {
    display: inline;
    margin-right: 0.5rem;
}
.THIS .dateCell {
    text-align: center;
}
.THIS .progress-table-visibility tr th {
    padding: 0 !important;
    width: 40px;
}

.THIS .visibility-checkbox-button {
    padding: 0.25rem;
    width: 40px;
    height: 40px;
}
.THIS .chart-container {
    width:calc(100% - 200px); 
    position: relative;
    padding-top: 0.5rem;
}

.THIS .progress-table-visibility {
    border-top: none;
    border-bottom: none;
}

.THIS .calorie-holder {
    position: absolute;
    top: 0;
    left: 0;
    right: 2rem;
    bottom: 0;
    border-top: 1px solid rgb(217, 219, 221);
    border-bottom: 1px solid rgb(217, 219, 221);
    background-color: white;
}

.THIS .calorie-holder .calorie-row {
    position: absolute;
    left: 2.3rem;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
}

.THIS .calorie-holder.two-points .calorie-row .calorie-pointer {
    width: 50%;
}
.THIS .calorie-holder.three-points .calorie-row .calorie-pointer {
    width: 33.33%;
}
.THIS .calorie-holder.four-points .calorie-row .calorie-pointer {
    width: 25%;
}
.THIS .calorie-holder.one-points .calorie-row .calorie-pointer {
    width: 100%;
}

.THIS .calorie-pointer .content-container {
    height: 100%;
    text-align: center;
    line-height: 2.3rem;
    font-size: 18px;
}

.THIS .progress-table-visibility th, .THIS .progress-table-visibility td  {
    border-top: none;
}

.THIS .data-set-cell {
    padding: 0 !important;
    font-size: 18px;
    font-weight: 900;
    vertical-align: middle !important;
    text-align: center;
}

.THIS .data-set-cell .slds-truncate {
    padding-left: 0.25rem;
}

.THIS .caloriesCell, .THIS .caloriesCell:hover {
    width: 134.54px;
}

.THIS .weightCell, .THIS .weightCell:hover {
    color: white !important;
    background-color: #382119 !important;
}

.THIS .chestCell, .THIS .chestCell:hover {
    color: white !important;
    background-color: #85c0f9 !important;
}

.THIS .waistCell, .THIS .waistCell:hover {
    color: white !important;
    background-color: #f5793a !important;
}

.THIS .hipsCell, .THIS .hipsCell:hover {
    color: white !important;
    background-color: #a95aa1 !important;
}

.THIS .thighCell, .THIS .thighCell:hover {
    color: white !important;
    background-color: #5cca44 !important;
}

.THIS .caloriesCell, .THIS .caloriesCell:hover {
    color: black !important;
    background-color: #bdb8ad !important;
}

.THIS .progress-label {
    width: 175px;
}

.THIS .progress-label .slds-truncate {
    font-size: 20px; 
    font-weight: 900;
}

.THIS .chart-legend {
    width: 150px;
    position: relative;
}

.THIS .chart-legend .progress-table-visibility {
    position: absolute;
    top: 50%;
    transform: translateY(-49%);
}

.THIS .small-space {
    line-height: 0.31rem;
    padding: 0;
}
.THIS .small-space > td {
    padding: 0;
}

.THIS .row-space, .THIS .row-space:hover, .THIS .row-space > td {
    background-color: white !important;
}

/* ---------- Mobile Version Below ---------- */

.THIS.mobile-version .progress-label {
    width: 80px;
    padding: 0.5rem;
}

.THIS.mobile-version .progress-label .slds-truncate {
    font-size: 14px;
    font-weight: 700;
}

.THIS.mobile-version .progress-options {
    padding: 0.25rem;
}

.THIS.mobile-version .progress-table-visibility {
    height: 39px;
}

.THIS.mobile-version .calorie-checkbox {
    display: none;
}

.THIS.mobile-version .calorie-holder.four-points .calorie-row {
    left: 50px;
}

/*For the Mobile Combo-box*/
.THIS.mobile-version .slds-combobox .slds-input {
    font-size: 20px;
    padding: 0.5rem;
}

.THIS.mobile-version .slds-combobox .slds-input {
    font-size: 20px;
    padding: 0.5rem;
}
.THIS.mobile-version .slds-combobox .slds-listbox__option {
    font-size: 20px;
    padding: 1rem;
}

.THIS.mobile-version .chart-legend, .THIS.mobile-version .caloriesCell {
    width: 80px;
}
.THIS.mobile-version .chart-container {
    width: calc(100% - 80px);
}

.THIS.mobile-version .data-set_button {
    border-radius: 0;
    height: 3rem;
}
.THIS.mobile-version .data-set_button.data-set-inactive {
    background-color: #f2f2f2 !important;
    color: #858585 !important;
}

.THIS .no-data-available__container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255,255,255,0.8);
}

.THIS .no-data-available__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    font-weight: 900;
}