<template>

    <lightning-record-edit-form data-id="survey" record-id={recordId} object-api-name="Survey__c" onsuccess={onSuccess} onerror={onError}>
        
        <lightning-messages></lightning-messages>

        <table class="survey">
            <tbody>
                <template for:each={sFields} for:item="field">

                    <tr key={field.name}>
                        <td>
                            <template if:true={field.isSlider}>
                                <label class="slds-form-element__label">{field.label}</label>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>

                                                <lightning-slider   variant     = "label-hidden"
                                                                    onchange    = {onSliderChange}
                                                                    data-label  = {field.label}
                                                                    data-name   = {field.name}
                                                                    label       = {field.label}
                                                                    min         = {field.min}
                                                                    max         = {field.max}
                                                                    value       = {field.value}>
                                                </lightning-slider>
                                                <span style="display: none;">
                                                    <lightning-input-field data-label={field.label} class="survey-input-field" field-name={field.name} value={field.value}></lightning-input-field>
                                                </span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </template>
                            <template if:false={field.isSlider}>
                                <lightning-input-field class="survey-input-field" data-label={field.label} field-name={field.name} value={field.value} variant="label-stacked"></lightning-input-field>  
                            </template>
                        </td>
                    </tr>

                </template>

            </tbody>
        </table>
    </lightning-record-edit-form>

</template>