/*style*/
.hide-hover {
    border-bottom: none !important;
}

.plan-actions {
    padding: 0.5rem 0;
}

.plan-actions .slds-button.slds-button_neutral {
    color: #333435;
}

.plan-actions .slds-button.slds-button_brand {
    background-color: #254c8c;
    border-color: #254c8c;
    color: #fff;
    font-weight: 900;
    font-size: 16px;
}

.button-group > .plan-button__first {
    border-radius: 0.25rem 0 0 0.25rem;
}

.button-group >  .plan-button__middle {
    border-radius: 0;
    margin-left: 0;
    border-left: none;
}

.button-group > .plan-button__last {
    border-radius: 0 0.25rem 0.25rem 0;
    margin-left: 0;
    border-left: none;
}

.slds-text-heading_medium {
    font-weight: 700;
    font-size: 1.5rem;
}


:host {
    --sds-c-accordion-heading-font-size: 24px;
}

.check-in-planning-information {
    font-size: 18px;
    text-align: right;
    float: right;
    line-height: 2rem;
    padding-right: 0.5rem;
}