<template>

    <template if:true={isLoadingOrSavingOrDeleting}>
        <lightning-spinner size="large"></lightning-spinner>
    </template>

    <br/>

    <ul class="slds-accordion">
        <template if:true={hasCheckInInformation}>
            <c-at-slds-accordian-section is-open>
                <div slot="header">
                    <span>My Targets</span>
                    <span class="check-in-planning-information">{_latestCheckInInfo.name}: {_latestCheckInInfo.nutritionPlanningMode}</span>
                </div>
                <c-tracker-x-tracker-table check-in-id={_latestCheckInInfo.id}></c-tracker-x-tracker-table>
            </c-at-slds-accordian-section>
            <c-at-slds-accordian-section is-open>
                <div slot="header">
                    <span>Planning My Week</span>
                    <span class="check-in-planning-information"><lightning-formatted-date-time value={_latestCheckInInfo.nutritionPlanStartDate} weekday="short"></lightning-formatted-date-time> (<lightning-formatted-date-time value={_latestCheckInInfo.nutritionPlanStartDate} day="2-digit"></lightning-formatted-date-time>-<lightning-formatted-date-time value={_latestCheckInInfo.nutritionPlanStartDate} month="short"></lightning-formatted-date-time>)</span>
                    <span class="check-in-planning-information">-</span>
                    <span class="check-in-planning-information"><lightning-formatted-date-time value={_latestCheckInInfo.nutritionPlanEndDate} weekday="short"></lightning-formatted-date-time> (<lightning-formatted-date-time value={_latestCheckInInfo.nutritionPlanEndDate} day="2-digit"></lightning-formatted-date-time>-<lightning-formatted-date-time value={_latestCheckInInfo.nutritionPlanEndDate} month="short"></lightning-formatted-date-time>)</span>
                </div>            
                <c-tracker-x-assign-plans-to-targets class="assign-plans-to-targets" onupdate={onSaveAssignPlansToTargets}></c-tracker-x-assign-plans-to-targets>
            </c-at-slds-accordian-section>
        </template>
    </ul>

    <!-- Modal for Assigning Weeks/Days-->
    <template if:true={_displayAssignToDaysWeeksModal}>
        <c-at-slds-modal header-label="Assign to Days/Weeks" size="large" display-header display-footer onclose={onCloseAssignToDaysWeeksModal}>
            <div slot="content">
                <table>
                    <tbody>
                        <template for:each={assignToDayPlans} for:item="plan">
                            <tr key={plan.id}>
                                <th>{plan.name}</th>
                                <td>
                                    <lightning-button-group>
                                        <template for:each={plan.options} for:item="op">
                                            <lightning-button key={op.value} data-plan-id={plan.id} data-template-pool-plan-id={plan.templatePoolPlanId} label={op.label} value={op.value} variant={op.variant} onclick={onSelectDayWeek}></lightning-button>
                                        </template>
                                    </lightning-button-group>
                                </td>
                            </tr>
                        </template>
                    </tbody>
                </table>
            </div>
            <div slot="footer">
                <lightning-button-group>
                    <lightning-button label="Cancel" onclick={onCloseAssignToDaysWeeksModal}></lightning-button>
                    <lightning-button label="Assign" variant="brand" onclick={onAssignPlans}></lightning-button>
                </lightning-button-group>
            </div>
        </c-at-slds-modal>
    </template>

</template>