<template>
    <div class="slds-form-element">
        <div class="slds-form-element__control">
            <div class="slds-combobox_container">
                <div class="slds-combobox slds-dropdown-trigger slds-dropdown-trigger_click slds-is-open" aria-expanded="true" aria-haspopup="listbox" role="combobox">
                    <div class="slds-combobox__form-element slds-input-has-icon slds-input-has-icon_right" role="none">
                        <template if:true={_validationCheck.IsValid}>
                            <input type="text" class="slds-input slds-combobox__input valid-check__input" onfocus={onInputFocus} onblur={onInputBlur} value="Complete" autocomplete="off" role="textbox" placeholder="Select an Option…" readonly />
                        </template>
                        <template if:false={_validationCheck.IsValid}>
                            <input type="text" class="slds-input slds-combobox__input invalid-check__input" onfocus={onInputFocus} onblur={onInputBlur} value="Incomplete" autocomplete="off" role="textbox" placeholder="Select an Option…" readonly />
                        </template>
                    </div>

                    <template if:true={_displayDropdown}>
                        <div class="slds-dropdown slds-dropdown_length-5 slds-dropdown_fluid" role="listbox">
                            <ul class="slds-listbox slds-listbox_vertical" role="presentation">
                                <template for:each={validationRules} for:item="rule">
                                    <li key={rule.order} role="presentation" class="slds-listbox__item">
                                        <div class="slds-media slds-listbox__option slds-listbox__option_plain slds-media_small" role="option">
                                            <span class="slds-media__figure slds-listbox__option-icon">
                                                <template if:true={rule.IsValid}>
                                                    <lightning-icon icon-name="utility:check" size="x-small"></lightning-icon>
                                                </template>
                                            </span>
                                            <span class="slds-media__body">
                                                <span class="slds-truncate" title={rule.Message}>{rule.Message}</span>
                                            </span>
                                        </div>
                                    </li>
                                </template>
                            </ul>
                        </div>
                    </template>

                </div>
            </div>
        </div>
    </div>
</template>