.THIS.photo-form {
    padding: 1rem;
}
.THIS .image-file-upload__container {
    border:         1px solid lightgray;
    border-radius:  0 0 0.25rem 0.25rem;
    height:         100%;
    position:       relative;
}

.THIS .image-file-upload__content {
    text-align: center;
    padding-bottom: 1rem;
}


.THIS .section-title {
    font-size: 24px;
}

.THIS .image-file__header {
    border:         1px solid lightgray;
    border-bottom:  none;
    border-radius:  0.25rem 0.25rem 0 0;
    padding:        0.25rem;
}

.THIS .image-file__header > h3 {
    font-size: 18px;
    text-align: center;
}

.THIS .image-file__container {
    width:          100%;
    height:         calc(100% - 31px);
    position:       relative;
    border:         1px solid lightgray;
}

.THIS .image-file__container > .image-file__content {
    padding:        0.25rem;
    background-color: white;
}

.THIS .image-file__container > .image-file__content > img {
    border-radius: 0.25rem;
}

.THIS .image-file__buttons {
}

.THIS .image-file__buttons .slds-button {
    border-radius: 0 0 0.25rem 0.25rem;
    border-top: none;
}

.THIS .image-column {
    height: 100%;
    background-color: white;
}