<!--
  @description       : Display the Data for a Reference Plan
  @author            : Harrison Campbell
  @group             : Ativa
  @last modified on  : 12-15-2020
  @last modified by  : ChangeMeIn@UserSettingsUnder.SFDoc
  Modifications Log 
  Ver   Date         Author                               Modification
  1.0   12-15-2020   Harrison Campbell   Initial Version
-->
<template>

    <template if:true={_isLoading}>
        <lightning-spinner size="large"></lightning-spinner>
    </template>

    <template if:true={referencePlanDataLoaded}>
        <p class="slds-text-heading_small"><b>Trainer Comments</b></p>
        <p>{_updatedPlanData.trainerComments}</p>
        <br />
        <div class="scrollable-table">
            <table class={tableClass}>
                <thead>
                    <tr class="index-row slds-line-height_reset">
                        <th colspan="3" scope="col">&nbsp;</th>
                        <th scope="col" class="protein-column">Protein</th>
                        <th scope="col" class="carbs-column">Carbs</th>
                        <th scope="col" class="fat-column">Fat</th>
                        <th scope="col" class="calories-column">Calories</th>
                    </tr>
                    <tr class="totals-row slds-line-height_reset">
                        <td colspan="3" scope="col">
                            <template if:true={_updatedPlanData.states.clonedFromPreviousPlan}>
                                Trainer Targets
                            </template>
                            <template if:false={_updatedPlanData.states.clonedFromPreviousPlan}>
                                Totals
                            </template>
                        </td>
                        <td scope="col" class="protein-column">
                            <lightning-formatted-number value={_updatedPlanData.protein}
                                                        minimum-fraction-digits="0"
                                                        maximum-fraction-digits="0"></lightning-formatted-number>
                        </td>
                        <td scope="col" class="carbs-column">
                            <lightning-formatted-number value={_updatedPlanData.carbs}
                                                        minimum-fraction-digits="0"
                                                        maximum-fraction-digits="0"></lightning-formatted-number>
                        </td>
                        <td scope="col" class="fat-column">
                            <lightning-formatted-number value={_updatedPlanData.fat}
                                                        minimum-fraction-digits="0"
                                                        maximum-fraction-digits="0"></lightning-formatted-number>
                        </td>
                        <td scope="col" class="calories-column">
                            <lightning-formatted-number value={_updatedPlanData.calories}
                                                        minimum-fraction-digits="0"
                                                        maximum-fraction-digits="0"></lightning-formatted-number>
                        </td>
                    </tr>
                    <template if:true={_updatedPlanData.states.clonedFromPreviousPlan}>
                        <tr class="previous-totals-row slds-line-height_reset">
                            <td colspan="3" scope="col">Previous Check-In (Cloned)</td>
                            <td scope="col" class="protein-column">
                                <lightning-formatted-number value={_updatedPlanData.protein}
                                                            minimum-fraction-digits="0"
                                                            maximum-fraction-digits="0"></lightning-formatted-number>
                            </td>
                            <td scope="col" class="carbs-column">
                                <lightning-formatted-number value={_updatedPlanData.carbs}
                                                            minimum-fraction-digits="0"
                                                            maximum-fraction-digits="0"></lightning-formatted-number>
                            </td>
                            <td scope="col" class="fat-column">
                                <lightning-formatted-number value={_updatedPlanData.fat}
                                                            minimum-fraction-digits="0"
                                                            maximum-fraction-digits="0"></lightning-formatted-number>
                            </td>
                            <td scope="col" class="calories-column">
                                <lightning-formatted-number value={_updatedPlanData.calories}
                                                            minimum-fraction-digits="0"
                                                            maximum-fraction-digits="0"></lightning-formatted-number>
                            </td>
                        </tr>
                    </template>
                    <tr class="item-index-row slds-line-height_reset">
                        <th scope="col" class="name-column">Item</th>
                        <th scope="col" class="quantity-column">Quantity</th>
                        <th scope="col" class="measurement-column">Measure</th>
                        <th scope="col" class="protein-column">Protein</th>
                        <th scope="col" class="carbs-column">Carbs</th>
                        <th scope="col" class="fat-column">Fat</th>
                        <th scope="col" class="calories-column">Calories</th>
                    </tr>
                </thead>
                <tbody>
                    <template for:each={_updatedPlanData.blocks}
                              for:item="block">
                        <tr key={block.id} class="block-row slds-hint-parent">
                            <td scope="col" colspan="3" class="block-name-column">
                                {block.name}
                            </td>
                            <td scope="col" class="protein-column">
                                <lightning-formatted-number value={block.protein}
                                                            minimum-fraction-digits="1"
                                                            maximum-fraction-digits="1"></lightning-formatted-number>
                            </td>
                            <td scope="col" class="carbs-column">
                                <lightning-formatted-number value={block.carbs}
                                                            minimum-fraction-digits="1"
                                                            maximum-fraction-digits="1"></lightning-formatted-number>
                            </td>
                            <td scope="col" class="fat-column">
                                <lightning-formatted-number value={block.fat}
                                                            minimum-fraction-digits="1"
                                                            maximum-fraction-digits="1"></lightning-formatted-number>
                            </td>
                            <td scope="col" class="calories-column">
                                <lightning-formatted-number value={block.calories}
                                                            minimum-fraction-digits="0"
                                                            maximum-fraction-digits="0"></lightning-formatted-number>
                            </td>
                        </tr>

                        <template for:each={block.items}
                                  for:item="item">
                            <tr key={item.id} class="item-row slds-hint-parent">
                                <td class="name-column">{item.name}</td>
                                <td class="quantity-column">{item.quantity}</td>
                                <td class="measurement-column">
                                    {item.measurement}
                                </td>
                                <td class="protein-column">
                                    <lightning-formatted-number value={item.protein}
                                                                minimum-fraction-digits="2"
                                                                maximum-fraction-digits="2"></lightning-formatted-number>
                                </td>
                                <td class="carbs-column">
                                    <lightning-formatted-number value={item.carbs}
                                                                minimum-fraction-digits="2"
                                                                maximum-fraction-digits="2"></lightning-formatted-number>
                                </td>
                                <td class="fat-column">
                                    <lightning-formatted-number value={item.fat}
                                                                minimum-fraction-digits="2"
                                                                maximum-fraction-digits="2"></lightning-formatted-number>
                                </td>
                                <td class="calories-column">
                                    <lightning-formatted-number value={item.calories}
                                                                minimum-fraction-digits="0"
                                                                maximum-fraction-digits="0"></lightning-formatted-number>
                                </td>
                            </tr>
                        </template>
                    </template>
                </tbody>
            </table>
        </div>
    </template>
</template>