/* Block Row Formatting */
.block-row td {
    color: white;
    background-color: #254c8c;
    font-weight: 900;
}
.block-row:hover > td {
    background-color: #1b3867 !important;
}

.previous-totals-row td {
    font-size: 12px;
    font-style: italic;
}

.with-previous-values .totals-row td {
    font-size: 14px;
    font-weight: 900;
}

.scrollable-table {
    overflow-y: scroll;
    height: 60vh;
}

.quantity-column, 
.measurement-column, 
.protein-column, 
.carbs-column,
.fat-column,
.calories-column {
    text-align: center;
    width: 80px;
}

tr > th, 
tr > td {
    padding: 4px 8px;
}

.totals-row td, .previous-totals-row td {
    line-height: 20px;
}

.with-previous-values .index-row th {
    position: sticky;
    top: 0;
    z-index: 100;
}
.with-previous-values .totals-row td {
    position: sticky;
    top: 24px;
    z-index: 100;
    background-color: white;
    border-bottom: 1px solid lightgray;
}
.with-previous-values .previous-totals-row td {
    position: sticky;
    top: 51px;
    z-index: 100;
    background-color: white;
}

.with-previous-values .item-index-row th {
    position: sticky;
    top: 79px;
    z-index: 100;
}

.without-previous-values .index-row th {
    position: sticky;
    top: 0;
    z-index: 100;
}

.without-previous-values .totals-row td {
    position: sticky;
    top: 24px;
    z-index: 100;
    background-color: white;
}

.without-previous-values .item-index-row th {
    position: sticky;
    top: 51px;
    z-index: 100;
}