<template>
    <template if:true={isZero}>
        0
    </template>
    <template if:false={isZero}>
        <lightning-formatted-number format-style="decimal" minimum-fraction-digits={digits} maximum-fraction-digits={digits} value={value}></lightning-formatted-number>
    </template>
</template>