table.controls {
    width: 100%;
    margin-bottom: 10px;
    table-layout: fixed;
}

table.controls td {
    width: 33%;
    vertical-align: top;
}

.tracker-button {
    font-size: 16px;
    font-weight: 900;
}

.tracker-date-picker .slds-combobox__input {
    font-size: 16px;
    font-weight: 900;
}

.button_mode {
    font-weight: 900;
    font-size: 18px;
}

.button_planner.button_active {   
    background-color: #d3d3d3;
    color: black;
}

.button_tracker.button_active {
    background-color: #ec0e0e !important;
    color: white !important;
}

.button_inactive {
    background-color: gainsboro;
    color: black;
}