<!--
  @description       : 
  @author            : ChangeMeIn@UserSettingsUnder.SFDoc
  @group             : 
  @last modified on  : 01-14-2021
  @last modified by  : ChangeMeIn@UserSettingsUnder.SFDoc
  Modifications Log 
  Ver   Date         Author                               Modification
  1.0   12-17-2020   ChangeMeIn@UserSettingsUnder.SFDoc   Initial Version
-->
<template>

    
    <template if:true={isLoading}>
        <lightning-spinner alternative-text="Loading" size="large"></lightning-spinner>
    </template>
    <template if:true={isInTrackerMode}>
        <template if:false={isInActiveMode}>
            <template if:false={isMobile}>

                
                <div class="slds-grid slds-gutters">
                    <div class="slds-col slds-size_1-of-3">
                        <lightning-button class="tracker-button" icon-name="standard:home" label="My Home" onclick={onReturnToHome}></lightning-button>
                        <template if:true={planSelected}>
                            <span style="margin-left: 0.5rem;">
                                <template if:true={planCompleted}>
                                    <lightning-button class="tracker-button" variant="success" label="Completed" onclick={onClickUnCompleteDay}></lightning-button>
                                </template>
                                <template if:false={planCompleted}>
                                    <lightning-button class="tracker-button" label="Complete My Day" onclick={onClickCompleteDay}></lightning-button>
                                </template>
                            </span>
                        </template>                    
                    </div>
                    <div class="slds-col slds-size_1-of-3">
                        <div class="slds-text-heading_medium" style="text-align: center; font-weight: 900; font-size: 24px;">Nutrition Tracker</div>
                    </div>
                    <div class="slds-col slds-size_1-of-3">
                        <lightning-button-group style="float: right;">
                            <button class="slds-button slds-button_neutral button_mode button_planner button_active" data-mode="Planner" onclick={onModeSelect}>Planner</button>
                            <button class="slds-button slds-button_neutral button_mode button_tracker button_active">Tracker</button>
                        </lightning-button-group>
                    </div>
                </div>

            </template>
            <template if:true={isMobile}>
                <div class="slds-grid slds-gutters">
                    <div class="slds-col slds-size_1-of-2" style="padding-right: 0.25rem;">
                        <button class="tracker-button slds-button slds-button_neutral slds-button_stretch" onclick={onReturnToHome}>My Home</button>
                    </div>
                    <div class="slds-col slds-size_1-of-2" style="padding-left: 0.25rem;">
                        <span style="float: right;">
                            <lightning-button-group>
                                <button class="slds-button slds-button_neutral button_mode button_planner button_active" data-mode="Planner" onclick={onModeSelect}>Planner</button>
                                <button class="slds-button slds-button_neutral button_mode button_tracker button_active">Tracker</button>
                            </lightning-button-group>
                        </span>
                    </div>
                </div>
                <div style="padding-top: 0.5rem;">
                    <template if:true={planSelected}>
                        <template if:true={planCompleted}>
                            <button class="tracker-button slds-button slds-button_success slds-button_stretch" onclick={onClickUnCompleteDay}>Completed</button>
                        </template>
                        <template if:false={planCompleted}>
                            <button class="tracker-button slds-button slds-button_neutral slds-button_stretch" onclick={onClickCompleteDay}>Complete My Day</button>
                        </template>
                    </template>
                        
                </div>
            </template>
        </template>
        <br />
        <template if:false={isInActiveMode}>
            <template if:true={isMobile}>
                <table class="controls">
                    <tbody>
                        <tr>
                            <td style="text-align: left;">
                                <template if:true={hasPrevious}>
                                    <lightning-button-icon icon-name="utility:back" onclick={previousPlan}></lightning-button-icon>
                                </template>
                            </td>
                            <td style="text-align: center; width: 63%;">
                                    <template if:false={noPlansFound}>
                                    <lightning-combobox variant="label-hidden"
                                                        class="tracker-date-picker"
                                                        value={planID}
                                                        options={planOptions}
                                                        onchange={onPlanSelection}></lightning-combobox>
                                </template>
                                <template if:true={noPlansFound}>
                                    <lightning-combobox class   ="tracker-date-picker"
                                                        variant ="label-hidden"
                                                        value   ="no-plans-available"
                                                        options ={noPlanFoundOption}></lightning-combobox>
                                </template>
                            </td>
                            <td style="text-align: right;">
                                <template if:true={hasNext}>
                                    <lightning-button-icon icon-name="utility:forward" icon-position="right" onclick={nextPlan}></lightning-button-icon>
                                </template>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </template>
            <template if:false={isMobile}>
                <div style="display: inline-block; width: inherit; margin-bottom: 10px;">
                    <template if:true={hasPrevious}>
                        <lightning-button class="tracker-button" label="Previous" icon-name="utility:back" onclick={previousPlan}></lightning-button>
                    </template>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    
                    <template if:false={noPlansFound}>
                        <lightning-combobox style   ="display: inline-block;"
                                            class   ="tracker-date-picker"
                                            variant ="label-hidden"
                                            value   ={planID}
                                            options ={planOptions}
                                            onchange={onPlanSelection}></lightning-combobox>
                    </template>
                    <template if:true={noPlansFound}>
                        <lightning-combobox style   ="display: inline-block;"
                                            class   ="tracker-date-picker"
                                            variant ="label-hidden"
                                            value   ="no-plans-available"
                                            options ={noPlanFoundOption}></lightning-combobox>
                    </template>
                    &nbsp;&nbsp;&nbsp;&nbsp;

                    <template if:true={hasNext}>
                        <lightning-button class="tracker-button" label="Next" icon-name="utility:forward" icon-position="right" onclick={nextPlan}></lightning-button>
                    </template>
                </div>
            </template>
        </template>
        <c-tracker-x-plan class="tracker-plan" onmodechange={onTrackerModeChange} plan-id={planID}></c-tracker-x-plan>
    </template>

    <template if:true={isInPlannerMode}>
        <template if:true={isMobile}>
            <div class="slds-grid slds-gutters">
                <div class="slds-col slds-size_1-of-2">
                    <button class="tracker-button slds-button slds-button_neutral slds-button_stretch" onclick={onReturnToHome}>My Home</button>
                </div>
                <div class="slds-col slds-size_1-of-2">
                    <lightning-button-group style="float: right;">
                        <button class="slds-button slds-button_neutral button_mode button_planner button_active">Planner</button>
                        <button class="slds-button slds-button_neutral button_mode button_tracker button_active" data-mode="Tracker" onclick={onModeSelect}>Tracker</button>
                    </lightning-button-group>
                </div>
            </div>
        </template>
        <template if:false={isMobile}>
            <div class="slds-grid slds-gutters">
                <div class="slds-col slds-size_1-of-3">
                    <lightning-button class="tracker-button" icon-name="standard:home" label="My Home" onclick={onReturnToHome}></lightning-button>
                </div>
                <div class="slds-col slds-size_1-of-3">
                    <div class="slds-text-heading_medium" style=" text-align: center; font-weight: 900; font-size: 24px;">Nutrition Planner</div>
                </div>
                <div class="slds-col slds-size_1-of-3">
                    <lightning-button-group style="float: right;">
                        <button class="slds-button slds-button_neutral button_mode button_planner button_active">Planner</button>
                        <button class="slds-button slds-button_neutral button_mode button_tracker button_active" data-mode="Tracker" onclick={onModeSelect}>Tracker</button>
                    </lightning-button-group>
                </div>
            </div>
        </template>
        

        <c-tracker-x-planner onupdate={onTrackerPlannerUpdate}></c-tracker-x-planner>
    </template>

</template>