<template>

    <div class="slds-form-element">
        <span class="slds-form-element__label" id="file-selector-primary-label">Attachment</span>
        <div class="slds-form-element__control">
            <div class="slds-file-selector slds-file-selector_files">
                <div class="slds-file-selector__dropzone">
                    <input type="file" multiple={multiple} class="slds-file-selector__input slds-assistive-text" accept={validFormats} id="file-upload-input-01" aria-labelledby="file-selector-primary-label file-selector-secondary-label" onchange={onFilesSelection} />
                    <label class="slds-file-selector__body" for="file-upload-input-01" id="file-selector-secondary-label">
                        <span class="slds-file-selector__button slds-button slds-button_neutral">
                            <lightning-icon icon-name="utility:save" size="x-small" alternative-text="Upload Files" title="Upload Files"></lightning-icon>
                            <span style="padding-right: 0.25rem;">{buttonLabel}</span>
                        </span>
                        <span class="slds-file-selector__text slds-medium-show">or Drop Files</span>
                    </label>
                </div>
            </div>
        </div>
    </div>

    <template if:true={displayProgressBar}>
        <section role="dialog" tabindex="-1" class="slds-modal slds-fade-in-open slds-modal_small" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1">
            <div class="slds-modal__container">
                <header class="slds-modal__header">
                    <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" onclick={onCloseUploadingFilesModal}>
                        <lightning-icon icon-name="utility:close" size="small" alternative-text="Close" title="Close" variant="inverse"></lightning-icon>
                        <span class="slds-assistive-text">Close</span>
                    </button>
                    <h2 id="modal-heading-01" class="slds-modal__title slds-hyphenate">Uploading Files</h2>
                </header>
                <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
                    <lightning-progress-bar value={loadingBarProgress} size="large" variant="circular"></lightning-progress-bar>
                </div>
            </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </template>

</template>