/*style*/
.calories__column, .action__column {
    padding: 4px 8px !important;
}

.action__column {
    width: 48px;
}
.protein__column, .carbs__column, .fat__column, .calories__column {
    width: 80px;
    text-align: center;
}

tr.block-row > td {
    color: white;
    background-color: #254c8c !important;
    font-weight: 900;
}

.name__column {
    width: 600px;
}

.black-border-box {
    border: 1px solid black;
}

.input__label-white {
    --lwc-colorTextLabel: white;
}

.default-plan__row {
    font-weight: 900;
}