<template>
    <div style="background-color: #eee; width: 815px; padding: 0.25rem 0.5rem;">
        <span class="slds-text-heading_medium" style="font-weight: 900;">Template Pool</span>
        <span style="padding-left: 0.5rem; font-style: italic;">(click default plan for each Target)</span>
    </div>

    <br />
    
    <div>

        <template if:true={isSavingOrLoading}>
            <lightning-spinner size="large"></lightning-spinner>
        </template>

        <table style="width: auto;" class="slds-table slds-table_cell-buffer slds-table_bordered slds-table_col-bordered">
            <thead>
                <tr class="slds-line-height_reset">
                    <th class="name__column"        scope="col">Name</th>
                    <th class="protein__column"     scope="col">Protein</th>
                    <th class="carbs__column"       scope="col">Carbs</th>
                    <th class="fat__column"         scope="col">Fat</th>
                    <th class="calories__column"    scope="col">Calories</th>
                </tr>
            </thead>
            <tbody>
                <template for:each={_nutritionTargets} for:item="nTarget">
                    <tr class="slds-line-height_reset block-row" key={nTarget.id}>
                        <td class="name__column">
                            <span>{nTarget.name}</span>
                            <span style="padding-left: 0.5rem;">
                                <lightning-button-group>
                                    <template if:true={isFlexiPlans}>
                                        <template if:true={nTarget.states.isCalorieRangeTarget}>
                                            <lightning-button label="Calorie Range" variant="brand"></lightning-button>
                                        </template>
                                        <template if:false={nTarget.states.isCalorieRangeTarget}>
                                            <lightning-button label="Calorie Range" data-pool-plan-type="Calorie Range" data-target-id={nTarget.id} onclick={onSelectPoolTypeMode}></lightning-button>
                                        </template>
                                        <template if:true={nTarget.states.isSelectedTemplateTarget}>
                                            <lightning-button label="Selected Templates" variant="brand"></lightning-button>
                                        </template>
                                        <template if:false={nTarget.states.isSelectedTemplateTarget}>
                                            <lightning-button label="Selected Templates" data-pool-plan-type="Selected Templates" data-target-id={nTarget.id} onclick={onSelectPoolTypeMode}></lightning-button>
                                        </template>
                                    </template>
                                    <template if:true={isGuidedPlans}>
                                        <template if:true={nTarget.states.isSelectedTemplateTarget}>
                                            <lightning-button label="Selected Templates" variant="brand"></lightning-button>
                                        </template>
                                        <template if:false={nTarget.states.isSelectedTemplateTarget}>
                                            <lightning-button label="Selected Templates" data-pool-plan-type="Selected Templates" data-target-id={nTarget.id} onclick={onSelectPoolTypeMode}></lightning-button>
                                        </template>
                                    </template>
                                </lightning-button-group>
                            </span>
                            <span style="float: right;">
                                <template if:true={nTarget.states.isCalorieRangeTarget}>
                                    <div style="display: flex;">
                                        <span style="line-height:32px; padding-right: 0.5rem;">+/- %</span>
                                        <span style="width: 60px;">
                                            <c-at-slds-input class="input__label-white" variant="label-hidden" type="number" value={nTarget.caloriePercentage} data-target-id={nTarget.id} onchange={onCaloriePercentageChange}></c-at-slds-input>
                                        </span>
                                    </div>
                                </template>
                                <template if:true={nTarget.states.isSelectedTemplateTarget}>
                                    <lightning-button label="Select Plans" data-target-id={nTarget.id} onclick={onOpenSelectTemplatesModal}></lightning-button>
                                </template>
                            </span>
                        </td>
                        <td class="protein__column">{nTarget.protein}</td>
                        <td class="carbs__column">{nTarget.carbs}</td>
                        <td class="fat__column">{nTarget.fat}</td>
                        <td class="calories__column">{nTarget.calories}</td>
                    </tr>

                    <template if:false={nTarget.states.hasPoolPlans}>
                        <tr key={nTarget.id}>
                            <td colspan="5">
                                <p style="font-style: italic;">No Plans Selected</p>
                            </td>
                        </tr>
                    </template>

                    <template for:each={nTarget.poolPlans} for:item="pPlan">
                        <tr key={pPlan.id} if:true={pPlan.isDefault} class="default-plan__row">
                            <td class="name__column">
                                <div style="display: flex;">
                                    <span>
                                        <c-at-slds-input type="radio" value={pPlan.id} variant="label-hidden" checked></c-at-slds-input>
                                    </span>
                                    <span style="padding-left: 0.5rem">DF:</span>
                                    <span style="padding-left: 0.5rem;">{pPlan.activePoolPlanVersion.referencePlan.name}</span>
                                </div>
                            </td>
                            <td class="protein__column">
                                <lightning-formatted-number value={pPlan.activePoolPlanVersion.referencePlan.protein} minimum-fraction-digits="0" maximum-fraction-digits="0"></lightning-formatted-number>
                            </td>
                            <td class="carbs__column">
                                <lightning-formatted-number value={pPlan.activePoolPlanVersion.referencePlan.carbs} minimum-fraction-digits="0" maximum-fraction-digits="0"></lightning-formatted-number>
                            </td>
                            <td class="fat__column">
                                <lightning-formatted-number value={pPlan.activePoolPlanVersion.referencePlan.fat} minimum-fraction-digits="0" maximum-fraction-digits="0"></lightning-formatted-number>
                            </td>
                            <td class="calories__column">
                                <lightning-formatted-number value={pPlan.activePoolPlanVersion.referencePlan.calories} minimum-fraction-digits="0" maximum-fraction-digits="0"></lightning-formatted-number>
                            </td>
                        </tr>
                        <tr key={pPlan.id} if:false={pPlan.isDefault}>
                            <td class="name__column">
                                <div style="display: flex;">
                                    <span>
                                        <c-at-slds-input type="radio" value={pPlan.id} variant="label-hidden" data-target-id={nTarget.id} data-pool-plan-id={pPlan.id} onchange={onSelectPoolPlanAsDefault}></c-at-slds-input>
                                    </span>
                                    <span style="padding-left: 0.5rem;">{pPlan.activePoolPlanVersion.referencePlan.name}</span>
                                </div>
                            </td>
                            <td class="protein__column">
                                <lightning-formatted-number value={pPlan.activePoolPlanVersion.referencePlan.protein} minimum-fraction-digits="0" maximum-fraction-digits="0"></lightning-formatted-number>
                            </td>
                            <td class="carbs__column">
                                <lightning-formatted-number value={pPlan.activePoolPlanVersion.referencePlan.carbs} minimum-fraction-digits="0" maximum-fraction-digits="0"></lightning-formatted-number>
                            </td>
                            <td class="fat__column">
                                <lightning-formatted-number value={pPlan.activePoolPlanVersion.referencePlan.fat} minimum-fraction-digits="0" maximum-fraction-digits="0"></lightning-formatted-number>
                            </td>
                            <td class="calories__column">
                                <lightning-formatted-number value={pPlan.activePoolPlanVersion.referencePlan.calories} minimum-fraction-digits="0" maximum-fraction-digits="0"></lightning-formatted-number>
                            </td>
                        </tr>
                    </template>

                </template>
            </tbody>
        </table>
    </div>

    <template if:true={_displaySelectedTemplatesModal}>
        <c-at-slds-modal header-label="Add Template Plans" display-header display-footer onclose={onCloseSelectTemplatesModal}>
            <div slot="content">
                <c-planner-x-add-template-plan class="add-template-plan" check-in-id={_checkInId} multiple></c-planner-x-add-template-plan>
            </div>
            <div slot="footer">
                <lightning-button-group>
                    <lightning-button label="Cancel" onclick={onCloseSelectTemplatesModal}></lightning-button>
                    <lightning-button label="Save" variant="brand" onclick={onSaveTemplatePlansToTarget}></lightning-button>
                </lightning-button-group>
            </div>
        </c-at-slds-modal>
    </template>

</template>