/*Centre the text for all of the coloumns except the first one*/
.THIS tr.day-row > th:not(:first-child), 
.THIS tr.date-row > th:not(:first-child),
.THIS tr.nutrition-row > td,
.THIS tr.calorie-row > td,
.THIS tr.protein-row > td,
.THIS tr.carb-row > td,
.THIS tr.fat-row > td,
.THIS .date-cell,
.THIS .weekly-hor-table tr th,
.THIS .weekly-hor-table tr td
 {
    text-align: center;
}

/*Make the first coloum have the text aligned to the right*/
.THIS tr.calorie-row > th,
.THIS tr.protein-row > th,
.THIS tr.carb-row > th,
.THIS tr.fat-row > th 
{
    text-align:right;
}


/*Make the rows that holds the nutrition data light green*/
.THIS tr.nutrition-row:nth-child(2n) > td,    .THIS tr.nutrition-row:nth-child(2n) > th,
.THIS tr.calorie-row:nth-child(2n) > td,      .THIS tr.calorie-row:nth-child(2n) > th,
.THIS tr.protein-row:nth-child(2n) > td,      .THIS tr.protein-row:nth-child(2n) > th,
.THIS tr.carb-row:nth-child(2n) > td,         .THIS tr.carb-row:nth-child(2n) > th,
.THIS tr.fat-row:nth-child(2n) > td,          .THIS tr.fat-row:nth-child(2n) > th,
.THIS .weekly-hor-table.nutrition-table tr:nth-child(2n) > td {
    background-color: #e8e8e8;
}


.THIS tr.nutrition-row:hover > td,    .THIS tr.nutrition-row:hover > th,
.THIS tr.calorie-row:hover > td,      .THIS tr.calorie-row:hover > th,
.THIS tr.protein-row:hover > td,      .THIS tr.protein-row:hover > th,
.THIS tr.carb-row:hover > td,         .THIS tr.carb-row:hover > th,
.THIS tr.fat-row:hover > td,          .THIS tr.fat-row:hover > th,
.THIS .weekly-hor-table.nutrition-table tr:hover > td:not(.date-cell) {
    background-color: #d8d8d8 !important;
}

/*Make the training rows lightning red*/
.THIS .weekly-hor-table.training-table tr > td {
    background-color: #f9aaaa;
}

.THIS .weekly-hor-table.training-table tr:hover > td:not(.date-cell) {
    background-color: #ff7b7b !important;
}

/*Make the row that holds the dates dark*/
.THIS tr.date-row > th, .THIS .date-cell {
    background-color: rgb(81, 79, 77) !important;
    color: white !important;
    font-weight: 700;
}

.THIS tr.day-row > th, .THIS .weekly-hor-table tr th {
    font-size: 24px;
    font-weight: 700;
}

.THIS.weekly-plan-body {
    position: relative;
}
.THIS .weekly-plan-loading-panel {
    position:   absolute;
    top:        0;
    bottom:     0;
    left:       0;
    right:      0;
}
.THIS .weekly-hor-table tbody tr > th:first-child {
    padding-left: 0.5rem;
}
.THIS .weekly-hor-table thead tr:first-child > th:first-child {
    text-align: left;
}
.THIS .weekly-hor-table th, .THIS .weekly-hor-table td {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.THIS .weekly-hor-table tr {
    line-height: 1.5rem;
}
.THIS .sub-title {
    font-size: 18px;
    font-weight: 500;
    line-height: 1rem;
    padding-bottom: 0.25rem;
}
.THIS .main-title {
    line-height: 1.3rem;
    font-size: 20px;
    font-weight: 900;
}

.THIS table th, .THIS table td {
    padding: 0.25rem !important;
}

.THIS .date-cell {
    width: 125px;
}

.THIS .slds-table {
    table-layout: fixed;
}

.THIS .table-caption {
    caption-side: bottom;

    background-color: #b1b1b1;
}

.THIS .caption-target-actual {
    width: fit-content;
    padding: 0.5rem;
    text-align: center;

}

.THIS .caption-legend {
    width: 125px;
    padding: 0.5rem;
    text-align: center;
    /*
    background-color: #b1b1b1;
    border: 1px solid lightgray;
    */
}

.THIS .caption-legend > p {
    font-size: 22px;
}

.THIS .above-value, .THIS .below-value, .THIS .off-value {
    color: red;
}

.THIS .equal-value, .THIS .on-value  {
    color: #2ca22c;
}

.THIS .null-value {
    font-size: 18px;
}


/* ---------- Mobile Styles Below ---------- */
.THIS.mobile-version.weekly-plan-body .weekly-hor-table tbody tr > th, 
.THIS.mobile-version .toggle-data-button,
.THIS.mobile-version .weekly-hor-table tr th {
    font-size: 16px;
    font-weight: 550;
}
.THIS.mobile-version .weekly-hor-table thead tr:first-child > th:first-child, .THIS.mobile-version .date-cell {
   width: 100px;
}
.THIS.mobile-version .sub-title {
    font-size: 13px;
    font-weight: 500;
    line-height: 1rem;
}
.THIS.mobile-version .main-title {
    line-height: 1.3rem;
    font-size: 16px;
}

/*For the Mobile Combo-box*/
.THIS.mobile-version .slds-combobox .slds-input {
    font-size: 20px;
    padding: 0.5rem;
}

.THIS.mobile-version .slds-combobox .slds-input {
    font-size: 20px;
    padding: 0.5rem;
}
.THIS.mobile-version .slds-combobox .slds-listbox__option {
    font-size: 20px;
    padding: 1rem;
}