<template>
    <div class="body">
        <lightning-card>
            <template if:true={showTitle}>
                <h3 slot="title" class="slds-section__title">
                    <span>{title}</span>
                </h3>
            </template>
            <template if:true={displayForm}>
                <lightning-record-edit-form class="field-set__form"
                                            record-id={recordId}
                                            object-api-name={objectApiName}
                                            onsubmit={onFormSubmit}
                                            onsuccess={onFormSuccess}
                                            onerror={onFormError}>

                    <!--Display a field-->
                    <div class="slds-grid slds-wrap slds-gutters">
                        <template for:each={_fields} for:item="field">
                            <div key={field.name} class={gridColumnClass}>
                                <template if:true={editable}>
                                    <template if:true={field.updateable}>
                                        <lightning-input-field variant={labelPosition} field-name={field.name}></lightning-input-field>
                                    </template>
                                    <template if:false={field.updateable}>
                                        <lightning-output-field variant={labelPosition} field-name={field.name}></lightning-output-field>
                                    </template>
                                </template>
                                <template if:false={editable}>
                                    <lightning-output-field variant={labelPosition} field-name={field.name}></lightning-output-field>
                                </template>
                            </div>
                        </template>
                    </div>
                    <!--Allow the User to Save the Form-->
                    <template if:true={displaySaveButton}>
                        <div>
                            <div class="slds-align_absolute-center">
                                <lightning-button disabled={_isSaving} class="slds-m-top_small" variant="brand" type="submit" label="Save"></lightning-button>
                            </div>
                        </div>
                    </template>

                    <div class="loading-spinner-holder">
                        <template if:true={_isSaving}>
                            <lightning-spinner size="small"></lightning-spinner>
                        </template>
                    </div>
                </lightning-record-edit-form>
            </template>
            <template if:false={displayForm}>
                Not all data is set up
            </template>
        </lightning-card>
    </div>
</template>