.THIS table {
    margin: 10px;
}

.THIS.body {
    padding: 1rem;
}

.THIS .loading-spinner-holder {
    position:       relative;
    display:        inline-block;
    margin-left:    15px;
    width:          55px;
    vertical-align: middle;
    white-space:    nowrap;
}